<div class="yui3-g purchase-solicitation-budget-allocation nested">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <div class="yui3-u-1-5">
    <%= f.input :budget_allocation_id,:disabled => true, :required => false, :input_html => { :id => "",  :size => 2 } %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :budget_allocation, :input_html => { :size => 10, :class => 'budget-allocation' } %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :expense_complement, :input_html => { :class => 'digits', :size => 9 } %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :estimated_value, :input_html => { :class => 'digits allocation-price', :size => 9 } %>
  </div>

  <div class="yui3-u-1-5 nested-remove">
    <input type="button" class="button negative remove-purchase-solicitation-budget-allocation" value="Remover">
  </div>
</div>
