<div class="yui3-g purchase-solicitation-budget-allocation nested">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <div class="yui3-u-1-2">
    <%= f.input :budget_allocation, :input_html => { :size => 10, :class => 'budget-allocation' }, :disabled => f.object.annulled? %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :expense_nature, :input_html => { :size => 21 }, :disabled => f.object.annulled? %>
  </div>

  <%= f.error :items %>

<% unless f.object.annulled? %>
  <p>
    <input type="button" class="button affirmative add-item-<%= f.nested_identifier %>" value="Adicionar Item">
  </p>
<% end %>

  <div id="items-<%= f.nested_identifier %>">
    <%= f.association :items, :collection => localized(f.object.items) do |p| %>
      <%= render 'purchase_solicitation_budget_allocation_items/form', :f => p %>
    <% end %>
  </div>

  <%= mustache "items-template-#{f.nested_identifier}" do %>
    <%= f.association :items_attributes, :collection => f.object.items.build(:status => PurchaseSolicitationBudgetAllocationItemStatus::PENDING), :index => '{{uuid_item}}' do |item| %>
      <%= render 'purchase_solicitation_budget_allocation_items/form', :f => item %>
    <% end %>
  <% end %>

<% unless f.object.annulled? %>
  <p class="yui3-u">
    <input type="button" class="button negative remove-purchase-solicitation-budget-allocation" value="Remover Dotação">
  </p>
<% end %>
</div>

<script>
  $("#items-template-<%= f.nested_identifier %>").nestedForm({
    add: ".add-item-<%= f.nested_identifier %>",
    remove: ".remove-item",
    target: "#items-<%= f.nested_identifier %>",
    fieldToRemove: '.item',
    uuid: "uuid_item",
    appendItem: false
  });
</script>
