<tr class="record purchase-solicitation-budget-allocation">
  <td><%= budget_allocation %></td>

  <td>
    <%= f.input :budget_allocation_id, :as => :hidden, :input_html => { :value => budget_allocation_id, :class => 'budget-allocation-id' } %>
    <%= f.input :id, :as => 'hidden' %>
    <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

    <a href="#" class="remove-budget-allocation", data-disabled = "<%= data_disabled %>" >Remover</a>
  </td>
</tr>
