<tr class="record nested-record">
  <td><%= budget_allocation %></td>

  <td><%= budget_allocation_expense_nature %></td>

  <td><%= expense_nature %></td>

  <td><%= budget_allocation_balance %></td>

  <td><%= estimated_value %></td>

  <td>
    <%= f.input :budget_allocation_id, :as => :hidden, :input_html => { :value => budget_allocation_id } %>
    <%= f.input :expense_nature_id, :as => :hidden, :input_html => { :value => expense_nature_id } %>
    <%= f.input :estimated_value, :as => :hidden, :input_html => { :value => estimated_value } %>
    <%= f.input :id, :as => 'hidden' %>
    <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

    <%= link_to 'Remover', '#', :class => 'remove-nested-record', 'data-disabled' => data_disabled %>
  </td>
</tr>
