<div class="legal-analysis-appraisals-fields">
<%= f.input :licitation_process_id, :as => 'hidden' %>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :appraisal_type,
                :as => :select,
                :item_wrapper_class => 'inline',
                :collection => AppraisalType.to_a %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :appraisal_expedition_date %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :reference, :as => :select, :collection => AppraisalReference.to_a %>
  </div>
</div>

<%= f.input :description, :as => :text, :disabled => true %>
<%= f.input :substantiation %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :responsible %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :responsible_number %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :responsible_issuer %>
  </div>
</div>
</div>
<script>
  $(".legal-analysis-appraisals-fields").on('change',"[name$='[responsible_id]']", function(event, responsible) {
    if (responsible) {
      $("[name$='[responsible_number]']").val(responsible.number);
      $("[name$='[responsible_issuer]']").val(responsible.issuer);
    } else {
      $("[name$='[responsible_number]']").val('');
      $("[name$='[responsible_issuer]']").val('');
    }
  });
</script>
