<tr class="nested-record record">
  <% column_names.each do |column_name| %>
    <% enum = f.object.class.enumerations[column_name.to_sym].present? %>
    <td class="<%= column_name %>">
      <% value_v = enum ? f.object.send(column_name.to_s+"_humanize") : f.object.decorator.send(column_name)   %>
      <% value_v = "{{#{column_name}}}" if defined?(is_mustache) && is_mustache %>
      <% value_v = "{{#{column_name}_text}}" if defined?(is_mustache) && is_mustache && enum %>
      <%= value_v %>
    </td>
  <% end %>

  <td>
    <%= link_to 'Editar', '#', class: 'edit-nested-record' %>
  </td>

  <td>
    <%= link_to 'Remover', '#', class: 'remove-nested-record' %>

    <%= f.input :_destroy, as: :hidden, input_html: { class: 'destroy' } %>

    <% all_hidden_fields.each do |column_name| %>
      <% if f.object.class.reflect_on_association(column_name) %>
        <% value = f.object.decorator.send("#{column_name}_id") %>
        <% value = "{{#{column_name}_id}}" if defined?(is_mustache) && is_mustache %>
        <%= f.input "#{column_name}_id", as: :hidden, input_html: { value: value, class: "#{column_name}_id" } %>
      <% end %>

      <% value = f.object.decorator.send(column_name) %>
      <% value = "{{#{column_name}}}" if defined?(is_mustache) && is_mustache %>
      <%= f.input column_name, as: :hidden, input_html: { value: value, class: "#{column_name}" } %>
    <% end %>
  </td>
</tr>
