<div class="tabs">
  <ul>
    <li><a href="#general">Principal</a></li>
    <li><a href="#partners">Sócios/Responsáveis pela empresa</a></li>
    <li><a href="#groups-classes-materials">Grupos/Classes/Materiais fornecidos</a></li>
    <li><a href="#licitation-documents">Documentação para licitações</a></li>
  </ul>

  <div id="general">
    <%= render 'general', :f => f %>
  </div>

  <div id="partners">
    <div id="msg-no-partners">
    </div>

    <%= render 'partners', :f => f %>
  </div>

  <div id="groups-classes-materials">
    <%= render 'materials_groups', :f => f %>
    <%= render 'materials_classes', :f => f %>
    <%= render 'materials', :f => f %>
  </div>

  <div id="licitation-documents">
    <%= render 'licitation_documents', :f => f %>
  </div>
</div>

<script>
  var bank_id = $('#provider_bank_id').val();
  var person_id = $('#provider_person_id').val();

  $('#provider_bank_id').change(function() {
    if (this.value) {
      $('#provider_agency').attr('disabled', false);
      $('#provider_agency').attr('data-modal-url', agencyModalUrl);
    } else {
      $('#provider_agency').attr('disabled', true);
    }

    clearAgency();
  }).change();

  $('#provider_person_id').change(function(event, data) {
    if (data) {
      var record = data.record;

      if ($('#provider_person_id').val() != person_id) {
        $('#provider_economic_registration').val('');
        $('#provider_economic_registration_id').val('');
        person_id = record.data('value');
      }
    }
  });

  $('#provider_economic_registration_id').change(function(event, data) {
    if (data) {
      var record = data.record;
      $('#provider_person').val(record.data('person'));
      $('#provider_person_id').val(record.data('person-id'));
      person_id = record.data('person-id');
    }
  });

  function agencyModalUrl() {
    var url = "<%= modal_agencies_path %>?",
        params = {
          locked_fields: ["bank"],
          agency: {
            bank_id: $('#provider_bank_id').val()
          }
        };

    url += jQuery.param(params);

    return url;
  }

  function clearAgency() {
    if ($('#provider_bank_id').val() != bank_id) {
      bank_id = $('#provider_bank_id').val();

      $('#provider_agency').val('');
      $('#provider_agency_id').val('');
    }
  }

  function togglePartners(personableType) {
    if (personableType == "Individual") {
      $('#msg-no-partners').html("<%= I18n.translate('other.tributario.messages.msg_no_provider_partners') %>").show();
      $('#partners_selector').hide();
    } else {
      $('#msg-no-partners').html('').hide();
      $('#partners_selector').show();
    }
  }

  $('#provider_person_id').change(function(event, data) {
    var type = ''
    if (data) {
      type = data.record.data('personable-type');
    }
    togglePartners(type);
  });

  togglePartners("<%= f.object.personable_type %>");
</script>
