<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :economic_registration %>
  </div>

  <div class="yui3-u-1-3">
    <p>
      <%= f.input :person %>
      <%= link_to_modal_info 'provider_person', f.object.person %>
    </p>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :registration_date %>
  </div>
</div>

<fieldset>
  <legend>
    Informações bancárias
  </legend>

  <div class="yui3-g">
    <div class="yui3-u-1-3">
      <%= f.input :bank, :as => :modal, :hidden_field => :bank_id %>
    </div>

    <div class="yui3-u-1-3">
      <%= f.input :agency, :disabled => f.object.bank.blank? %>
    </div>

    <div class="yui3-u-1-3">
      <%= f.input :bank_account %>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>
    CRC
  </legend>

  <div class="yui3-g">
    <div class="yui3-u-1-4">
      <%= f.input :crc_number %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :crc_registration_date %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :crc_expiration_date %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :crc_renewal_date %>
    </div>
  </div>
</fieldset>

<%= f.input :legal_nature %>

<fieldset>
  <legend>
    Ramos de atividade
  </legend>

  <%= f.input :cnae %>
</fieldset>
