<tr class="record provider">
  <td class='id'>
    <%= id %>
  </td>
  <td>
    <%= value %>
  </td>
  <td>
    <input id="price_collection_providers_record_<%= id %>_id" class="provider-id" type="hidden" name="<%= f.sanitized_object_name %>[provider_ids][]" value="<%= id %>" />
    <button class="button negative modal-finder-remove">Remover</button>
  </td>
</tr>
