<div class="yui3-g modal-finder">
  <div class="yui3-u-1-2">
    <%= f.association :materials_classes, :as => :modal, :hidden_field => false, :input_html => { :value => nil } %>
  </div>
</div>

<input type="hidden" name="<%= f.sanitized_object_name %>[materials_class_ids][]" />

<table class="records">
  <thead>
    <tr>
      <th>
        <%= MaterialsClass.human_attribute_name :class_number %>
      </th>
      <th>
        <%= MaterialsClass.human_attribute_name :description %>
      </th>
      <th>
      </th>
    </tr>
  </thead>

  <tbody class="<%= f.sanitized_object_name %>_materials_classes_records">
    <% f.object.materials_classes.each do |materials_class| %>
      <%= render 'materials_classes/list_form', :description => materials_class.description, :id => materials_class.id, :class_number => materials_class.class_number, :f => f %>
    <% end %>
  </tbody>
</table>

<%= mustache "#{f.sanitized_object_name}_materials_classes_template" do %>
  <%= f.association :materials_classes, :collection => f.object.materials_classes.build do |p| %>
    <%= render 'materials_classes/list_form', :class_number => '{{number}}', :description => '{{description}}', :id => '{{id}}', :f => f %>
  <% end %>
<% end %>
