<fieldset id="partners_selector">
  <% if f.object.errors.messages[:provider_partners] %>
    <p class="error">
      <%= f.object.errors.messages[:provider_partners].first %>
    </p>
  <% end %>

  <div id="provider-partners">
    <%= f.association :provider_partners, :collection => localized(f.object.provider_partners) do |p| %>
      <%= render 'provider_partners/form', :f => p %>
    <% end %>
  </div>

  <p>
    <input type="button" class="button affirmative add-provider-partner" value="Adicionar">
  </p>
</fieldset>

<%= mustache 'provider-partners-template' do %>
  <%= f.association :provider_partners_attributes, :collection => f.object.provider_partners.build, :index => '{{uuid_provider_partner}}' do |p| %>
    <%= render 'provider_partners/form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#provider-partners-template").nestedForm({
    add: '.add-provider-partner',
    remove: '.remove-provider-partner',
    target: '#provider-partners',
    uuid: 'uuid_provider_partner',
    fieldToRemove: '.provider-partner',
    right: true
  });
</script>
