<%= f.input :auction_id, as: :hidden %>
<div class="form-row">
  <div class="col-2">
    <%= label_tag "Numero do Pregão" %>
    <%= text_field_tag :process_number, "", class: 'form-control', disabled: true %>
  </div>
</div>


<div class="mh-400 my-2">
  <h4>Itens</h4>

  <table id="items-records" class="records">
    <thead>
    <tr>
      <th><%= "Número" %></th>
      <th><%= "Item" %></th>
      <th><%= "Unidade" %></th>
      <th><%= "Quantidade" %></th>
      <th><%= "Valor" %></th>
      <th><%= "Valor Máximo" %></th>
      <th><%= "Grupo" %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% if f.object&.auction&.items.blank? %>
      <tr><td colspan="7"><div class="alert alert-warning"><strong>Não foram cadastrados itens para esse pregão.</strong></div></tr></td>
    <% end %>
    <% f.object&.auction&.items&.each do |auction_item| %>
      <%= f.simple_fields_for :auction_creditor_proposal_items, init_item(f.object, auction_item) do |p| %>
        <%= render 'auction/auction_items/form',
                   material: p.object.material,

                   f: p %>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<h4>Declarações</h4>
<h6>* Estas Declarações substitui o envio das mesmas</h6>
<div id="terms">
  <div class="form-row">
    <div class="col">
      <div class="form-check">
        <%= f.input :term %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <div class="form-check">
        <%= f.input :impediment %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <div class="form-check">
        <%= f.input :proposal_independent %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <div class="form-check">
        <%= f.input :art_5 %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <div class="form-check">
        <%= f.input :art_93_pcd %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <div class="form-check">
        <%= f.input :art_529_clt %>
      </div>
    </div>
  </div>
</div>

<div class="form-row mt-4">
  <div class="col-4">
    <div class="form-group">
      <%= f.input :proposal_doc, input_html: {accept: ('application/pdf')} %>
    </div>
  </div>

  <% unless f.object.proposal_send_date.blank? %>
    <div class="col-4">
      Enviada em: <%= f.object.proposal_send_date.strftime("%d/%m/%Y") %>
    </div>
  <% end %>

  <div class="col-4">
    <div class="form-group">
      <%= f.input :proposal_qualification_doc, input_html: {accept: ('application/pdf')} %>
    </div>
  </div>
</div>

<style>
  .mh-400{
    max-height: 650px;
    overflow:auto
  }
  #terms .form-row{
    margin: 1rem 0 1rem 0;
  }
  #terms{
    text-align: justify;
  }
  h4, h6{
    color: #3f6e9d;
  }

  #terms .input{
    margin-bottom: 0 !important;
  }

  .auction_creditor_proposal_proposal_doc label{
    color: #3f6e9d;
  }

  .auction_creditor_proposal_proposal_qualification_doc label{
    color: #3f6e9d;
  }

  input[type=text],input[type=password],textarea{width:100%;}
</style>