<span class="text-center">
  <h2>Propostas e Declarações </h2>
<h2> Pregão: <%= @auction.to_s%></h2>
</span>
<br>

<% if @auction.decorator.bids_finished? %>
  <h4><%= l Time.now %></h4>
  <table id="items-records" class="records">
    <thead>
    <tr>
      <th>Fornecedor</th>
      <th>Valor Total da Proposta</th>
      <th>Vencedor</th>
    </tr>
    </thead>
    <tbody>
    <% @auction.creditor_proposals.each_with_index do |index, proposal| %>
      <tr>
        <td>
          <%= index %>
        </td>
        <td>
          <%= number_to_currency proposal.auction_creditor_proposal_items.sum(:global_price) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% elsif @auction.decorator.licitation_opened? && @auction.creditor_proposals.present? %>
  <h4><%= l Time.now %></h4>
  <table id="items-records" class="records">
    <thead>
    <tr>
      <th>Proposta</th>
      <th>Valor Total da Proposta</th>
    </tr>
    </thead>
    <tbody>
    <% @auction.creditor_proposals.each_with_index do |proposal, index| %>
      <tr>
        <td>
          <%= index %>
        </td>
        <td>
          <%= number_to_currency proposal.auction_creditor_proposal_items.sum(:global_price) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="text-center">
    <h4>Data da Abertura da Licitação: <%= date_mask(@auction.bid_opening) %> às <%= time_mask(@auction.bid_opening) %></h4>
    <h5><%= l Time.now %></h5><br>
    <div class="alert-warning p-2">
      <h2>
        <span class="text-unico">
          <%if @auction.creditor_proposals.present?  %>
            Pregão com Proposta e Declarações Cadastradas
          <% else %>
            Pregão não Possui Propostas Cadastradas
          <% end %>
        </span>
      </h2>
    </div>
  </div>
<% end %>

<div id="fixedbutton" class="pr-4">
  <%= link_to 'Pregão Deserto', "#", class:'button primary' %>
</div>

<style>
  #fixedbutton {
    position: absolute;
    bottom: 0;
    right: 0;
  }
</style>