<div class="nested-trading-item">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :administrative_process_budget_allocation_item_id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <%= f.input :material, :disabled => true %>

  <div class="yui3-g">
    <div class="yui3-u-1-8">
      <%= f.input :reference_unit, :disabled => true %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :quantity, :disabled => true, :input_html => { :value => f.object.decorator.quantity } %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :unit_price, :disabled => true, :input_html => { :value => f.object.decorator.unit_price } %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <%= f.input :minimum_reduction_percent, :readonly => f.object.minimum_reduction_value?,
                                              :input_html => { :class => 'minimum_reduction_percent' }%>
    </div>

    <div class="yui3-u-1-2">
      <%= f.input :minimum_reduction_value, :readonly => f.object.minimum_reduction_percent?,
                                            :input_html => { :class => 'minimum_reduction_value' } %>
    </div>
  </div>

  <%= f.input :detailed_description %>
</div>

<script>
  $(".minimum_reduction_percent").change(function() {
    var minimumReductionPercent = $(this).val();

    if (minimumReductionPercent !== "0,00") {
      $(".minimum_reduction_value").val("0,00")
                                   .attr("readonly", "readonly");
    } else {
      $(".minimum_reduction_value").removeAttr("readonly");
    }
  });

  $(".minimum_reduction_value").change(function() {
    var minimumReductionValue = $(this).val();

    if (minimumReductionValue !== "0,00") {
      $(".minimum_reduction_percent").val("0,00")
                                     .attr("readonly", "readonly");
    } else {
      $(".minimum_reduction_percent").removeAttr("readonly");
    }
  });
</script>
