<table class="records">
  <tbody>
    <% collection.each do |resource| %>
      <tr id="<%= dom_id resource %>">
        <td>
          <%= link_to resource, edit_trading_item_path(resource, :trading_id => @parent.id) %>
        </td>

        <td class="right">
          <%= link_to "Fazer oferta", resource.decorator.current_stage_path(controller),
              :class => "button primary",
              'data-disabled' => resource.decorator.allows_offer_placing %>

          <%= link_to "Ver histórico", offers_trading_item_path(resource), :class => "button primary" %>

          <%= link_to "Encerramento do item", trading_item_closing_path(resource),
              :class => "button primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
