<h3>Item: <%= resource %></h3>
<h3>Fase: Propostas</h3>
<table class="records table-proposals">
  <thead>
    <tr>
      <th class="g-1-3">Empresa</th>
      <th class="g-1-10">Valor</th>
      <th class="g-1-10">%</th>
      <th class="g-1-10">data</th>
      <th class="g-1-10">hora</th>
      <th>situação</th>
    </tr>
  </thead>

  <tbody>
    <% resource.bids_at_stage_of_round_of_bids_ordered_by_amount.each do |bid| %>
      <tr>
        <td class="g-1-3"><%= bid.bidder %></td>
        <td class="g-1-10"><%= bid.decorator.amount %></td>
        <td class="g-1-10"><%= bid.decorator.percent_by_item_and_round %></td>
        <td class="g-1-10"><%= bid.decorator.created_at_to_date %></td>
        <td class="g-1-10"><%= bid.decorator.created_at_second %></td>
        <td><%= resource.decorator.situation_for_next_stage(bid.bidder) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="round-of-bids">
  <% resource.rounds_uniq_at_stage_of_round_of_bids_ordered.each do |round| %>
    <h3><%= "#{round.round}º Rodada de lances" %></h3>
    <table class="records">
      <tbody>
        <% resource.bids_at_stage_of_round_of_bids_by_round_ordered_by_amount(round.round).each do |bid| %>
          <tr>
            <td class="g-1-3"><%= bid.bidder %></td>
            <td class="g-1-10"><%= bid.decorator.amount %></td>
            <td class="g-1-10"><%= bid.decorator.percent_by_item_and_round %></td>
            <td class="g-1-10"><%= bid.decorator.created_at_to_date %></td>
            <td class="g-1-10"><%= bid.decorator.created_at_second %></td>
            <td><%= bid.status_humanize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<h3>Negociação</h3>
<table class="records table-negotiations">
  <tbody>
    <% resource.bids_at_stage_of_negotiation_ordered_by_amount.each do |bid| %>
      <tr>
        <td class="g-1-3"><%= bid.bidder %></td>
        <td class="g-1-10"><%= bid.decorator.amount %></td>
        <td class="g-1-10"><%= bid.decorator.percent_by_item_and_round %></td>
        <td class="g-1-10"><%= bid.decorator.created_at_to_date %></td>
        <td class="g-1-10"><%= bid.decorator.created_at_second %></td>
        <td><%= bid.status_humanize %></td>
      </tr>
    <% end %>
  </tbody>
</table>
