<h2>Classificação das Ofertas</h2>

<table class="records">
  <thead>
    <tr>
      <th class="g-1-2">Licitante</th>
      <th class="g-1-6">Valor</th>
      <th class="g-1-10">%</th>
      <th>Classificação</th>
      <th>Situação</th>
    </tr>
  </thead>

  <tbody>
    <% resource.bidders_by_lowest_proposal.each_with_index do |bidder, index| %>
      <tr id="<%= dom_id bidder %>" class="<%= bidder.decorator.benefited_by_law_of_proposals_class(resource) %>">
        <td class="bidder-name g-1-2">
          <%= bidder %>
        </td>

        <td class="bidder-amount g-1-6">
          <%= bidder.decorator.lower_trading_item_bid_amount(resource) %>
        </td>

        <td class="bidder-percent g-1-10">
          <%= bidder.decorator.trading_item_classification_percent(resource) %>
        </td>

        <td class="bidder-position">
          <%= numeric_position(index.succ) %>
        </td>

        <td>
          <% if bidder.disabled? %>
            Inabilitado
          <% elsif resource.can_be_disabled?(bidder) %>
            <%= link_to "Inabilitar", new_disabled_bidder_path(:bidder_id => bidder.id, :trading_item_id => resource.id),
              :class => "button primary" %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Direito de Preferência</h2>

<table class="records" id="preference-right">
  <thead>
    <tr>
      <th class="g-1-2">Licitante</th>
      <th class="g-1-6">Valor</th>
      <th class="g-1-10">%</th>
      <th>Ordem de Seleção ME-EPP</th>
    </tr>
  </thead>

  <tbody>
    <% resource.bidders_for_negociation_by_lowest_proposal.each_with_index do |bidder, index| %>
      <tr id="<%= dom_id bidder %>" class="<%= bidder.decorator.benefited_by_law_of_proposals_class(resource) %>">
        <td class="bidder-name g-1-2">
          <%= bidder %>
        </td>

        <td class="bidder-amount g-1-6">
          <%= bidder.decorator.lower_trading_item_bid_amount(resource) %>
        </td>

        <td class="bidder-percent g-1-10">
          <%= bidder.decorator.trading_item_classification_percent(resource) %>
        </td>

        <td class="bidder-position">
          <%= numeric_position(index.succ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if resource.allow_closing? %>
  <%= link_to "Encerramento do item", close_trading_item_path(:id => resource.id),
    :class => "button primary" %>
<% else %>
  <%= link_to "Fazer oferta", new_trading_item_bid_with_anchor, :class => "button primary" %>
<% end %>
