<h2>Classificação das Ofertas</h2>

<table class="records">
  <thead>
    <tr>
      <th>Licitante</th>
      <th>Valor</th>
      <th>%</th>
      <th>Classificação</th>
    </tr>
  </thead>

  <tbody>
    <% resource.bidders_by_lowest_proposal.each_with_index do |bidder, index| %>
      <tr id="<%= dom_id bidder %>" class="<%= bidder.decorator.benefited_by_law_of_proposals_class(resource) %>">
        <td class="bidder-name">
          <%= bidder %>
        </td>

        <td class="bidder-amount">
          <%= bidder.decorator.lower_trading_item_bid_amount(resource) %>
        </td>

        <td class="bidder-percent">
          <%= bidder.decorator.trading_item_classification_percent(resource) %>
        </td>

        <td class="bidder-position">
          <%= numeric_position(index.succ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Direito de Preferência</h2>

<table class="records" id="preference-right">
  <thead>
    <tr>
      <th>Licitante</th>
      <th>Valor</th>
      <th>%</th>
      <th>Ordem de Seleção ME-EPP</th>
    </tr>
  </thead>

  <tbody>
    <% resource.bidders_for_negociation_by_lowest_proposal.each_with_index do |bidder, index| %>
      <tr id="<%= dom_id bidder %>" class="<%= bidder.decorator.benefited_by_law_of_proposals_class(resource) %>">
        <td class="bidder-name">
          <%= bidder %>
        </td>

        <td class="bidder-amount">
          <%= bidder.decorator.lower_trading_item_bid_amount(resource) %>
        </td>

        <td class="bidder-percent">
          <%= bidder.decorator.trading_item_classification_percent(resource) %>
        </td>

        <td class="bidder-position">
          <%= numeric_position(index.succ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Fazer oferta", new_trading_item_bid_with_anchor, :class => "button primary" %>
<%= link_to_if resource.allow_closing?, "Encerramento do item", close_trading_item_path(:id => resource.id),
  :class => "button primary" %>
