<h2 id="title">Classificação das Propostas Ativadas</h2>

<table class="records" id="bidders-not-selected">
  <thead>
    <tr>
      <th class="g-2-5">Licitante</th>
      <th class="g-1-6">Valor</th>
      <th class="g-1-20">%</th>
      <th>Classificação</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <body>
    <% resource.enabled_bidders_by_lowest_proposal(:filter => :not_selected).each_with_index do |bidder, index| %>
      <tr id="<%= dom_id bidder %>" class="<%= bidder.decorator.benefited_by_law_of_proposals_class(resource) %>">
        <td class="bidder-name g-2-5">
          <%= bidder %>
        </td>

        <td class="bidder-amount g-1-6">
          <%= bidder.decorator.lower_trading_item_bid_amount(resource) %>
        </td>

        <td class="bidder-percent g-1-20">
          <%= bidder.decorator.trading_item_proposal_percent(resource) %>
        </td>

        <td class="bidder-position">
          <%= numeric_position(index.succ) %>
        </td>

        <td><%= bidder.decorator.status_for_negotiation(resource) %></td>

        <td>
          <%= negotiation_link(bidder) %>
        </td>
      </tr>
    <% end %>
  </body>
</table>

<h2>Licitantes Inabilitados</h2>

<table class="records">
  <thead>
    <tr>
      <th class="g-2-5">Licitante</th>
      <th class="g-1-8">EPP/ME</th>
      <th class="g-1-8">Valor</th>
      <th class="g-1-10">%</th>
      <th>Classificação</th>
      <th>Situação</th>
    </tr>
  </thead>

  <tbody>
    <% resource.disabled_bidders_by_lowest_proposal.each_with_index do |bidder, index| %>
      <tr id="<%= dom_id bidder %>" class="<%= bidder.decorator.benefited_by_law_of_proposals_class(resource) %>">
        <td class="bidder-name g-2-5">
          <%= bidder %>
        </td>

        <td class="bidder-benefited g-1-6">
          <%= bidder.decorator.benefited %>
        </td>

        <td class="bidder-amount g-1-6">
          <%= bidder.decorator.lower_trading_item_bid_amount(resource) %>
        </td>

        <td class="bidder-percent g-1-10">
          <%= bidder.decorator.trading_item_classification_percent(resource) %>
        </td>

        <td class="bidder-position">
          <%= numeric_position(index.succ) unless bidder.disabled %>
        </td>

        <td>
          Inabilitado
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="buttons right">
  <%= link_to "Encerramento do item", new_trading_item_closing_path(:trading_item_id => resource.id),
      :class => "button primary" %>

  <%= link_to 'Voltar', trading_items_path(:trading_id => resource.trading_id), :class => 'button' %>
</div>

<script>
  (function(){
    window.location.hash="title"
  })();
</script>
