<h2>Propostas</h2>

<table class="records">
  <thead>
    <tr>
      <th>Licitante</th>
      <th>Valor</th>
      <th>%</th>
      <th>Situação</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% resource.bidders_by_lowest_proposal.each_with_index do |bidder, index| %>
      <tr id="<%= dom_id bidder %>" class="<%= bidder.decorator.benefited_by_law_of_proposals_class(resource) %>">
        <td class="bidder-name">
          <%= bidder %>
        </td>

        <td class="bidder-amount">
          <%= bidder.decorator.lower_trading_item_bid_amount(resource) %>
        </td>

        <td class="bidder-percent">
          <%= bidder.decorator.trading_item_classification_percent(resource) %>
        </td>

        <td class="bidder-position">
          <%= resource.decorator.situation_for_next_stage(bidder) %>
        </td>

        <td class="right">
          <%= link_to 'Corrigir proposta', edit_trading_item_bid_proposal(bidder), :class => 'button primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="buttons right">
  <%= link_to 'Registrar lances', new_trading_item_bid_with_anchor, :class => 'button' %>
</div>
