<table class="records mt-1">
  <tbody id="records">
  <% if @contracts.blank? %>
    <tr>
      <td>Não foram encontrados contratos para esse periodo</td>
    </tr>
  <% end %>
  <% @contracts.each do |resource| %>
    <tr>
      <td>
        <p><%= link_to edit_contract_path(resource) do%>
            <%= "CONTRATO" if resource.type_contract != 'minute' %> <%= resource.contract_number %> - 
            DATA FIM <%= l(resource.end_date) if resource.end_date %> -
            <%= (Contract.human_attribute_name :creditor).mb_chars.upcase %> <%= resource.creditor.person.name %>
          <% end %>
            </p>
        <% if resource.decorated? && resource.decorator.respond_to?(:summary) %>
          <p><%= resource.decorator.summary %></p>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="text-center">
  <%= page_entries_info @contracts, entry_name: 'contrato'  %>
</div>

<%= paginate @contracts, :params => { :controller => 'dashboard/secretaries', :action => 'contracts'}, remote: true %>