<span class="text-15">Intervalo de dias para encerrar o contrato</span>

<div class="d-flex justify-content-between mt-1">
  <div class="text-center">
    <%= button_tag "#{@contracts_periods[:until_30]}", type: 'button', class:'until_30 btn-fillter' %>
    <span class="d-block">até 30 dias</span>
  </div>
  <div class="text-center">
    <%= button_tag "#{@contracts_periods[:between_31_60]}", type: 'button', class:'by_31_60 btn-fillter' %>
    <span class="d-block">de 31 a 60 dias</span>
  </div>
  <div class="text-center">
    <%= button_tag "#{@contracts_periods[:between_61_90]}", type: 'button', class:'by_61_90 btn-fillter' %>
    <span class="d-block">de 61 a 90 dias</span>
  </div>
  <div class="text-center">
    <%= button_tag "#{@contracts_periods[:between_91_120]}", type: 'button', class:'by_91_120 btn-fillter' %>
    <span class="d-block">de 91 a 120 dias</span>
  </div>
  <div class="text-center">
    <%= button_tag "#{@contracts_periods[:between_121_150]}", type: 'button', class:'by_121_150 btn-fillter' %>
    <span class="d-block">de 121 a 150 dias</span>
  </div>
</div>

<div class="mt-2">
  <div>
    <span class="title-table">Contratos com 30 dias para vencer</span>
    <% @days = {started_at:0,ended_at:30} %>
      <%= link_to 'Imprimir Contratos', report_contracts_path(:between_days_finish => @days, :linked_contract => {started_at:0,ended_at:30}, :contract_additive => {started_at:0,ended_at:30} ), :taget=> '_blank', :class => 'button primary btn-small print-contracts' %>
      <%= link_to 'Gerar Planilha dos Contratos', report_contracts_path(:between_days_finish => @days, :linked_contract => @days, :contract_additive => @days , format: :xlsx), :taget=> '_blank', :class => 'button primary btn-small download-contracts' %>
  </div>
  <div id="contract_records">
    <%= render 'contract_list' %>
  </div>
</div>

<div class="mt-1">
  <span class="title-table-linked-contract">Contratos Vinculados com 30 dias para vencer</span>

  <div id="linked_contract_records">
    <%= render 'linked_contract_list' %>
  </div>
</div>

<div class="mt-1">
  <span class="title-table-contract-additive"> Aditivos/Apostilamentos com 30 dias para vencer</span>

  <div id="contract_additive_records">
    <%= render 'contract_additive_list' %>
  </div>
</div>

<script>

  $('.by_121_150').click(function(){
    $('.title-table').html('Contratos com 150 dias para vencer');
    $('.title-table-linked-contract').html('Contratos Vinculados com 150 dias para vencer');
    $('.title-table-contract-additive').html('Aditivos/Apostilamentos com 150 dias para vencer');
    getContracts(121, 150);
    getLinkedContracts(121, 150);
    getContractAdditive(121, 150);    
    $('.print-contracts').attr('href', "<%= report_contracts_path(:between_days_finish => {started_at:121,ended_at:150}, :linked_contract => {started_at:121,ended_at:150}, :contract_additive => {started_at:121,ended_at:150}) %>" )
    $('.download-contracts').attr('href', "<%= report_contracts_path(:between_days_finish => {started_at:121,ended_at:150, :linked_contract => {started_at:121,ended_at:150}, :contract_additive => {started_at:121,ended_at:150}}, format: :xlsx) %>" )
  });
  $('.by_91_120').click(function(){
    $('.title-table').html('Contratos com 120 dias para vencer');
    $('.title-table-linked-contract').html('Contratos Vinculados com 120 dias para vencer');
    $('.title-table-contract-additive').html('Aditivos/Apostilamentos com 120 dias para vencer');
    getContracts(91, 120);
    getLinkedContracts(91, 120);
    getContractAdditive(91, 120);
    $('.print-contracts').attr('href', "<%= report_contracts_path(:between_days_finish => {started_at:91,ended_at:120}, :linked_contract => {started_at:91,ended_at:120}, :contract_additive => {started_at:91,ended_at:120}) %>" )
    $('.download-contracts').attr('href', "<%= report_contracts_path(:between_days_finish => {started_at:91,ended_at:120}, :linked_contract => {started_at:91,ended_at:120}, :contract_additive => {started_at:91,ended_at:120}, format: :xlsx) %>" )
  });
  $('.by_61_90').click(function(){
    $('.title-table').html('Contratos com 90 dias para vencer');
    $('.title-table-linked-contract').html('Contratos Vinculados com 90 dias para vencer');
    $('.title-table-contract-additive').html('Aditivos/Apostilamentos com 90 dias para vencer');
    getContracts(61, 90);
    getLinkedContracts(61, 90);
    getContractAdditive(61, 90);
    $('.print-contracts').attr('href', "<%= report_contracts_path(:between_days_finish => {started_at:61,ended_at:90}, :linked_contract => {started_at:61,ended_at:90}, :contract_additive => {started_at:61,ended_at:90}) %>" )
    $('.download-contracts').attr('href', "<%= report_contracts_path(:between_days_finish => {started_at:61,ended_at:90}, :linked_contract => {started_at:61,ended_at:90}, :contract_additive => {started_at:61,ended_at:90}, format: :xlsx) %>" )
  });
  $('.by_31_60').click(function(){
    $('.title-table').html('Contratos com 60 dias para vencer');
    $('.title-table-linked-contract').html('Contratos Vinculados com 60 dias para vencer');
    $('.title-table-contract-additive').html('Aditivos/Apostilamentos com 60 dias para vencer');
    getContracts(31, 60);
    getLinkedContracts(31, 60);
    getContractAdditive(31, 60);
    $('.print-contracts').attr('href', "<%= report_contracts_path(:between_days_finish => {started_at:31,ended_at:60}, :linked_contract => {started_at:31,ended_at:60}, :contract_additive => {started_at:31,ended_at:60}) %>" )
    $('.download-contracts').attr('href', "<%= report_contracts_path(:between_days_finish => {started_at:31,ended_at:60}, :linked_contract => {started_at:31,ended_at:60}, :contract_additive => {started_at:31,ended_at:60}, format: :xlsx) %>" )
  });
  $('.until_30').click(function(){
    $('.title-table').html('Contratos com 30 dias para vencer');
    $('.title-table-linked-contract').html('Contratos Vinculados com 30 dias para vencer');
    $('.title-table-contract-additive').html('Aditivos/Apostilamentos com 30 dias para vencer');
    getContracts(0,30);
    getLinkedContracts(30);
    getContractAdditive('0','30');
    $('.print-contracts').attr('href', "<%= report_contracts_path(:between_days_finish => {started_at:0,ended_at:30}, linked_contract: {started_at:0,ended_at:30}, contract_additive: {started_at:0,ended_at:30}) %>" )
    $('.download-contracts').attr('href', "<%= report_contracts_path(:between_days_finish => {started_at:0,ended_at:30}, :linked_contract => {started_at:0,ended_at:30}, :contract_additive => {started_at:0,ended_at:30}, format: :xlsx) %>" )
  });

  function getLinkedContracts(date1, date2){
    var param = (date1 && date2) ? [date1, date2] : date1;

    var url = Routes.linked_contracts_dashboard_secretaries,
        params = $.isArray(param) ? {between_days_finish: {started_at: param[0], ended_at: param[1]}} : {by_days_finish: param};

    url += "?" + $.param(params);

    $.ajax({
      url: url,
      dataType: 'script',
      type: 'GET',
      success: function (data) {
      }
    });
  }

  function getContracts(date1, date2){
    var param = (date1 && date2) ? [date1, date2] : date1;

    var url = Routes.contracts_dashboard_secretaries,
        params = $.isArray(param) ? {between_days_finish: {started_at: param[0], ended_at: param[1]}} : {by_days_finish: param};

    url += "?" + $.param(params);

    $.ajax({
      url: url,
      dataType: 'script',
      type: 'GET',
      success: function (data) {
      }
    });
  }

  function getContractAdditive(date1, date2){
    var param = (date1 && date2) ? [date1, date2] : date1;

    var url = Routes.contract_additives_dashboard_secretaries,
        params = $.isArray(param) ? {between_days_finish: {started_at: param[0], ended_at: param[1]}} : { between_days_finish: {ended_at: param[0]} };

    url += "?" + $.param(params);

    $.ajax({
      url: url,
      dataType: 'script',
      type: 'GET',
      success: function (data) {
        console.log(data);
      }
    });
  }

</script>

<style>
  a.btn-small{
    margin-bottom:1%;
    float:right;
  }
  a.btn-small:last-child{
    margin-right: 5px;
  }
  a.download-contracts{
    margin-right: 5px;
  }
</style>