<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :licitation_process %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :impugnment_date %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :related %>
  </div>
</div>

<%= f.input :person %>
<%= f.input :licitation_process_object_description, :disabled => true %>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :licitation_process_envelope_delivery_date, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :licitation_process_envelope_delivery_time, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :licitation_process_envelope_opening_date, :disabled => true %>
  </div>
  
  <div class="yui3-u-1-4">
    <%= f.input :licitation_process_envelope_opening_time, :disabled => true %>
  </div>
</div>

<%= f.input :valid_reason %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :situation %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :judgment_date %>
  </div>
</div>

<%= f.input :observation %>

<script>
  $('#licitation_process_impugnment_licitation_process_id').change(function(event, data) {
    if (data) {
      var record = data.record;
      $('#licitation_process_impugnment_licitation_process_object_description').val(record.data('object-description'));
      $('#licitation_process_impugnment_licitation_process_envelope_delivery_date').val(record.data('envelope-delivery-date'));
      $('#licitation_process_impugnment_licitation_process_envelope_delivery_time').val(record.data('envelope-delivery-time'));
      $('#licitation_process_impugnment_licitation_process_envelope_opening_date').val(record.data('envelope-opening-date'));
      $('#licitation_process_impugnment_licitation_process_envelope_opening_time').val(record.data('envelope-opening-time'));
    }
    else{
      $('#licitation_process_impugnment_licitation_process_object_description').val('');
      $('#licitation_process_impugnment_licitation_process_envelope_delivery_date').val('');
      $('#licitation_process_impugnment_licitation_process_envelope_delivery_time').val('');
      $('#licitation_process_impugnment_licitation_process_envelope_opening_date').val('');
      $('#licitation_process_impugnment_licitation_process_envelope_opening_time').val('');
    }
  });
</script>