<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :licitation_process %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :impugnment_date %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :related %>
  </div>
</div>

<%= f.input :person %>
<%= f.input :licitation_process_administrative_process_description, :disabled => true %>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :licitation_process_envelope_delivery_date, :disabled => true, :input_html => { :value => f.object.decorator.licitation_process_envelope_delivery_date } %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :licitation_process_envelope_delivery_time, :disabled => true, :input_html => { :value => f.object.decorator.licitation_process_envelope_delivery_time }%>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :licitation_process_envelope_opening_date, :disabled => true, :input_html => { :value => f.object.decorator.licitation_process_envelope_opening_date } %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :licitation_process_envelope_opening_time, :disabled => true, :input_html => { :value => f.object.decorator.licitation_process_envelope_opening_time } %>
  </div>
</div>

<%= f.input :valid_reason %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :situation, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :judgment_date, :disabled => true %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :new_envelope_delivery_date, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :new_envelope_delivery_time, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :new_envelope_opening_date, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :new_envelope_opening_time, :disabled => true %>
  </div>
</div>

<%= f.input :observation, :disabled => true %>

<script>
  $('#licitation_process_impugnment_licitation_process_id').change(function (event, licitation_process) {
    if (licitation_process) {
      $('#licitation_process_impugnment_licitation_process_object_description').val(licitation_process.object_description);
      $('#licitation_process_impugnment_licitation_process_envelope_delivery_date').val(licitation_process.envelope_delivery_date);
      $('#licitation_process_impugnment_licitation_process_envelope_delivery_time').val(licitation_process.envelope_delivery_time);
      $('#licitation_process_impugnment_licitation_process_envelope_opening_date').val(licitation_process.envelope_opening_date);
      $('#licitation_process_impugnment_licitation_process_envelope_opening_time').val(licitation_process.envelope_opening_time);
    } else {
      $('#licitation_process_impugnment_licitation_process_object_description').val('');
      $('#licitation_process_impugnment_licitation_process_envelope_delivery_date').val('');
      $('#licitation_process_impugnment_licitation_process_envelope_delivery_time').val('');
      $('#licitation_process_impugnment_licitation_process_envelope_opening_date').val('');
      $('#licitation_process_impugnment_licitation_process_envelope_opening_time').val('');
    }
  });
</script>
