<%= f.input :contract_id, :as => :hidden %>

<div class="row">
  <div class="col-2">
    <%= f.input :number, :disabled => true%>
  </div>

  <div class="col-1">
    <%= f.input :year, :disabled => true%>
  </div>

  <div class="col-2">
    <%= f.input :status, :disabled => true%>
  </div>

  <div class="col-2">
    <%= f.input :publication_date, :disabled => f.object.annulled?%>
  </div>

  <div class="col">
    <%= f.input :dissemination_source, :disabled => f.object.annulled?, hidden_field: 'dissemination_source_id'%>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= f.input :expiry_date, :disabled => f.object.annulled?%>
  </div>

  <div class="col">
    <%= f.input :termination_date, :disabled => f.object.annulled?%>
  </div>

  <div class="col">
    <%= f.input :termination_value, :disabled => f.object.annulled?%>
  </div>

  <div class="col">
    <%= f.input :fine_value, :disabled => f.object.annulled?%>
  </div>

  <div class="col">
    <%= f.input :compensation_value, :disabled => f.object.annulled?%>
  </div>

</div>

<%= f.input :reason, :disabled => f.object.annulled? %>

<div class="yui3-g">
  <div class="yui3-u-2-5">
    <%= f.input :term_termination_file, :disabled => f.object.annulled? %>
  </div>

  <div class="yui3-u-1-4" style="margin-top: 30px" >
    <%= link_to f.object.term_termination_file_identifier, f.object.term_termination_file_url if f.object.term_termination_file? %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= annul_link(:resource => f.object, :annul_controller_name => 'contract_termination_annuls') %>
  </div>
</div>