<%= f.input :contract_id, :as => :hidden %>

<div class='yui3-g'>
  <div class='yui3-u-1-5'>
    <%= f.input :number, :disabled => true %>
  </div>

  <div class='yui3-u-1-5'>
    <%= f.input :year, :disabled => true %>
  </div>
</div>

<%= f.input :reason %>

<div class='yui3-g'>
  <div class='yui3-u-1-5'>
    <%= f.input :expiry_date %>
  </div>

  <div class='yui3-u-1-5'>
    <%= f.input :termination_date %>
  </div>

  <div class='yui3-u-1-5'>
    <%= f.input :publication_date %>
  </div>

  <div class='yui3-u-1-3'>
    <%= f.input :dissemination_source %>
  </div>
</div>

<div class='yui3-g'>
  <div class='yui3-u-1-4'>
    <%= f.input :fine_value %>
  </div>

  <div class='yui3-u-1-4'>
    <%= f.input :compensation_value %>
  </div>

  <div class='yui3-u-1-4'>
    <%= f.input :term_termination_file %>
  </div>

  <div class='yui3-u-1-4'>
    <%= link_to f.object.term_termination_file_identifier, f.object.term_termination_file_url if f.object.term_termination_file? %>
  </div>
</div>
