<div class="tabs">
  <ul>
    <li><a href="#general">Principal</a></li>
    <li><a href="#total">Total acumulado</a></li>
    <li><a href="#material">Materiais</a></li>
  </ul>

  <div id="general">
    <%= f.input :year %>
    <%= f.input :description %>
  </div>

  <div id="total">
    <fieldset>
      <legend>Total acumulado de compras e serviços</legend>
      <div class="yui3-g">
        <div class="yui3-u-1-4">
          <%= f.input :purchase_licitation_exemption %>
        </div>
        <div class="yui3-u-1-4">
          <%= f.input :purchase_invitation_letter %>
        </div>
        <div class="yui3-u-1-4">
          <%= f.input :purchase_taking_price %>
        </div>
        <div class="yui3-u-1-4">
          <%= f.input :purchase_public_concurrency %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Total acumulado de obras e engenharia</legend>
      <div class="yui3-g">
        <div class="yui3-u-1-4">
          <%= f.input :build_licitation_exemption %>
        </div>
        <div class="yui3-u-1-4">
          <%= f.input :build_invitation_letter %>
        </div>
        <div class="yui3-u-1-4">
          <%= f.input :build_taking_price %>
        </div>
        <div class="yui3-u-1-4">
          <%= f.input :build_public_concurrency %>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Total acumulado de modalidades especiais</legend>
      <div class="yui3-g">
        <div class="yui3-u-1-3">
          <%= f.input :special_auction %>
        </div>
        <div class="yui3-u-1-3">
          <%= f.input :special_unenforceability %>
        </div>
        <div class="yui3-u-1-3">
          <%= f.input :special_contest %>
        </div>
      </div>
    </div>
  </fieldset>
  <div id="material">
    <%= render 'materials', :f => f %>
  </div>
</div>

<script>
  $('.tabs').tabs({
    create: function () {
      var tabWithError = $('.ui-tabs-panel:has(.error)', this).attr('id');

      if (tabWithError) {
        $(this).tabs('select', tabWithError);
      }
    }
  });
</script>
