<fieldset>
  <legend>Total acumulado de compras e serviços</legend>
  <div class="yui3-g">
    <div class="yui3-u-1-4">
      <%= f.input :purchase_licitation_exemption, :disabled => true, :input_html => { :value => f.object.decorator.purchase_licitation_exemption_with_precision } %>
    </div>
    <div class="yui3-u-1-4">
      <%= f.input :purchase_invitation_letter, :disabled => true %>
    </div>
    <div class="yui3-u-1-4">
      <%= f.input :purchase_taking_price, :disabled => true %>
    </div>
    <div class="yui3-u-1-4">
      <%= f.input :purchase_public_concurrency, :disabled => true %>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Total acumulado de obras e engenharia</legend>
  <div class="yui3-g">
    <div class="yui3-u-1-4">
      <%= f.input :build_licitation_exemption, :disabled => true, :input_html => { :value => f.object.decorator.build_licitation_exemption_with_precision } %>
    </div>
    <div class="yui3-u-1-4">
      <%= f.input :build_invitation_letter, :disabled => true %>
    </div>
    <div class="yui3-u-1-4">
      <%= f.input :build_taking_price, :disabled => true %>
    </div>
    <div class="yui3-u-1-4">
      <%= f.input :build_public_concurrency, :disabled => true %>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Total acumulado de modalidades especiais</legend>
  <div class="yui3-g">
    <div class="yui3-u-1-3">
      <%= f.input :special_auction, :disabled => true %>
    </div>
    <div class="yui3-u-1-3">
      <%= f.input :special_unenforceability, :disabled => true %>
    </div>
    <div class="yui3-u-1-3">
      <%= f.input :special_contest, :disabled => true %>
    </div>
  </div>
</fieldset>
