<div class="tabs">
  <ul>
    <li><a href="#main">Principal</a></li>
    <li><a href="#moviments">Movimentos</a></li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="moviments">
    <%= render 'extra_credit_moviment_types', :f => f %>
  </div>
</div>

<script type="text/javascript">
  function calcTotal() {
    var supplement_total = 0.0,
        reduced_total = 0.0,
        supplement_element = $('#extra_credit_supplement'),
        reduced_element =    $('#extra_credit_reduced'),
        difference_element = $('#extra_credit_difference');

    $('#extra-credit-moviment-types').find('fieldset').each(function(){
      var value = parsePtBrFloat($(this).find('.value').val());

      if ($(this).find('.destroy').val() == 'false' && !isNaN(value)) {
        var operation = $(this).find('.operation').val();

        if (operation == '<%= MovimentTypeOperation::ADD %>') {
          supplement_total += value;
        } else if (operation == '<%= MovimentTypeOperation::SUBTRACT %>') {
          reduced_total += value;
        }
      }
    });

    supplement_element.val(numberWithDelimiter(supplement_total));
    reduced_element.val(numberWithDelimiter(reduced_total));
    difference_element.val(numberWithDelimiter(supplement_total - reduced_total));
  }

  $('form.extra_credit').on('change', '#extra_credit_regulatory_act_id', function (event, regulatory_act) {
    if (regulatory_act) {
      $('#extra_credit_regulatory_act_type').val(regulatory_act.regulatory_act_type);
      $('#extra_credit_publication_date').val(regulatory_act.publication_date);
    }
  });

  $('form.extra_credit').on('change', '#extra_credit_extra_credit_nature_id', function (event, extra_credit_nature) {
    if (extra_credit_nature) {
      $('#extra_credit_kind').val(extra_credit_nature.kind);
    }
  });

  $('form.extra_credit').on('change', '.moviment-type', function (event, moviment_type) {
    if (moviment_type){
      $(this).closest('fieldset').find('.operation').val(moviment_type.operation);

      if (moviment_type.character == '<%= MovimentTypeCharacter::BUDGET_ALLOCATION %>') {
        $(this).closest('fieldset').find('.budget-allocation').attr('disabled', false);
        $(this).closest('fieldset').find('.capability').attr('disabled', true);
        $(this).closest('fieldset').find('[id$=capability]').val('');
        $(this).closest('fieldset').find('[id$=capability_id]').val('');
      } else if (moviment_type.character == '<%= MovimentTypeCharacter::CAPABILITY %>') {
        $(this).closest('fieldset').find('.capability').attr('disabled', false);
        $(this).closest('fieldset').find('.budget-allocation').attr('disabled', true);
        $(this).closest('fieldset').find('[id$=budget_allocation]').val('');
        $(this).closest('fieldset').find('[id$=budget_allocation_id]').val('');
      }

      calcTotal();
    }
  });

  $('form.extra_credit').on('click', '.remove-extra-credit-moviment-type', function() {
    calcTotal();
  });

  $('form.extra_credit').on('keyup', '.value', function() {
    calcTotal();
  });

  calcTotal();
</script>
