<fieldset>
  <%= f.input :material, :input_html => { :class => 'material' } %>
  <%= f.input :reference_unit, :disabled => true %>

  <div class="yui3-g">
    <div class="yui3-u-1-3">
      <%= f.input :quantity, :input_html => { :class => 'item-quantity', :type => 'number' } %>
    </div>

    <div class="yui3-u-1-3">
      <%= f.input :unit_price, :input_html => { :class => 'item-unit-price' } %>
    </div>

    <div class="yui3-u-1-3">
      <%= f.input :estimated_total_price, :disabled => true, :input_html => { :class => 'item-price', :value => number_with_precision(f.object.estimated_total_price) } %>
    </div>
  </div>

  <%= f.input :grouped, :disabled => true %>
  <%= f.input :process_number, :disabled => true %>
  <%= f.input :status, :as => :select, :collection => PurchaseSolicitationItemStatus, :selected => PurchaseSolicitationItemStatus::PENDING, :disabled => true %>

  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <p>
    <input type="button" class="button negative remove-purchase-solicitation-item" value="Remover Item">
  </p>
</fieldset>
