<tr class="record nested-record item-record">
  <td><%= material %></td>

  <td><%= reference_unit %></td>

  <td><%= brand %></td>

  <td><%= quantity %></td>

  <td><%= unit_price %></td>

  <td><%= estimated_total_price %></td>

  <td>
    <%= f.input :material_id, :as => :hidden, :input_html => { :value => material_id } %>
    <%= f.input :brand, :as => :hidden, :input_html => { :value => brand } %>
    <%= f.input :quantity, :as => :hidden, :input_html => { :value => quantity } %>
    <%= f.input :unit_price, :as => :hidden, :input_html => { :value => unit_price } %>
    <%= f.input :estimated_total_price, :as => :hidden, :input_html => { :value => estimated_total_price, :class => 'item-total-value' } %>
    <%= f.input :id, :as => 'hidden' %>
    <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

    <%= link_to 'Remover', '#', :class => 'remove-nested-record', 'data-disabled' => data_disabled %>
  </td>
</tr>
