<div class="items_fields">
  <div class="yui3-g">
    <div class="yui3-u-4-5">
      <%= f.input :material, :as => :auto_complete, :fake => true, :required => true, 'data-hidden-field-class' => 'unique',
                  :input_html => {"data-disabled" => f.object.decorator.disabled_materials, :readonly => f.object.kind.blank?} %>
    </div>
    <div class="yui3-u-1-5">
      <%= f.input :reference_unit, :as => :fake, :disabled => true %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-8">
      <%= f.input :lot, :as => :fake, :required => true %>
    </div>

    <div class="yui3-u-1-6">
      <%= f.input :quantity, :as => :fake, :required => true,
                  :input_html => {'data-numeric' => true} %>
    </div>

    <div class="yui3-u-1-6">
      <%= f.input :unit_price, :as => :fake, :input_html => {'data-decimal' => true,
        'data-precision' => 3, :maxlength => 15, :class => 'numeric'} %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :brand, :as => :fake %>
    </div>

    <div class="yui3-u-1-6">
      <%= f.input :estimated_total_price, :as => :fake, :disabled => true,
                  :input_html => {'data-decimal' => true, :value => '0,000', 'data-precision' => 3, :maxlength => 15, :class => 'numeric'} %>
    </div>

    <div class="yui3-u-1-8 text-center" id="add-button">

    </div>
  </div>
</div>


<style>
  <% if f.object.items.any? %>
  .items_fields{
    display: none;
  }
  .btn_control{
    display: block;
  }
  <% else %>
  .btn_control{
    display: none;
  }
  <% end %>

  .btn_control{
    float: right;
    background-color: #53c3c3 !important;
    color: white !important
  }
</style>

<script>
  $(function(){
    $('.unit_price,.estimated_total_price').each(function(){
      $(this).text(numberFormartPt($(this).text()));    
    }); 
    $('.purchase_solicitation_items_unit_price').each(function(index,element){
      $(this).children(0).val(numberFormartPt($(this).children(0).val()));    
    });
  });
</script>