<div id="organogram_levels">
  <p>
    <input type="button" class="button affirmative add-organogram_level" value="Adicionar Estrutura">
  </p>

  <%= f.association :organogram_levels, :collection => localized(f.object.organogram_levels) do |p| %>
    <%= render 'organogram_levels/form', :f => p %>
  <% end %>
</div>

<%= mustache 'organogram_levels-template' do %>
  <%= f.association :organogram_levels_attributes, :collection => f.object.organogram_levels.build, :index => '{{uuid_organogram_level}}' do |p| %>
    <%= render 'organogram_levels/form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#organogram_levels-template").nestedForm({
    add: '.add-organogram_level',
    remove: '.remove-organogram_level',
    target: '#organogram_levels',
    uuid: 'uuid_organogram_level',
  });
</script>
