<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :budget_allocations, :as => :auto_complete, :hidden_field => :autocomplete_budget_allocation,
                :required => true, :disabled => f.object.annulled?,
                :input_html => { :value => nil, :name => :autocomplete_for_budget_allocation, :class => 'budget-allocation' }  %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :expense_natures, :as => :auto_complete, :hidden_field => :autocomplete_expense_nature,
                :disabled => f.object.annulled?,
                :input_html => { :value => nil, :name => :autocomplete_for_expense_nature }  %>
  </div>

  <div class="yui3-u-1-3">
    <%= button_tag 'Adicionar', :class => 'button add-purchase-solicitation-budget-allocation field-without-label' %>
  </div>
</div>

<table class="records">
  <thead>
    <tr>
      <th><%= PurchaseSolicitationBudgetAllocation.human_attribute_name :budget_allocation %></th>
      <th><%= PurchaseSolicitationBudgetAllocation.human_attribute_name :expense_nature %></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="<%= f.sanitized_object_name %>_purchase_solicitation_budget_allocations_records">
    <%= f.association :purchase_solicitation_budget_allocations, :collection => localized(f.object.purchase_solicitation_budget_allocations) do |p| %>
      <%= render 'purchase_solicitation_budget_allocations/purchase_solicitation_list_form',
          :budget_allocation => p.object.budget_allocation,
          :expense_nature => p.object.expense_nature,
          :budget_allocation_id => p.object.budget_allocation_id,
          :expense_nature_id => p.object.expense_nature_id,
          :data_disabled => f.object.decorator.is_annulled_message,
          :f => p %>
    <% end %>
  </tbody>
</table>

<%= mustache "purchase_solicitation_budget_allocations_template" do %>
  <%= f.association :purchase_solicitation_budget_allocations, :collection => f.object.purchase_solicitation_budget_allocations.build do |p| %>
    <%= render 'purchase_solicitation_budget_allocations/purchase_solicitation_list_form',
               :budget_allocation => '{{budget_allocation}}',
               :budget_allocation_id => '{{budget_allocation_id}}',
               :expense_nature => '{{expense_nature}}',
               :expense_nature_id => '{{expense_nature_id}}',
               :data_disabled => nil,
               :f => p %>
  <% end %>
<% end %>

<script>
  $(".add-purchase-solicitation-budget-allocation").on("click", function(event) {
    event.preventDefault();

    var budgetAllocationId = $('#purchase_solicitation_autocomplete_budget_allocation').val(),
        budgetAllocation = $('#purchase_solicitation_budget_allocations').val(),
        expenseNatureId = $('#purchase_solicitation_autocomplete_expense_nature').val(),
        expenseNature = $('#purchase_solicitation_expense_natures').val();

    if (_.isEmpty(budgetAllocationId)) {
      alert("<%=I18n.t('purchase_solicitation_budget_allocation.messages.not_allow_add') %>");
    } else {
      var options = {
          budget_allocation: budgetAllocation,
          budget_allocation_id: budgetAllocationId,
          expense_nature: expenseNature,
          expense_nature_id: expenseNatureId
        }

      $('.records').append($('#purchase_solicitation_budget_allocations_template').mustache(options));

      clearAutocompleteFields();
    }
  });

  $('form').on('click', '.remove-budget-allocation', function(event) {
    event.preventDefault();
    $(this).closest('.purchase-solicitation-budget-allocation').find('.destroy').val(true);
    $(this).closest('.purchase-solicitation-budget-allocation').hide();
  });

  function clearAutocompleteFields() {
     $('#purchase_solicitation_autocomplete_budget_allocation').val('');
     $('#purchase_solicitation_budget_allocations').val('');
     $('#purchase_solicitation_autocomplete_expense_nature').val('');
     $('#purchase_solicitation_expense_natures').val('');
  }

  $(function() {
    $('.purchase-solicitation-budget-allocation .destroy[value="true"]').closest('.purchase-solicitation-budget-allocation').hide();
  });
</script>
