<div id="message-no-extra-allocations">
  Já foi selecionada uma Dotação na aba "Dados gerais".
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :items_total_value, :input_html => { :value => number_to_currency(f.object.items_total_value, :format => "%n"), :size => 12 }, :disabled => true %>
  </div>
  <div class="yui3-u-1-2">
    <%= f.input :budget_allocations_total_value, :input_html => { :value => number_to_currency(f.object.budget_allocations_total_value, :format => "%n"), :size => 12 }, :disabled => true %>
  </div>
</div>

<fieldset id="budget_allocations_selector">
  <legend>
    Dotações da Solicitação de Compras
  </legend>
  <div id="allocations">
    <%= f.association :purchase_solicitation_budget_allocations, :collection => localized(f.object.purchase_solicitation_budget_allocations) do |p| %>
      <%= render 'purchase_solicitation_budget_allocations/form', :f => p %>
    <% end %>
  </div>
  <p>
    <input type="button" class="button affirmative add-purchase-solicitation-budget-allocation" value="Adicionar">
  </p>
</fieldset>


<%= mustache 'purchase-solicitation-budget-allocations-template' do %>
  <%= f.association :purchase_solicitation_budget_allocations_attributes, :collection => f.object.purchase_solicitation_budget_allocations.build, :index => '{{uuid_purchase_solicitation_budget_allocation}}' do |p| %>
    <%= render 'purchase_solicitation_budget_allocations/form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#purchase-solicitation-budget-allocations-template").nestedForm({
    add: '.add-purchase-solicitation-budget-allocation',
    remove: '.remove-purchase-solicitation-budget-allocation',
    target: '#allocations',
    uuid: 'uuid_purchase_solicitation_budget_allocation',
    fieldToRemove: '.purchase-solicitation-budget-allocation',
    right: true
  });

  $(".budget-allocation").live('change', function (event, data) {
    if (data){
      var record = data.record,
          inputs = $(this).closest('div.nested').find(':input');
      $(inputs[2]).val(record.data("id"));
    }
  });

  function calculateTotalAllocations() {
    var total = 0,
        value;
    $.each($('.allocation-price'), function(){
      value = $(this).attr('value')
      if (value != ''){
        total += parsePtBrFloat(value);
      }
    });
    $('#purchase_solicitation_budget_allocations_total_value').val(floatToPtBrString(total))
  }
  calculateTotalAllocations();
  $('.allocation-price').live('keyup', calculateTotalAllocations);
</script>
