<div id="budget_allocations_selector">

  <%= f.input :total_allocations_items_value, :disabled => true, :input_html => { :value => number_with_precision(f.object.total_allocations_items_value) } %>
  <%= f.error :purchase_solicitation_budget_allocations %>

  <p>
    <input type="button" class="button affirmative add-purchase-solicitation-budget-allocation" value="Adicionar Dotação">
  </p>

  <div id="allocations">
    <%= f.association :purchase_solicitation_budget_allocations, :collection => localized(f.object.purchase_solicitation_budget_allocations) do |p| %>
      <%= render 'purchase_solicitation_budget_allocations/form', :f => p %>
    <% end %>
  </div>
</div>

<%= mustache 'purchase-solicitation-budget-allocations-template' do %>
  <%= f.association :purchase_solicitation_budget_allocations_attributes, :collection => f.object.purchase_solicitation_budget_allocations.build, :index => '{{uuid_purchase_solicitation_budget_allocation}}' do |p| %>
    <%= render 'purchase_solicitation_budget_allocations/form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#purchase-solicitation-budget-allocations-template").nestedForm({
    add: '.add-purchase-solicitation-budget-allocation',
    remove: '.remove-purchase-solicitation-budget-allocation',
    target: '#allocations',
    uuid: 'uuid_purchase_solicitation_budget_allocation',
    fieldToRemove: '.purchase-solicitation-budget-allocation',
    appendItem: false
  });

  $('form').delegate('.budget-allocation', 'change', function (event, data) {
    if (data){
      var record = data.record,
          inputs = $(this).closest('div.nested').find(':input');
      $(inputs[2]).val(record.data("id"));
    }
  });
</script>
