<div class="tabs">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>

    <li>
      <a href="#budget-allocations">Dotações orçamentárias</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="budget-allocations">
    <%= render 'budget_allocations', :f => f %>
  </div>
</div>

<script>
  $('form.purchase_solicitation').on('change', '.material', function (event, material) {
    if (material) {
      $(this).closest('.item').find('.reference-unit').val(material.reference_unit);
    }
  });

  function calcItemOrder() {
    $('.purchase-solicitation-budget-allocation').each(function(index, item){
      $(this).find('.item .hidden .destroy[value=false]').each(function(index, item){
        $(this).parent().parent().find('.order').val(index + 1);
      });
    });
  }

  function calculateItemsTotalValue() {
    var total = new BigNumber(0),
        value;
    $('.item-price:visible').each(function() {
      value = $(this).attr('value');
      if (value) {
        total = total.add(parsePtBrFloat(value));
      }
    });
    $('#purchase_solicitation_total_allocations_items_value').val(numberWithDelimiter(parseFloat(total)));
  }

  $('form.purchase_solicitation').on('keyup', '.item-quantity, .item-unit-price', function() {
    var itemDiv = $(this).closest('.item'),
        itemQuantity = new BigNumber(parsePtBrFloat(itemDiv.find('.item-quantity').val() || '0')),
        itemUnitPrice = new BigNumber(parsePtBrFloat(itemDiv.find('.item-unit-price').val() || '0')),
        total = numberWithDelimiter(parseFloat(itemQuantity.multiply(itemUnitPrice)));

    itemDiv.find('.item-price').val(total);
    calculateItemsTotalValue();
  });

  $('form.purchase_solicitation').on('click', '.remove-purchase-solicitation-budget-allocation, .remove-item', function() {
    calculateItemsTotalValue();
    calcItemOrder();
  });

  $('form.purchase_solicitation').on('nestedForm:afterAdd', function(){
    calcItemOrder();
    setMaterialLabel();
    setMaterialModalUrl();
    setBudgetAllocationModalUrl();
  });

  $('#purchase_solicitation_budget_structure_id').on("change", function(event, budget_structure) {
    setBudgetAllocationModalUrl();
  });

  calcItemOrder();

  function setBudgetAllocationModalUrl() {
    var url = "<%= modal_budget_allocations_path %>",
    budgetStructureId = $("#purchase_solicitation_budget_structure_id").val(),
    params = {
      locked_fields: ['budget_structure'],
      budget_structure_id: budgetStructureId
    }

    if (budgetStructureId) {
      url += "?" + jQuery.param(params);
    }

    $(".budget-allocation").data('modal-url', url);
  }

  function setMaterialModalUrl(){
    var url = "<%= modal_materials_path %>?",
    params = {
      locked_fields: ['material_characteristic'],
      by_characteristic: materialCharacteristic()
    };

    url += jQuery.param(params);
    $(".material").data('modal-url', url);
  }

  function setMaterialLabel() {
    $(".material").prev("label").html(materialOrService());
    $.each($(".material"), function(index, item) {
      $(item).requiredField(false);
      $(item).requiredField(true);
    });
  }

  function materialOrService() {
    var materialOrService,
        purchaseSolicitationKind = $('#purchase_solicitation_kind').val();

    if (purchaseSolicitationKind === "<%= PurchaseSolicitationKind::SERVICES %>") {
      materialOrService = "Serviço";
    } else {
      materialOrService = "Material";
    }

    return materialOrService;
  }

  function materialCharacteristic() {
    var characteristic,
        purchaseSolicitationKind = $('#purchase_solicitation_kind').val();

    if (purchaseSolicitationKind === "<%= PurchaseSolicitationKind::SERVICES %>") {
      characteristic = "service";
    } else {
      characteristic = "material";
    }

    return characteristic;
  }
</script>
