<table class="records">
  <thead>
    <tr>
      <th>
        <%= resource_class.human_attribute_name :id %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :justification %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :request_date %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :responsible %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :kind %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :service_status %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% localized(collection) do |resource| %>
      <tr id="<%= dom_id resource %>">
        <td>
          <%= resource.id %>
        </td>
        <td>
          <%= link_to resource.justification, edit_resource_path(resource) %>
        </td>
        <td>
          <%= resource.request_date %>
        </td>
        <td>
          <%= resource.responsible %>
        </td>
        <td>
          <%= resource.kind_humanize %>
        </td>
        <td>
          <%= resource.service_status_humanize %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
