<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :service_status %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :code %>
  </div>
  <div class="yui3-u-1-2">
    <%= f.input :accounting_year %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :request_date %>
  </div>
  <div class="yui3-u-1-2">
    <%= f.input :department %>
  </div>
</div>