<tr id="purchase_solicitation-id-<%= f.object.id %>" class="record price-collection">
  <td class="code_and_year">
    <%= code_and_year %>
  </td>
  <td class="department">
    <%= department %>
  </td>
  <td class="responsible">
    <%= responsible %>
  </td>
  <td>
    <input id="price_collection_purchase_solicitations_record_<%= id %>_id" class="purchase-solicitation-id autocomplete-form-hidden-id" type="hidden" name="<%= f.sanitized_object_name %>[purchase_solicitation_ids][]" value="<%= id %>" />

    <a href="#" class="autocomplete-form-remove">Remover</a>
  </td>
</tr>
