<div id="purchase_solicitation_secretaries">

  <div class="nested-fields add-margin-bottom">
    <%= hidden_field_tag :secretary_id, nil, :name => 'secretary[id]' %>

    <div class="yui3-g">
      <div class="yui3-u-1-2">
        <%= f.input :secretary, :as => :auto_complete, :fake => true,
                    'data-hidden-field-class' => 'unique',
                    :source_path => secretaries_path,
                    :required => true %>
      </div>
    </div>

    <div class="yui3-u-1-6">
      <%= button_tag 'Adicionar', type: :button,
                     :class => 'button add-nested-record field-without-label',
                     'data-template' => 'purchase_solicitation_secretaries_template',
                     'data-records' => 'secretaries-records',
                     'data-disabled' => not_updateable_message %>
    </div>
  </div>

  <%= f.error :secretaries %>

  <table id="secretaries-records" class="records">
    <thead>
    <tr>
      <th><%= PurchaseSolicitation.human_attribute_name :secretary %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= f.association :secretaries, :collection => localized(f.object.secretaries) do |p| %>
      <%= render 'purchase_solicitation_secretaries/form',
                 id: p.object.id,
                 secretary: p.object.secretary,
                 secretary_id: p.object.secretary_id,
                 f: p %>
    <% end %>
    </tbody>
  </table>

  <%= mustache "purchase_solicitation_secretaries_template" do %>
    <%= f.association :secretaries_attributes, :collection => f.object.secretaries.build, :index => '{{uuid}}' do |p| %>
      <%= render 'purchase_solicitation_secretaries/form',
                 id: '{{id}}',
                 secretary: '{{secretary}}',
                 secretary_id: '{{secretary_id}}',
                 f: p %>
    <% end %>
  <% end %>
</div>