<div id="purchase_solicitation_purchase_forms">

  <div class="nested-fields add-margin-bottom">
    <%= hidden_field_tag :purchase_form_id, nil, :name => 'purchase_solicitation_purchase_form[id]' %>

    <div class="yui3-g">
      <div class="yui3-u-1-3">
        <%= f.input :purchase_form, :as => :auto_complete, :fake => true,
                    'data-hidden-field-class' => 'unique',
                    :source_path => purchase_forms_path,
                    :required => true %>
      </div>
    </div>

    <div class="yui3-u-1-6">
      <%= button_tag 'Adicionar', type: :button,
                     :class => 'button add-nested-record field-without-label',
                     'data-template' => 'purchase_solicitation_purchase_forms_template',
                     'data-records' => 'purchase_forms-records',
                     'data-disabled' => not_updateable_message %>
    </div>
  </div>

  <%= f.error :purchase_forms %>

  <table id="purchase_forms-records" class="records">
    <thead>
    <tr>
      <th><%= PurchaseSolicitation.human_attribute_name :purchase_form %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= f.association :purchase_forms, :collection => localized(f.object.purchase_forms) do |p| %>
      <%= render 'purchase_solicitation_purchase_forms/form',
                 id: p.object.id,
                 purchase_form: p.object.purchase_form,
                 purchase_form_id: p.object.purchase_form_id,
                 f: p %>
    <% end %>
    </tbody>
  </table>

  <%= mustache "purchase_solicitation_purchase_forms_template" do %>
    <%= f.association :purchase_forms_attributes, :collection => f.object.purchase_forms.build, :index => '{{uuid}}' do |p| %>
      <%= render 'purchase_solicitation_purchase_forms/form',
                 id: '{{id}}',
                 purchase_form: '{{purchase_form}}',
                 purchase_form_id: '{{purchase_form_id}}',
                 f: p %>
    <% end %>
  <% end %>
</div>