<%= f.input :purchase_form %>

<div class="yui3-g" style="margin-bottom: 2em">
  <div class="yui3-u-1-2">
    <div>
      <label class=""> Despesa </label>
      <input class="string"
             disabled="disabled" id="purchase_solicitation_expense_id"
             value="<%= f.object.decorator.expense %>" >
    </div>
  </div>

  <div class="yui3-u-1-2">
    <div>
      <label class=""> Orgão </label>
      <input class="string"
             disabled="disabled" id="purchase_solicitation_expense_organ"
             value="<%= f.object.decorator.organ %>" >
    </div>
  </div>


</div>

<div class="yui3-g" style="margin-bottom: 2em">
  <div class="yui3-u-1-2">
    <div>
      <label class=""> Unidade </label>
      <input class="string"
             disabled="disabled" id="purchase_solicitation_expense_unity"
             value="<%= f.object.decorator.unity %>" >
    </div>
  </div>

  <div class="yui3-u-1-2">
    <div>
      <label class=""> Referência da Despesa</label>
      <input class="string"
             disabled="disabled" id="purchase_solicitation_expense_reference_expense"
             value="<%= f.object.decorator.reference_expense %>" >
    </div>
  </div>


</div>

<div class="yui3-g" style="margin-bottom: 2em">
  <div class="yui3-u-1-2">
    <div>
      <label class=""> Projeto Atividade </label>
      <input class="string"
             disabled="disabled" id="purchase_solicitation_expense_description_project_activity"
             value="<%= f.object.decorator.description_project_activity %>" >
    </div>
  </div>

  <div class="yui3-u-1-2">
    <div>
      <label class=""> Natureza da Despesa </label>
      <input class="string"
             disabled="disabled" id="purchase_solicitation_expense_nature_expense"
             value="<%= f.object.decorator.nature_expense %>" >
    </div>
  </div>
</div>

<div class="yui3-g" style="margin-bottom: 2em">
  <div class="yui3-u-1-2">
    <div>
      <label class=""> Fonte de Recurso </label>
      <input class="string"
             disabled="disabled" id="purchase_solicitation_expense_resource_source"
             value="<%= f.object.decorator.resource_source %>" >
    </div>
  </div>

  <div class="yui3-u-1-2">
    <div>
      <label class=""> Descrição da Fonte de Recurso </label>
      <input class="string"
             disabled="disabled" id="purchase_solicitation_expense_description_resource_source"
             value="<%= f.object.decorator.description_resource_source %>" >
    </div>
  </div>
</div>

<script>
  function is_nil(val){
      return val == null ? '': val
  }

    $("#purchase_solicitation_purchase_form_id").on("change", function(event, purchaseForm) {
        expense = $("#purchase_solicitation_expense_id");
        unity = $("#purchase_solicitation_expense_unity");
        organ = $("#purchase_solicitation_expense_organ");
        reference_expense = $("#purchase_solicitation_expense_reference_expense");
        description_project_activity = $("#purchase_solicitation_expense_description_project_activity");
        nature_expense = $("#purchase_solicitation_expense_nature_expense");
        resource_source = $("#purchase_solicitation_expense_resource_source");
        description_resource_source = $("#purchase_solicitation_expense_description_resource_source");

        if(!purchaseForm){
            expense.val('');
            unity.val('');
            organ.val('');
            reference_expense.val('');
            description_project_activity.val('');
            nature_expense.val('');
            resource_source.val('');
            description_resource_source.val('');
        }else{
            expense.val(is_nil(purchaseForm.expense));
            unity.val(purchaseForm.unity);
            organ.val(purchaseForm.organ);
            reference_expense.val(purchaseForm.reference_expense);
            description_project_activity.val(purchaseForm.description_project_activity);
            nature_expense.val(purchaseForm.nature_expense);
            resource_source.val(purchaseForm.resource_source);
            description_resource_source.val(purchaseForm.description_resource_source);
        }
    });
</script>