<div class="yui3-g modal-finder">
  <div class="yui3-u-1-2">
    <%= f.association :purchase_solicitations, :as => :modal, :hidden_field => false, :input_html => { :value => nil, :class => 'purchase-solicitation-modal' }, :modal_url => modal_purchase_solicitations_path %>
  </div>
</div>

<input type="hidden" name=<%= "purchase_solicitation_item_group[purchase_solicitation_item_group_materials_attributes]" + ( f.object.persisted? ? "[0]" : "[fresh-0]" ) + "[purchase_solicitation_ids][]" %> />

<%= f.error :purchase_solicitation_item_group_material_purchase_solicitations  %>

<%= f.input :purchase_solicitation_ids, :as => :hidden, :input_html => { :id => 'purchase-solicitation-ids' , :class => 'purchase-solicitation-ids', :name => 'purchase-solicitation-name'} %>

<table class="records table-puchase-solicitation">
  <thead>
    <tr>
      <th>
        <%= PurchaseSolicitation.human_attribute_name :purchase_solicitation %>
      </th>
      <th>
        <%= PurchaseSolicitation.human_attribute_name :quantity_by_material %>
      </th>
      <th>
      </th>
    </tr>
  </thead>

  <tbody class="<%="#{'purchase_solicitation_item_group_purchase_solicitation_item_group_materials_attributes_' unless f.object.persisted? || f.object.errors.any?}#{f.nested_identifier}_purchase_solicitations_records" %>">
    <% f.object.purchase_solicitations.each do |p| %>
      <%= render 'purchase_solicitations/list_form',
                 :purchase_solicitation => p,
                 :id => p.id,
                 :quantity_by_material => p.decorator.quantity_by_material(f.object.material_id),
                 :f => f,
                 :data_disabled => data_disabled %>
    <% end %>
  </tbody>
</table>

<%= mustache "#{'purchase_solicitation_item_group_purchase_solicitation_item_group_materials_attributes_' unless f.object.persisted? || f.object.errors.any?}#{f.nested_identifier}_purchase_solicitations_template" do %>
  <%= f.association :purchase_solicitation_ids, :collection => f.object.purchase_solicitations.build do |p| %>
    <%= render 'purchase_solicitations/list_form',
               :purchase_solicitation => '{{purchase_solicitation}}',
               :id => '{{id}}',
               :quantity_by_material => "{{quantity_by_material}}",
               :f => p,
               :data_disabled => nil %>
  <% end %>
<% end %>
