<div id="record">
  <table class="records">
    <thead>
      <tr>
        <th>
          <%= CheckingAccountStructure.human_attribute_name :name %>
        </th>
        <th>
          <%= CheckingAccountStructure.human_attribute_name :tag %>
        </th>
        <th>
          <%= CheckingAccountStructure.human_attribute_name :checking_account_structure_information %>
        </th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% f.object.checking_account_structures.each do |resource| %>
        <tr>
          <td>
            <%= resource.name %>
          </td>
          <td>
            <%= resource.tag %>
          </td>
          <td>
            <%= resource.checking_account_structure_information %>
          </td>
          <td>
            <%= link_to_modal_info :label => 'Detalhes', :href => checking_account_structure_path(resource) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
