<div class="buttons">
  <% if f.object.waiting? %>
    <%= f.button :submit %>

    <% if f.object.persisted? %>
      <%= f.button :submit, 'Liberar' %>
      <%= f.button :submit, 'Anular', :class => 'negative' %>
    <% end %>
  <% end %>

  <%= f.object.decorator.build_licitation_process_link %>
  <%= link_to "Imprimir", resource_path(resource), :class => 'clear button neutral' if f.object.released? %>
  <%= f.button :cancel %>
</div>
