<div class="buttons">
  <% if f.object.waiting? %>
    <%= f.button :submit %>
    <%= f.button :submit, 'Anular', :class => 'negative' if f.object.persisted? %>
  <% end %>

  <%= release_button %>
  <%= build_licitation_process_link %>
  <%= link_to("Solicitação de abertura de processo licitatório",
              resource_path(resource),
              :class => 'clear button neutral',
              'data-disabled' => f.object.decorator.not_released_message) if f.object.persisted? %>
  <%= f.button :back %>
</div>
