<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :process, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :year, :disabled => f.object.persisted? %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :date %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :protocol %>
  </div>
</div>

<%= f.input :budget_unit %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :object_type %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :item %>
  </div>
</div>

<%= f.input :modality %>
<%= f.input :judgment_form %>
<%= f.input :description %>
<%= f.input :responsible %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :status, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :delivery_date, :disabled => true %>
  </div>
</div>

<script>
  (function () {
    var modalitiesGroups = <%= AdministrativeProcessModalitiesByObjectType.new.modalities_groups.to_json.html_safe %>,
        modalitiesOptions = _(<%= AdministrativeProcessModality.to_a.to_json.html_safe %>);

    function filterModalities () {
      var options = _(modalitiesGroups[this.value]);

      if (options.isUndefined()) {
        $("#administrative_process_modality").empty().closest("div.input").hide();
        return;
      }

      $("#administrative_process_modality").html("<option></option>").closest("div.input").show();

      modalitiesOptions.each(function (option) {
        if (!options.include(option[1])) {
          return;
        }

        $("#administrative_process_modality").append(function () {
          return $("<option>").text(option[0]).val(option[1]);
        });
      })
    }

    $("#administrative_process_object_type").change(filterModalities).change();
    $("#administrative_process_modality").val("<%= f.object.modality %>");
  })();

  <% if f.object.persisted? %>
    $('form.administrative_process :input').attr('disabled', true);
  <% end %>
</script>
