<div class="tabs">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>

    <li>
      <a href="#budget-allocations">Dotações orçamentárias</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="budget-allocations">
    <%= render 'budget_allocations', :f => f %>
  </div>
</div>

<script>
  $(function () {
    var objectType = $(".object-type-select").val();

    if (objectType) {
      filterModalities(objectType);
    } else {
      disableModalities();
    }

    $('form.administrative_process').on('change', '.object-type-select', function() {
      $('.modal-modality').val('');

      var objectType = $(this).val();
      if (objectType) {
        filterModalities(objectType);
        filterJudgmentForm();
        enableModalities();
      } else {
        disableModalities();
      }
    });

    function filterModalities(objectType) {
      var params = {
        by_object_type: objectType,
        locked_fields: ["object_type"]
      };

      var url = "<%= modal_licitation_modalities_path %>?" + $.param(params);

      $('.modal-modality').data('modal-url', url);
    }

    function filterJudgmentForm() {
      var licitationKindGroups = <%= JudgmentFormLicitationKindByObjectType.new.licitation_kind_groups.to_json.html_safe %>,
          options = _(<%= f.object.decorator.judgment_forms_available.to_json.html_safe %>),
          value = $("#administrative_process_object_type").val(),
          valid_groups = _(licitationKindGroups[value]);

      if (!valid_groups.isUndefined()) {
        $("#administrative_process_judgment_form_id").html("");

        options.each(function(judgment_form) {
          valid_groups.each(function(valid_licitation_kind) {
            if (judgment_form.licitation_kind == valid_licitation_kind) {
              $("#administrative_process_judgment_form_id").append(function() {
                return $("<option>").text(judgment_form.description).val(judgment_form.id);
              });
            }
          });
        });

        <% if f.object.judgment_form %>
          $("#administrative_process_judgment_form_id option").filter('[value="<%= f.object.judgment_form_id %>"]').attr("selected", "selected");
        <% end %>
      }
    }

    function disableModalities() {
      $('.modal-modality').attr("disabled", "disabled");
    }

    function enableModalities() {
      $('.modal-modality').removeAttr("disabled");
    }

    filterJudgmentForm();
  });

  (function () {
    var purchaseSolicitationItemGroupId = $("#administrative_process_purchase_solicitation_item_group_id").val(),
        purchaseSolicitationId = $("#administrative_process_purchase_solicitation_id").val();

    if (purchaseSolicitationItemGroupId) {
      disablePurchaseSolicitation();
      disableBudgetAllocations();
    } else if (purchaseSolicitationId) {
      disablePurchaseSolicitationItemGroup();
      disableBudgetAllocations();
    }
  })();

  $("#administrative_process_purchase_solicitation_item_group_id").on("change", function (event, purchase_solicitation_item_group) {
    $("#administrative-process-budget-allocation").empty();

    if (purchase_solicitation_item_group) {
      $.each(purchase_solicitation_item_group.purchase_solicitations, function (i, purchase_solicitation) {
        $.each(purchase_solicitation.budget_allocations, function (i, budget_allocation) {
          renderBudgetAllocation(budget_allocation);
        });
      });

      disableBudgetAllocations();
      disablePurchaseSolicitation();
    } else {
      enableBudgetAllocations();
      enablePurchaseSolicitation();
    }

    calculateAllocationsTotalValue();
  });

  $("#administrative_process_purchase_solicitation_id").on("change", function (event, purchase_solicitation) {
    $("#administrative-process-budget-allocation").empty();

    if (purchase_solicitation) {
      $.each(purchase_solicitation.budget_allocations, function (i, budget_allocation) {
        renderBudgetAllocation(budget_allocation);
      });

      disableBudgetAllocations();
      disablePurchaseSolicitationItemGroup();
      fulfillResponsible(purchase_solicitation.responsible);
    } else {
      enableBudgetAllocations();
      enablePurchaseSolicitationItemGroup();
    }

    calculateAllocationsTotalValue();
  });

  function fulfillResponsible(responsible) {
    var oldResponsible = $('#administrative_process_responsible_id').val();

    if (responsible && oldResponsible == "") {
      $('#administrative_process_responsible').val(responsible.to_s);
      $('#administrative_process_responsible_id').val(responsible.id);
    }
  }

  function renderBudgetAllocation(budget_allocation) {
    var budgetAllocationBinds = [];
    var budgetAllocationUUID = _.uniqueId();

    budgetAllocationBinds["uuid-administrative-process-budget-allocation"] = "fresh-" + budgetAllocationUUID;

    $("#administrative-process-budget-allocation").append(
      $("#administrative-process-budget-allocation-template").mustache(budgetAllocationBinds)
    ).trigger("nestedForm:afterAdd");

    fillBudgetAllocation(budgetAllocationUUID, budget_allocation);
  }

  function fillBudgetAllocation(uuid, budget_allocation) {
    var prefixNameUuid = "#administrative_process_administrative_process_budget_allocations_attributes_fresh-" + uuid;

    $(prefixNameUuid + "_budget_allocation").val(budget_allocation.description);
    $(prefixNameUuid + "_budget_allocation_id").val(budget_allocation.budget_allocation_id);
    $(prefixNameUuid + "_budget_allocation_amount").val(numberWithDelimiter(budget_allocation.amount));
    $(prefixNameUuid + "_value").val(numberWithDelimiter(budget_allocation.total_items_value));
  }

  function disableBudgetAllocations() {
    $("#budget-allocations :input").attr("disabled", "disabled");
    $("#budget-allocations .add-administrative-process-budget-allocation").hide();
    $("#budget-allocations .remove-administrative-process-budget-allocation").hide();
  }


  function enableBudgetAllocations() {
    $("#budget-allocations .add-administrative-process-budget-allocation").attr("disabled", false);
    $("#budget-allocations .add-administrative-process-budget-allocation").show();
  }

  <% if f.object.persisted? && !f.object.waiting? %>
    $('form.administrative_process :input').not('[data-disabled]').attr('disabled', true);
    $('form.administrative_process .add-administrative-process-budget-allocation').hide();
    $('form.administrative_process .remove-administrative-process-budget-allocation').hide();
  <% end %>

  function calculateAllocationsTotalValue() {
    var total = 0,
        value;

    $('.allocation-value:visible').each(function() {
      value = $(this).val();

      if (value) {
        total += parsePtBrFloat(value);
      }
    });

    $('#administrative_process_total_allocations_value').val(numberWithDelimiter(total));
  }

  $('form.administrative_process').on('keyup', '.allocation-value', function() {
    calculateAllocationsTotalValue();
  });

  $('form.administrative_process').on('click', '.remove-administrative-process-budget-allocation', function() {
    calculateAllocationsTotalValue();
  });

  $('form.administrative_process').on('change', '.budget-allocation', function (event, budget_allocation) {
    if (budget_allocation){
      $(this).closest('.administrative-process-budget-allocation').find('.amount').val(budget_allocation.amount);
    } else {
      $(this).closest('.administrative-process-budget-allocation').find('.amount').val("");
    }
  });

  function disablePurchaseSolicitation() {
    $("#administrative_process_purchase_solicitation").attr("disabled", "disabled");
  }

  function disablePurchaseSolicitationItemGroup() {
    $("#administrative_process_purchase_solicitation_item_group").attr("disabled", "disabled");
  }

  function enablePurchaseSolicitation() {
    $("#administrative_process_purchase_solicitation").removeAttr("disabled");
  }

  function enablePurchaseSolicitationItemGroup() {
    $("#administrative_process_purchase_solicitation_item_group").removeAttr("disabled");
  }
</script>
