<div class="tabs">
  <ul>
    <li><a href="#general">Dados gerais</a></li>
    <li><a href="#budget-allocations">Dotações orçamentárias</a></li>
  </ul>

  <div id="general">
    <%= render 'general', :f => f %>
  </div>

  <div id="budget-allocations">
    <%= render 'budget_allocations', :f => f %>
  </div>
</div>

<script>
  (function () {
    var modalitiesGroups = <%= AdministrativeProcessModalitiesByObjectType.new.modalities_groups.to_json.html_safe %>,
        modalitiesOptions = _(<%= AdministrativeProcessModality.to_a.to_json.html_safe %>);

    function filterModalities () {
      var options = _(modalitiesGroups[this.value]);

      if (options.isUndefined()) {
        $("#administrative_process_modality").empty().closest("div.input").hide();
        return;
      }

      $("#administrative_process_modality").html("<option></option>").closest("div.input").show();

      modalitiesOptions.each(function (option) {
        if (!options.include(option[1])) {
          return;
        }

        $("#administrative_process_modality").append(function () {
          return $("<option>").text(option[0]).val(option[1]);
        });
      })
    }

    $("#administrative_process_object_type").change(filterModalities).change();
    $("#administrative_process_modality").val("<%= f.object.modality %>");
  })();

  <% if f.object.persisted? && !f.object.waiting? %>
    $('form.administrative_process :input').attr('disabled', true);
    $('form.administrative_process .add-administrative-process-budget-allocation').hide();
    $('form.administrative_process .remove-administrative-process-budget-allocation').hide();
  <% end %>

  function calculateAllocationsTotalValue() {
    var total = 0,
    value;

    $.each($('.allocation-value:visible'), function() {
      value = $(this).attr('value');
      if (value) {
        total += parsePtBrFloat(value);
      }
    });
    $('#administrative_process_total_allocations_value').val(floatToPtBrString(total));
  }

  $('form.administrative_process').delegate('.allocation-value', 'keyup', function() {
    calculateAllocationsTotalValue();
  });

  $('form.administrative_process').delegate('.remove-administrative-process-budget-allocation', 'click', function() {
    calculateAllocationsTotalValue();
  });

  $('form.administrative_process').delegate('.budget-allocation', 'change', function (event, data) {
    if (data){
      var record = data.record;

      $(this).closest('.administrative-process-budget-allocation').find('.amount').val(record.data("amount"));
    }else{
      $(this).closest('.administrative-process-budget-allocation').find('.amount').val("");
    }
  });
</script>
