<table class="records">
  <thead>
    <tr>
      <th>
        <%= resource_class.human_attribute_name :id %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :process %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :year %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :date %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :protocol %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :modality %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% localized(collection) do |resource| %>
      <tr id="<%= dom_id resource %>">
        <td>
          <%= link_to resource.id, edit_resource_path(resource) %>
        </td>
        <td>
          <%= resource.process %>
        </td>
        <td>
          <%= resource.year %>
        </td>
        <td>
          <%= resource.date %>
        </td>
        <td>
          <%= resource.protocol %>
        </td>
        <td>
          <%= resource.modality_humanize %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
