<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :process, :disabled => true %>
  </div>

  <div class="yui3-u-1-8">
    <%= f.input :year, :disabled => f.object.persisted? %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :date %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :protocol %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :object_type, :input_html => { :class => 'object-type-select' } %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :item %>
  </div>
</div>

<%= f.input :purchase_solicitation, :modal_url => modal_purchase_solicitations_path(:can_be_grouped => true) %>
<%= f.input :purchase_solicitation_item_group, :modal_url => modal_purchase_solicitation_item_groups_path(:not_annulled => true, :pending => true) %>
<%= f.input :licitation_modality, :input_html => { :class => 'modal-modality' } %>
<%= f.input :judgment_form %>
<%= f.input :summarized_object %>
<%= f.input :description %>
<%= f.input :responsible %>
<%= f.input :status, :disabled => true %>
