<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :name %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :code %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :destiny  %>
  </div>
</div>

<div class="yui3-g">

  <div class="yui3-u-1-3">
    <%= f.input :code_description,:disabled => true  %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :code_sub_project_activity %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :year %>
  </div>

</div>
<script>
$(function () {

    $("#project_activity_destiny").blur(function(){
        destiny = $("#project_activity_destiny").val();
        var name;
        if(destiny == 0){
            name = "special_operation";
        }else if(destiny % 2 == 0){
            name = "activity";
        }else{
            name = "project";
        }
        $("#project_activity_code_description").val(name);
    });
});
</script>