<fieldset>

  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <%= f.input :responsible %>
    </div>

    <div class="yui3-u-1-2">
      <%= f.input :regulatory_act %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <%= f.input :start_date %>
    </div>

    <div class="yui3-u-1-2">
      <%= f.input :end_date %>
    </div>
  </div>

  <%= f.input :status %>

  <%= f.input :id, :as => :hidden %>
  <%= f.input :_destroy, :as => :hidden, :input_html => { :class => :destroy } %>

  <p>
    <input type="button" class="button negative remove-budget-structure-responsible" value="Remover Responsável">
  </p>
</fieldset>
