<li class="nav-item">
  <span class='subtitle-menu'>Fornecedor</span>
  <%= link_to :bookmark do  %>
    <i role="presentation">
      <%= image_tag("icon_home.png") %>
    </i>Tela Inicial
  <% end %>
 
  <%= link_to auction_providers_register_external_path do  %>
    <i role="presentation">
      <%= image_tag("icon_library_books.png") %>
    </i>Cadastro
  <%end %>
  <%= link_to [:auction, :auctions] do  %>
    <i role="presentation">
      <%= image_tag("icon_library_books.png") %>
    </i>Pregões e Editais
  <% end %>
</li>
