<li class="nav-item">
<span class='subtitle-menu'>Fornecedor</span>
   <%= link_to :bookmark do  %>
            <i role="presentation">
              <%= image_tag("icon_home.png") %>
            </i>Tela Inicial
          <% end %>
    <%= link_to :bookmark do  %>
            <i role="presentation">
              <%= image_tag("icon_library_books.png") %>
            </i>Cadastro
          <% end %>
          <%= link_to '/auction/auctions' do  %>
            <i role="presentation">
              <%= image_tag("icon_library_books.png") %>
            </i>Pregões e Editais
          <% end %>
  

 <span class='subtitle-menu'>Cadastro</span>

  <%= link_to '/auction/employees' do  %>
            <i role="presentation">
              <%= image_tag("icon_library_books.png") %>
            </i>Funcionários
          <% end %>
  
    <li class="nav-item"><%= link_to "", '/auction/employees' %></li>
    <li class="nav-item"><%= link_to "Gestão de objetos ", :management_objects %></li>
    <li class="nav-item"><%= link_to "Cargos", :positions %></li>


      <a class="nav-link" href="#">Pregoeiro</a>
    <li class="nav-item"><%= link_to "Pregão", :legal_peoples %></li>
    <li class="nav-item"><%= link_to "Fornecedores", :legal_peoples %></li>
   
  
</li>
