<li class="nav-item">
  <span class='subtitle-menu'>Fornecedor</span>
  <%= link_to :bookmark do  %>
    <i role="presentation">
      <%= image_tag("icon_home.png") %>
    </i>Tela Inicial
  <% end %>
  <%= link_to auction_new_auction_legal_people_path(company: true) do  %>
    <i role="presentation">
      <%= image_tag("icon_library_books.png") %>
    </i>Cadastro
  <% end %>
  <%= link_to [:auction, :auctions] do  %>
    <i role="presentation">
      <%= image_tag("icon_library_books.png") %>
    </i>Pregões e Editais
  <% end %>
  <%= link_to [:auction, :appeals] do  %>
    <i role="presentation">
      <%= image_tag("icon_library_books.png") %>
    </i>Intenções de Recurso
  <% end %>
  <span class='subtitle-menu'>Cadastro</span>
  <%= link_to [:auction, :employees] do  %>
    <i role="presentation">
      <%= image_tag("icon_library_books.png") %>
    </i>Funcionários
  <% end %>
  <%= link_to [:auction, :management_objects] do  %>
    <i role="presentation">
      <%= image_tag("icon_library_books.png") %>
    </i>Gestão de Objetos
  <% end %>
  <%= link_to [:auction, :positions] do  %>
    <i role="presentation">
      <%= image_tag("icon_library_books.png") %>
    </i>Cargos
  <% end %>
  <span class='subtitle-menu'>Pregoeiro</span>
  <%= link_to :bookmark do  %>
    <i role="presentation">
      <%= image_tag("icon_library_books.png") %>
    </i>Pregão
  <% end %>
  <%= link_to :legal_peoples do  %>
    <i role="presentation">
      <%= image_tag("icon_library_books.png") %>
    </i>Fornecedores
  <% end %>
</li>
