<li class="nav-item">
  <a class="nav-link" href="#">Fornecedor</a>
  
    <li class="nav-item"><%= link_to "Tela Inicial", :bookmark %></li>
    <li class="nav-item"><%= link_to "Cadastro", :legal_peoples %></li>
    <li class="nav-item"><%= link_to "Pregões e Editais", :legal_peoples %></li>

 <a class="nav-link" href="#">Cadastro</a>
  
    <li class="nav-item"><%= link_to "Funcionário", :physical_peoples %></li>
    <li class="nav-item"><%= link_to "Gestão de objetos ", :management_objects %></li>
    <li class="nav-item"><%= link_to "Cargos", :positions %></li>


      <a class="nav-link" href="#">Pregoeiro</a>
    <li class="nav-item"><%= link_to "Pregão", :legal_peoples %></li>
    <li class="nav-item"><%= link_to "Fornecedores", :legal_peoples %></li>
   
  
</li>
