<li class="nav-item">
  <a class="nav-link" href="#">Fornecedor</a>
  
    <li class="nav-item"><%= link_to "Tela Inicial", :legal_peoples %></li>
    <li class="nav-item"><%= link_to "Cadastro", :legal_peoples %></li>
    <li class="nav-item"><%= link_to "Pregões e Editais", :legal_peoples %></li>
    <a class="nav-link" href="#">Pregoeiro</a>
    <li class="nav-item"><%= link_to "Equipe do Pregão", :legal_peoples %></li>
    <li class="nav-item"><%= link_to "Pregão", :legal_peoples %></li>
    <li class="nav-item"><%= link_to "Fornecedores", :legal_peoples %></li>
   
  
</li>
