<%= f.input :person %>
<%= f.input :position %>
<%= f.input :kind %>

<div class="yui3-g">
  <div class="yui3-u-1-6">
    <%= f.input :start_date %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :end_date %>
  </div>
</div>
