<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :code %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :source, :disabled => true %>
  </div>
</div>

<%= f.input :variable %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :name %>
  </div>
</div>

<%= f.input :specification %>
