<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :nature_balance %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :bookkeeping %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :nature_information %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :surplus_indicator %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :nature_balance_variation %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :movimentation_kind %>
  </div>
</div>
