<div id="title">
  <h5><%= "FORNECEDOR: #{current_user.try(:authenticable).try(:name)}" %></h5>
  <h5>
    <b>PROCESSO DE COMPRA: </b><%= "#{@auction.process_number}/#{@auction.year} " %>
    <b>PREGÃO: </b><%= "#{@auction.licitation_number}/#{@auction.year} " %>
    <b>OBJETO: </b><%= "#{@auction.object}" %>
  </h5>
  <h5>
    <b>PREGOIERO: </b><%= "#{@auction.try(:user).try(:authenticable).try(:name)}" %>
  </h5>
  <h5>
    <b><%= "Data da Licitação: #{@auction.notice_availability.strftime('%d/%m/%Y - %H h')}" %></b>
    <b><%= "Data Atual: #{Time.now.strftime('%d/%m/%Y - %H h')}" %></b>
  </h5>
</div>

<%= render 'lots', f: f %>

<div class="row">
  <div class="col">
    <%= render 'chat' %>
  </div>
  <div class="col">
    <%= render 'all_bids' %>
  </div>
</div>


<style>
  h2#title{
    display: none;
  }

  div#title h5{
    font-size: 15px;
    color: #4c7baa;
  }
</style>