<div id="additive_solicitation_items">

  <div class="nested-fields add-margin-bottom">
    <%= hidden_field_tag :item_id, nil, :name => 'additive_solicitation_item[id]' %>

    <div class="yui3-g">
      <div class="yui3-u-1-2">
        <%= f.input :material, :as => :auto_complete, :fake => true,
                    'data-hidden-field-class' => 'unique',
                    :source_path => materials_path,
                    :required => true, disabled: true %>
      </div>
    </div>
    <div class="yui3-g">
      <div class="yui3-u-1-4">
        <%= f.input :quantity, :as => :fake, :required => true, disabled: true %>
      </div>
      <div class="yui3-u-1-4">
        <%= f.input :value, :as => :fake, :required => true, disabled: true %>
      </div>
      <div class="yui3-u-1-8">
        <div class="input fake required additive_solicitation_balance">
          <label class="fake required" for="additive_solicitation_balance">Margem</label>
          <input class="string fake required" id="additive_solicitation_balance" name="additive_solicitation[balance]" type="text" readonly>
        </div>
      </div>
    </div>

    <div class="yui3-u-1-6">
      <%= button_tag 'Adicionar', type: :button,
                     :class => 'button add-nested-record field-without-label',
                     'data-template' => 'additive_solicitation_items_template',
                     'data-records' => 'items-records',
                     'data-disabled' => not_updateable_message %>
    </div>
  </div>

  <%= f.error :items %>

  <table id="items-records" class="records">
    <thead>
    <tr>
      <th><%= AdditiveSolicitationItem.human_attribute_name :material %></th>
      <th><%= AdditiveSolicitationItem.human_attribute_name :quantity %></th>
      <th><%= AdditiveSolicitationItem.human_attribute_name :value %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= f.association :items, :collection => localized(f.object.items) do |p| %>
      <%= render 'additive_solicitation_items/form',
                 id: p.object.id,
                 material: p.object.material,
                 material_id: p.object.material_id,
                 quantity: p.object.quantity,
                 value: p.object.value,
                 f: p %>
    <% end %>
    </tbody>
  </table>

  <%= mustache "additive_solicitation_items_template" do %>
    <%= f.association :items_attributes, :collection => f.object.items.build, :index => '{{uuid}}' do |p| %>
      <%= render 'additive_solicitation_items/form',
                 id: '{{id}}',
                 material: '{{material}}',
                 material_id: '{{material_id}}',
                 quantity: '{{quantity}}',
                 value: '{{value}}',
                 f: p %>
    <% end %>
  <% end %>
</div>