<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :number, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :year %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :licitation_process, :required => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :modality_or_type_of_removal, as: :fake, disabled: true,
                input_html: {value: f.object.decorator.modality_or_type_of_removal} %>
  </div>
</div>

<div class="yui3-g">

  <div class="yui3-u-1-2">
    <%= f.input :creditor, :required => true, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :department, :required => true, :disabled => true %>
  </div>

</div>

