<p>Parcelas do Empenho</p>

<table id="expirations" class="records">
  <thead>
    <tr>
      <th>Parcela</th>
      <th>Vencimento</th>
      <th>Valor inicial</th>
      <th>Valor a subempenhar</th>
    </tr>
  </thead>
  <tbody>
    <% f.object.pledge_parcels.each do |pledge_parcel| %>
      <tr id="parcel_<%= pledge_parcel.number %>">
        <td>
          <%= pledge_parcel.number %>
        </td>
        <td>
          <%= pledge_parcel.decorator.expiration_date %>
        </td>
        <td class="value">
          <%= pledge_parcel.decorator.value %>
        </td>
        <td class="balance">
          <%= pledge_parcel.decorator.balance_as_currency %>
        </td>
      </tr>
      <% %>
    <% end %>
  </tbody>
</table>

<%= f.input :pledge_balance, :disabled => true, :input_html => { :value => f.object.decorator.pledge_balance } %>

<%= f.input :subpledge_expirations_sum, :disabled => true, :input_html => { :value => f.object.decorator.subpledge_expirations_sum } %>

<%= f.input :value %>

<%= mustache 'pledge-expiration-template' do %>
    <tr id="parcel_{{number}}">
      <td>
        {{number}}
      </td>
      <td>
        {{expiration_date}}
      </td>
      <td>
        {{value}}
      </td>
      <td>
        {{balance}}
      </td>
    </tr>
<% end %>

<p>
  <input type="button" class="button affirmative add-subpledge-expiration" value="Adicionar Parcela">
</p>

<div id="subpledge-expirations">
  <%= f.association :subpledge_expirations, :collection => localized(f.object.subpledge_expirations) do |e| %>
    <%= render 'subpledge_expirations/form', :f => e %>
  <% end %>
</div>

<%= mustache 'subpledge-expirations-template' do %>
  <%= f.association :subpledge_expirations_attributes, :collection => f.object.subpledge_expirations.build, :index => '{{uuid_subpledge_expiration}}' do |e| %>
    <%= render 'subpledge_expirations/form', :f => e %>
  <% end %>
<% end %>

<script>
  $("#subpledge-expirations-template").nestedForm({
    add: '.add-subpledge-expiration',
    remove: '.remove-subpledge-expiration',
    target: '#subpledge-expirations',
    uuid: 'uuid_subpledge_expiration',
    fieldToRemove: '.subpledge-expiration',
    right: true,
    appendItem: false
  });
</script>
