<table id="expirations" class="records">
  <thead>
    <tr>
      <th>Número</th>
      <th>Vencimento</th>
      <th>Valor</th>
      <th>Saldo a Subempenhar</th>
    </tr>
  </thead>
  <tbody>
    <% f.object.pledge_expirations.each do |pledge_expiration| %>
      <tr>
        <td>
          <%= pledge_expiration.number %>
        </td>
        <td>
          <%= pledge_expiration.presenter.expiration_date %>
        </td>
        <td>
          <%= pledge_expiration.presenter.value_as_currency %>
        </td>
        <td>
          <%= pledge_expiration.presenter.balance_as_currency %>
        </td>
      </tr>
      <% %>
    <% end %>
  </tbody>
</table>

<%= mustache 'pledge-expiration-template' do %>
    <tr>
      <td>
        {{number}}
      </td>
      <td>
        {{expiration_date}}
      </td>
      <td>
        {{value}}
      </td>
      <td>
        {{balance}}
      </td>
    </tr>
<% end %>

<p>
  <input type="button" class="button affirmative add-subpledge-expiration" value="Adicionar Parcela">
</p>

<div id="subpledge-expirations">
  <%= f.association :subpledge_expirations, :collection => localized(f.object.subpledge_expirations) do |e| %>
    <%= render 'subpledge_expirations/form', :f => e %>
  <% end %>
</div>

<%= mustache 'subpledge-expirations-template' do %>
  <%= f.association :subpledge_expirations_attributes, :collection => f.object.subpledge_expirations.build, :index => '{{uuid_subpledge_expiration}}' do |e| %>
    <%= render 'subpledge_expirations/form', :f => e %>
  <% end %>
<% end %>

<script>
  $("#subpledge-expirations-template").nestedForm({
    add: '.add-subpledge-expiration',
    remove: '.remove-subpledge-expiration',
    target: '#subpledge-expirations',
    uuid: 'uuid_subpledge_expiration',
    fieldToRemove: '.subpledge-expiration',
    right: true
  });
</script>
