<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :entity %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :year %>
  </div>
</div>

<%= f.input :pledge, :modal_url => modal_pledges_path(:global_or_estimated => true) %>
<%= f.input :pledge_creditor, :disabled => true %>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :emission_date, :disabled => true, :input_html => { :value => f.object.presenter.emission_date } %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :pledge_value, :disabled => true, :input_html => { :value => f.object.presenter.pledge_value } %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :balance, :disabled => true, :input_html => { :value => f.object.presenter.balance } %>
  </div>
</div>

<%= f.input :number, :disabled => true %>
<%= f.input :creditor %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :date %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :value %>
  </div>
</div>

<%= f.input :process_number %>
<%= f.input :description %>
