<tr data-value="<%= record.id %>" data-label="<%= record %>" data-type="<%= record.class.to_s %>" data-emission-date="<%= record.decorator.emission_date %>" data-pledge-value="<%= record.decorator.pledge_value %>" data-pledge-provider="<%= record.pledge_provider %>" data-pledge="<%= record.pledge %>" data-pledge-id="<%= record.pledge_id %>" data-balance="<%= record.decorator.balance %>">
  <% attributes.each do |attribute| %>
    <td><%= formatted_attribute record, attribute %></td>
  <% end %>
</tr>
