<div class="tabs">
  <ul>
    <li><a href="#general">Informações</a></li>
    <li><a href="#addresses">Endereços</a></li>
    <li><a href="#budget_structure_responsibles">Responsáveis</a></li>
  </ul>

  <div id="general">
    <%= render 'general', :f => f %>
  </div>

  <div id="addresses">
    <%= render 'address', :f => f %>
  </div>

  <div id="budget_structure_responsibles">
    <%= render 'budget_structure_responsible', :f => f %>
  </div>
</div>

<script>
  function configuration_id() {
    return $('#budget_structure_budget_structure_configuration_id').val();
  };

  function addMaskToLevel(){
    var digits = parseInt($('#budget_structure_digits').val()) + 1 ;
    if (digits > 0){
      $('#budget_structure_code').attr('data-mask', Array(digits).join('9') );
    }
  };

  addMaskToLevel();

  function setModalUrlToBudgetStructureParent( level ){
    var urlModal = "<%= modal_budget_structures_path %>?",
        params = {
          locked_fields: ["budget_structure_configuration", "budget_structure_level"],
          search_by_level: level,
          only_synthetic: true,
          budget_structure:{
            budget_structure_configuration_id: configuration_id()
          }
        }

    urlModal += jQuery.param(params);
    $('#budget_structure_parent').attr('data-modal-url', urlModal);
  };

  function budgetStructureLevelValidations() {
    if ( $('#budget_structure_level').val() <= 1 ){
      $('#budget_structure_parent').parent().hide();
    }
  };

  budgetStructureLevelValidations();

  function setModalUrlToBudgetStructureLevel(){
    var urlModal = "<%= modal_budget_structure_levels_path %>?",
        params = {
          budget_structure_level:{
            budget_structure_configuration_id: configuration_id()
          }
        };

    urlModal += jQuery.param(params);
    $('#budget_structure_budget_structure_level').attr('data-modal-url', urlModal);

    if (configuration_id == ''){
      $('#budget_structure_budget_structure_level').attr('disabled', true);
    } else {
      $('#budget_structure_budget_structure_level').attr('disabled', false);
    }
  };

  setModalUrlToBudgetStructureLevel();

  $('#budget_structure_budget_structure_configuration_id').change( function(){
    setModalUrlToBudgetStructureLevel();
    $('#budget_structure_code, #budget_structure_budget_structure, #budget_structure_budget_structure_level').val('');
    $('#budget_structure_parent').parent().hide();
    $('#budget_structure_parent').attr('data-modal-url', '');
  });

  $('#budget_structure_budget_structure_level_id').change(function (event, level) {
    $('#budget_structure_code, #budget_structure_budget_structure').val('');

    if (level) {
      $('#budget_structure_code').attr('data-mask', Array(level.digits + 1).join('9') );

      if (level.level <= 1){
        $('#budget_structure_parent').parent().hide();
        $('#budget_structure_code').attr('disabled', false);
      } else {
        var number_level = level.level - 1;
        $('#budget_structure_parent').parent().show();
        setModalUrlToBudgetStructureParent(number_level);
        $('#budget_structure_code').attr('disabled', true);
        $('#budget_structure_code').val('');
      }
    } else {
      $('#budget_structure_code').attr('data-mask', '');
      $('#budget_structure_parent').parent().hide();
      $('#budget_structure_parent').attr('data-modal-url', '');
    }
  });

  setModalUrlToBudgetStructureParent("<%= f.object.level || 1 - 1 %>");

  var budgedt_structure_mask = "<%= f.object.parent_budget_structure(f.object.parent) %>";

  $('#budget_structure_parent_id').change(function (event, parent) {
    if (parent) {
      budgedt_structure_mask = parent.budget_structure + parent.separator;
      $('#budget_structure_code').attr('disabled', false);
    } else {
      budgedt_structure_mask = '';
      $('#budget_structure_code').attr('disabled', true);
      $('#budget_structure_code').val('');
      $('#budget_structure_budget_structure').val('');
    }
  });

  $('#budget_structure_code').on('change keyup', function() {
    $('#budget_structure_budget_structure').val(budgedt_structure_mask + $(this).val() );
  });
</script>
