<%= f.input :digits, :as => :hidden %>
<%= f.input :level, :as => :hidden %>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :budget_structure_configuration %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :kind %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :budget_structure_level %>
  </div>
</div>

<%= f.input :parent, :label_html => { :id => 'label_budget_structure_parent' } %>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :code %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :budget_structure, :disabled => true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :tce_code %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :description %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :acronym %>
  </div>
</div>

<%= f.input :administration_type %>
<%= f.input :performance_field %>

<script>
  $('#budget_structure_budget_structure_configuration_id').change(function (event, budget_structure_configuration) {
    if (budget_structure_configuration) {
      $('#budget_structure_budget_structure').attr("data-mask", budget_structure_configuration.mask);
    }
  });
</script>
