<table class="records">
  <thead>
    <tr>
      <% ProcessResponsible.decorator.header_attributes.each do |field| %>
        <th><%= resource_class.human_attribute_name field %></th>
      <% end %>
      <th>Responsáveis</th>
    </tr>
  </thead>

  <tbody>
    <% collection.each do |resource| %>
      <tr id="<%= dom_id resource %>">
        <% ProcessResponsible.decorator.header_attributes.each do |field| %>
          <td>
            <% if ProcessResponsible.decorator.link?(field) %>
              <%= link_to(formatted_attribute(resource.decorator, field), edit_resource_path(resource)) %>
            <% else %>
              <%= formatted_attribute(resource.decorator, field) %>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= link_to(link_create_or_edit(resource), edit_process_responsible_path(resource)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
