<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :month, collection: Month.sorted_array, disabled: f.object.persisted? %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :year, disabled: f.object.persisted? %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :control_code, disabled: true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :status_humanize, as: :string, disabled: true %>
  </div>
</div>

<% if f.object.processed_with_errors? %>
  <%= f.input :error_message, disabled: true %>
<% end %>

<p>Arquivos a serem gerados:</p>

<div id='only_files' class='collection-as-block'>
  <%= f.input :check_all, :as => :boolean, :disabled => f.object.persisted?,
              :wrapper_html => { :class => 'check-all' } %>

  <div class='nested-collection'>
    <%= f.collection_check_boxes :only_files, MonthlyMonitoringFiles.list.map { |file|
      [file, MonthlyMonitoringFiles.t(file)] }, :first, :last %>
  </div>
</div>

<script>
  $(function() {
    var $checkAllInput = $("#tce_export_monthly_monitoring_check_all"),
        $fileInputs = $('#only_files input[type=checkbox]').not($checkAllInput);

    $checkAllInput.on('change', function(event) {
      if ($checkAllInput.is(':checked'))
        $fileInputs.attr('checked', 'checked');
      else
        $fileInputs.removeAttr('checked');
    });

    <% if !f.object.persisted? %>
      $checkAllInput.attr('checked', 'checked');
      $checkAllInput.change();
    <% else %>
      $checkAllInput.closest('div').hide();
      $fileInputs.attr('disabled', 'disabled');
    <% end %>
  });
</script>
