<h2>
  Gerar <%= t "#{@report.class.to_s.tableize}.#{@report}.one" %>
</h2>

<%= render 'actions' %>

<%= render 'form_wrapper' %>

<% if @report.valid? && @report.render_list? %>
  <%= render 'new', :resource => @report %>

  <%= paginate @report.records %>
<% end %>
