<%= f.input :code %>

<div class="yui3-g">
  <div class="yui3-u-4-5">
    <p>
      <%= f.input :regulatory_act %>
      <%= link_to_modal_info 'function_regulatory_act', f.object.regulatory_act %>
    </p>
  </div>

  <div class="yui3-u-1-5">
    <p>
      <%= f.input :regulatory_act_vigor_date, :disabled => true, :input_html => { :value => (l(f.object.regulatory_act_vigor_date) if f.object.regulatory_act_vigor_date) } %>
    </p>
  </div>
</div>

<%= f.input :description %>

<script>
  $("#function_regulatory_act_id").change(function (event, regulatory_act) {
    if (regulatory_act) {
      $('#function_regulatory_act_vigor_date').val(regulatory_act.vigor_date);
    } else {
      $('#function_regulatory_act_vigor_date').val('');
    }
  });
</script>
