<%= f.error :purchase_solicitation_item_group_materials %>

<%= f.input :description %>

<p>
  <input type="button" class="button affirmative add-purchase-solicitation-item-group-material" value="Adicionar Material">
</p>

<div id="materials-association">
  <%= f.association :purchase_solicitation_item_group_materials, :collection => localized(f.object.purchase_solicitation_item_group_materials) do |p| %>
    <%= render 'purchase_solicitation_item_group_materials/form', :f => p %>
  <% end %>
</div>

<%= mustache 'purchase-solicitation-item-group-materials-template' do %>
  <%= f.association :purchase_solicitation_item_group_materials_attributes, :collection => f.object.purchase_solicitation_item_group_materials.build, :index => '{{uuid_purchase_solicitation_item_group_material}}' do |p| %>
    <%= render 'purchase_solicitation_item_group_materials/form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#purchase-solicitation-item-group-materials-template").nestedForm({
    add: '.add-purchase-solicitation-item-group-material',
    remove: '.remove-purchase-solicitation-item-group-material',
    target: '#materials-association',
    uuid: 'uuid_purchase_solicitation_item_group_material',
    fieldToRemove: '.purchase-solicitation-item-group-material',
    appendItem: false
  });

  $('form.purchase_solicitation_item_group').on('change', '.material-modal', function(){
     filterModalUrl($(this));
     enableDisablePurchaseSolicitation($(this));
     clearPurchaseSolicitation($(this));
  });

  $('form.purchase_solicitation_item_group').on('focus', '.purchase-solicitation-modal', function(){
    filterModalUrl($(this));
  });

  function filterModalUrl(object){
    object = object.closest('.purchase-solicitation-item-group-material');
    objectPurchaseSolicitationIds = object.find('.purchase-solicitation-ids').val();

    if (typeof objectPurchaseSolicitationIds != 'undefined') {
      objectPurchaseSolicitationIds = objectPurchaseSolicitationIds.replace('[', '').replace(']','');
      objectPurchaseSolicitationIds = objectPurchaseSolicitationIds.split(',');
    }

    var tableItems = [];
    var deletedItems = [];

    object.find('table.records td').children('input').each(function(index, item) {
      tableItems.push($(item).val());
    });

    $(objectPurchaseSolicitationIds).each(function(index, item) {
      if (item != null && item.length > 0 && $.inArray(item, tableItems) == -1) {
        deletedItems.push(item);
      }
    });

    var url = "<%= modal_purchase_solicitations_path %>?",
        params = {
          by_material_id: object.find('.material-modal input:hidden').val(),
          by_pending_or_ids: deletedItems,
          except_ids: tableItems
        };

    url += jQuery.param(params);
    object.find(".purchase-solicitation-modal").attr('data-modal-url', url);
  };

  function enableDisablePurchaseSolicitation(object){
    var value = object.closest('.purchase-solicitation-item-group-material').find('.material-modal input:hidden').val() == ''

    object.closest('.purchase-solicitation-item-group-material').find(".purchase-solicitation-modal").attr('disabled', value);
  };

  function clearPurchaseSolicitation(object){
    object.closest('.purchase-solicitation-item-group-material').find(".record, .purchase-solicitation").html('');
  }


  <% unless resource.editable? %>
    $("form.purchase_solicitation_item_group :input").attr("disabled", true);
    $(".add-purchase-solicitation-item-group-material").hide();
    $(".remove-purchase-solicitation-item-group-material").hide();
    $(".modal-finder-remove").hide();
  <% end %>

  (function(){
    $('.purchase-solicitation-item-group-material').each(function(){
      filterModalUrl($(this));
    });
  })();
</script>
