<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :entity %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :year %>
  </div>
</div>

<%= f.input :organogram %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :function, :as => :modal, :hidden_field => :function_id %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :subfunction, :disabled => f.object.function.blank? %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :government_program %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :government_action %>
  </div>
</div>

<%= f.input :expense_element %>
<%= f.input :capability %>
<%= f.input :description %>
<%= f.input :goal %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :debt_type %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :budget_allocation_type %>
  </div>
</div>

<fieldset>
  <legend>Classificação</legend>

  <div class="yui3-g">
    <div class="yui3-u-1-3">
      <%= f.input :refinancing %>
    </div>

    <div class="yui3-u-1-3">
      <%= f.input :health %>
    </div>

    <div class="yui3-u-1-3">
      <%= f.input :alienation_appeal %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-3">
      <%= f.input :education %>
    </div>

    <div class="yui3-u-1-3">
      <%= f.input :foresight %>
    </div>

    <div class="yui3-u-1-3">
      <%= f.input :personal %>
    </div>
  </div>
</fieldset>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :date %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :amount %>
  </div>
</div>
<script>
  var function_id = $('#budget_allocation_function_id').val();

  $('#budget_allocation_function_id').change(function() {
    if (this.value) {
      $('#budget_allocation_subfunction').attr('disabled', false);
      $('#budget_allocation_subfunction').attr('data-modal-url', subfunctionModalUrl);
    } else {
      $('#budget_allocation_subfunction').attr('disabled', true);
    }

    clearFunction();
  }).change();

  function clearFunction() {
    if ($('#budget_allocation_function_id').val() != function_id) {
      function_id = $('#budget_allocation_function_id').val();

      $('#budget_allocation_subfunction').val('');
      $('#budget_allocation_subfunction_id').val('');
    }
  }

  function subfunctionModalUrl() {
    var url = "<%= modal_subfunctions_path %>?",

        params = {
          locked_fields: ["function"],
          subfunction: {
            function_id: $('#budget_allocation_function_id').val()
          }
        };

    url += jQuery.param(params);

    return url;
  }
</script>
