<tr data-value="<%= record.id %>" data-label="<%= record %>" data-id="<%= record.id %>" data-name="<%= record %>" data-amount="<%= record.amount %>" data-function="<%= record.function %>" data-subfunction="<%= record.subfunction %>" data-government_program="<%= record.government_program %>" data-government_action="<%= record.government_action %>" data-organogram="<%= record.organogram %>" data-expense_economic_classification="<%= record.expense_economic_classification %>" data-type="<%= record.class.to_s %>">
  <% attributes.each do |attribute| %>
    <td>
      <%= record.send attribute %>
    </td>
  <% end %>
</tr>
