<div id="personable-type">
  <%= f.input :personable_type, as: :hidden, input_html:{ value: f.object.personable_type }%>
</div>

<div id="personable">
</div>

<%= mustache 'individual-template' do %>
  <%= render 'individuals/form', :f => f %>
<% end %>

<%= mustache 'company-template' do %>
  <%= render 'companies/form', :f => f %>
<% end %>

<script>
  var partnerNestedForm = {
    set: function(){
      $("#partners-template").nestedForm({
        add: '.add-partner',
        remove: '.remove-partner',
        target: '#partners',
        uuid: 'uuid_partner',
        fieldsWrapper: '.partner',
        appendItem: false
      });

      this.set = function() {}
    }
  };

  var showTemplate = function(selector) {
    $("#personable").html($(selector).mustache());
    loadTabs();
  };

  $(function(){
    <% if f.object.personable_type == PersonableType::INDIVIDUAL  %>
      showTemplate("#individual-template");
    <% end %>

    <% if f.object.personable_type == PersonableType::COMPANY  %>
      showTemplate("#company-template");
      partnerNestedForm.set();
    <% end %>
  });

</script>
