<div id="personable-type">
  <%= f.input :personable_type, :as => 'radio', :collection => [['Pessoa Física', 'Individual'], ['Pessoa Jurídica', 'Company']], :input_html => { :class => 'personable_type' } %>
</div>

<div id="personable">
</div>

<%= mustache 'individual-template' do %>
  <%= render 'individuals/form', :f => f %>
<% end %>

<%= mustache 'company-template' do %>
  <%= render 'companies/form', :f => f %>
<% end %>

<script>
  $("#person_personable_type_individual").click(function () {
    $("#personable").html($("#individual-template").mustache());
  });

  $("#person_personable_type_company").click(function () {
    $("#personable").html($("#company-template").mustache());
  });

  $("input.personable_type[checked]").click();

  <% if f.object.persisted? %>
    $("#personable-type").hide();
  <% end %>
</script>
