<div id="personable-type">
  <%= f.input :personable_type, :as => :radio_buttons, :collection => [['Pessoa Física', 'Unico::Individual'], ['Pessoa Jurídica', 'Unico::Company'], ['Inscrição Especial', 'SpecialEntry']], :input_html => { :class => 'personable_type' } %>
</div>

<div id="personable">
</div>

<%= mustache 'individual-template' do %>
  <%= render 'individuals/form', :f => f %>
<% end %>

<%= mustache 'company-template' do %>
  <%= render 'companies/form', :f => f %>
<% end %>

<%= mustache 'special-entry-template' do %>
  <%= render 'special_entries/form', :f => f %>
<% end %>

<script>
  $("#person_personable_type_unicoindividual").click(function () {
    $("#personable").html($("#individual-template").mustache());
  });

  $("#person_personable_type_unicocompany").click(function () {
    $("#personable").html($("#company-template").mustache());
  });

  $("#person_personable_type_specialentry").click(function () {
    $("#personable").html($("#special-entry-template").mustache());
  });

  $("input.personable_type[checked]").click();

  <% if f.object.persisted? %>
    $("#personable-type").hide();
  <% end %>

  $("#personable").change(loadTabs);
</script>
