<div id="personable-type">
  <%= f.input :personable_type, :as => :radio_buttons, :collection => [['Pessoa Física', 'Individual'], ['Pessoa Jurídica', 'Company']], :input_html => { :class => 'personable_type' } %>
</div>

<div id="personable">
</div>

<%= mustache 'individual-template' do %>
  <%= render 'individuals/form', :f => f %>
<% end %>

<%= mustache 'company-template' do %>
  <%= render 'companies/form', :f => f %>
<% end %>

<script>
  var partnerNestedForm = {
    set: function(){
      $("#partners-template").nestedForm({
        add: '.add-partner',
        remove: '.remove-partner',
        target: '#partners',
        uuid: 'uuid_partner',
        fieldsWrapper: '.partner',
        appendItem: false
      });

      this.set = function() {}
    }
  }

  var showTemplate = function(selector) {
    $("#personable").html($(selector).mustache());
    loadTabs();
  }

  $("#person_personable_type_individual").click(function () {
    showTemplate("#individual-template");
  });

  $("#person_personable_type_company").click(function () {
    showTemplate("#company-template");
    partnerNestedForm.set()
  });

  $("input.personable_type[checked]").click();

  <% if f.object.persisted? %>
    $("#personable-type").hide();
  <% end %>
</script>
