<div id="people_partners">

  <div class="nested-fields add-margin-bottom">
    <%= hidden_field_tag :item_id, nil, :name => 'person[id]' %>
    <div class="yui3-u-g">
      <div class="yui3-u-1-3">
        <%= f.input :person, label: "Sócio", as: :auto_complete, fake: true, 'data-hidden-field-class' => 'unique', :required => true %>
      </div>
      <div class="yui3-u-1-4">
        <%= f.input :percentage,label: "Percentual", as: :fake, :required => true %>
      </div>
      <div class="yui3-u-1-3">
        <div class="input fake person_personable_attributes_society_kind">
          <label class="fake" for="person_personable_attributes_society_kind">Tipo de Sociedade</label>
          <%= select_tag :society_kind, options_for_select(SocietyKind.to_a),
                         include_blank: true, as: :fake, :required => true,
                         class: 'required society_kind select',
                         name: "person_personable_attributes[society_kind][1][extended_partner_attributes][society_kind]" %>
        </div>
      </div>
    </div>
    <div class="yui3-u-1-6">
      <%= button_tag 'Adicionar', type: :button,
                     :class => 'button add-nested-record field-without-label',
                     'data-template' => 'persons_template',
                     'data-records' => 'items-records',
                     'data-disabled' => not_updateable_message, id: "add-material" %>
    </div>
  </div>

  <%= f.error :partners %>

  <table id="items-records" class="records">
    <thead>
    <tr>
      <th><%= "Sócio" %></th>
      <th><%= "Porcentagem" %></th>
      <th><%= "Tipo de Sociedade" %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= f.association :partners, :collection => localized(f.object.partners) do |p| %>
      <%= render 'partners/form',
                 id: p.object.id,
                 person: p.object.person,
                 person_id: p.object.person_id,
                 percentage: p.object.percentage,
                 society_kind: p.object.society_kind_humanize,
                 f: p %>
    <% end %>
    </tbody>
  </table>

  <%= mustache "persons_template" do %>
    <%= f.association :partners_attributes, :collection => f.object.partners.build, :index => '{{uuid}}' do |p| %>
      <%= render 'partners/form',
                 id: '{{id}}',
                 person: '{{person}}',
                 person_id: '{{person_id}}',
                 percentage: '{{percentage}}',
                 society_kind: '{{society_kind}}',
                 f: p %>
    <% end %>
  <% end %>

</div>
