<%= f.input :expense_kind %>
<%= f.input :pledge_historic %>
<%= f.input :licitation_modality %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :licitation_process %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :licitation_process_licitation_number, :disabled => true %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :contract, :modal_url => modal_contracts_path(:management => true) %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :contract_signature_date, :disabled => true, :input_html => { :value => f.object.decorator.contract_signature_date } %>
  </div>
</div>

<%= f.input :description %>

<script>
  $('#pledge_licitation_process_id').change(function (event, licitation_process) {
    if (licitation_process) {
      $('#pledge_licitation_process_licitation_number').val(licitation_process.licitation_number);
    } else {
      $('#pledge_licitation_process_licitation_number').val('');
    }
  });
</script>
