<p>
  <input type="button" class="button affirmative add-pledge-expiration" value="Adicionar Vencimento">
</p>

<%= f.association :pledge_expirations, :collection => localized(f.object.pledge_expirations) do |e| %>
  <%= render 'pledge_expirations/form', :f => e %>
<% end %>

<%= mustache 'pledge-expirations-template' do %>
  <%= f.association :pledge_expirations_attributes, :collection => f.object.pledge_expirations.build, :index => '{{uuid_pledge_expiration}}' do |e| %>
    <%= render 'pledge_expirations/form', :f => e %>
  <% end %>
<% end %>

<script>
  $("#pledge-expirations-template").nestedForm({
    add: '.add-pledge-expiration',
    remove: '.remove-pledge-expiration',
    target: '#expirations',
    uuid: 'uuid_pledge_expiration',
    fieldToRemove: '.pledge-expiration',
    right: true
  });
</script>
