<p>
  <input type="button" class="button affirmative add-pledge-expiration" value="Adicionar Vencimento">
</p>

<% if f.object.new_record? && request.get? %>
  <% f.association :pledge_parcels_attributes, :collection => f.object.pledge_parcels.build do |e| %>
      <%= render 'pledge_parcels/form', :f => e %>
  <% end %>
<% end %>

<div id="pledge-expirations">
  <%= f.association :pledge_parcels, :collection => localized(f.object.pledge_parcels) do |e| %>
    <%= render 'pledge_parcels/form', :f => e %>
  <% end %>
</div>

<%= mustache 'pledge-expirations-template' do %>
  <%= f.association :pledge_parcels_attributes, :collection => f.object.pledge_parcels.build, :index => '{{uuid_pledge_parcel}}' do |e| %>
    <%= render 'pledge_parcels/form', :f => e %>
  <% end %>
<% end %>

<script>
  $("#pledge-expirations-template").nestedForm({
    add: '.add-pledge-expiration',
    remove: '.remove-pledge-expiration',
    target: '#pledge-expirations',
    uuid: 'uuid_pledge_parcel',
    fieldToRemove: '.pledge-expiration',
    right: true
  });
</script>
