<div class="tabs">
  <ul>
    <li><a href="#main">Principal</a></li>
    <li><a href="#complement">Complementar</a></li>
    <li><a href="#items">Itens</a></li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="complement">
    <%= render 'complement', :f => f %>
  </div>

  <div id="items">
    <%= render 'items', :f => f %>
  </div>
</div>

<script>
  $('.tabs').tabs({
    select: function() {
      $('.replicated_value').val($('#pledge_value').val());
    }
  });

  <% if f.object.persisted? %>
    $('form.pledge :input').attr('disabled', true);
    $('form.pledge .add-pledge-item, form.pledge .add-pledge-parcel').hide();
    $('form.pledge .remove-pledge-item, form.pledge .remove-pledge-parcel').hide();
  <% else %>
    (function () {
      var reserveFundBudgetAllocationId,
          expenseCategoryId = '<%= f.object.expense_category_id %>',
          expenseGroupId = '<%= f.object.expense_group_id %>',
          expenseModalityId = '<%= f.object.expense_modality_id %>',
          expenseElementId = '<%= f.object.expense_element_id %>',
          expenseNature = '<%= f.object.expense_nature_expense_nature %>';

      function pledgeItemsTotalValue() {
        var total = 0,
            value;

        $('.item-price:visible').each(function() {
          value = $(this).val();

          if (value != '') {
            total += parsePtBrFloat(value);
          }
        });

        $('#pledge_items_total_value').val(numberWithDelimiter(total));
      }

      function subcategoryModalUrl() {
        var expenseNatureSelects =  {
              expense_category_id: expenseCategoryId,
              expense_group_id: expenseGroupId,
              expense_modality_id: expenseModalityId,
              expense_element_id: expenseElementId
            },
            expenseNatureFilter = {};

        $.each(expenseNatureSelects, function(key, value) {
          if(value) {
            expenseNatureFilter[key] = value;
          } else {
            expenseNatureFilter[key] = 0;
          }
        });

        var url = "<%= modal_expense_natures_path %>?",
            params = {
              expense_nature_not_eq: expenseNature,
              locked_fields: ["expense_category", "expense_group", "expense_modality", "expense_element"],
              expense_nature: expenseNatureFilter
            };

        url += jQuery.param(params);

        return url;
      }

      $("#pledge_reserve_fund_id").change(function (event, reserve_fund) {
        if (reserve_fund) {
          $('#pledge_reserve_fund_value').val(reserve_fund.reserve_fund_value);
          $('#pledge_budget_allocation').val(reserve_fund.budget_allocation);
          $('#pledge_budget_allocation_id').val(reserve_fund.budget_allocation_id);
          $('#pledge_budget_allocation_real_amount').val(reserve_fund.real_amount);
          $('#pledge_budget_allocation_budget_structure').val(reserve_fund.budget_structure);
          $('#pledge_budget_allocation_expense_nature').val(reserve_fund.expense_nature);

          reserveFundBudgetAllocationId = reserve_fund.budget_allocation_id;
          expenseCategoryId = reserve_fund.expense_category_id;
          expenseGroupId = reserve_fund.expense_group_id;
          expenseModalityId = reserve_fund.expense_modality_id;
          expenseElementId = reserve_fund.expense_element_id;
          expenseNature = reserve_fund.expense_nature_expense_nature;

          $('#pledge_expense_nature').attr('disabled', false).attr('data-modal-url', subcategoryModalUrl);
        } else {
          $('#pledge_reserve_fund_value').val('');
        }
      });

      $("#pledge_budget_allocation_id").change(function (event, budget_allocation) {
        if (budget_allocation) {
          if (reserveFundBudgetAllocationId != budget_allocation.id) {
            $('#pledge_reserve_fund_id').val('');
            $('#pledge_reserve_fund').val('');
            $('#pledge_reserve_fund_value').val('');
          }
          $('#pledge_budget_allocation_real_amount').val(budget_allocation.real_amount);
          $('#pledge_budget_allocation_expense_nature').val(budget_allocation.expense_nature);

          expenseCategoryId = budget_allocation.expense_category_id;
          expenseGroupId = budget_allocation.expense_group_id;
          expenseModalityId = budget_allocation.expense_modality_id;
          expenseElementId = budget_allocation.expense_element_id;
          expenseNature = budget_allocation.expense_nature_expense_nature;

          $('#pledge_expense_nature').attr('disabled', false).attr('data-modal-url', subcategoryModalUrl);
        } else {
          $('#pledge_expense_nature').attr('disabled', 'disabled');
          $('#pledge_budget_allocation_real_amount').val('');
          $('#pledge_budget_allocation_expense_nature').val('');
          $('#pledge_expense_nature').val('');
          $('#pledge_expense_nature_id').val('');
        }
      });

      $("#pledge_contract_id").change(function (event, contract) {
        if (contract) {
          $('#pledge_contract_signature_date').val(contract.signature_date);
        } else {
          $('#pledge_contract_signature_date').val('');
        }
      });

      $('form.pledge').on('keyup', '.item-quantity, .item-unit-price', pledgeItemsTotalValue);
      $('form.pledge').on('click', '.remove-pledge-item', pledgeItemsTotalValue);

      $('#pledge_expense_nature').attr('data-modal-url', subcategoryModalUrl);
    })();
  <% end %>
</script>
