<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :entity %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :year %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :management_unit %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :emission_date %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :pledge_type %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :reserve_fund %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :budget_allocation %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :budget_allocation_real_amount, :disabled => true, :input_html => { :value => number_with_precision(f.object.budget_allocation_real_amount) } %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :reserve_fund_value, :disabled => true, :input_html => { :value => number_with_precision(f.object.reserve_fund_value) } %>
  </div>
</div>

<%= f.input :value %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :budget_allocation_function, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :budget_allocation_subfunction, :disabled => true %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :budget_allocation_government_program, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :budget_allocation_government_action, :disabled => true %>
  </div>
</div>

<%= f.input :budget_allocation_organogram, :disabled => true %>

<%= f.input :budget_allocation_expense_economic_classification, :disabled => true %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :pledge_category %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :material_kind %>
  </div>
</div>

<%= f.input :founded_debt_contract %>
<%= f.input :creditor %>
