<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :entity %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :year %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :code, :disabled => true %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :management_unit %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :emission_date %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :pledge_type %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :reserve_fund %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :reserve_fund_value, :disabled => true, :input_html => { :value => f.object.decorator.reserve_fund_value } %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :budget_allocation %>
    <%= link_to_modal_info 'pledge_budget_allocation', f.object.budget_allocation %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :budget_allocation_real_amount, :disabled => true, :input_html => { :value => f.object.decorator.budget_allocation_real_amount } %>
  </div>
</div>

<%= f.input :value %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :budget_allocation_expense_nature, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :expense_nature, :disabled => f.object.budget_allocation.blank? %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :pledge_category %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :material_kind %>
  </div>
</div>

<%= f.input :founded_debt_contract, :modal_url => modal_contracts_path(:founded => true) %>
<%= f.input :creditor %>
