<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :value, :disabled => true, :input_html => { :id => 'replicated_value' } %>
  </div>
  <div class="yui3-u-1-2">
    <%= f.input :items_total_value, :input_html => { :value => number_to_currency(f.object.items_total_value, :format => "%n"), :size => 12 }, :disabled => true %>
  </div>
</div>

<p>
  <input type="button" class="button affirmative add-pledge-item" value="Adicionar Item">
</p>

<%= f.association :pledge_items, :collection => localized(f.object.pledge_items) do |p| %>
  <%= render 'pledge_items/form', :f => p %>
<% end %>

<%= mustache 'pledge-items-template' do %>
  <%= f.association :pledge_items_attributes, :collection => f.object.pledge_items.build, :index => '{{uuid_pledge_item}}' do |p| %>
    <%= render 'pledge_items/form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#pledge-items-template").nestedForm({
    add: '.add-pledge-item',
    remove: '.remove-pledge-item',
    target: '#items',
    uuid: 'uuid_pledge_item',
    fieldToRemove: '.pledge-item',
    right: true
  });

  $('form').delegate('.material', 'change', function (event, data) {
    if (data){
      var record = data.record,
          inputs = $(this).closest('.pledge-item').find(':input');
      $(inputs[4]).val(record.data("name"));
      $(inputs[5]).val(record.data("reference-unit"));
    }
  });

  $('form').delegate('.item-quantity, .item-unit-price', 'keyup', function(){
    var itemDiv = $(this).closest('.pledge-item'),
        itemQuantity = parsePtBrFloat(itemDiv.find('.item-quantity').val() || '0'),
        itemUnitPrice = parsePtBrFloat(itemDiv.find('.item-unit-price').val() || '0'),
        total = floatToPtBrString(itemQuantity * itemUnitPrice);

    itemDiv.find('.item-price').attr('value', total);
  });
</script>
