<tr data-value="<%= record.id %>" data-label="<%= record %>" data-type="<%= record.class.to_s %>" data-emission-date="<%= record.emission_date %>" data-pledge-value="<%= record.value %>" data-creditor-id="<%= record.creditor_id %>" data-creditor="<%= record.creditor %>" data-balance="<%= record.presenter.balance %>" data-description="<%= record.description %>">
  <% attributes.each do |attribute| %>
    <td><%= formatted_attribute record, attribute %></td>
  <% end %>
</tr>
