<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :entity %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :year %>
  </div>
</div>

<%= f.input :description %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :acronym %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :status %>
  </div>
</div>
