<%= f.input :entity %>
<%= f.input :administractive_act %>


<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :description %>
  </div>
  <div class="yui3-u-1-2">
    <%= f.input :mask, :disabled => true %>
  </div>
</div>

<%= render 'organogram_levels', :f => f %>

<script>
  function calculeMask() {
    var levels = [];
    var mask = '';

    $('#organogram_levels').children('.organogram-level').each(function() {
      var level = $(this).find('input.level').attr('value');
      var digits = $(this).find('input.digits').attr('value');;
      var separator = $(this).find('select.separator').attr('value');

      levels.push([level, digits, separator]);
    });

    var ordered_levels = levels.sort(function(a, b) {
      return (a[0] < b[0]) ? -1 : (a[0] > b[0]) ? 1 : 0;
    })

    $.each(ordered_levels, function(index) {
      for(i = 1; i <= this[1]; i++) { mask += '9'; };
      if((index+1) < levels.length) { mask += this[2]; }
    });

    $('#organogram_configuration_mask').attr('value', mask);
  }

  $('#organogram_levels').delegate('input:visible.numeric', 'keyup', calculeMask);
  $('#organogram_levels').delegate('select', 'change', calculeMask);

</script>
