<% trading_items(licitation_process, creditor).each do |item| %>
  <tr>
    <td><%= creditor.to_s %></td>
    <td><%= creditor.person_email %></td>

    <%if licitation_process.judgment_form_lot? %>
      <td><%= item.lot %></td>
    <%else %>
      <td><%= item.item %></td>
    <%end %>

    <td>
      <%= link_to realignment_link_title(licitation_process.id, creditor.id, item.lot),
        realignment_path_helper(licitation_process.id, creditor.id, item.lot) %>
    </td>
  </tr>
<% end %>
