<%= f.input :purchase_process_id, as: :hidden %>
<%= f.input :creditor_id, as: :hidden %>
<%= f.input :lot, as: :hidden %>

<div class="yui3-g">
  <% if f.object.judgment_form_lot? %>
    <div class="yui3-u-1-6">
      <%= f.input :lot, disabled: true %>
    </div>
  <% end %>

  <div class="yui3-u-1-4">
    <%= f.input :total_value, disabled: true,
      input_html: { value: number_with_precision(f.object.total_value), class: 'numeric' } %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :difference_price, disabled: true, input_html: { value: "0,00", class: :numeric } %>
  </div>
</div>

<div id="items">
  <%= f.association :items, collection: items_or_build(f.object) do |r| %>
    <div class="nested-realignment_price_items">
      <%= r.input :id, as: :hidden %>

      <div class="yui3-g">
        <div class="yui3-u-1-3">
          <%= r.input :item, disabled: true %>
        </div>

        <div class="yui3-u-1-3">
          <%= r.input :brand %>
        </div>

        <div class="yui3-u-1-6">
          <%= r.input :quantity, disabled: true, input_html: { class: 'quantity numeric' } %>
        </div>

        <div class="yui3-u-1-6 ">
          <%= r.input :price, input_html: { value: number_with_precision(r.object.price), class: 'price' } %>
        </div>
      </div>

      <div class="yui3-g">
        <div class="yui3-u-1-8">
          <%= r.input :delivery_date, input_html: { value: r.object.localized.delivery_date } %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  function sumPrices() {
    var totalValue = parsePtBrFloat($('#realignment_price_total_value').val()),
        quantity   = 0,
        value      = 0;

    $(".price").each(function() {
      quantity = new BigNumber($(this).closest('.nested-realignment_price_items').find('.quantity').val());
      value    = new BigNumber(parsePtBrFloat($(this).val() || '0,00'));

      totalValue -= value * quantity;
    });

    return totalValue;
  }

  function calculated_difference_price() {
    $('#realignment_price_difference_price').val(numberWithDelimiter(sumPrices()));
  }

  $('.price').on('change', calculated_difference_price);

  calculated_difference_price();
</script>
