<%= f.input :act_number %>
<%= f.input :regulatory_act_type %>
<%= f.input :legal_text_nature %>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :creation_date %>
  </div>
  <div class="yui3-u-1-4">
    <%= f.input :publication_date %>
  </div>
  <div class="yui3-u-1-4">
    <%= f.input :vigor_date %>
  </div>
  <div class="yui3-u-1-4">
    <%= f.input :end_date %>
  </div>
</div>

<%= f.input :content %>
