<fieldset class="licitation-process-publication">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <div class="yui3-g">
    <div class="yui3-u-1-4">
      <%= f.input :name %>
    </div>

    <div class="yui3-u-1-4">
    <%= f.input :publication_date %>
    </div>

    <div class="yui3-u-1-4">
    <%= f.input :publication_of %>
    </div>

    <div class="yui3-u-1-4">
    <%= f.input :circulation_type %>
    </div>
  </div>

  <div class="nested-remove">
    <input type="button" class="button negative remove-licitation-process-publication" value="Remover Publicação">
  </div>
</fieldset>
