<%= f.input :licitation_process_id, :as => 'hidden' %>

<div class="yui3-g" >
  <div class="yui3-u-1-2">
    <%= f.input :name %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :publication_date %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :publication_of %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :circulation_type %>
  </div>
</div>
<% if !f.object.persisted? && f.object.licitation_process.direct_purchase?%>
<script>
  $('#licitation_process_publication_publication_of option').each(function(){
    if($(this).val() == 'confirmation')
      $(this).attr('selected', 'selected');
  });
</script>
<% end %>
