<%= f.input :licitation_process, :as => 'hidden' %>

<div class="yui3-g" >
  <div class="yui3-u-1-2">
    <%= f.input :name %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :publication_date %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :publication_of %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :circulation_type %>
  </div>
</div>
