<div class="nested-items nested">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <div class="yui3-g">
    <div class="yui3-u-1-6">
      <%= f.input :purchase_process_item_lot, disabled: true,
        input_html: { class: 'lot numeric'} %>
    </div>

    <div class="yui3-u-1-6">
      <%= f.input :purchase_process_item_item_number, disabled: true,
        input_html: { class: 'item_number numeric'} %>
    </div>

    <div class="yui3-u-2-3">
      <%= f.input :purchase_process_item, input_html: { class: 'purchase_process_item'} %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-4">
      <%= f.input :ratification_item_unit_price, disabled: true,
        :input_html => { :class => 'unit_price numeric', value: number_with_precision(f.object.ratification_item_unit_price) } %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :quantity, :input_html => { :class => 'quantity' } %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-4">
      <%= f.input :accounting_cost_center %>
    </div>
  </div>

  <%= f.input :purchase_process_item_additional_information, as: :text, disabled: true,
    input_html: { class: 'additional_information'} %>

  <p class="yui3-u button-container">
    <input type="button" class="button negative remove-items" value="Remover Item">
  </p>
</div>
