<tr class="record item-record" data-material="<%= material.id %>">
  <td><%= f.object.persisted? ? l(f.object.created_at, format: "%d/%m/%Y") : '' %></td>
  <td><%= material %></td>
  <td><%= qtd_licitaded = material.purchase_quantity(licitation_process) %></td>
  <td>
    <%= balance %>
  </td>
  <td>
    <div class="input fake required supply_order_balance">
      <input class="string fake required supply_order_balance" type="text" value="<%= (qtd_licitaded - balance).to_i %>" readonly>
    </div>
  </td>
  <td class="quantity">
    <%= f.input :quantity, input_html:{class: 'supply_order_quantity'}, label: false%>

    <%= f.input :material_id, as: :hidden, input_html: { value: material.id, class: 'material-id' } %>
    <%= f.input :id, as: :hidden, input_html: { value: f.object.id } %>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'destroy' } %>
  </td>
</tr>