<tr class="record item-record" data-material="<%= material.id %>">
  <td><%= material %></td>
  <td><%= qtd_licitaded = material.purchase_quantity(licitation_process) %></td>
  <td>
    <%= balance %>
  </td>
  <td>
    <div class="input fake required supply_order_balance">
      <input class="string fake required supply_order_balance" type="text" value="<%= (qtd_licitaded - balance - f.object.decorator.quantity).to_i %>" readonly>
    </div>
  </td>
  <td class="quantity">
    <%= f.input :quantity, input_html:{class: 'supply_order_quantity', placeholder:'0'}, label: false%>

    <%= f.input :material_id, as: :hidden, input_html: { value: material.id, class: 'material-id' } %>
    <%= f.input :id, as: :hidden, input_html: { value: f.object.id } %>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'destroy' } %>
  </td>
  <td>
    <% qtd_solicited = f.object.decorator.quantity %>
    <% qtd_supplied = qtd_solicited - f.object.supplied_invoices.sum(:quantity_supplied) %>

    <% if qtd_supplied == 0 && qtd_solicited != 0%>
      <div class="blue_status">Atendido</div>
    <% elsif qtd_supplied > 0 && qtd_solicited == 0 %>
      <div class="red_status">Em Aberto</div>
    <% elsif qtd_supplied > 0  %>
      <div class="red_status">Atendido Parcialmente</div>
    <% else %>
      <div class="blue_status">Nenhum Solicitado</div>
    <% end %>
  </td>
</tr>
