<div id="contract_departments">

  <div class="nested-fields add-margin-bottom">
    <%= hidden_field_tag :authorized_area_id, nil, :name => 'contract_department[id]' %>

    <div class="yui3-g">
      <div class="yui3-u-1-2">
        <%= f.input :secretary, :as => :auto_complete, :fake => true,
                    'data-hidden-field-class' => 'unique',
                    :source_path => secretaries_path,
                    :required => true %>
      </div>
      <div class="yui3-u-1-2">
        <%= f.input :department, :as => :auto_complete, :fake => true,
                    'data-hidden-field-class' => 'unique',
                    :source_path => departments_path,
                    :required => true, disabled: true %>
      </div>
    </div>
    <div class="yui3-g">
      <div class="yui3-u-1-6">
        <%= button_tag 'Adicionar', type: :button,
                       :class => 'button add-nested-record field-without-label',
                       'data-template' => 'contract_departments_template',
                       'data-records' => 'authorized_areas-records',
                       'data-disabled' => not_updateable_message %>
      </div>

      <div class="yui3-u-1-2">
        <%= button_tag 'Incluir Todos Departamentos', type: :button,
                       :class => 'button field-without-label', id: "add_all_departments" %>
      </div>
    </div>
  </div>

  <%= f.error :authorized_areas %>

  <table id="authorized_areas-records" class="records">
    <thead>
    <tr>
      <th><%= Contract.human_attribute_name :department %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= f.association :authorized_areas, :collection => localized(f.object.authorized_areas) do |p| %>
      <%= render 'contract_departments/form',
                 id: p.object.id,
                 department: p.object.department,
                 department_id: p.object.department_id,
                 f: p %>
    <% end %>
    </tbody>
  </table>

  <%= mustache "contract_departments_template" do %>
    <%= f.association :authorized_areas_attributes, :collection => f.object.authorized_areas.build, :index => '{{uuid}}' do |p| %>
      <%= render 'contract_departments/form',
                 id: '{{id}}',
                 department: '{{department}}',
                 department_id: '{{department_id}}',
                 f: p %>
    <% end %>
  <% end %>
</div>

<script>
    $('form').on('change', '#contract_secretary_id', function (event, contract_secretary) {
        $("#contract_department").attr("disabled", false)
        if (contract_secretary) {
            var secretary_id = contract_secretary.id

            var urlModal = "<%= departments_path %>?",
                params = {by_secretary: secretary_id}

            urlModal += jQuery.param(params);

            $('#contract_department').attr("data-source", urlModal);
        }
    });
</script>