<% f.object.solicitations.try(:each) do |solicitation| %>
  <%= purchaseSolicitation = PurchaseSolicitation.find(solicitation[0]) %>
  <h1><%= "Solicitação #{purchaseSolicitation.to_s} - #{purchaseSolicitation.department}" %></h1>
  <table class="records">
    <thead>
    <tr>
      <th width="30%" class="description">Material</th>
      <th>Valor Unitário</th>
      <th>Qtd Solicitada</th>
      <th>Total</th>
      <th>Qtd Atendida</th>
      <th>Valor Atendido</th>
      <th>Saldo</th>
    </tr>
    </thead>
    <tbody id="ratification_items">
    <% total = {'total': 0, 'total_qtd_soli': 0, 'total_qtd_attended': 0, 'total_attended': 0, 'balance': 0} %>

    <% solicitation[1].each do |materialId| %>
      <% balance = get_balance(f.object, materialId) %>
      <% qtd_attended = get_quantity_item_supply_order(f.object.licitation_process, materialId, purchaseSolicitation) %>

      <tr class="ratification_item inherited nested">
        <td class="description"><%= Material.find(materialId).description %></td>
        <td><%= number_to_currency price = LicitationProcessRatificationItem.by_licitation_process_and_material(f.object.licitation_process.id, materialId)&.last&.price || 0 %></td>
        <td><%= qtd = PurchaseSolicitationItem.joins { purchase_solicitation }.where { purchase_solicitation.id.eq(solicitation[0]) }.where { material_id.eq(materialId) }&.last&.quantity || 0  %></td>
        <td><%= number_with_precision result = (price.to_f*qtd.to_f) %></td>
        <td><%= qtd_attended %></td>
        <td><%= number_with_precision total_attended = qtd_attended * price.to_f %></td>
        <td><%= balance %></td>
        <% total[:total_qtd_soli] += qtd %>
        <% total[:total] += result %>
        <% total[:total_qtd_attended] += qtd_attended  %>
        <% total[:total_attended] += total_attended  %>
        <% total[:balance] += balance  %>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td><%= total[:total_qtd_soli]%></td>
      <td style="text-align: end;"><b><%= number_to_currency total[:total] %></b></td>
      <td><%= total[:total_qtd_attended]  %></td>
      <td><b><%= number_to_currency total[:total_attended] %></b></td>
      <td><%= total[:balance] %></td>
    </tr>
    </tbody>
  </table>
<% end %>

<style>
  table.records th:not(.description){
    text-align: center !important;
  }
  table.records td:not(.description){
    text-align: right !important;
  }
</style>