<% f.object.solicitations.try(:each) do |solicitation| %>
  <%= purchaseSolicitation = PurchaseSolicitation.find(solicitation[0]) %>
  <h1><%= "Solicitação #{purchaseSolicitation.to_s} - #{purchaseSolicitation.department}" %></h1>
  <table class="records">
    <thead>
    <tr>
      <th><%= "Material" %></th>
      <th><%= "Saldo" %></th>
      <th><%= "Valor Unitário" %></th>
      <th><%= "Qtd Solicitada" %></th>
      <th><%= "Total" %></th>
    </tr>
    </thead>
    <tbody id="ratification_items">
    <% total = 0 %>
    <% solicitation[1].each do |material| %>
      <tr class="ratification_item inherited nested">
        <td><%= Material.find(material).description %></td>
        <td><%= get_saldo_material(f.object.licitation_process, purchaseSolicitation, Material.find(material), f.object) %></td>
        <td><%= price = LicitationProcessRatificationItem.by_licitation_process_and_material(f.object.licitation_process.id, material).last.price || 0 %></td>
        <td><%= qtd = PurchaseSolicitationItem.joins { purchase_solicitation }.where { purchase_solicitation.id.eq(solicitation[0]) }.where { material_id.eq(material) }.last.quantity || 0 %></td>
        <td><%= number_with_precision result = (price.to_f*qtd.to_f) %></td>
        <% total += result %>
      </tr>
    <% end %>
    <tr>
      <td colspan="100" style="text-align: end; font-weight: bolder"><%= number_with_precision total %></td>
    </tr>
    </tbody>
  </table>
<% end %>
