<% if f.object.solicitations.present? %>
  <div class="text-end">
    <%= link_to "Imprimir Extrato", report_extract_consumption_per_process_path(extract_consumption_per_process_report:{licitation_process_id: f.object.licitation_process_id, licitation_process: f.object.licitation_process.to_s,  contract_id: f.object.id, contract: f.object.to_s}), :class => 'button primary btn-small' if resource.id %>
  </div>
<% end %>
<% f.object.solicitations.try(:each) do |solicitation| %>
  <%= purchaseSolicitation = PurchaseSolicitation.find(solicitation[0]) %>
  <h1><%= "Solicitação #{purchaseSolicitation.to_s} - #{purchaseSolicitation.department}" %></h1>
  <table class="records">
    <thead>
    <tr>
      <th width="30%" class="description">Material</th>
      <th>Valor Unitário</th>
      <th width="5%">Qtd Solicitada</th>
      <th width="10%">Total</th>
      <th width="5%">Qtd Atendida</th>
      <th>Valor Atendido</th>
      <th>Saldo</th>
    </tr>
    </thead>
    <tbody id="ratification_items">
    <% total = {'total': 0, 'total_qtd_soli': 0, 'total_qtd_attended': 0, 'total_attended': 0, 'balance': 0} %>

    <% solicitation[1].each do |materialId| %>
      <% material = Material.find(materialId) %>
      <% qtd = qtd_requested(solicitation[0], material, f.object.licitation_process) %>
      <% qtd_attended = get_quantity_item_supply_order(f.object.licitation_process, materialId, purchaseSolicitation) %>
      <% price = material_vl_unitary(f.object.licitation_process, material) %>
      <% balance = qtd - qtd_attended %>

      <tr class="ratification_item inherited nested">
        <td class="description"><%= material.description %></td>
        <td class="tar" ><%= number_to_currency price %></td>
        <td class="tar" ><%= qtd  %></td>
        <td class="tar" ><%= number_with_precision result = (price.to_f*qtd.to_f) %></td>
        <td class="tar" ><%= qtd_attended %></td>
        <td class="tar" ><%= number_with_precision total_attended = qtd_attended * price.to_f %></td>
        <td class="tar" ><%= balance %></td>
        <% total[:total_qtd_soli] += qtd %>
        <% total[:total] += result %>
        <% total[:total_qtd_attended] += qtd_attended  %>
        <% total[:total_attended] += total_attended  %>
        <% total[:balance] += balance *  price.to_f %>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td><%= total[:total_qtd_soli]%></td>
      <td style="text-align: end;"><b><%= number_to_currency total[:total] %></b></td>
      <td><%= total[:total_qtd_attended]  %></td>
      <td><b><%= number_to_currency total[:total_attended] %></b></td>
      <td><b><%= number_to_currency total[:balance] %></b></td>
    </tr>
    </tbody>
  </table>
<% end %>
<% if f.object.solicitations.present? %>
  <div class="text-end">
    <%= link_to "Imprimir Extrato", report_extract_consumption_per_process_path(extract_consumption_per_process_report:{licitation_process_id: f.object.licitation_process_id, licitation_process: f.object.licitation_process.to_s,  contract_id: f.object.id, contract: f.object.to_s}), :class => 'button primary btn-small' if resource.id %>
  </div>
<% end %>
<style>

  .tar{
    text-align: right !important;
  }

</style>

