<div class="nested-grid">
  <div class="nested-fields nested-additives">
    <%= hidden_field_tag :id, nil, name: "contract_additive_nested_grid_[id]" %>

    <%= render "contract_additives/nested_fields", f: f %>

  </div>

  <%column_names = [:number, :additive_kind, :additive_type, :start_validity, :end_validity]
      extra_data   = [:publication_date,:additive_kind_value, :dissemination_source, :observation, :end_date, :value, :description,:addition,:suppression,:start_validity,:end_validity,:addition_validity_percent,:suppression_validity_percent] %>
  
  <span style="color:#3284B6;font-size:99.5%">
    * O sistema permite cadastrar um Processo de Compras apenas um vez. Caso o Processo de Compras tenha <br>
      <span style="margin-left: 9px">mais de um contrato/ata vinculado o gerenciamento é feito nas Abas Contratos Vinculados e Aditivo/Apostilamento</span>
  </span>

  <table id="<%= "contract_additives_records" %>" class="records">
    <thead>
    <tr>
      <% column_names.each do |column_name| %>
        <th><%= ContractAdditive.human_attribute_name column_name %></th>
      <% end %>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= f.association :contract_additives, collection: localized(f.object.contract_additives) do |a| %>
      <% (column_names + extra_data).each do |column_name| %>
        <%= a.full_error column_name %>
      <% end %>

      <%= render "contract_additives/nested_grid_row",
                 column_names: column_names,
                 all_hidden_fields: column_names + extra_data,
                 f: a %>
    <% end %>
    </tbody>
  </table>

  <%= mustache "contract_additives_template" do %>
    <%= f.association "contract_additives_attributes".to_sym, collection: f.object.contract_additives.build.localized, :index => '{{uuid}}' do |a| %>
      <%= render "contract_additives/nested_grid_row",
                 column_names: column_names,
                 is_mustache: true,
                 all_hidden_fields: column_names + extra_data,
                 f: a %>
    <% end %>
  <% end %>
</div>
<script>
  (function hideFieldsWhenTypeIsChanged() {
    var optionsToHideFieldValue = ['<%= ContractAdditiveType::OTHERS %>',
      '<%= ContractAdditiveType::EXTENSION_TERM %>'];
    var optionsToShowFieldEndDate = ['<%= ContractAdditiveType::EXTENSION_TERM %>'];

    $('.nested-additives').on('change', '.additive_type', function() {
      
      var option = $(this).val();
      if(jQuery.inArray(option, optionsToHideFieldValue) != -1) {
        $(this).closest('.nested-additives').find('.value').hide();
      } else {
        $(this).closest('.nested-additives').find('.value').show();
      }

      if(jQuery.inArray(option, optionsToShowFieldEndDate) != -1) {
        $(this).closest('.nested-additives').find('.end_date').show();
      } else {
        $(this).closest('.nested-additives').find('.end_date').hide();
      }
    });
  })();

  $('.td_start_validity').each(function(index, element) {    
    date = $('.td_start_validity').eq(index).text().trim();
    if (date !="") {
      date = new Date(date).toLocaleDateString('pt-BR');
      $('.td_start_validity').eq(index).text(date);
    }
  });
  
  $('.td_end_validity').each(function(index, element) {
    date = $('.td_end_validity').eq(index).text().trim();
    console.log('index'+index+'-date:'+date);
    if (date !="") {
      date = new Date(date).toLocaleDateString('pt-BR');
      $('.td_end_validity').eq(index).text(date);   
    } 
  });

</script>