<div class="nested-grid">
  <div class="nested-fields nested-additives">
    <%= render "contract_validations/nested_fields", f: f %>

  </div>

  <%column_names = ContractValidationDecorator.header_attributes.to_a
    extra_data   = ContractValidation.attribute_names.map(&:to_sym) - column_names %>

  <table id="<%= "contract_validations_records" %>" class="records">
    <thead>
    <tr>
      <% column_names.each do |column_name| %>
        <th class="<%= column_name %>"><%= ContractValidation.human_attribute_name column_name %></th>
      <% end %>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= f.association :contract_validations, collection: localized(f.object.contract_validations) do |a| %>
      <% (column_names + extra_data).each do |column_name| %>
        <%= a.full_error column_name %>
      <% end %>

      <%= render "contract_validations/nested_grid_row",
                 column_names: column_names,
                 all_hidden_fields: column_names + extra_data,
                 f: a %>
    <% end %>
    </tbody>
  </table>

  <%= mustache "contract_validations_template" do %>
    <%= f.association "contract_validations_attributes".to_sym, collection: f.object.contract_validations.build.localized, :index => '{{uuid}}' do |a| %>
      <%= render "contract_validations/nested_grid_row",
                 column_names: column_names,
                 is_mustache: true,
                 all_hidden_fields: column_names + extra_data,
                 f: a %>
    <% end %>
  <% end %>
</div>