<p>
  <input type="button" class="button affirmative add_item" value="Adicionar Cronograma de Entrega">
</p>

<div id="delivery_schedules">
  <%= f.association :delivery_schedules, :collection => localized(f.object.delivery_schedules) do |p| %>
    <p>
      <%= render 'delivery_schedules/form', :f => p %>
    </p>
  <% end %>
</div>

<%= mustache 'delivery_schedules_template' do %>
  <%= f.association :delivery_schedules_attributes, :collection => f.object.delivery_schedules.build, :index => '{{uuid_delivery_schedule}}' do |p| %>
    <%= render 'delivery_schedules/form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#delivery_schedules_template").nestedForm({
    add: '.add_item',
    remove: '.remove_item',
    target: '#delivery_schedules',
    uuid: 'uuid_delivery_schedule',
    fieldToRemove: '.delivery_schedule',
    appendItem: true,
    right: true
  });
</script>
