<p>
  <input type="button" class="button affirmative add-delivery-schedule" value="Adicionar Cronograma de Entrega">
</p>

<div id="delivery-schedule" data-nested-form="delivery-schedule" data-append-item=true>
  <%= f.association :delivery_schedules, :collection => localized(f.object.delivery_schedules) do |p| %>
    <%= render 'delivery_schedules/form', :f => p %>
  <% end %>
</div>

<%= mustache 'delivery-schedule-template' do %>
  <%= f.association :delivery_schedules_attributes, :collection => f.object.delivery_schedules.build, :index => '{{uuid-delivery-schedule}}' do |p| %>
    <%= render 'delivery_schedules/form', :f => p %>
  <% end %>
<% end %>
