<div class="tabs">
  <ul>
    <li>
      <a href="#main">Cadastrar</a>
    </li>
    <li>
      <a href="#linked_contracts">Contratos Vinculados</a>
    </li>
    <li>
      <a href="#schedules">Cronogramas de entrega</a>
    </li>
    <li>
      <a href="#authorized_areas">Departamentos</a>
    </li>
    <li>
      <a href="#itens">Itens do Objeto</a>
    </li>
    <li>
      <a href="#supply_requests">Pedidos de Fornecimento</a>
    </li>
    <li>
      <a href="#financials">Dados Financeiros</a>
    </li>
    <li>
      <a href="#supply_orders">Ordens de Fornecimento</a>
    </li>
    <li>
      <a href="#balance_solicitations">Saldo das Solicitações</a>
    </li>
    <li>
      <a href="#contract_additives">Aditivo / Apostilamento</a>
    </li>
    <li>
      <a href="#occurrence_contractual_historics">Ocorrências Contratuais</a>
    </li>
    <li>
      <a href="#contract_validations">Liberação / Validação</a>
    </li>
    <li>
      <a href="#contract_termination">Rescisão</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="linked_contracts">
    <%= render 'linked_contracts', :f => f %>
  </div>

  <div id="schedules">
    <%= render 'delivery_schedules', :f => f %>
  </div>

  <div id="authorized_areas">
    <%= render 'authorized_areas', :f => f %>
  </div>
  
  <div id="itens">
    <%= render 'itens', :f => f %>
  </div>

  <div id="supply_requests">
    <%= render 'supply_requests', :f => f %>
  </div>

  <div id="financials">
    <%= render 'financials', :f => f %>
  </div>

  <div id="supply_orders">
    <%= render 'supply_orders', :f => f %>
  </div>

  <div id="balance_solicitations">
    <% if f.object.type_contract == ContractMinute::MINUTE %>
      <%= render 'balance_solicitation_minutes', :f => f %>
    <% else %>
      <%= render 'balance_solicitations', :f => f  %>
    <% end %>
  </div>

  <div id="contract_additives">
    <%= render 'contract_additives', :f => f %>
  </div>

  <div id="occurrence_contractual_historics">
    <%= render 'occurrence_contractual_historics', :f => f %>
  </div>
  <div id="contract_validations">
    <%= render 'contract_validations', :f => f %>
  </div>
  <div id="contract_termination">
    <%= render 'contract_termination', :f => f %>
  </div>
</div>

<script>
    function fillSequence() {
        $('div.nested-delivery-schedule .destroy[value=false]').each(function (index, item) {
            $(this).parents('.nested-delivery-schedule').find('.auto_sequence').val(index + 1);
        });
    }

    $('form.contract').on('click', '.remove_item', fillSequence);
    $('form.contract').on('nestedForm:afterAdd', fillSequence);
</script>
