<div class="buttons">
  <%= link_to 'Rescisão', contract_termination_path, :class => 'button primary' if f.object.persisted? %>
  <%= link_to 'Aditivo/Apostilamento', contract_additives_path(contract_id: f.object.id), :class => 'button primary' if f.object.persisted? %>
  <%= link_to 'Ocorrências Contratuais', occurrence_contractual_historics_path(:contract_id => f.object.id), :class => 'button primary' if f.object.persisted? %>
  <%= link_to 'Liberação e Validação', contract_validations_path(:contract_id => resource.id),  :class => 'button primary', style: 'margin-top: 1%;' %>
  <%= link_to 'Imprimir', contract_conference_path(:contract_id => resource.id),  :class => 'button primary', style: 'margin-top: 1%;' %>

  <%= f.button :submit if can?(:modify, main_controller_name) %>
  <%= f.button :back %>

  <% if f.object.persisted? && can?(:destroy, main_controller_name) %>
    <%= f.button :destroy %>
  <% end %>
</div>
