<table class="records">
  <thead>
    <tr>
      <% resource_class.decorator.header_attributes.each do |field| %>
        <th><%= resource_class.human_attribute_name field %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
    <span style="color:#3284B6;font-size:99.5%"> * O sistema permite cadastrar um Processo de Compras apenas 1 vez / Caso o processo de compras tenha mais contratos/ata vinculado ele faz todo gerenciamento na aba Contratos Vinculados  </span>
  <tbody>
    <% collection.each do |resource| %>
      <tr id="<%= dom_id resource %>">
        <% resource_class.decorator.header_attributes.each do |field| %>
          <td>
            <% if resource_class.decorator.link?(field) %>
              <%= link_to(formatted_attribute(resource.decorator, field), edit_resource_path(resource)) %>
            <% else %>
              <%= formatted_attribute(resource.decorator, field) %>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= link_to 'imprimir',contract_conference_path(:contract_id => resource.id), title: 'Imprimir Contrato' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
