<div class="yui3-g">
  <div class='yui3-u-1-5'>
    <%= f.input :sequential_number, :disabled => true %>
  </div>

  <div class='yui3-u-1-6'>
    <%= f.input :year %>
  </div>

  <div class='yui3-u-1-5'>
    <%= f.input :contract_number %>
  </div>
</div>

<div class="yui3-g">
  <div class='yui3-u-1-5'>
    <%= f.input :kind %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :parent, :disabled => !f.object.amendment? %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-5">
    <%= f.input :publication_date %>
  </div>

  <div class="yui3-u-2-5">
    <%= f.input :dissemination_source %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :contract_file %>
  </div>

  <div class="yui3-u-1-5">
    <%= link_to f.object.contract_file_identifier, f.object.contract_file_url, :target => '_blank' if f.object.contract_file? %>
  </div>
</div>

<%= f.input :content %>
<%= f.input :creditor %>

<div class="yui3-g">
  <div class='yui3-u-1-3'>
    <%= f.input :contract_type %>
  </div>
</div>

<div class='yui3-g'>
  <div class='yui3-u-1-4'>
    <%= f.input :contract_value %>
  </div>

  <div class='yui3-u-1-4'>
    <%= f.input :guarantee_value %>
  </div>

  <div class='yui3-u-1-4'>
    <%= f.input :contract_validity, :hint => 'mes(es)' %>
  </div>

  <div class='yui3-u-1-4'>
    <%= f.input :subcontracting, :as => :select %>
  </div>
</div>

<div class='yui3-g'>
  <div class='yui3-u-1-5'>
    <%= f.input :signature_date %>
  </div>

  <div class='yui3-u-1-5'>
    <%= f.input :end_date %>
  </div>

  <div class='yui3-u-1-5'>
    <%= f.input :cancellation_date %>
  </div>

  <div class='yui3-u-2-5'>
    <%= f.input :cancellation_reason %>
  </div>
</div>

<%= f.input :licitation_process %>

<div class='yui3-g'>
  <div class='yui3-u-1-2'>
    <%= f.input :execution_type_humanize, :disabled => true %>
  </div>

  <div class='yui3-u-1-3'>
    <%= f.input :contract_guarantees_humanize, :disabled => true %>
  </div>
</div>

<div class='yui3-g'>
  <div class='yui3-u-1-2'>
    <%= f.input :direct_purchase %>
  </div>

  <div class='yui3-u-1-2'>
    <%= f.input :modality_humanize, :disabled => true %>
  </div>
</div>

<%= f.input :budget_structure %>
<%= f.input :budget_structure_responsible %>

<div class='yui3-g'>
  <div class='yui3-u-3-5'>
    <%= f.input :lawyer %>
  </div>

  <div class='yui3-u-2-5'>
    <%= f.input :lawyer_code %>
  </div>
</div>

<%= f.input :description %>

<script>
  var clearModalityExecutionType = function() {
    $('#contract_modality_humanize').val('');
    $('#contract_execution_type').val('');
    $('#contract_execution_type_humanize').val('');
    $('#contract_contract_guarantees_humanize').val('');
  };

  $('#contract_kind').change(function (e) {
    $('#contract_parent').attr('disabled', $(this).val() != '<%= ContractKind::AMENDMENT %>');
  });

  $('form').on('change', '#contract_licitation_process_id', function (event, licitationProcess) {
    $('#contract_direct_purchase').attr('disabled', licitationProcess !== undefined);

    if (licitationProcess) {
      $('#contract_content').val(licitationProcess.description);
      $('#contract_modality_humanize').val(licitationProcess.modality_humanize);
      $('#contract_execution_type_humanize').val(licitationProcess.execution_type_humanize);
      $('#contract_contract_guarantees_humanize').val(licitationProcess.contract_guarantees_humanize);
    } else {
      clearModalityExecutionType();
    }
  });

  $('form').on('change', '#contract_direct_purchase_id', function (event, directPurchase) {
    $('#contract_licitation_process').attr('disabled', directPurchase !== undefined);

    if (directPurchase) {
      $('#contract_modality_humanize').val(directPurchase.modality_humanize);
    } else {
      clearModalityExecutionType();
    }
  });

  $('form').on('change', '#contract_year, #contract_entity_id', function (event) {
    $.getJSON('<%= next_sequential_contracts_path %>?year='+$('#contract_year').val()+'&entity_id='+$('#contract_entity_id').val(), function (data) {
      $('#contract_sequential_number').val(data.sequential);
    });
  });
</script>
