<h1>Ordens de Fornecimento</h1>
<div id="record">
  <table class="records">
    <thead>
    <tr>
      <th>
        <%= SupplyOrder.human_attribute_name :number %>
      </th>
      <th>
        <%= "Departamento" %>
      </th>
      <th>
        <%= "Data" %>
      </th>
      <th>
        <%= "Quantidade" %>
      </th>
      <th>
        <%= "Valor" %>
      </th>
      <th>
        <%= "Situação" %>
      </th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% f.object.supply_orders.order("number asc").each do |supply_order| %>
      <tr>
        <td>
          <%= supply_order.number %>
        </td>
        <td>
          <%= supply_order.purchase_solicitation.department %>
        </td>
        <td>
          <%= l(supply_order.authorization_date) %>
        </td>
        <td>
          <%= supply_order.items.sum(:quantity) %>
        </td>
        <td>
          <%= number_to_currency sum_value_items_supply_order(supply_order) %>
        </td>
        <td>
          <%= supply_order.updatabled ? "Fechada" : "Aberta" %>
        </td>
        <td>
          <%= link_to "Editar", edit_supply_order_path(supply_order), target: '_blank' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<h1>Notas Fiscais</h1>
<div>
  <table class="records">
    <thead>
    <tr>
      <th>Odem de Fornecimento Nº</th>
      <th  width="50%" class="text-center">Numero da Nota</th>
      <th>Data da Nota</th>
      <th>Valor</th>
    </tr>
    </thead>
    <tbody>
    <%invoices = get_supply_order_invoices(f.object.supply_orders) %>
    <% if invoices.blank? %>
      <tr><td style="text-align: center !important;" colspan="3"><b>Não foram encontradas notas cadastradas para as ordens de fornecimento</b></td></tr>
    <% end %>
    <% invoices.each do |invoice| %>
      <tr>
        <td style="text-align: center !important;"><%=invoice.supply_order.number %></td>
        <td style="text-align: center !important;"><%= invoice.number %></td>
        <td><%= l invoice.date if invoice.date %></td>
        <td><%= number_to_currency invoice.value %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>