<% pendings = 0 %>
<% answered = 0 %>
<div id="record">
  <table class="records">
    <thead>
    <tr>
      <th>
        <%= SupplyRequest.human_attribute_name :number %>
      </th>
      <th>
        <%= "Usuário" %>
      </th>
      <th>
        <%= "Fornecedor" %>
      </th>
      <th>
        <%= "Local Solicitante" %>
      </th>
      <th>
        <%= "Valor" %>
      </th>
      <th>
        <%= "Data da Solicitação" %>
      </th>
      <th>
        <%= "Processo de Compra" %>
      </th>
      <th>
        <%= "Status do Último Atendimento" %>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% SupplyRequest.where(id: f.object.pending).order("number asc").each do |supply_request| %>
      <% pendings += sum_value_items_supply_order(supply_request) %>
      <tr>
        <td>
          <%= supply_request.number %>
        </td>
        <td>
          <%= supply_request.user %>
        </td>
        <td>
          <%= supply_request.creditor %>
        </td>
        <td>
          <%= supply_request.department %>
        </td>
        <td>
          <%= number_to_currency sum_value_items_supply_order(supply_request) %>
        </td>
        <td>
          <%= l(supply_request.authorization_date) %>
        </td>
        <td>
          <%= supply_request.licitation_process %>
        </td>
        <td>
          <%= supply_request.decorator.status_last_attendance %>
        </td>
        <td>
          <%= link_to "Editar", edit_supply_request_path(supply_request), target: '_blank' %>
        </td>
      </tr>
    <% end %>
    </tbody>
    <h1>Pedidos Pendentes Valor: <%= number_to_currency pendings %></h1>
  </table>
</div>

<div id="record">
  <table class="records">
    <thead>
    <tr>
      <th>
        <%= SupplyRequest.human_attribute_name :number %>
      </th>
      <th>
        <%= "Usuário" %>
      </th>
      <th>
        <%= "Fornecedor" %>
      </th>
      <th>
        <%= "Local Solicitante" %>
      </th>
      <th>
        <%= "Valor" %>
      </th>
      <th>
        <%= "Data da Solicitação" %>
      </th>
      <th>
        <%= "Processo de Compra" %>
      </th>
      <th>
        <%= "Status do Último Atendimento" %>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% SupplyRequest.where(id: f.object.answered).order("number asc").each do |supply_request| %>
      <% answered += sum_value_items_supply_order(supply_request) %>
      <tr>
        <td>
          <%= supply_request.number %>
        </td>
        <td>
          <%= supply_request.user %>
        </td>
        <td>
          <%= supply_request.creditor %>
        </td>
        <td>
          <%= supply_request.department %>
        </td>
        <td>
          <%= number_to_currency sum_value_items_supply_order(supply_request) %>
        </td>
        <td>
          <%= l(supply_request.authorization_date) %>
        </td>
        <td>
          <%= supply_request.licitation_process %>
        </td>
        <td>
          <%= supply_request.decorator.status_last_attendance %>
        </td>
        <td>
          <%= link_to "Editar", edit_supply_request_path(supply_request), target: '_blank' %>
        </td>
      </tr>
    <% end %>
    </tbody>
    <h1>Pedidos Atendidos Valor: <%= number_to_currency answered %> </h1>
  </table>
</div>
