
<div class="row">
  <div class="col">
    <strong>Ano <%= @contract.decorator.contract_or_minute_report%>: </strong>
    <p><%= @contract.year %></p>
  </div>

  <div class="col">
    <strong>Validade <%= @contract.decorator.contract_or_minute_report%>: </strong>
    <p><%= @contract.contract_validity %> meses</p>
  </div>

  <div class="col">
    <strong>Número <%= @contract.decorator.contract_or_minute_report%>: </strong>
    <p><%= @contract.contract_number %></p>
  </div>

  <div class="col">
    <strong>Tipo <%= @contract.decorator.contract_or_minute_report%>: </strong>
    <p><%= @contract.contract_type %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <strong>Processo de Compra: </strong>
    <p><%= @contract.licitation_process %></p>
  </div>

  <div class="col">
    <strong>Fornecedor: </strong>
    <p><%= @contract.creditor %></p>
  </div>

  <div class="col">
    <strong>Unidade de Compra Responsável: </strong>
    <p><%= @contract.purchasing_unit %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <strong>Objeto: </strong>
    <p><%= @contract.content %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <strong>Data da Publicação: </strong>
    <p><%= date_mask @contract.publication_date %></p>
  </div>

  <div class="col">
    <strong>Local da Publicação: </strong>
    <p><%= @contract.dissemination_source %></p>
  </div>

  <div class="col">
    <strong>Valor <%= @contract.decorator.contract_or_minute_report%>: </strong>
    <p><%= number_to_currency @contract.contract_value %></p>
  </div>

  <div class="col">
    <strong>Multa Inadimplemento: </strong>
    <p><%= number_to_percentage @contract.default_fine %></p>
  </div>

  <div class="col">
    <strong>Garantias <%= @contract.decorator.contract_or_minute_report%>: </strong>
    <p><%= @contract.contract_guarantees_humanize %></p>
  </div>

  <div class="col">
    <strong>Valor da Garantia: </strong>
    <p><%= @contract.guarantee_value %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <strong>Data de Assinatura: </strong>
    <p><%= date_mask @contract.signature_date %></p>
  </div>

  <div class="col">
    <strong>Inicio da Vigência: </strong>
    <p><%= date_mask @contract.start_date %></p>
  </div>

  <div class="col">
    <strong>Fim da Vigência: </strong>
    <p><%= date_mask @contract.end_date %></p>
  </div>

  <div class="col">
    <strong>Forma de Execução: </strong>
    <p><%= @contract.execution_type_humanize %></p>
  </div>

  <div class="col">
    <strong>Multa Rescisória: </strong>
    <p><%= number_to_percentage @contract.penalty_fine %></p>
  </div>

  <div class="col">
    <strong>Modalidade: </strong>
    <p><%= @contract.modality_humanize %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <strong>Servidor Responsavel pelo <%= @contract.decorator.contract_or_minute_report%> na Unidade de Compras: </strong>
    <p><%= @contract.budget_structure_responsible %></p>
  </div>

  <div class="col">
    <strong>Observações: </strong>
    <p><%= @contract.description %></p>
  </div>
</div>




<div class="page-break"></div>

<div>
  <h2>DADOS FINANCEIROS</h2>
  <table class="records">
    <thead>
    <tr>
      <th>Secretaria</th>
      <th width="40%">Projeto Atividade (Código)</th>
      <th>Natureza</th>
      <th>Fonte</th>
      <th>Valor</th>
    </tr>
    </thead>
    <tbody>
    <% @contract.financials.each do |financial| %>
      <tr>
        <td><%= financial.secretary %></td>
        <td><%= financial.expense.project_activity.name %></td>
        <td><%= financial.expense.nature_expense %></td>
        <td><%= financial.expense.resource_source %></td>
        <td><%= number_to_currency financial.value %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3"></td>
      <td>TOTAL</td>
      <td><%= number_to_currency @contract.financials.sum(:value) %></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="page-break"></div>


<div>
  <h2>ITENS DO OBJETO</h2>
  <% total = 0 %>
  <% items = @contract.ratifications_items.joins(creditor:[:contracts]).where(compras_contracts:{id:@contract.id}).where(unico_creditors:{id:@contract.creditor}).group_by(&:lot).sort %>
  <% items.each do |lot, ratifications_items| %>
    <table class="records">
      <h2>LOTE <%= lot %></h2>
      <thead>
      <tr>
        <th class="text-center"  width="5%">Código</th>
        <th>Descrição</th>
        <th>Unidade</th>
        <th>Quantidade</th>
        <th width="10%">Preço Unitário</th>
        <th width="10%">Preço Total</th>
      </tr>
      </thead>
      <tbody>
      <% ratifications_items.each do |ratifications_item| %>
        <% total += ratifications_item.total_price %>
        <tr>
          <td><%= ratifications_item.material.code %></td>
          <td><%= ratifications_item.material.description %></td>
          <td><%= ratifications_item.material.reference_unit.acronym %></td>
          <td><%= ratifications_item.quantity %></td>
          <td><%= number_to_currency ratifications_item.unit_price %></td>
          <td><%= number_to_currency ratifications_item.total_price %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="4"></td>
        <td>TOTAL</td>
        <td><%= number_to_currency total %></td>
      </tr>
  <% end %>
  </tbody>
  </table>
</div>

<div class="page-break"></div>

<div>
  <h2>SALDO POR UNIDADE DE COMPRA / SECRETARIA</h2>
  <% contract_id = @contract.id %>

  <% PurchaseSolicitationItem.balance_by_purchasing_unit(contract_id).each do |department, purchase_solicitation_items| %>
    <table class="records">
      <h2>DEPARTAMENTO: <%= department %></h2>
      <thead>
      <tr>
        <th class="text-center" width="5%">Código</th>
        <th>Descrição</th>
        <th>Unidade</th>
        <th>Quantidade</th>
        <th width="10%">Preço Unitário</th>
        <th width="10%">Preço Total</th>
      </tr>
      </thead>
      <tbody>
      <% total = 0 %>
      <% ordered_purchasses(purchase_solicitation_items).each do |purchase_solicitation_item| %>
        <% ratifications_item = LicitationProcessRatificationItem.licitation_process_id(@contract.licitation_process_id)
                                                                  .creditor_id(@contract.creditor_id)
                                                                  .purchase_process_item_material_id(purchase_solicitation_item&.material&.id).last %>

        <% if ratifications_item %>
          <tr>
            <td><%= purchase_solicitation_item&.material&.code %></td>
            <td><%= purchase_solicitation_item&.material&.description %></td>
            <td><%= purchase_solicitation_item&.material&.reference_unit&.acronym %></td>
            <td><%= purchase_solicitation_item.quantity.to_i %></td>
            <td><%= number_to_currency ratifications_item.try(:unit_price) %></td>
            <td><%= number_to_currency item_total = (purchase_solicitation_item.quantity.to_f*ratifications_item.try(:unit_price).to_f).round(2) %></td>
            <% total += item_total %>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td colspan="4"></td>
        <td>TOTAL</td>
        <td><%= number_to_currency total %></td>
      </tr>
      </tbody>
    </table>
  <% end %>
</div>

<style>
  .row > div {
    flex: 1;
    background: #fafafa9c;
    border: 1px solid grey;
  }
</style>