<div>
  <h1> ESPELHO DE CONTRATO </h1>
</div>

<div style="text-align: left">
  <h2>CAPA DO CONTRATO</h2>
  <p>
    <strong>Ano do Contrato: </strong>
    <%= @contract.year %>
  </p>
  <p>
    <strong>Número do Contrato: </strong>
    <%= @contract.contract_number %>
  </p>
  <p>
    <strong>Objeto: </strong>
    <%= @contract.content %>
  </p>
  <p>
    <strong>Processo de Compra: </strong>
    <%= @contract.licitation_process %>
  </p>
  <p>
    <strong>Fornecedor: </strong>
    <%= @contract.creditors.first %>
  </p>
  <p>
    <strong>Tipo do Contrato: </strong>
    <%= @contract.contract_type %>
  </p>
  <p>
    <strong>Valor do Contrato: </strong>
    <%= number_to_currency @contract.contract_value %>
  </p>
  <p>
    <strong>Multa Inadimplemento: </strong>
    <%= number_to_percentage @contract.default_fine %>
  </p>
  <p>
    <strong>Multa Rescisória: </strong>
    <%= number_to_percentage @contract.penalty_fine %>
  </p>
  <p>
    <strong>Modalidade: </strong>
    <%= @contract.modality_humanize %>
  </p>
  <p>
    <strong>Unidade de Compra Responsável: </strong>
    <%= @contract.purchasing_unit %>
  </p>
  <p>
    <strong>Servidor Responsavel pelo Contrato na Unidade de Compras: </strong>
    <%= @contract.budget_structure_responsible %>
  </p>
  <p>
    <strong>Observações: </strong>
    <%= @contract.description %>
  </p>
</div>
<br>
<div>
  <h2>DADOS FINANCEIROS</h2>
  <table class="records">
    <thead>
    <tr>
      <th>Secretário</th>
      <th>Projeto Atividade (Código)</th>
      <th>Natureza</th>
      <th>Fonte</th>
      <th>Valor</th>
    </tr>
    </thead>
    <tbody>
    <% @contract.financials.each do |financial| %>
      <tr>
        <td><%= financial.secretary %></td>
        <td><%= financial.expense.project_activity.name %></td>
        <td><%= financial.expense.nature_expense %></td>
        <td><%= financial.expense.resource_source %></td>
        <td><%= number_to_currency financial.value %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4">TOTAL</td>
      <td><%= number_to_currency @contract.financials.sum(:value) %></td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <h2>ITENS DO OBJETO</h2>

  <% total = 0 %>
  <% @contract.ratifications_items.group_by(&:lot).sort.each do |lot, ratifications_items| %>
    <table class="records">
      <h2>LOTE <%= lot %></h2>

      <thead>
      <tr>
        <th>Código</th>
        <th>Descrição</th>
        <th>Unidade</th>
        <th>Quantidade</th>
        <th>Preço Unitário</th>
        <th>Preço Total</th>
      </tr>
      </thead>
      <tbody>
      <% ratifications_items.each do |ratifications_item| %>
        <% total += ratifications_item.total_price %>
        <tr>
          <td width="5%"><%= ratifications_item.material.code %></td>
          <td><%= ratifications_item.material.description %></td>
          <td><%= ratifications_item.material.reference_unit.acronym %></td>
          <td><%= ratifications_item.quantity %></td>
          <td width="10%"><%= number_to_currency ratifications_item.unit_price %></td>
          <td width="10%"><%= number_to_currency ratifications_item.total_price %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="5">TOTAL</td>
        <td><%= number_to_currency total %></td>
      </tr>
  <% end %>
  </tbody>
  </table>
</div>