<h2 id="title">
  <span><%= "#{resource.decorator.contract_or_minute}: #{resource.contract_number} / #{resource.year}" %></span>
  <span class="subtitle"><%= resource.contract_type %></span>
  <span class="subtitle"><%= "Início da Vigência: #{l resource.start_date if resource.start_date} - Término da Vigência: #{l resource.end_date if resource.end_date}" %></span>
  <span class="subtitle"><%= "Fornecedor: #{resource.creditor}" %></span>
</h2>

<%= render 'form_wrapper' %>

<style>
  h2 span{
    display: block;
  }
  h2 span.subtitle{
    font-size: 12px;
  }
</style>