<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :regulatory_act %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :regulatory_act_publication_date, :disabled => true, :input_html => { :value => (l(f.object.regulatory_act_publication_date) if f.object.regulatory_act_publication_date) } %>
  </div>
</div>

<%= f.input :description %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :initial_value %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :final_value %>
  </div>
</div>

<script>
  $("#licitation_modality_regulatory_act_id").change(function (event, regulatory_act) {
    if (regulatory_act){
      $('#licitation_modality_regulatory_act_publication_date').val(regulatory_act.publication_date);
    } else {
      $('#licitation_modality_regulatory_act_publication_date').val('');
    }
  });
</script>
