<tr class="record nested-record item-record" id="person-id-<%= person_id %>">
  <td><%= person %></td>
  <td><%= percentage %></td>
  <td><%= society_kind %></td> <%#FIXME: Será necessário trazer o society_kind extended_partner para partner  %>
  <td>
    <%= link_to 'Editar', '#', class: 'edit-nested-record' %>
  </td>

  <td>
    <%= f.input :person_id, as: :hidden, input_html: { value: person_id, class: 'person-id' } %>
    <%= f.input :person, as: :hidden, input_html: { value: person } %>
    <%= f.input :percentage, as: :hidden, input_html: { value: percentage } %>
    <%= f.input :society_kind, as: :hidden, input_html: { value: society_kind } %>
    <%= f.input :id, as: :hidden, input_html: { value: id } %>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'destroy' } %>

    <%= link_to 'Remover', '#', class: 'remove-nested-record' %>
  </td>
</tr>