<div class="yui3-g member inherited nested">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <%= f.input :individual_id, :as => 'hidden', :input_html => { :value => f.object.presenter.individual_id_or_mustache_variable } %>
  <%= f.input :role, :as => 'hidden', :input_html => { :value => f.object.presenter.role_or_mustache_variable } %>
  <%= f.input :role_nature, :as => 'hidden', :input_html => { :value => f.object.presenter.role_nature_or_mustache_variable } %>
  <%= f.input :registration, :as => 'hidden', :input_html => { :value => f.object.presenter.registration_or_mustache_variable } %>

  <div class="yui3-u-1-2">
    <%= f.input :individual_name, :disabled => true, :input_html => { :value => f.object.presenter.individual_name_or_mustache_variable }  %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :individual_cpf, :disabled => true, :input_html => { :value => f.object.presenter.cpf_or_mustache_variable } %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :role_humanize, :disabled => true, :input_html => { :class => 'role', :value => f.object.presenter.role_humanize_or_mustache_variable } %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :role_nature_humanize, :disabled => true, :input_html => { :class => 'role-nature', :value => f.object.presenter.role_nature_humanize_or_mustache_variable } %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :registration, :required => false, :disabled => true, :input_html => { :value => f.object.presenter.registration_or_mustache_variable } %>
  </div>

  <input type="button" class="button negative remove-member" value="Remover Membro">
</div>
