<tr class="record nested-record item-record" id="representative_person-id-<%= representative_person_id %>">
  <td><%= representative_person %></td>
  <td>
    <%= link_to 'Editar', '#', class: 'edit-nested-record' %>
  </td>

  <td>
    <%= f.input :representative_person_id, as: :hidden, input_html: { value: representative_person_id, class: 'representative_person-id' } %>
    <%= f.input :representative_person, as: :hidden, input_html: { value: representative_person } %>
    <%= f.input :id, as: :hidden, input_html: { value: id } %>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'destroy' } %>

    <%= link_to 'Remover', '#', class: 'remove-nested-record' %>
  </td>
</tr>