<tr class="record representative-person">
  <td>
    <%= name %>
  </td>
  <td>
    <%= identity_document %>
  </td>
  <td>
    <input id="<%= f.sanitized_object_name %>_representative_people_record_<%= id %>_id" class="representative_person-id" type="hidden" name="<%= f.sanitized_object_name %>[representative_person_ids][]" value="<%= id %>" />
    <button class="button negative modal-finder-remove">Remover</button>
  </td>
</tr>
