<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :pledge %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :emission_date, :disabled => true, :input_html => { :value => f.object.decorator.emission_date } %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :status, :disabled => true %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :value %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :date %>
  </div>
</div>

<%= f.input :description %>

<script>
  <% if f.object.persisted? %>
    $('form.pledge_liquidation :input').attr('disabled', true);
  <% else %>
    (function() {
      var pledgeId = $('#pledge_liquidation_pledge_id').val(),
          pledgeValue;

      $('#pledge_liquidation_pledge_id').change(function (event, pledge) {
        if (pledge) {
          $('#pledge_liquidation_emission_date').val(pledge.emission_date);
          $('#pledge_liquidation_pledge_value').val(pledge.pledge_value);
          $('#pledge_liquidation_description').val(pledge.description);
          $('#pledge_value').html(pledge.pledge_value_as_currency);
          $('#pledge_liquidation_sum').html(pledge.liquidation_value_as_currency);
          $('#pledge_balance').html(pledge.balance_as_currency);

          pledgeValue = pledge.balance;
        } else {
          $('#pledge_liquidation_emission_date').val('');
          $('#pledge_liquidation_pledge_value').val('');
          $('#pledge_liquidation_expiration_date').val('');
          $('#pledge_liquidation_balance').val('');
          $('#pledge_liquidation_description').val('');
          $('#pledge_balance').html('');
          $('#pledge_value').html('');
          $('#pledge_liquidation_value').html('');

          pledgeValue = null;
        }
      });
    })();
  <% end %>
</script>
