<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :pledge %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :emission_date, :disabled => true, :input_html => { :value => f.object.decorator.emission_date } %>
  </div>
</div>

<%= render 'pledge_parcels', :f => f %>

<%= f.input :value %>
<%= f.input :date %>
<%= f.input :description %>

<%= mustache 'pledge-parcels-template' do %>
  <tr id="parcel_{{number}}">
    <td>
      {{number}}
    </td>
    <td>
      {{expiration_date}}
    </td>
    <td class="value">
      {{value}}
    </td>
    <td class="liquidations_value">
      {{liquidations_value}}
    </td>
    <td class="balance">
      {{balance}}
    </td>
  </tr>
<% end %>

<script>
  <% if f.object.persisted? %>
    $('form.pledge_liquidation :input').attr('disabled', true);
  <% else %>
    (function() {
      var pledgeId = $('#pledge_liquidation_pledge_id').val(),
          pledgeValue;

      function clearExistingPledgeParcels() {
        $('#pledge_parcels tbody').html('');
      }

      function createPledgeParcelsFromPledge(pledgeParcels) {
        var template = $('#pledge-parcels-template'),
            rendered = '';

        $(pledgeParcels).each(function() {
          rendered += template.mustache({
            expiration_date: this.expiration_date,
            value: this.value,
            number: this.number,
            liquidations_value: this.liquidations_value,
            balance: this.balance
          });
        });

        $('#pledge_parcels tbody').html(rendered);
      }

      $('#pledge_liquidation_pledge_id').change(function (event, pledge) {
        if (pledge) {
          $('#pledge_liquidation_emission_date').val(pledge.emission_date);
          $('#pledge_liquidation_pledge_value').val(pledge.pledge_value);
          $('#pledge_liquidation_description').val(pledge.description);
          $('#pledge_value').html(pledge.pledge_value_as_currency);
          $('#pledge_liquidation_sum').html(pledge.liquidation_value_as_currency);
          $('#pledge_balance').html(pledge.balance_as_currency);

          createPledgeParcelsFromPledge(pledge.parcels);
          pledgeValue = pledge.balance;
        } else {
          $('#pledge_liquidation_emission_date').val('');
          $('#pledge_liquidation_pledge_value').val('');
          $('#pledge_liquidation_expiration_date').val('');
          $('#pledge_liquidation_balance').val('');
          $('#pledge_liquidation_description').val('');
          $('#pledge_balance').html('');
          $('#pledge_value').html('');
          $('#pledge_liquidation_value').html('');

          clearExistingPledgeParcels();
          pledgeValue = null;
        }
      });
    })();
  <% end %>
</script>
