<p>
  <input type="button" class="button affirmative add-capability-destination-detail" value="Adicionar Detalhamento">
</p>

<div id="capability-destination-detail" data-nested-form="capability-destination-detail" data-append-item=false>
  <%= f.association :capability_destination_details, :collection => localized(f.object.capability_destination_details) do |p| %>
    <%= render 'capability_destination_details/form', :f => p %>
  <% end %>
</div>

<%= mustache 'capability-destination-detail-template' do %>
  <%= f.association :capability_destination_details_attributes, :collection => f.object.capability_destination_details.build(:status => Status::ACTIVE), :index => '{{uuid-capability-destination-detail}}' do |p| %>
    <%= render 'capability_destination_details/form', :f => p %>
  <% end %>
<% end %>
