<tr class="record nested-record item-record" id="material-id-<%= material_id %>">
  <td><%= material %></td>
  <td><%= requested_quantity %></td>
  <% if @gestor %>
    <td><%= quantity %></td>
    <td><%= unit_value %></td>
  <% end %>
  <td><%= total_value %></td>
  <td>
    <%= link_to 'Editar', '#', class: 'edit-nested-record' %>
  </td>

  <td>
    <%= f.input :material_id, as: :hidden, input_html: {value: material_id, class: 'material-id'} %>
    <%= f.input :material, as: :hidden, input_html: {value: material} %>
    <%= f.input :requested_quantity, as: :hidden, input_html: {value: requested_quantity, class: 'requested_quantity'} %>
    <% if @gestor %>
      <%= f.input :quantity, as: :hidden, input_html: {value: quantity, class: 'quantity'} %>
    <% end %>
    <%= f.input :id, as: :hidden, input_html: {value: id} %>
    <%= f.input :_destroy, as: :hidden, input_html: {class: 'destroy'} %>

    <%= link_to 'Remover', '#', class: 'remove-nested-record' %>
  </td>
</tr>