<tr class="record nested-record item-record" id="material-id-<%= material_id %>">
  <% if @hidden_field %>
    <td class="text-center"><%= check_box_tag("balance_contract", "t", balance_contract) %></td>
  <% end %>
  <td><%= material %></td>
  <td id="answer-requested_quantity" class="text-center"><%= requested_quantity %></td>
  <td id="answer-quantity" class="text-center"><%= quantity %></td>
  <% if @hidden_field %>
    <td class="text-center"><%= unit_value %></td>
  <% end %>
    <td class="text-center"><%= total_value %></td>
  <td>
    <%= link_to 'Editar', '#', class: 'edit-nested-record' %>
  </td>
  <td>
    <%= f.input :material_id, as: :hidden, input_html: {value: material_id, class: 'material-id'} %>
    <%= f.input :material, as: :hidden, input_html: {value: material} %>
    <%= f.input :balance_contract, as: :hidden, input_html: {value: balance_contract} %>
    <%= f.input :requested_quantity, as: :hidden, input_html: {value: requested_quantity, class: 'requested_quantity'} %>
    <%= f.input :quantity, as: :hidden, input_html: {value: quantity, class: 'quantity'} %>
    <%= f.input :id, as: :hidden, input_html: {value: id} %>
    <%= f.input :_destroy, as: :hidden, input_html: {class: 'destroy'} %>

    <%= link_to 'Remover', '#', class: 'remove-nested-record' %>
  </td>
</tr>