<h2 id="title" style="margin-left: 14px;">
  <%= I18n.translate("controllers.#{controller_name}") %>
</h2>

<div class="grid-container" >
  <div class="grid-item" style="background-color: #0e0393;" >
    <%= @quantidade['new'] %>
    <br>
    <label> NOVO </label>
    <%= link_to '', supply_order_managements_path(:suplly_requests => @suplly_requests['new']) %>
  </div>
  <div class="grid-item" style="background-color: #d24d14;">
    <%= @quantidade['order_in_analysis'] %>
    <br>
    <label> EM ANÁLISE FINANCEIRA </label>
    <%= link_to '', supply_order_managements_path(:suplly_requests => @suplly_requests['order_in_analysis']) %>
  </div>
  <div class="grid-item" style="background-color: #ba8418;">
    <%= @quantidade['doubts'] %>
    <br>
    <label> DÚVIDA </label>
    <%= link_to '', supply_order_managements_path(:suplly_requests => @suplly_requests['doubts']) %>
  </div>
  <div class="grid-item" style="background-color: #696976;">
    <%= @quantidade['order_in_analysis'] %>
    <br>
    <label> EM ANÁLISE </label>
    <%= link_to '', supply_order_managements_path(:suplly_requests => @suplly_requests['order_in_analysis']) %>
  </div>
  <div class="grid-item" style="background-color: #2b2b2b;">
    <%= @quantidade['returned_for_adjustment'] %>
    <br>
    <label> DEVOLVIDO PARA AJUSTE </label>
    <%= link_to '', supply_order_managements_path(:suplly_requests => @suplly_requests['returned_for_adjustment']) %>
  </div>
  <div class="grid-item" style="background-color: #4872ff;">
    <%= @quantidade['adjusted'] %>
    <br>
    <label> AJUSTADO </label>
    <%= link_to '', supply_order_managements_path(:suplly_requests => @suplly_requests['adjusted']) %>
  </div>
  <div class="grid-item" style="background-color: #1bd756;">
    <%= @quantidade['partially_answered'] %>
    <br>
    <label> ATENDIDO PARCIALMENTE </label>
    <%= link_to '', supply_order_managements_path(:suplly_requests => @suplly_requests['partially_answered']) %>
  </div>
  <div class="grid-item" style="background-color: red;">
    <%= @quantidade['fully_serviced'] %>
    <br>
    <label> ATENDIDO TOTALMENTE </label>
    <%= link_to '', supply_order_managements_path(:suplly_requests => @suplly_requests['fully_serviced']) %>
  </div>
  <div class="grid-item" style="background-color: #36783b;">
    <%= @quantidade['rejected'] %>
    <br>
    <label> INDEFERIDO </label>
    <%= link_to '', supply_order_managements_path(:suplly_requests => @suplly_requests['rejected']) %>
  </div>
</div>

<script>
    $(function () {
        $(".grid-item").click(function () {
            $('.grid-item a')[$('.grid-item').index(this)].click();
        });
    });
</script>

<style>

  .grid-container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding: 10px;
  }

  .grid-item {
    border: 5px solid white;
    padding: 20px;
    font-size: 30px;
    color: white;
    text-align: center;
  }

  .grid-item label{
    font-size: 15px;
    text-align: center;
  }

</style>

