<div class="yui3-g">
  <div class="yui3-u-2-5">
    <%= f.input :material, :as => :auto_complete, :fake => true, required: true,
      'data-hidden-field-class' => 'unique' %>
  </div>

  <div class="yui3-u-1-12">
    <%= f.input :reference_unit, :as => :fake, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :brand, :as => :fake, required: true %>
  </div>

  <div class="yui3-u-1-8">
    <%= f.input :quantity, :as => :fake, required: true,
                :input_html => { :class => 'numeric', 'data-numeric' => true } %>
  </div>

  <div class="yui3-u-1-8">
    <%= f.input :lot, :as => :fake, required: true %>
  </div>
</div>

