<div class="yui3-g">
  <div class="yui3-u-2-5">
    <%= f.input :material, :as => :auto_complete, :fake => true, required: true,
      'data-hidden-field-class' => 'unique' %>
  </div>

  <div class="yui3-u-1-12">
    <%= f.input :reference_unit, :as => :fake, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :brand, :as => :fake, required: true %>
  </div>

  <div class="yui3-u-1-8">
    <%= f.input :quantity, :as => :fake, required: true,
                :input_html => { :class => 'numeric', 'data-numeric' => true } %>
  </div>

  <div class="yui3-u-1-8">
    <%= f.input :lot, :as => :fake, required: true %>
  </div>
</div>


<div class="d-flex" style="align-items: baseline">
  <%= button_tag 'Adicionar', type: :button,
                 class: 'button add-nested-record field-without-label add-margin-bottom',
                 'data-template' => "price_collection_items_template",
                 'data-records' => "price_collection_items_records",
                 id: "price_collection_items_button" %>
  <h4 style='color: #4272a2; margin-left: 10px'>
   Itens das Solicitação de Compra n.  ( buscar a informação da tela Solicitação de compra)
  </h4>
</div>


<script>
  $(function(){
    $("#item-tab .add-nested-record").last().remove();
  })
</script>