<tr class="nested-record record">
  <td class="material" >
    <%= material %>
  </td>
  <td class="reference_unit">
    <%= reference_unit %>
  </td>
  <td width="25%">
    <%= f.input :brand, input_html:{value: brand, class: 'brand'}, label: false %>
  </td>
  <td width="11%">
    <%= f.input :quantity, input_html:{value: quantity, class:'quantity'}, label: false %>
  </td>
  <td class="lot">
    <%= lot %>
  </td>

  <td>
    <%= link_to 'Editar', '#', class: 'edit-nested-record' %>
  </td>

  <td>
    <%= link_to 'Remover', '#', class: 'remove-nested-record' %>

    <%= f.input :id, as: :hidden, input_html: { value: f.object.id, class: "id" } %>
    <%= f.input :material, as: :hidden, input_html: { value: material, class: "material" } %>
    <%= f.input :material_id, as: :hidden, input_html: { value: material_id, class: "material_id" } %>
    <%= f.input :reference_unit, as: :hidden, input_html: { value: reference_unit, class: "reference_unit" } %>
    <%= f.input :lot, as: :hidden, input_html: { value: lot, class: "lot" } %>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'destroy' } %>
  </td>
</tr>
