<div class="yui3-g" id="reserve_fund_fields">
  <div class="yui3-u-1-2">
    <%= f.input :to_s, disabled: true %>
    <%= f.input :id, as: :hidden %>
    <%= hidden_field_tag :reserve_fund_id %>
    <%= hidden_field_tag :descriptor_id %>
  </div>

  <div class="yui3-u-1-2">
    <label class="select required" for="licitation_process_budget_allocations">Dotação Orçamentária <abbr title="obrigatório">*</abbr></label>
    <%= select(:licitation_process, :budget_allocations, budget_allocation_for_select(resource)) %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :date, as: :fake, required: true, label: 'Data',
      input_html: { 'data-datepicker' => true } %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :amount, as: :fake, required: true, label: 'Valor da reserva',
      input_html: { 'data-decimal' => true, class: :decimal } %>
  </div>

  <div class="yui3-u-1-8 inline_buttons">
    <%= button_tag "Bloquear", type: :button, class: 'button primary', id: :reserve_fund_create %>
  </div>
</div>

<div class="yui3-g hidden" id="unblock_reserve_fund_fields">
  <div class="yui3-u-1-2">
    <%= f.input :reserve_fund, as: :fake, disabled: true, label: 'Reserva de dotação' %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :unblock_amount, as: :fake, required: true, label: 'Valor desbloqueio',
      input_html: { 'data-decimal' => true, class: :decimal } %>
  </div>

  <div class="yui3-u-1-4 inline_buttons">
    <%= button_tag "Desbloquear", type: :button, class: 'button primary', id: :reserve_fund_unblock %>
    <%= button_tag "Cancelar", type: :button, class: 'button primary', id: :reserve_fund_unblock_cancel %>
  </div>
</div>

<table class="records">
  <thead>
    <tr>
      <th>Cód. Reserva</th>
      <th>Dotação</th>
      <th>Valor a Reservar</th>
      <th>Saldo da Reserva</th>
      <th>Data da Reserva</th>
      <th>Desbloquear</th>
    </tr>
  </thead>

  <tbody id="records-tbody">
    <%= render partial: 'grid', collection: ReserveFund.by_purchase_process_id(resource.id),
      as: :reserve_fund %>
  </tbody>
</table>

<div class="right">
  <div class="yui3-u-1-4 right">
    <%= f.input :reserve_fund_total_value, as: :fake, disabled: true,
      label: 'Valor total reservado', input_html: { 'data-decimal' => true, class: :decimal } %>
  </div>
</div>

<div class="right">
  <div class="yui3-u-1-4 right">
    <%= f.input :budget_allocations_total_value, disabled: true %>
  </div>
</div>
