<div class="registration-cadastral-certificate">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>
  <%= f.input :creditor, :as => 'hidden' %>

  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <%= f.input :fiscal_year %>
    </div>

    <div class="yui3-u-1-2">
      <%= f.input :number, :disabled => true, :input_html => { :value => f.object.decorator.number } %>
    </div>
  </div>

  <%= f.input :specification %>

  <div class="yui3-g">
    <div class="yui3-u-1-3">
      <%= f.input :registration_date %>
    </div>
    <div class="yui3-u-1-3">
      <%= f.input :validity_date %>
    </div>
    <div class="yui3-u-1-3">
      <%= f.input :revocation_date %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-3">
      <%= f.input :capital_stock %>
    </div>
    <div class="yui3-u-1-3">
      <%= f.input :capital_whole %>
    </div>
    <div class="yui3-u-1-3">
      <%= f.input :total_sales %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-3">
      <%= f.input :building_area %>
    </div>
    <div class="yui3-u-1-3">
      <%= f.input :total_area %>
    </div>
    <div class="yui3-u-1-3">
      <%= f.input :total_employees %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <%= f.input :commercial_registry_registration_date %>
    </div>
    <div class="yui3-u-1-2">
      <%= f.input :commercial_registry_number %>
    </div>
  </div>
</div>
