<h1>
  CERTIFICADO DE REGISTRO CADASTRAL <%= resource.number %>
</h1>

<div class="table-border">
  <div class="yui3-g">
    <div class="yui3-u-1-3">
      <span class="label"><%= resource_class.human_attribute_name :registration_date %></span>: <%= l resource.registration_date %>
    </div>

    <div class="yui3-u-1-3">
      <span class="label"><%#= "Data da Renovação:" %></span>
    </div>

    <div class="yui3-u-1-3">
      <span class="label"><%= resource_class.human_attribute_name :validity_date %></span>: <%= l resource.validity_date %>
    </div>
  </div>
</div>

<h2>
  DADOS GERAIS
</h2>

<div id="general-data" class="table-border">
  <div class="yui3-g">
    <div class="yui3-u-1-3">
      <span class="label"><%= Person.human_attribute_name :name %></span>: <%= resource.creditor_name %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-3">
     <span class="label"><%= Creditor.human_attribute_name :id %></span>: <%= resource.creditor_id %>
    </div>

    <div class="yui3-u-1-3">
    <span class="label"><%#= "Atividade Econômica:" %></span>
    </div>

    <div class="yui3-u-1-3">
    <span class="label"><%#= "Tipo da Empresa:" %></span>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1">
      <span class="label"><%= Person.human_attribute_name :address %></span>: <%= resource.creditor_address %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <span class="label"><%= Person.human_attribute_name :email %></span>: <%= resource.creditor_email %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <span class="label"><%= Address.human_attribute_name :city %></span>: <%= resource.creditor_city %>
    </div>

    <div class="yui3-u-1-4">
      <span class="label"><%= Address.human_attribute_name :state %></span>: <%= resource.creditor_state %>
    </div>

    <div class="yui3-u-1-4">
      <span class="label"><%= State.human_attribute_name :country %></span>: <%= resource.creditor_country %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <span class="label"><%= Address.human_attribute_name :zip_code %></span>: <%= resource.creditor_zip_code %>
    </div>

    <div class="yui3-u-1-4">
      <span class="label"><%= Person.human_attribute_name :phone %></span>: <%= resource.creditor_phone %>
    </div>

    <div class="yui3-u-1-4">
      <span class="label"><%#= "Fax" %></span>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-3">
      <span class="label"><%= Person.human_attribute_name :cnpj %></span>: <%= resource.creditor_cnpj%>
    </div>

    <div class="yui3-u-1-3">
      <span class="label"><%= Company.human_attribute_name :state_registration %></span>: <%= resource.creditor_state_registration %>
    </div>

    <div class="yui3-u-1-3">
      <span class="label"><%#= "Inscrição municipal:" %></span>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-2-3">
      <span class="label"><%= Company.human_attribute_name :responsible %></span>: <%= resource.creditor_responsible %>
    </div>

    <div class="yui3-u-1-3">
      <span class="label"><%= Person.human_attribute_name :identity_document %></span>: <%= resource.creditor_responsible_identity_document %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1">
      <span class="label"><%= resource_class.human_attribute_name :specification %></span>: <%= resource.specification %>
    </div>
  </div>
</div>

<h2>
  RAMO DE ATIVIDADE
</h2>

<table id="branch-activity" class="records black">
  <thead>
    <tr>
      <th>
        Código de atividade
      </th>

      <th>
        Descrição do ramo de atividade
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="right">
        <%= resource.creditor_main_cnae_code %>
      </td>

      <td>
        <%= resource.creditor_main_cnae %>
      </td>
    </tr>

    <% resource.creditor_cnaes.each do |cnae| %>
      <tr>
        <td class="right">
          <%= cnae.code %>
        </td>

        <td>
          <%= cnae %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>
  DOCUMENTAÇÃO
</h2>

<table id="documentation" class="records black">
  <thead>
    <tr>
      <th>
        Descrição do documento
      </th>

      <th>
        Número do documento
      </th>

      <th>
        Data de emissão
      </th>

      <th>
        Data de validade
      </th>
    </tr>
  </thead>

  <tbody>
    <% resource.creditor_documents.each do |document| %>
      <tr>
        <td>
          <%= document %>
        </td>

        <td class="right">
          <%= document.document_number %>
        </td>

        <td>
          <%= l document.emission_date %>
        </td>

        <td>
          <%= l document.validity %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Este certificado obedece o estipulado na lei 8.666 de 21.06.1993 e suas atualizações.</p>

<div>
  <%= current_prefecture %>,  <%= l(Date.current, :format => :long) %>
</div>

<%= render 'reports/signatures' %>
