<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :pledge %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :emission_date, :disabled => true, :input_html => { :value => f.object.presenter.emission_date } %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :pledge_value, :disabled => true, :input_html => { :value => f.object.presenter.pledge_value } %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :pledge_expiration %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :expiration_date, :disabled => true, :input_html => { :value => f.object.presenter.expiration_date } %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :canceled_value, :disabled => true, :input_html => { :value => f.object.presenter.canceled_value } %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :value %>
  </div>
</div>

<%= f.input :kind %>
<%= f.input :date %>
<%= f.input :nature %>
<%= f.input :reason %>

<script>
  <% if f.object.persisted? %>
    $('form.pledge_cancellation :input').attr('disabled', true);
  <% else %>
    (function() {
      var pledge_id = $('#pledge_cancellation_pledge_id').val(),
          pledge_expiration_value,
          date_changed = false;

      function pledgeExpirationUrl() {
        var url = "<%= modal_pledge_expirations_path %>?",
            params = {
              locked_fields: ["pledge"],
              pledge_expiration: {
                pledge_id: $('#pledge_cancellation_pledge_id').val(),
                pledge: $('#pledge_cancellation_pledge').val()
              }
            };

        url += jQuery.param(params);

        return url;
      }

      function forceValueWhenTotalIsKind(){
        if($('#pledge_cancellation_kind').val() == '<%= PledgeCancellationKind::TOTAL %>') {
          $('#pledge_cancellation_value').attr('disabled', true);
          $('#pledge_cancellation_value').val(pledge_expiration_value);
        } else {
          $('#pledge_cancellation_value').attr('disabled', false);
        }
      }

      $('#pledge_cancellation_pledge_id').change(function(event, data) {
        if (data) {
          var record = data.record;
          $('#pledge_cancellation_emission_date').val(record.data("emission-date"));
          $('#pledge_cancellation_pledge_value').val(record.data("pledge-value"));
          if (pledge_id != record.data('id')) {
            $('#pledge_cancellation_pledge_expiration').attr('data-modal-url', pledgeExpirationUrl());
            $('#pledge_cancellation_expiration_date').val('');
            $('#pledge_cancellation_pledge_expiration_id').val('');
            $('#pledge_cancellation_pledge_expiration_value').val('');
          }
          if (!date_changed && $('#pledge_cancellation_date').val()) {
            if (Date.parseBR(record.data("emission-date")) > Date.parseBR($('#pledge_cancellation_date').val())) {
              $('#pledge_cancellation_date').val(record.data("emission-date"));
            }
          }
        } else {
          $('#pledge_cancellation_pledge_expiration').attr('data-modal-url', '<%= modal_pledge_expirations_path %>');
          $('#pledge_cancellation_emission_date').val('');
          $('#pledge_cancellation_pledge_value').val('');
          $('#pledge_cancellation_pledge_expiration').val('');
          $('#pledge_cancellation_expiration_date').val('');
          $('#pledge_cancellation_canceled_value').val('');
        }
      });

      $('#pledge_cancellation_pledge_expiration_id').change(function(event, data) {
        if (data) {
          var record = data.record;
          $('#pledge_cancellation_expiration_date').val(record.data("expiration-date"));
          $('#pledge_cancellation_canceled_value').val(record.data("canceled-value"));
          if (!$('#pledge_cancellation_pledge_id').val()) {
            $('#pledge_cancellation_pledge_id').val(record.data("pledge-id"));
            $('#pledge_cancellation_pledge').val(record.data("pledge"));
            $('#pledge_cancellation_pledge_value').val(record.data("pledge-value"));
            $('#pledge_cancellation_emission_date').val(record.data("emission-date"));
          }
          pledge_id = record.data('pledge-id');
          pledge_expiration_value = record.data('pledge-expiration-value');
          forceValueWhenTotalIsKind();
        } else {
          $('#pledge_cancellation_expiration_date, #pledge_cancellation_canceled_value').val('');
          pledge_expiration_value = null;
        }
      });

      $('#pledge_cancellation_date').on('change', function(){
        date_changed = true;
      });

      $('#pledge_cancellation_kind').change(forceValueWhenTotalIsKind);
    })();
  <% end %>
</script>
