<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :entity %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :year %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :pledge %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :emission_date, :disabled => true, :input_html => { :value => f.object.decorator.emission_date } %>
  </div>
</div>

<%= render 'pledge_parcels', :f => f %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :kind %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :value %>
  </div>
</div>

<%= f.input :date %>
<%= f.input :nature %>
<%= f.input :reason %>

<%= mustache 'pledge-parcels-template' do %>
  <tr id="parcel_{{number}}">
    <td>
      {{number}}
    </td>
    <td>
      {{expiration_date}}
    </td>
    <td class="value">
      {{value}}
    </td>
    <td class="canceled_value">
      {{canceled_value}}
    </td>
    <td class="balance">
      {{balance}}
    </td>
  </tr>
<% end %>

<script>
  <% if f.object.persisted? %>
    $('form.pledge_cancellation :input').attr('disabled', true);
  <% else %>
    (function() {
      var pledgeId = $('#pledge_cancellation_pledge_id').val(),
          pledgeValue;

      function pledgeExpirationUrl() {
        var url = "<%= modal_pledge_parcels_path %>?",
            params = {
              locked_fields: ["pledge"],
              pledge_parcel: {
                pledge_id: $('#pledge_cancellation_pledge_id').val(),
                pledge: $('#pledge_cancellation_pledge').val()
              }
            };

        url += jQuery.param(params);

        return url;
      }

      function forceValueWhenTotalIsKind(){
        if($('#pledge_cancellation_kind').val() == '<%= PledgeCancellationKind::TOTAL %>') {
          $('#pledge_cancellation_value').attr('disabled', true);
          $('#pledge_cancellation_value').val(pledgeValue);
        } else {
          $('#pledge_cancellation_value').attr('disabled', false);
        }
      }

      function clearExistingPledgeParcels() {
        $('#pledge_parcels tbody').html('');
      }

      function createPledgeParcelsFromPledge(pledgeParcels) {
        var template = $('#pledge-parcels-template'),
            rendered = '';

        $(pledgeParcels).each(function() {
          rendered += template.mustache({
            expiration_date: this.expiration_date,
            value: this.value,
            number: this.number,
            canceled_value: this.canceled_value,
            balance: this.balance
          });
        });

        $('#pledge_parcels tbody').html(rendered);
      }

      $('#pledge_cancellation_pledge_id').change(function (event, pledge) {
        if (pledge) {
          $('#pledge_cancellation_emission_date').val(pledge.emission_date);
          createPledgeParcelsFromPledge(pledge.parcels);
          pledgeValue = pledge.balance;
          forceValueWhenTotalIsKind();

          if (pledgeId != pledge.id) {
            $('#pledge_cancellation_pledge_parcel').attr('data-modal-url', pledgeExpirationUrl());
            $('#pledge_cancellation_expiration_date').val('');
            $('#pledge_cancellation_pledge_parcel_id').val('');
            $('#pledge_cancellation_pledge_parcel_value').val('');
          }
        } else {
          $('#pledge_cancellation_pledge_parcel').attr('data-modal-url', '<%= modal_pledge_parcels_path %>');
          $('#pledge_cancellation_emission_date').val('');
          $('#pledge_cancellation_pledge_parcel').val('');
          $('#pledge_cancellation_expiration_date').val('');
          $('#pledge_cancellation_balance').val('');
          clearExistingPledgeParcels();
          pledgeValue = null;
        }
      });

      $('#pledge_cancellation_kind').change(forceValueWhenTotalIsKind);
    })();
  <% end %>
</script>
