<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :pledge %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :emission_date, :disabled => true, :input_html => { :value => f.object.decorator.emission_date } %>
  </div>
</div>

<%= render 'pledge_parcels', :f => f %>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :value %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :date %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :nature %>
  </div>
</div>

<%= f.input :reason %>

<%= mustache 'pledge-parcels-template' do %>
  <tr id="parcel_{{number}}">
    <td>
      {{number}}
    </td>
    <td>
      {{expiration_date}}
    </td>
    <td class="value">
      {{value}}
    </td>
    <td class="canceled_value">
      {{canceled_value}}
    </td>
    <td class="liquidations_value">
      {{liquidations_value}}
    </td>
    <td class="balance">
      {{balance}}
    </td>
  </tr>
<% end %>

<script>
  <% if f.object.persisted? %>
    $('form.pledge_cancellation :input').attr('disabled', true);
  <% else %>
    (function() {
      var pledgeId = $('#pledge_cancellation_pledge_id').val(),
          pledgeValue;

      function clearExistingPledgeParcels() {
        $('#pledge_parcels tbody').html('');
      }

      function createPledgeParcelsFromPledge(pledgeParcels) {
        var template = $('#pledge-parcels-template'),
            rendered = '';

        $(pledgeParcels).each(function() {
          rendered += template.mustache({
            expiration_date: this.expiration_date,
            value: this.value,
            number: this.number,
            canceled_value: this.canceled_value,
            liquidations_value: this.liquidations_value,
            balance: this.balance
          });
        });

        $('#pledge_parcels tbody').html(rendered);
      }

      $('#pledge_cancellation_pledge_id').change(function (event, pledge) {
        if (pledge) {
          $('#pledge_cancellation_emission_date').val(pledge.emission_date);
          $('#pledge_value').html(pledge.pledge_value_as_currency);
          $('#pledge_cancellations_sum').html(pledge.pledge_cancellations_sum);
          $('#pledge_balance').html(pledge.balance_as_currency);
          $('#pledge_liquidations_sum').html(pledge.pledge_liquidations_sum);
          createPledgeParcelsFromPledge(pledge.parcels);
          pledgeValue = pledge.balance;
        } else {
          $('#pledge_cancellation_emission_date').val('');
          $('#pledge_cancellation_pledge_parcel').val('');
          $('#pledge_cancellation_expiration_date').val('');
          $('#pledge_cancellation_balance').val('');
          $('#pledge_balance').html('');
          $('#pledge_value').html('');
          $('#pledge_cancellations_sum').html('');
          $('#pledge_liquidations_sum').html('');
          clearExistingPledgeParcels();
          pledgeValue = null;
        }
      });
    })();
  <% end %>
</script>
