<%= f.input :organogram_configuration %>
<%= f.input :organogram, :input_html => { :"date-mask" => f.object.mask } %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :organogram_kind, :collection => OrganogramKind.to_a %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :tce_code %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :description %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :acronym %>
  </div>
</div>

<%= f.input :administration_type %>
<%= f.input :performance_field %>

<script>
  $('#organogram_configuration_organogram_id').change(function() {
    var organogram_configuration_id = $('#organogram_configuration_organogram_id').attr('value');
    if(organogram_configuration_id != '') {
      $.getJSON('/organogram_configurations/'+organogram_configuration_id, function(data){
        $('#organogram_organogram').mask(data.mask);
      });
    }
  });
</script>
