<table class="records">
  <thead>
    <tr>
      <th>
        <%= resource_class.human_attribute_name :id %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :description %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :tce_code %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :organogram %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :acronym %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :administration_type %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :performance_field %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% localized(collection) do |resource| %>
      <tr id="<%= dom_id resource %>">
        <td>
          <%= resource.id %>
        </td>
        <td>
          <%= link_to resource, edit_resource_path(resource) %>
        </td>
        <td>
          <%= resource.tce_code %>
        </td>
        <td>
          <%= resource.organogram %>
        </td>
        <td>
          <%= resource.acronym %>
        </td>
        <td>
          <%= resource.administration_type %>
        </td>
        <td>
          <%= resource.performance_field %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
