<table id="items" class="records">
  <thead>
  <th>Item</th>
  <th>Melhor Proposta</th>
  <th>Fornecedor Proposta</th>
  <th>Melhor Lance</th>
  <th>Fornecedor Lance</th>
  <th>Status</th>
  </thead>

  <tbody>
  <% @auction.licitation_process.trading_items.status_pending.each do |item| %>
    <tr id="item-<%= item.id %>">
      <td><%= item.material %></td>
      <td><%= item.decorator.lowest_proposal_amount %></td>
      <td><%= item.decorator.lowest_proposal_creditor %></td>
      <td class="bid_amount"><%= item.decorator.lowest_bid_amount %></td>
      <td class="bid_creditor"><%= item.decorator.lowest_bid_creditor %></td>
      <td class="status"><%= item.status_humanize %></td>
    </tr>
  <% end.empty? and begin %>
    <tr><td class="text-sm-center" colspan="7">Nenhum item foi liberado para lançes ainda</td></tr>
  <% end %>
  </tbody>
</table>

<div class="row mt-5">
  <div class="col">
    <% if @auction.chat_activated %>
      <%= render 'chat' %>
    <%else %>
      <div class="text-center">
        <h2>O chat está desabilitado!</h2>
        <button type="button" class="btn btn-success btn-lg" onclick="activeChat()">Habilitar Chat</button>
      </div>
    <% end %>
  </div>

  <div class="col">
    <%= render 'all_bids' %>
  </div>
</div>

<script>
  function activeChat(){
    var data = {auction:{chat_activated: true}};
    $.ajax({
      url: Routes.auction_auction.replace(':id', <%=@auction.id%>),
      data: data,
      dataType: 'json',
      type: 'PUT',
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token', $("[name='csrf-token']").attr('content'))
      },
      success: function() { window.location.reload() },
      error: function() { alert('Houve um erro contate suporte!') }
    });
  }
</script>

<style>
  .title-section{
    color: #3f6e9d;
    font-size: 186%;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 18px;
  }
</style>
