<%= f.input :checking_account_of_fiscal_account %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :name %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :tag %>
  </div>
</div>

<%= f.input :description %>
<%= f.input :fill %>
<%= f.input :reference %>
<%= f.input :checking_account_structure_information %>
