<div class="yui3-g modal-finder">
  <div class="yui3-u-1-2">
    <%= f.association :people, :as => :modal, :hidden_field => false, :input_html => { :value => nil }, :modal_url => modal_people_path %>
  </div>
</div>

<input type="hidden" name="<%= f.sanitized_object_name %>[person_ids][]" />

<table class="records">
  <thead>
    <tr>
      <th>
        <%= Person.human_attribute_name :name %>
      </th>
      <th>
        <%= Person.human_attribute_name :identity_document %>
      </th>
      <th>
      </th>
    </tr>
  </thead>

  <tbody class="<%= f.sanitized_object_name %>_people_records">
    <% f.object.people.each do |person| %>
      <%= render 'people/list_form',  :id => person.id, :name => person.name, :identity_document => person.identity_document, :f => f %>
    <% end %>
  </tbody>
</table>

<%= mustache "#{f.sanitized_object_name}_people_template" do %>
  <%= f.association :people, :collection => f.object.people.build do |p| %>
    <%= render 'people/list_form', :id => '{{id}}', :name => '{{name}}', :identity_document => '{{identity_document}}', :f => f %>
  <% end %>
<% end %>
