<div class="yui3-g" style="margin-top: 3rem">
  <div class="yui3-u-1-3">
    <%= f.input :licitation_process, :disabled => true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :licitation_process_process_date, :disabled => true, :input_html => { :value => f.object.decorator.process_date } %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :habilitation_date %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-2-5">
      <%= f.input :creditor, as: :auto_complete, required: true,
                  hidden_field: :creditor_id%>
  </div>

  <div class="yui3-u-1-6 checkbox">
    <%= f.input :renounce_resource  %>
  </div>

  <div class="yui3-u-1-4 checkbox">
    <%= f.input :recording_attendance %>
  </div>

  <div class="yui3-u-1-8 checkbox">
    <%= f.input :enabled %>
  </div>

</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <% if f.object.validate_technical_score? %>
      <%= f.input :technical_score, :input_html => { :maxlength => 6 } %>
    <% end %>
  </div>
</div>

<% if f.object.licitation_process_invitation? %>
  <%= f.input :invited %>

  <div class="yui3-g">

    <div class="yui3-u-1-4">
      <%= f.input :protocol  %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :protocol_date %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :receipt_date %>
    </div>
  </div>
<% end %>


<div class="tabs">
  <ul>
    <li>
      <%= link_to "Documentos", "#documents" %>
    </li>
  </ul>

  <div id="documents">
    <%= render 'bidders/documents', :f => f %>
  </div>
</div>

<script>
  function toggleEnabledDisabledFields() {
    if($('#bidder_invited').is(':checked')) {
      $('#bidder_protocol, #bidder_protocol_date, #bidder_receipt_date').attr('disabled', false);
     } else {
       $('#bidder_protocol, #bidder_protocol_date, #bidder_receipt_date').attr('disabled', true);
     }
   }

   function toggleRequiredFields() {
     if($('#bidder_invited').is(':checked')) {
       $('#bidder_protocol, #bidder_protocol_date, #bidder_receipt_date').requiredField(true);
     } else {
       removeDuplicateRequiredLabels();
     }
   }

   function removeValuesFromDisabledFields() {
     if(!$('#bidder_invited').is(':checked')) {
       $('#bidder_protocol, #bidder_protocol_date, #bidder_receipt_date').val('');
     }
   }

   function removeDuplicateRequiredLabels(){
     $('#bidder_protocol, #bidder_protocol_date, #bidder_receipt_date').requiredField(false);
   }

  $('#bidder_invited').click(function() {
    toggleEnabledDisabledFields();
    removeValuesFromDisabledFields();
    toggleRequiredFields();
  });

  function calculateProposalTotalValue(field) {
    var total = 0,
        value,
        container = field.closest('.container');

    container.find('.item-total-price').each(function() {
      value = $(this).val();

      if (value != '') {
        total += parsePtBrFloat(value);
      }
    });

    container.find('.proposal-total-value').val(numberWithDelimiter(total, '.', ','));
  };

  $('form.bidder').on('keyup', '.item-unit-price', function() {
     var itemDiv = $(this).closest('div.item'),
         unitPrice = new BigNumber(parsePtBrFloat(itemDiv.find('.item-unit-price').val() || '0')),
         quantity = new BigNumber(parsePtBrFloat(itemDiv.find('.item-quantity').val() || '0')),
         totalPrice = numberWithDelimiter(parseFloat(unitPrice.multiply(quantity)));
     itemDiv.find('.item-total-price').val(totalPrice);
     calculateProposalTotalValue($(this));
   });

  $("#bidder_documents").on('nestedForm:afterAdd', function(){
    $("[name$='[emission_date]']").datepicker({ maxDate: 0 });
  });

  removeDuplicateRequiredLabels();
  toggleEnabledDisabledFields();
  toggleRequiredFields();

  <% if f.object.licitation_process_ratification? %>
    $("input").attr("disabled", "disabled")
    $("select").attr("disabled", "disabled")
  <% end %>

  <% if f.object.licitation_process_has_trading? %>
    $("#proposal :input").attr("disabled", "disabled");
  <% end %>

  $("#bidder_enabled").on('click', function(){
    if ($(this).is(':checked')) {
      $("#bidder_habilitation_date").val("<%= I18n.l Date.current %>");
    }else{
      $("#bidder_habilitation_date").val("");
    }
  });
</script>

<style>
  .checkbox{
    margin-top: 38px
  }
</style>