<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :licitation_process, :disabled => true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :licitation_process_process_date, :disabled => true, :input_html => { :value => f.object.decorator.process_date } %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :administrative_process, :disabled => true %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1">
    <%= f.input :creditor %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :status, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <% if f.object.validate_technical_score? %>
      <%= f.input :technical_score, :input_html => { :maxlength => 6 } %>
    <% end %>
  </div>
</div>

<%= f.input :will_submit_new_proposal_when_draw %>

<% if f.object.administrative_process_invited? %>
  <%= f.input :invited %>

  <div class="yui3-g">

    <div class="yui3-u-1-4">
      <%= f.input :protocol  %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :protocol_date %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :receipt_date %>
    </div>
  </div>
<% end %>

<div class="tabs">
  <ul>
    <li>
      <%= link_to "Representantes credenciados", "#accredited_representatives" %>
    </li>

    <li>
      <%= link_to "Documentos", "#documents" %>
    </li>

    <li>
      <%= link_to "Propostas", "#proposal" %>
    </li>
  </ul>

  <div id="accredited_representatives">
    <%= render 'accredited_representatives', :f => f %>
  </div>

  <div id="documents">
    <%= render 'documents', :f => f %>
  </div>

  <div id="proposal">
    <%= render f.object.decorator.show_proposal_tabs, :f => f  %>
  </div>
</div>

<script>
  function toggleEnabledDisabledFields() {
    if($('#bidder_invited').is(':checked')) {
      $('#bidder_protocol, #bidder_protocol_date, #bidder_receipt_date').attr('disabled', false);
     } else {
       $('#bidder_protocol, #bidder_protocol_date, #bidder_receipt_date').attr('disabled', true);
     }
   }

   function toggleRequiredFields() {
     if($('#bidder_invited').is(':checked')) {
       $('#bidder_protocol, #bidder_protocol_date, #bidder_receipt_date').requiredField(true);
     } else {
       removeDuplicateRequiredLabels();
     }
   }

   function removeValuesFromDisabledFields() {
     if(!$('#bidder_invited').is(':checked')) {
       $('#bidder_protocol, #bidder_protocol_date, #bidder_receipt_date').val('');
     }
   }

   function removeDuplicateRequiredLabels(){
     $('#bidder_protocol, #bidder_protocol_date, #bidder_receipt_date').requiredField(false);
   }

  $('#bidder_invited').click(function() {
    toggleEnabledDisabledFields();
    removeValuesFromDisabledFields();
    toggleRequiredFields();
  });

  function calculateProposalTotalValue(field) {
    var total = 0,
        value,
        container = field.closest('.container');

    container.find('.item-total-price').each(function() {
      value = $(this).val();

      if (value != '') {
        total += parsePtBrFloat(value);
      }
    });

    container.find('.proposal-total-value').val(numberWithDelimiter(total, '.', ','));
  };

  $('form.bidder').on('keyup', '.item-unit-price', function() {
     var itemDiv = $(this).closest('div.item'),
         unitPrice = new BigNumber(parsePtBrFloat(itemDiv.find('.item-unit-price').val() || '0')),
         quantity = new BigNumber(parsePtBrFloat(itemDiv.find('.item-quantity').val() || '0')),
         totalPrice = numberWithDelimiter(parseFloat(unitPrice.multiply(quantity)));
     itemDiv.find('.item-total-price').val(totalPrice);
     calculateProposalTotalValue($(this));
   });

  removeDuplicateRequiredLabels();
  toggleEnabledDisabledFields();
  toggleRequiredFields();

  <% unless f.object.allow_bidders? %>
    $(function(){
      $('form.bidder [data-disabled]').on('click', function(event){
        event.stopImmediatePropagation();
        return false;
      });
      $('form.bidder :input').not('[data-disabled]').attr('disabled', true);
    });
  <% end %>
</script>
