<%= f.input :mask, :as => :hidden %>

<div class="yui3-g">
  <div class="yui3-u-2-3">
    <%= f.input :parent_class_number, :as => :auto_complete,
                :source_path => materials_classes_path,
                :hidden_field => 'parent_number',
                :input_html => { 'data-hidden-field-value-attribute' => 'filled_mask' } %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :number, :input_html => { :class => 'span2' }, :wrapper_html => { :class => 'input-prepend number-prepend' }  %>
    <%= f.input :class_number, :as => :hidden %>
  </div>
</div>

<%= f.input :description %>
<%= f.input :details %>

<script>
  $('#materials_class_parent_class_number').on('change', function(event, material_class){
    if (event.originalEvent === undefined) {
      $("#prepended-input").remove();

      if (material_class) {
        $("#materials_class_mask").val(material_class.mask);
        $("#materials_class_number").attr("data-mask", material_class.child_mask);
        $("#materials_class_number").before(function() {
          var text = material_class.filled_mask + '.';
          return $("<span>").text(text).addClass('add-on').attr("id", "prepended-input");
        });
      } else {
        $("#materials_class_mask").val('');
        $("#materials_class_number").removeData("mask");
      }
    }
  });

  $('#materials_class_number').focusin(function() {
    if ($('#materials_class_parent_class_number').val() == "") {
      $("#prepended-input").remove();
      $(this).attr("data-mask", "99");
    }
  });

  (function() {
    $("#materials_class_parent_number").val('<%= resource.decorator.persisted_parent_masked_number %>');
    $("#materials_class_number").val('<%= resource.decorator.last_level_class_number %>');
    $("#materials_class_number").data("mask", "<%= resource.decorator.child_mask %>");
    $("#materials_class_parent_class_number").val("<%= resource.decorator.persisted_masked_to_s %>");

    $("#materials_class_number").before(function() {
      return $("<span>").text('<%= resource.decorator.persisted_parent_masked_number(true) %>').addClass('add-on').attr("id", "prepended-input");
    });

    <% unless f.object.editable? %>
      $("form :input").attr('disabled', true);
    <% end %>
  })();
</script>
