<tr class="record">
  <td>
    <%= class_number %>
  </td>
  <td>
    <%= description %>
  </td>
  <td>
    <input id="provider_materials_classes_record_<%= id %>_id" type="hidden" name="<%= f.sanitized_object_name %>[materials_class_ids][]" value="<%= id %>" />
    <button class="button negative modal-finder-remove">Remover classe</button>
  </td>
</tr>
