<div class="nested-administrative-process-budget-allocation contrasted">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <%= f.input :budget_allocation, :as => :auto_complete, :source_path => budget_allocations_path, :min_length => 1 %>

  <div class="yui3-g">
    <div class="yui3-u-1-4">
      <%= f.input :budget_allocation_expense_nature, :disabled => true %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :budget_allocation_amount, :disabled => true, :input_html => { :value => number_with_precision(f.object.budget_allocation_amount) } %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :value, :input_html => { :class => 'allocation-value' } %>
    </div>
  </div>

  <p class="yui3-u">
    <input type="button" class="button negative remove-administrative-process-budget-allocation" value="Remover Dotação">
  </p>
</div>
