<div class="breadcrumb">
  <ul>
    <li><%= plural %></li>
    <li><%= t "#{controller_name}.index", :resource => plural, :cascade => true %></li>
  </ul>
</div>

<%= paginate %>

<%= render 'list' %>

<%= paginate %>
