<p>
  <input type="button" class="button affirmative add-budget-unit-level" value="Adicionar Estrutura">
</p>

<div>
  <div id="budget_unit_levels">
    <%= f.association :budget_unit_levels, :collection => localized(f.object.budget_unit_levels) do |p| %>
      <%= render 'budget_unit_levels/form', :f => p %>
    <% end %>
  </div>
</div>

<%= mustache 'budget-unit-levels-template' do %>
  <%= f.association :budget_unit_levels_attributes, :collection => f.object.budget_unit_levels.build, :index => '{{uuid_budget_unit_level}}' do |p| %>
    <%= render 'budget_unit_levels/form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#budget-unit-levels-template").nestedForm({
    add: '.add-budget-unit-level',
    remove: '.remove-budget-unit-level',
    target: '#budget_unit_levels',
    uuid: 'uuid_budget_unit_level',
    fieldToRemove: '.budget-unit-level',
    appendItem: false
  });
</script>
