<%= f.association :personable, :collection => f.object.personable.is_a?(Individual) ? f.object.personable.localized : Individual.new do |p| %>
  <div class="tabs">
    <ul>
      <li><a href="#individual">Pessoa</a></li>
      <li><a href="#individual_identity">Identidade</a></li>
      <li><a href="#individual_contact">Contato</a></li>
      <li><a href="#individual_address">Endereço</a></li>
    </ul>

    <div id="individual">
      <div class="yui3-g">
        <div class="yui3-u-1-2">
          <%= f.input :name %>
        </div>

        <div class="yui3-u-1-2">
          <%= p.input :gender, :as => :radio_buttons, :collection => Gender.to_a %>
        </div>
      </div>

      <div class="yui3-g">
        <div class="yui3-u-1-2">
          <%= p.input :mother %>
        </div>

        <div class="yui3-u-1-2">
          <%= p.input :father %>
        </div>
      </div>

      <div class="yui3-g">
        <div class="yui3-u-1-5">
          <%= p.input :cpf %>
        </div>

        <div class="yui3-u-1-5">
          <%= p.input :birthdate %>
        </div>
      </div>
    </div>

    <div id="individual_identity">
      <%= p.association :identity, :collection => p.object.identity ? p.object.identity.localized : p.object.build_identity do |i| %>
        <div class="yui3-g">
          <div class="yui3-u-1-3">
            <%= i.input :number, :input_html => { :size => 15 } %>
          </div>

          <div class="yui3-u-1-3">
            <%= i.input :issuer, :input_html => { :size => 15} %>
          </div>

          <div class="yui3-u-1-6">
            <%= i.input :issue, :input_html => { :size => 6 } %>
          </div>
        </div>

        <%= i.input :state %>
      <% end %>
    </div>

    <div id="individual_contact">
      <div class="yui3-g">
        <div class="yui3-u-1-6">
          <%= f.input :phone, :as => :string %>
        </div>

        <div class="yui3-u-1-6">
          <%= f.input :mobile, :as => :string %>
        </div>

        <div class="yui3-u-1-6">
          <%= f.input :fax, :as => :string %>
        </div>
      </div>

      <%= f.input :email %>
    </div>

    <div id="individual_address">
      <%= p.association :address, :collection => p.object.address || Address.new do |a| %>
        <%= render "addresses/address", :a => a %>
      <% end %>

      <%= render "addresses/correspondence", :f => p %>
    </div>
<% end %>
