<div class="yui3-g modal-finder">
  <div class="yui3-u-1-2">
    <%= f.association :purchasing_units, :as => :modal,:hidden_field => false,
                      :input_html => { :value => nil },:modal_url =>
                      modal_purchasing_units_path(:by_situation =>'active')%>
  </div>
</div>

<input type="hidden" name="<%= f.sanitized_object_name %>[purchasing_unit_ids][]" />

<table class="records">
  <thead>
  <tr>
    <th>
      <%= PurchasingUnit.human_attribute_name :code %>
    </th>
    <th>
      <%= PurchasingUnit.human_attribute_name :name %>
    </th>
    <th>
    </th>
  </tr>
  </thead>

  <tbody class="<%= f.sanitized_object_name %>_purchasing_units_records">
  <% f.object.purchasing_units.each do |purchasing_unit| %>
    <%= render 'purchasing_units/list_form', :name => purchasing_unit.name, :id => purchasing_unit.id, :code => purchasing_unit.code, :f => f %>
  <% end %>
  </tbody>
</table>

<%= mustache "#{f.sanitized_object_name}_purchasing_units_template" do %>
  <%= f.association :purchasing_units, :collection => f.object.purchasing_units.build do |p| %>
    <%= render 'purchasing_units/list_form', :name => '{{name}}', :id => '{{id}}', :code => '{{code}}', :f => f %>
  <% end %>
<% end %>