<div class="yui3-g">
  <div class="yui3-u-1-8">
    <%= f.input :year %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :licitation_process %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :creditor %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :modality_or_type_of_removal, as: :fake, disabled: true, input_html: { value: f.object.decorator.modality_or_type_of_removal } %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :authorization_date %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :purchase_solicitation , :disabled=> f.object.licitation_process.nil? %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :pledge, as: :auto_complete, source_path: pledges_path,
      hidden_field: :pledge_id %>
    <%= f.error :pledge_id %>
  </div>
</div>

<div id="supply_order_items">
  <%= f.association :items do |i| %>
    <%= render i.object.decorator.nested_form_path,
      f: i,
      authorized_quantity:      i.object.authorized_quantity,
      authorized_value:         i.object.decorator.authorized_value,
      balance:                  i.object.balance,
      value_balance:            i.object.decorator.value_balance,
      material:                 i.object.material,
      material_id:              i.object.material_id,
      quantity:                 i.object.quantity,
      pledge_item_id:           i.object.pledge_item_id,
      reference_unit:           i.object.reference_unit,
      total_price:              i.object.decorator.total_price,
      unit_price:               i.object.decorator.unit_price,
      service_without_quantity: i.object.service_without_quantity?
    %>
  <% end %>
</div>

<%= mustache 'supply_order_items_quantity_template' do %>
  <%= f.association :items_attributes, collection: f.object.items.build, index: '{{uuid_item}}' do |p| %>
    <%= render 'supply_order_items/form_quantity',
      f: p,
      authorized_quantity:      '{{authorized_quantity}}',
      balance:                  '{{balance}}',
      material:                 '{{material}}',
      material_id:              '{{material_id}}',
      quantity:                 '{{quantity}}',
      pledge_item_id:           '{{id}}',
      reference_unit:           '{{reference_unit}}',
      total_price:              '{{total_price}}',
      unit_price:               '{{unit_price}}',
      service_without_quantity: '{{service_without_quantity}}'
    %>
  <% end %>
<% end %>

<%= mustache 'supply_order_items_value_template' do %>
  <%= f.association :items_attributes, collection: f.object.items.build, index: '{{uuid_item}}' do |p| %>
    <%= render 'supply_order_items/form_value',
      f: p,
      authorized_value:         '{{authorized_value}}',
      value_balance:            '{{value_balance}}',
      material:                 '{{material}}',
      material_id:              '{{material_id}}',
      value:                    '{{value}}',
      pledge_item_id:           '{{id}}',
      reference_unit:           '{{reference_unit}}',
      total_price:              '{{total_price}}',
      unit_price:               '{{unit_price}}',
      service_without_quantity: '{{service_without_quantity}}'
    %>
  <% end %>
<% end %>