<div class="buttons">
  <%= link_to('Imprimir', report_supply_orders_path(resource.id), class: "button primary") unless resource.id.nil? %>
  <% if f.object.updatabled %>
    <%= f.button :submit, 'data-disabled' => "Desabilitado" if can?(:modify, main_controller_name) %>
    <%= f.button :submit, 'data-disabled' => "Desabilitado", id: "supply_order_submit_close", class: 'supply_order_submit_close' if can?(:modify, main_controller_name) %>
  <% else %>
    <%= f.button :submit if can?(:modify, main_controller_name) %>
    <%= f.button :submit, id: "supply_order_submit_close", class: 'supply_order_submit_close' if can?(:modify, main_controller_name) %>
  <% end %>

  <%= f.button :back %>

  <% if f.object.persisted? && can?(:destroy, main_controller_name) %>
    <%= f.button :destroy %>
  <% end %>
</div>

<script>
    $(function () {
        $(".supply_order_submit_close").val("Fechar");
    });
</script>