<div class="tabs">
  <ul>
    <li>
      <a href="#main">Dados da Ordem</a>
    </li>

    <li>
      <a href="#supply_requests">Pedidos de Fornecimentos</a>
    </li>

    <li>
      <a href="#items">Itens</a>
    </li>
    
    <li>
      <a href="#invoices">Notas Fiscais</a>
    </li>

    <li>
      <a href="#budgetary">Dados Orçamentários</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="items">
    <%= render 'items', :f => f %>
  </div>

  <div id="supply_requests">
    <%= render 'supply_requests', :f => f %>
  </div>

  <div id="invoices">
    <%= render 'invoices', :f => f %>
  </div>

  <div id="budgetary">
    <%= render 'budgetary', :f => f %>
  </div>
</div>
