<div id="supply_order_invoices">

  <div class="nested-fields add-margin-bottom">
    <%= f.association :invoices_attributes, :collection => Invoice.new do |p| %>
      <% p.object_name = "invoice" %>
      <%= p.input :id, as: :hidden %>

      <div class="yui3-g">
        <div class="yui3-u-1-5">
          <%= p.input :number  %>
        </div>
        <div class="yui3-u-1-5">
          <%= p.input :date %>
        </div>
        <div class="yui3-u-1-5">
          <%= p.input :competence_month, as: :select, :collection => month_years, label_method: :first, value_method: :last %>
        </div>
        <div class="yui3-u-1-5">
          <%= p.input :release_date %>
        </div>
        <div class="yui3-u-1-5">
          <%= p.input :value, :input_html =>{ disabled: true, id:"total-invoice-value" } %>
        </div>
      </div>

      <div class="d-flex" style="justify-content: space-between">
        <div>
          <h3>Selecione os Itens da NF </h3>
        </div>
        <div style="margin-top: 18px">
          (*O Sistema permite modificar Quantidade Fornecida para menor se necessário)
        </div>
      </div>


      <table id="invoice-items-records" class="records ignore-data">
        <thead>
        <tr>
          <th><%= SupplyOrderItem.human_attribute_name :material %></th>
          <th width="10%">Quantidade Solicitada</th>
          <th width="10%">Saldo Disponivel</th>
          <th width="10%">Quantidade NF</th>
          <th width="10%">Valor Unitário</th>
          <th width="10%">Valor</th>
        </tr>
        </thead>
        <tbody>
        <% f.object.items.each do |item| %>
          <%= simple_fields_for :supply_order_item_invoices, :collection => SupplyOrderItemInvoice.new do |r| %>
            <% r.object_name = "invoice_items" %>
            <% qtd_solicited = item.quantity || 0 %>
            <% qtd_supplied = qtd_solicited - item.supplied_invoices.sum(:quantity_supplied) %>
            <%= render 'invoice_items', f: r, item: item, qtd_solicited: qtd_solicited, qtd_supplied: qtd_supplied  %>
          <% end %>
        <% end %>
        </tbody>
      </table>

      <div class="text-right">
        <%= button_tag 'Adicionar e Salvar', type: :button,
                       'data-template' => 'supply_order_invoices_template',
                       'data-records' => 'invoices-records',
                       'data-disabled' => f.object.updatabled ? 'Desabilitado': nil,
                       'data-ignored' => '.ignore-data',
                       :id => "supply_order_invoices_adicionar",
                       :class => 'button add-nested-record field-without-label' %>
      </div>

    <% end %>
  </div>

  <%= f.error :invoices %>

  <table id="invoices-records" class="records">
    <thead>
    <tr>
      <th>Numero da Nota Fiscal</th>
      <th><%= Invoice.human_attribute_name :competence_month %></th>
      <th width="11%">Data da Nota Fiscal</th>
      <th><%= Invoice.human_attribute_name :release_date %></th>
      <th width="11%">Valor da Nota Fiscal</th>
      <th width="11%"><%= Invoice.human_attribute_name :settling_date %></th>
      <th width="11%"><%= Invoice.human_attribute_name :settling_number %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= f.association :invoices, :collection => localized(f.object.invoices) do |p| %>
      <% competence_date = l(p.object.competence_month&.to_date, format: '%B/%Y') unless p.object.competence_month.blank? %>
      <%= render 'supply_order_invoices/form',
                 id: p.object.id,
                 number: p.object.number,
                 date: p.object.date,
                 release_date: p.object.release_date,
                 value: p.object.value,
                 competence_month: p.object.competence_month,
                 competence_month_text: competence_date,
                 items: p.object.supply_order_item_invoices,
                 f: p %>
    <% end %>
    </tbody>
  </table>
  <%= mustache "supply_order_invoices_template" do %>
    <%= f.association :invoices_attributes, :collection => f.object.invoices.build, :index => '{{uuid}}' do |p| %>
      <%= render 'supply_order_invoices/form',
                 id: '{{id}}',
                 number: '{{number}}',
                 date: '{{date}}',
                 release_date: '{{release_date}}',
                 value: '{{value}}',
                 competence_month: '{{competence_month}}',
                 competence_month_text: '{{competence_month_text}}',
                 items: nil,
                 f: p %>
    <% end %>
  <% end %>
</div>

<style>
  table.records .input{
    margin-bottom: unset !important;
  }
  .hide{
    display: none;
  }

  .ui-button{
    box-shadow: none !important;
    background: #EDEDED;
    border: solid 1px #C7C7C7;
    border-radius: 5px;
    color: #7C7F81;
    cursor: pointer;
    display: inline-block;
    font-size: 105.1%;
    padding: 0.5em;
    text-decoration: none;
  }
    .ui-dialog-buttonset{
      float: right;
    }
</style>