<%= f.error :items %>
<button type="button" class="button primary edit-order-items" style="float: right; margin-bottom: 10px;">Editar</button>
<table id="items-records" class="records">
  <thead>
  <tr>
    <th><%= Material.human_attribute_name :code %></th>
    <th>Data do Pedido</th>
    <th><%= SupplyOrderItem.human_attribute_name :material %></th>
    <th>Qtd. Licitada</th>
    <th width="10%">Qtd. Atd. Anteriormente</th>
    <th width="10%">Saldo</th>
    <th width="10%">Qtd/Pedido</th>
  </tr>
  </thead>
  <tbody>
  <% Material.by_licitation_process(f.object.licitation_process_id).each do |material| %>
    <%= f.association :items, :collection => init_object(f.object, material) do |p| %>
      <% response = SupplyOrder.total_balance(f.object.licitation_process, f.object.purchase_solicitation, material, p.object.quantity, f.object, f.object.contract) %>

      <%= render 'supply_order_items/form', f: p, material: material, licitation_process: f.object.licitation_process_id, balance: response['balance'] %>
    <% end %>
  <% end %>
  </tbody>
</table>

<script>
  <%if f.object.items.present? %>
  $(".supply_order_quantity").prop('readonly', true);
  <% end %>

  <%unless f.object.persisted? %>
  $('.edit-order-items').hide();
  <% end %>

  $(".edit-order-items").click(function(){
    $(".supply_order_quantity").prop('readonly', !$(".supply_order_quantity").prop('readonly'));
  })
</script>
