<div class="row">
  <div class="yui3-u-1-8">
    <%= f.input :year %>
  </div>
  <div class="yui3-u-1-2">
    <div>
      <label> Fornecedor </label>
      <input class="string" disabled id="supply_order_creditor"
             value="<%= f.object.decorator.creditor %>" size="30" type="text">
      <input class="string" hidden id="supply_order_creditor_id"
             value="<%= f.object.decorator.creditor_id %>" size="30" type="text">
    </div>
  </div>
  <div class="yui3-u-3-8">
    <%= f.input :order_status, :disabled => true %>
  </div>
</div>
<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :licitation_process, as: :modal,
                data_url: modal_licitation_processes_url,
                hidden_field: :licitation_process_id %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :modality_or_type_of_removal, as: :fake, disabled: true,
                input_html: {value: f.object.decorator.modality_or_type_of_removal} %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :contract, as: :modal, data_url: modal_contracts_url,
                hidden_field: :contract_id %>
  </div>

  <div class="yui3-u-1-4">
    <div class="input integer optional disabled">
      <label class="integer optional">Nº da Ordem de Fornecimento</label>
      <input class="integer string optional disabled"  disabled="disabled" type="text" value="<%= "#{f.object.decorator.number_year }" %>">
    </div>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4 hidden">
    <%= f.input :updatabled %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :authorization_date, :disabled => f.object.updatabled %>
  </div>

  <div class="yui3-u-3-4">
    <%= f.input :pledge, :disabled => f.object.updatabled %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :purchase_solicitation, :disabled => f.object.updatabled %>
  </div>

  <div class="yui3-u-1-2">
    <div class="input integer">
      <label class="numeric integer ">Departamento</label>
      <input class="string integer" type="text" id="purchase_solicitation_department" value="<%= f.object.purchase_solicitation.department if f.object.purchase_solicitation %>" disabled>
    </div>
  </div>

</div>

<%= f.input :observation, :disabled => f.object.updatabled %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    <% if f.object.try(:contract).try(:type_contract) ==  ContractMinute::MINUTE  %>
    setPledgeRequired({type_contract: '<%= ContractMinute::MINUTE %>'});
    <% end %>

    <% unless f.object.invoices.blank? %>
    $('#supply_order_licitation_process, #supply_order_contract, #supply_order_purchase_solicitation')
            .prop('readonly', true).attr('data-disabled', 'Não é permitido alterar o dado, pois está ordem já possui notas fiscais.');
    <% end %>

    $("#supply_order_contract_id").change(function(event, data){
      setPledgeRequired(data);
    });

    function setPledgeRequired(data){
      if(data.type_contract === '<%= ContractMinute::MINUTE %>'){
        $(".supply_order_pledge label").append('<abbr title="obrigatório">*</abbr>')
      }else{
        $(".supply_order_pledge label abbr").remove()
      }
    }
  })

</script>