<p>
  <input type="button" class="button affirmative add-account" value="Adicionar Conta Bancária">
</p>

<div id="accounts">
  <%= f.association :accounts, :collection => localized(f.object.accounts) do |p| %>
    <%= render 'creditor_bank_accounts/form', :f => p %>
  <% end %>
</div>

<%= mustache 'accounts-template' do %>
  <%= f.association :accounts_attributes, :collection => f.object.accounts.build, :index => '{{uuid_account}}' do |p| %>
    <%= render 'creditor_bank_accounts/form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#accounts-template").nestedForm({
    add: '.add-account',
    remove: '.remove-account',
    target: '#accounts',
    uuid: 'uuid_account',
    appendItem: false,
    fieldToRemove: '.creditor-account'
  });
</script>
