<p>
  <input type="button" class="button affirmative add-bank-account" value="Adicionar Conta Bancária">
</p>

<div id="bank-account" data-nested-form="bank-account" data-append-item=false>
  <%= f.association :accounts, :collection => localized(f.object.accounts) do |p| %>
    <%= render 'creditor_bank_accounts/form', :f => p %>
  <% end %>
</div>

<%= mustache 'bank-account-template' do %>
  <%= f.association :accounts_attributes, :collection => f.object.accounts.build, :index => '{{uuid-bank-account}}' do |p| %>
    <%= render 'creditor_bank_accounts/form', :f => p %>
  <% end %>
<% end %>
