<p>
  <input type="button" class="button affirmative add-creditor-balance" value="Adicionar Balanço">
</p>

<div id="creditor-balances">
  <%= f.association :creditor_balances, :collection => localized(f.object.creditor_balances) do |p| %>
    <%= render 'creditor_balances/form', :f => p %>
  <% end %>
</div>

<%= mustache 'creditor-balances-template' do %>
  <%= f.association :creditor_balances_attributes, :collection => f.object.creditor_balances.build, :index => '{{uuid_creditor_balance}}' do |p| %>
    <%= render 'creditor_balances/form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#creditor-balances-template").nestedForm({
    add: '.add-creditor-balance',
    remove: '.remove-creditor-balance',
    target: '#creditor-balances',
    uuid: 'uuid_creditor_balance',
    fieldToRemove: '.creditor-balance',
    appendItem: false
  });
</script>
