<%= f.input :person, :disabled => f.object.persisted?  %>

<%= f.input :personable_type, :as => :hidden %>

<p>
  <%= link_to_modal_info 'creditor_person', f.object.person %>
</p>

<div id="creditor-tabs" class="tabs">
  <ul>
    <li id="tab-creditor-main" class="individual-field company-field"><a href="#creditor-main">Principal</a></li>
    <li id="tab-creditor-cnaes" class="company-field"><a href="#creditor-cnaes">CNAEs</a></li>
    <li id="tab-creditor-documents" class="company-field"><a href="#creditor-documents">Documentos</a></li>
    <li id="tab-creditor-materials"><a href="#creditor-materials">Materiais</a></li>
    <li id="tab-creditor-representatives" class="company-field"><a href="#creditor-representatives">Representantes</a></li>
    <li id="tab-creditor-accounts"><a href="#creditor-accounts">Contas Bancárias</a></li>
    <li id="tab-creditor-balance"><a href="#creditor-balance">Balanço</a></li>
    <li id="tab-creditor-regularization-or-administrative-sanctions"><a href="#creditor-regularization-or-administrative-sanctions">Sanções Administrativas / Regularizações</a></li>
  </ul>

  <div id="creditor-main">
    <%= render 'main', :f => f %>
  </div>

  <div id="creditor-cnaes">
    <%= render 'cnaes', :f => f %>
  </div>

  <div id="creditor-documents">
    <%= render 'documents', :f => f %>
  </div>

  <div id="creditor-materials">
    <%= render 'materials', :f => f %>
  </div>

  <div id="creditor-representatives">
    <%= render 'representatives', :f => f %>
  </div>

  <div id="creditor-accounts">
    <%= render 'accounts', :f => f %>
  </div>

  <div id="creditor-balance">
    <%= render 'balance', :f => f %>
  </div>

  <div id="creditor-regularization-or-administrative-sanctions">
    <%= render 'regularization_or_administrative_sanctions', :f => f %>
  </div>
</div>

<script>
  $('#creditor_person_id').change(function (event, people) {
    if (people) {
      $('#creditor_personable_type').val(people.personable_type);
    } else {
      $('#creditor_personable_type').val('');
    }
  });

  function selectFirstTabVisible() {
    $('#creditor-tabs').tabs({ selected: $('#creditor-tabs > ul > :not(li:hidden)').first().index() });
  };

  function showCommonTabs() {
    if ( $('#creditor_person_id').val() == '') {
      $('.special-field, .individual-field, .company-field').hide();
      selectFirstTabVisible();
    }
  };

  function showOnlyIndividualFields(){
    $('.special-field, .company-field').hide();
    $('.individual-field').show();
    selectFirstTabVisible();
  };

  function showOnlyCompanyFields(){
    $('.special-field, .individual-field').hide();
    $('.company-field').show();
    selectFirstTabVisible();
  };

  function showOnlySpecialEntryFields(){
    $('.individual-field, .company-field').hide();
    $('.special-field').show();
    selectFirstTabVisible();
  };

  function hideFields(){
    switch ($('#creditor_personable_type').val()){
      case 'Individual':
        showOnlyIndividualFields();
        break;
      case 'Company':
        showOnlyCompanyFields();
        break;
      case 'SpecialEntry':
        showOnlySpecialEntryFields();
        break;
      default:
        showCommonTabs();
    }
  };

  $("#creditor_person_id").change( function(event, person) {
    hideFields();
    if (person && person.isCompany) {
      $('#creditor_company_size').val(person.companySize);
      $('#creditor_choose_simple').attr('checked', person.chooseSimple);
      $('#creditor_legal_nature').val(person.legalNature);
    }
  });

  $('form.creditor').on('change', '.wrapper-creditor-account-bank input:hidden', function() {
    var url = "<%= modal_agencies_path %>?",
        params = {
          locked_fields: ["bank"],
          bank_id: $(this).val()
        };

    url += jQuery.param(params);

    $(this).closest('.creditor-account').find('.creditor-account-agency').attr('data-modal-url', url);
  });

  function setModalUrlToCnae(){
    var mainCnaeId = $('#creditor_main_cnae_id').val();
    var urlModal = $('#creditor_cnaes').attr('data-modal-url');
    urlModal += '&cnaes_remainder[]=' + mainCnaeId;

    $('#creditor_cnaes').attr('data-modal-url', urlModal);
  };

  $('#creditor_main_cnae_id').change(setModalUrlToCnae);

  $('form.creditor').on('change', '.regularization-or-administrative-sanction-reason', function (event, sanctionReason) {
    if (sanctionReason) {
      $(this).closest('.regularization-or-administrative-sanction').find('.sanction-reason-description').val(sanctionReason.description);
      $(this).closest('.regularization-or-administrative-sanction').find('.sanction-reason-type-humanize').val(sanctionReason.reason_type_humanize);
    } else {
      $(this).closest('.regularization-or-administrative-sanction').find('.sanction-reason-description').val('');
      $(this).closest('.regularization-or-administrative-sanction').find('.sanction-reason-type-humanize').val('');
    }
  });

  $('form.creditor').on('change', '.wrapper-regularization-or-administrative-sanction-reason input:hidden', function() {
    if ( $(this).closest('.regularization-or-administrative-sanction').find('.sanction-reason-type-humanize').val() == 'Sanção administrativa' ) {
      $(this).closest('.regularization-or-administrative-sanction').find('.sanction-suspended-until').requiredField(true);
    } else {
      $(this).closest('.regularization-or-administrative-sanction').find('.sanction-suspended-until').requiredField(false);
    }
  });

  showCommonTabs();
  hideFields();
</script>
