<%= f.input :person, :disabled => f.object.persisted?  %>

<%= f.input :personable_type, :as => :hidden %>

<p>
  <%= link_to_modal_info 'creditor_person', f.object.person %>
</p>

<div id="creditor-tabs" class="tabs">
  <ul>
    <li id="tab-creditor-main"><a href="#creditor-main">Principal</a></li>
    <li id="tab-creditor-cnaes"><a href="#creditor-cnaes">Cnaes secundários</a></li>
    <li id="tab-creditor-documents"><a href="#creditor-documents">Documentos</a></li>
    <li id="tab-creditor-materials"><a href="#creditor-materials">Materiais</a></li>
    <li id="tab-creditor-representatives"><a href="#creditor-representatives">Representantes</a></li>
    <li id="tab-creditor-accounts"><a href="#creditor-accounts">Conta Bancária</a></li>
    <li id="tab-creditor-balance"><a href="#creditor-balance">Balanço</a></li>
    <li id="tab-creditor-crc"><a href="#creditor-crc">CRC</a></li>
    <li id="tab-creditor-administrative-penalty"><a href="#creditor-administrative-penalty">Sanção Adm / Regularização</a></li>
  </ul>

  <div id="creditor-main">
    <%= render 'main', :f => f %>
  </div>

  <div id="creditor-cnaes">
    <%= render 'cnaes', :f => f %>
  </div>

  <div id="creditor-documents">
    <%= render 'documents', :f => f %>
  </div>

  <div id="creditor-materials">
    <%= render 'materials', :f => f %>
  </div>

  <div id="creditor-representatives">
    <%= render 'representatives', :f => f %>
  </div>

  <div id="creditor-accounts">
    <%= render 'accounts', :f => f %>
  </div>

  <div id="creditor-balance">
    <%= render 'balance', :f => f %>
  </div>

  <div id="creditor-crc">
    <%= render 'crc', :f => f %>
  </div>

  <div id="creditor-administrative-penalty">
    <%= render 'administrative_penalty', :f => f %>
  </div>
</div>

<script>
  $('#creditor_person_id').change(function (event, people) {
    if (people) {
      $('#creditor_personable_type').val(people.personable_type);
    } else {
      $('#creditor_personable_type').val('');
    }
  });

  function showOnlyIndividualFields(){
    $('#creditor_company_size').parent().hide();
    $('#creditor_choose_simple').parent().hide();
    $('#creditor_main_cnae').parent().hide();
    $('#tab-creditor-cnaes').hide();
    $('#tab-creditor-documents').hide();
    $('#tab-creditor-representatives').hide();
  };

  function showOnlyCompanyFields(){
    $('#creditor_occupation_classification').parent().hide();
    $('#creditor_municipal_public_administration').parent().parent().hide();
    $('#creditor_autonomous').parent().parent().hide();
    $('#creditor_social_identification_number').parent().parent().parent().hide();
  };

  function showOnlySpecialEntryFields(){
    $('#tab-creditor-main').hide();
  };

  function showAllTabs(){
    $('#tab-creditor-main').show();
    $('#tab-creditor-cnaes').show();
    $('#tab-creditor-documents').show();
    $('#tab-creditor-materials').show();
    $('#tab-creditor-representatives').show();
    $('#tab-creditor-accounts').show();
    $('#tab-creditor-balance').show();
    $('#tab-creditor-crc').show();
    $('#tab-creditor-administrative-penalty').show();
  };

  function showAllFields(){
    $('#creditor_company_size').parent().show();
    $('#creditor_choose_simple').parent().show();
    $('#creditor_main_cnae').parent().show();

    $('#creditor_occupation_classification').parent().show();
    $('#creditor_municipal_public_administration').parent().parent().show();
    $('#creditor_autonomous').parent().show();
    $('#creditor_social_identification_number').parent().show();
    $('#creditor_contract_start_date').parent().show();
  };

  function renderTabs(){
    switch ($('#creditor_personable_type').val()){
      case 'Individual':
        showOnlyIndividualFields();
        break;
      case 'Company':
        showOnlyCompanyFields();
        break;
      case 'SpecialEntry':
        showOnlySpecialEntryFields();
        break;
    }
  };

  $("#creditor_person_id").change(function () {
    showAllFields();
    showAllTabs();
    renderTabs();
  });

  $('form.creditor').on('change', '.wrapper-creditor-account-bank input:hidden', function() {
    $(this).closest('.creditor-account').find('.creditor-account-agency').attr('data-modal-url', "<%= modal_agencies_path %>?bank_id=" + $(this).val() );
  });

  function setModalUrlToCnae(){
    var mainCnaeId = $('#creditor_main_cnae_id').val();
    var urlModal = $('#creditor_cnaes').attr('data-modal-url');
    urlModal += '&cnaes_remainder[]=' + mainCnaeId;

    $('#creditor_cnaes').attr('data-modal-url', urlModal);
  };

  $('#creditor_main_cnae_id').change( function() {
    setModalUrlToCnae();
  });
</script>
