<div class="input modal required">
  <%= f.input :person, :disabled => f.object.persisted? %>
  <%= link_to_modal_info :href => f.object.person %>
</div>

<%= f.input :personable_type, :as => :hidden %>

<div class="individual-field">
  <%= f.input :occupation_classification %>

  <div class='yui3-g'>
    <div class='yui3-u-1-2'>
      <%= f.input :municipal_public_administration %>
    </div>

    <div class='yui3-u-1-2'>
      <%= f.input :autonomous %>
    </div>
  </div>

  <div class='yui3-g'>
    <div class='yui3-u-1-2'>
      <%= f.input :social_identification_number %>
    </div>

    <div class='yui3-u-1-2'>
      <%= f.input :contract_start_date %>
    </div>
  </div>
</div>


<div class="company-field">
  <%= f.input :company_size, :disabled => true %>

  <%= f.input :choose_simple, :as => :boolean, :disabled => true %>

  <%= f.input :legal_nature, :disabled => true %>

  <div class='yui3-g'>
    <div class='yui3-u-1-2'>
      <%= f.input :commercial_registration_number, :disabled => true %>
    </div>

    <div class='yui3-u-1-2'>
      <%= f.input :commercial_registration_date, :disabled => true, :input_html => { :value => f.object.decorator.commercial_registration_date } %>
    </div>
  </div>
</div>

<%= custom_fields f %>

<script>
  function toggleEnabledDisabledFieldsForAutonomous() {
    if ( $('#creditor_autonomous').is(':checked') ){
      $('#creditor_social_identification_number, #creditor_contract_start_date').attr('disabled', false);
      $('#creditor_social_identification_number, #creditor_contract_start_date').requiredField(true);
    } else {
      $('#creditor_social_identification_number, #creditor_contract_start_date').attr('disabled', true);
      $('#creditor_social_identification_number, #creditor_contract_start_date').requiredField(false);
    }
  }

  $('#creditor_autonomous').click(function() {
    toggleEnabledDisabledFieldsForAutonomous();
  });

  toggleEnabledDisabledFieldsForAutonomous();
</script>
