<div class='creditor-main'>

  <div class="individual-field">
    <%= f.input :occupation_classification %>
    <%= f.input :municipal_public_administration %>
    <%= f.input :autonomous %>
  </div>

  <div class='yui3-g individual-field'>
    <div class='yui3-u-1-2'>
      <%= f.input :social_identification_number %>
    </div>

    <div class='yui3-u-1-2'>
      <%= f.input :contract_start_date %>
    </div>
  </div>

  <div class="company-field">
    <%= f.input :company_size  %>
    <%= f.input :choose_simple %>
    <%= f.input :main_cnae %>
  </div>
</div>

<script>
  function toggleEnabledDisabledFieldsForAutonomous() {
    if ( $('#creditor_autonomous').is(':checked') ){
      $('#creditor_social_identification_number, #creditor_contract_start_date').attr('disabled', false);
      $('#creditor_social_identification_number, #creditor_contract_start_date').requiredField(true);
    } else {
      $('#creditor_social_identification_number, #creditor_contract_start_date').attr('disabled', true);
      $('#creditor_social_identification_number, #creditor_contract_start_date').requiredField(false);
    }
  }

  $('#creditor_autonomous').click(function() {
    toggleEnabledDisabledFieldsForAutonomous();
  });

  toggleEnabledDisabledFieldsForAutonomous();
</script>
