<div class='creditor-main'>

  <%= f.input :occupation_classification %>
  <%= f.input :municipal_public_administration %>
  <%= f.input :autonomous %>

  <div class='yui3-g'>
    <div class='yui3-u-1-2'>
      <%= f.input :social_identification_number %>
    </div>

    <div class='yui3-u-1-2'>
      <%= f.input :social_identification_number_date %>
    </div>
  </div>

  <%= f.input :company_size %>
  <%= f.input :choose_simple %>
  <%= f.input :main_cnae %>
</div>
