<%= f.error :representatives %>

<div class="yui3-g modal-finder">
  <div class="yui3-u-1-2">
    <%= f.association :representative_people, :as => :modal, :hidden_field => false, :input_html => { :value => nil }, :modal_url => modal_people_path %>
  </div>
</div>

<input type="hidden" name="<%= f.sanitized_object_name %>[representative_ids][]" />

<table class="records">
  <thead>
    <tr>
      <th>
        <%= Person.human_attribute_name :name %>
      </th>
      <th>
        <%= Person.human_attribute_name :identity_document %>
      </th>
      <th>
      </th>
    </tr>
  </thead>

  <tbody class="<%= f.sanitized_object_name %>_representative_people_records">
    <% f.object.representative_people.each do |representative| %>
      <%= render 'creditor_representatives/list_form', :name => representative.name, :id => representative.id, :identity_document => representative.identity_document, :f => f %>
    <% end %>
  </tbody>
</table>

<%= mustache "#{f.sanitized_object_name}_representative_people_template" do %>
  <%= f.association :representative_people, :collection => f.object.representative_people.build do |p| %>
    <%= render 'creditor_representatives/list_form', :name => '{{name}}', :id => '{{id}}', :identity_document => '{{identity_document}}', :f => f %>
  <% end %>
<% end %>
