<div id="supply_request_items">

  <div class="nested-fields add-margin-bottom">
    <%= hidden_field_tag :item_id, nil, :name => 'representative_person[id]' %>

    <%= f.input :representative_person, :as => :auto_complete, :fake => true, :required => true %>

    <div class="yui3-u-1-6">
      <%= button_tag 'Adicionar', type: :button,
                     :class => 'button add-nested-record field-without-label',
                     'data-template' => 'representative_persons_template',
                     'data-records' => 'items-records',
                     'data-disabled' => not_updateable_message, id: "add-material" %>
    </div>
  </div>

  <%= f.error :items %>

  <table id="items-records" class="records">
    <thead>
    <tr>
      <th><%= "Representante" %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= f.association :representatives, :collection => localized(f.object.representatives) do |p| %>
      <%= render 'creditor_representatives/form',
                 id: p.object.id,
                 representative_person: p.object.representative_person,
                 representative_person_id: p.object.representative_person_id,
                 f: p %>
    <% end %>
    </tbody>
  </table>

  <%= mustache "representative_persons_template" do %>
    <%= f.association :representatives_attributes, :collection => f.object.representatives.build, :index => '{{uuid}}' do |p| %>
      <%= render 'creditor_representatives/form',
                 id: '{{id}}',
                 representative_person: '{{representative_person}}',
                 representative_person_id: '{{representative_person_id}}',
                 f: p %>
    <% end %>
  <% end %>
</div>
