<%= f.error :representatives %>

<div class="yui3-g modal-finder">
  <div class="yui3-u-1-2">
    <%= f.association :representatives, :as => :modal, :hidden_field => false, :input_html => { :value => nil }, :modal_url => modal_people_path(:except_special_entry => true) %>
  </div>
</div>

<input type="hidden" name="<%= f.sanitized_object_name %>[representative_ids][]" />

<table class="records">
  <thead>
    <tr>
      <th>
        <%= Person.human_attribute_name :name %>
      </th>
      <th>
        <%= Person.human_attribute_name :cpf_cnpj %>
      </th>
      <th>
      </th>
    </tr>
  </thead>

  <tbody class="<%= f.sanitized_object_name %>_representatives_records">
    <% f.object.representatives.each do |representative| %>
      <%= render 'creditor_representatives/list_form', :name => representative.name, :id => representative.representative_person.try(:id), :cpf_cnpj => representative.cpf_cnpj, :f => f %>
    <% end %>
  </tbody>
</table>

<%= mustache "#{f.sanitized_object_name}_representatives_template" do %>
  <%= f.association :representatives, :collection => f.object.representatives.build do |p| %>
    <%= render 'creditor_representatives/list_form', :name => '{{name}}', :id => '{{id}}', :cpf_cnpj => '{{cpf_cnpj}}', :f => f %>
  <% end %>
<% end %>
