<div class="nested-agreement-occurrences">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <div class="yui3-g">
    <div class="yui3-u-5-24">
      <%= f.input :date %>
    </div>

    <div class="yui3-u-5-24">
      <%= f.input :kind %>
    </div>

    <div class="yui3-u-11-24">
      <%= f.input :description %>
    </div>

    <div class="yui3-u-1-24">
      <input type="button" class="button negative remove-agreement-occurrences" value="Remover">
    </div>
  </div>
</div>
