<div class="yui3-g">
  <div class="yui3-u-1-5">
    <%= f.input :state %>
  </div>

  <div class="yui3-u-1-7">
    <%= f.input :year %>
  </div>
</div>

<%= f.input :description %>
<%= f.input :mask, :disabled => true %>

<%= render 'account_plan_levels', :f => f %>

<script>
  function calculeMask() {
    var levels = [];
    var mask = '';

    $('#account-plan-level').children('.nested-account-plan-level').each(function() {
      var level     = $(this).find('input.level').val(),
          digits    = $(this).find('input.digits').val(),
          separator = $(this).find('select.separator').val();

      levels.push([level, digits, separator]);
    });

    var ordered_levels = levels.sort(function(a, b) {
      return (a[0] < b[0]) ? -1 : (a[0] > b[0]) ? 1 : 0;
    })

    $.each(ordered_levels, function(index) {
      for (var i = 1; i <= this[1]; i++) {
        mask += '9';
      }
      if ((index+1) < levels.length) {
        mask += this[2];
      }
    });

    $('#account_plan_configuration_mask').attr('value', mask);
  }

  $('#account-plan-level').on('keyup', 'input:visible.numeric', calculeMask);
  $('#account-plan-level').on('change', 'select', calculeMask);
</script>
