<div class="yui3-g">
  <div class="yui3-u-1-5">
    <%= f.input :state %>
  </div>

  <div class="yui3-u-1-7">
    <%= f.input :year %>
  </div>
</div>

<%= f.input :description %>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :mask, :disabled => true %>
  </div>
</div>

<%= render 'account_plan_levels', :f => f %>

<script>
  function orderedLevels() {
    var levels = {};

    $('#account-plan-level').children('.nested-account-plan-level').each(function() {
      var levelInput = $(this).find('input.level'),
          level      = levelInput.val(),
          digits     = $(this).find('input.digits').val(),
          separator  = $(this).find('select.separator').val();

      levelInput.parents('div.input').removeClass('field_with_errors');
      levelInput.parents('div.input').find('p').remove();

      if ( _.has(levels, level) ) {
        levelInput.parents('div.input').addClass('field_with_errors');
        levelInput.parents('div.input').append('<p class="error"><%= t 'activerecord.errors.messages.taken' %></p>');
      } else {
        levels[level] = {
          level: level,
          digits: digits,
          separator: separator
        };
      }
    });

    return _.sortBy(levels, 'level');
  }

  function calculeMask() {
    var mask = '';
    var levels = orderedLevels();

    $.each(levels, function(index) {
      for (var i = 1; i <= this['digits']; i++) {
        mask += '9';
      }
      if ((index+1) < levels.length) {
        mask += this['separator'];
      }
    });

    $('#account_plan_configuration_mask').attr('value', mask);
  }

  $('#account-plan-level').on('keyup', 'input:visible.numeric', calculeMask);
  $('#account-plan-level').on('change', 'select', calculeMask);
</script>
