<%
  def date_mask(d)
    return d.strftime("%d/%m/%Y") unless d.nil?
  end
%>

<div>
  <table class="records">
    <thead>
    <tr style="text-align: center;">
      <td> RELATÓRIO DE SALDO POR FORNECEDOR</td>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div style="text-align: justify">

</div>

<br>

<% @contracts.each do |contract| %>
  <div style="text-align: justify">
  <span>
    <p>
      <b> FORNECEDOR: </b> <%= contract.creditor %>
    </p>
  </span>
  </div>
<% total_c_l = 0 %>
<% total_c_f = 0 %>
    <div style="text-align: justify">
  <span>
    <p>
      <b> PROCESSO: </b> <%= contract.licitation_process.to_s %>
      <b> CONTRATO: </b> <%= contract.to_s %>
      <b> PRAZO DE VALIDADE: </b> <%= l(contract.end_date, format: :long) %>
    </p>
  </span>
    </div>
    <p>
    <div>
      <table class="records">
        <thead>
        <tr>
          <th width="50%">MATERIAL</th>
          <th width="20%">QUANTIDADE LICITADA</th>
          <th width="20%">QUANTIDADE FORNECIDA</th>
          <th width="10%">SALDO ATUAL</th>
        </tr>
        </thead>

        <tbody>
<% total_i_l = 0 %>
<% total_i_f = 0 %>
<% Report::BalanceHelper.get_licitation_processes_ratifications(contract.licitation_process_id, contract.creditor).each do |item| %>
<% total = Report::BalanceHelper.get_quantity_item_supply_order(contract, item.material) %>
<% balance = Report::BalanceHelper.get_balance(contract, item) %>
<% total_i_l += item.quantity %>
<% total_i_f += total %>
<% total_c_l += item.quantity %>
<% total_c_f += total %>
          <tr>
            <td><%= item.material %></td>
            <td><%= item.quantity %></td>
            <td><%= total %></td>
            <td><%= balance %></td>
          </tr>
<% end %>
        </tbody>
        <td colspan="1"></td>
        <td><h2><b>Total Licitado: <%= total_i_l %></b></h2></td>
        <td><h2><b>Total Fornecido: <%= total_i_f %></b></h2></td>
        <td colspan="1"></td>
      </table>
    </div>
    </p>
<%# end %>
  <span>
    <p>
      <b> TOTAL LICITADO: </b> <%= total_c_l %>
      <b> TOTAL FORNECIDO: </b> <%= total_c_f %>
    </p>
  </span>
  <br>
  <br>
  <br>
<% end %>