<tr class="record nested-record invoice-record" id="number-id-<%= number %>" data-index="{{uuid}}">
  <td class="number"><%= number %></td>
  <td class="number"><%= competence_month_text %></td>
  <td class="date"><%= date %></td>
  <td class="release_date"><%= release_date %></td>
  <td class="value"><%= value %></td>
  <td class="settling_date"><%= f.input :settling_date, input_html:{  class:'editable'}, label: false  %></td>
  <td class="settling_number"><%= f.input :settling_number, input_html:{ class:'editable', type: 'number'}, label: false %></td>
  <td>
    <%= link_to 'Editar', '#', class: 'edit-nested-invoice' %>
  </td>

  <td>
    <%= f.input :number, as: :hidden, input_html: { value: number, class: 'number' } %>
    <%= f.input :date, as: :hidden, input_html: { value: date, class: 'decimal' } %>
    <%= f.input :release_date, as: :hidden, input_html: { value: release_date, class: 'decimal' } %>
    <%= f.input :value, as: :hidden, input_html: { value: value, class: 'decimal' } %>
    <%= f.input :competence_month,as: :hidden, input_html: { value: competence_month, class: 'competence_month' } %>
    <%= f.input :id, as: :hidden, input_html: { value: id, class:'invoice_id' } %>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'destroy' } %>
    <span class="remove-invoice" style="color: #519AE4;text-decoration: underline; cursor: pointer;">Remover</span>
    <a href="#" class="remove-nested-record" style="display: none"></a>

    <div class="supply_order_item_invoices">
      <%= f.association :supply_order_item_invoices, :collection => items do |r| %>
        <div class="item-invoice-record" data-material="<%= r.object.try(:supply_order_item).try(:material_id) %>">
        <%= r.input :quantity_supplied, as: :hidden, input_html:{ class: 'item-invoice' },label: false %>
        <%= r.input :supply_order_item_id, as: :hidden, input_html:{ class: 'item-invoice'} %>
        <%= r.input :id, as: :hidden, input_html:{ class: 'item-invoice'} %>
        </div>
      <% end %>
    </div>

  </td>
</tr>