
<%= stylesheet_link_tag 'compras/eletronic_auction/auction'%>

<fieldset>
  <div id="smartwizard">
    <ul class="nav">
      <li>
        <a class="nav-link" href="#step-1">
          Etapa 1 - Equipe Pregão
        </a>
      </li>
      <li>
        <a class="nav-link" href="#step-2">
          Etapa 2 - Dados dos Itens
        </a>
      </li>
      <li>
        <a class="nav-link" href="#step-3">
          Etapa 3 - Dados dos Grupos
        </a>
      </li>
      <li>
        <a class="nav-link" href="#step-4">
          Etapa 4 - Configurações Finais e Edital
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="step-1" class="tab-pane" role="tabpanel">
        <%= render 'main', f: f %>
      </div>
      <div id="step-2" class="tab-pane" role="tabpanel">
        <%= render 'items', f: f %>
      </div>
      <div id="step-3" class="tab-pane" role="tabpanel">
        <%= render 'group_items', f: f %>
      </div>
      <div id="step-4" class="tab-pane" role="tabpanel">
        <%= render 'step_four', f: f %>
      </div>
    </div>
  </div>

</fieldset>

<script>
  $(function(){
  var enableNavigation = <%= f.object.persisted? %>;

  var btnFinish = $('<button></button>').text('Salvar')
    .addClass('btn btn-info btn-finish')
    .on('click', function(){
      $("form.auction").submit();
    });


  $('#smartwizard').smartWizard({
    selected: 0, // Initial selected step, 0 = first step
    theme: 'dots', // theme for the wizard, related css need to include for other than default theme
    justified: true, // Nav menu justification. true/false
    darkMode:false, // Enable/disable Dark Mode if the theme supports. true/false
    autoAdjustHeight: false, // Automatically adjust content height
    cycleSteps: false, // Allows to cycle the navigation of steps
    enableURLhash: true, // Enable selection of the step based on url hash
    toolbarSettings: {toolbarPosition: 'bottom',
      toolbarExtraButtons: [btnFinish]
    },
    transition: {
      animation: 'fade', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
      speed: '400', // Transion animation speed
      easing:'' // Transition animation easing. Not supported without a jQuery easing plugin
    },
    anchorSettings: {
      anchorClickable: true, // Enable/Disable anchor navigation
      enableAllAnchors: enableNavigation, // Activates all anchors clickable all times
      markDoneStep: true, // add done css
      markAllPreviousStepsAsDone: true, // When a step selected by url hash, all previous steps are marked done
      removeDoneStepOnNavigateBack: true, // While navigate back done step after active step will be cleared
      enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
    },
    lang: { // Language variables for button
      next: 'Proximo',
      previous: 'Voltar'
    },
  });

  $('#smartwizard').smartWizard("reset");

    $("#smartwizard").on("leaveStep", function(e, anchorObject, currentStepIndex, nextStep, stepDirection) {
      // debugger
      // if(stepDirection === 'forward'){
      //   $("form.auction").submit();
      //   return false
      // }
    });

    $("#smartwizard").on("showStep", function(e, anchorObject, stepNumber, stepDirection) {
      if(stepNumber == 3){
        $('.btn-finish').show();
      }else{
        $('.btn-finish').hide();
      }
    });
  });
  
  $("form.auction").on('auction:afterSave', function(){
    if($(".btn-finish").is(':visible')){
      window.location.replace(Routes.auction_auctions)
    }else{
      $('#smartwizard').smartWizard("next");
    }
  });
</script>

<style>
  .btn-finish {
    display: none;
  }
  .smartwizard .tab-pane{
    overflow-y: hidden
  }
  #auction_support_teams{
    padding: 13px;
  }
  .tab-content{
    height: unset !important;
  }

  h4{
    color: #3f6e9d;
  }
</style>