<h1 class="text-center blue"><span id="step-title"></span></h1>

<!-- Circles which indicates the steps of the form: -->
<div class="dots text-center">
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
</div>

<div class="d-flex align-center flex-column">
  <div class="tab d-flex justify-center">
    <%= render 'main', f: f %>
  </div>

  <div class="tab justify-center" style="width: 79.5rem">
    <%= render 'items', f: f %>
  </div>

  <div class="tab justify-center" style="width: 79.5rem">
    <%= render 'group_items', f: f %>
  </div>
  <div class="tab align-center flex-column" style="width: 79.5rem">
    <%= render 'step_four', f: f %>
  </div>
  <div>
    <button type="button" id="prevBtn" class="button primary">Voltar</button>
    <button type="button" id="nextBtn" class="button primary">Próximo</button>
  </div>
</div>
<%= stylesheet_link_tag 'compras/eletronic_auction/auction'%>

<script>
  var currentTab = 0;
  var currentTabTitle = ['Etapa 1 - Dados Principal','Etapa 2 - Dados dos Itens','Etapa 3 - Dados dos Grupos', 'Etapa 4 - Parâmentos Finais e Edital'];
  showTab(currentTab);

  function showTab(n) {
    var tabs = $(".tab");
    tabs.eq(currentTab).css('display', 'flex');
    $("#step-title").html(currentTabTitle[n]);
    // ... and fix the Previous/Next buttons:
    if (n === 0) {
      $("#prevBtn").css('display', "none")
    } else {
      $("#prevBtn").css('display', "inline")
    }
    
    if (n === (tabs.length - 1)) {
      $("#nextBtn").html("Salvar");
      $("#nextBtn").addClass("submit");
    } else {
      $("#nextBtn").html("Próximo");
      $("#nextBtn").removeClass("submit");
    }

    fixStepIndicator(n)
  }

  function nextPrev(n) {
    // This function will figure out which tab to display
    var tabs = $(".tab");

    if (n == 1 && !validateForm()) return false;
    tabs.eq(currentTab).css('display', 'none');
    // Increase or decrease the current tab by 1:
    currentTab = currentTab + n;
    // if you have reached the end of the form... :
    // if (currentTab >= tabs.length) {
    //
    //   document.getElementById("regForm").submit();
    //   return false;
    // }
    showTab(currentTab);
  }

  function validateForm() {
    // This function deals with validation of the form fields
    var valid = true,
      tabs = $("tab");

    //enviar via ajax o form aqui

    if (valid) {
      $(".step").eq(currentTab).addClass("finish");
    }
    return valid;
  }

  function fixStepIndicator(n) {
    // This function removes the "active" class of all steps...
    var i, steps = $(".step");
    steps.removeClass('active');
    //... and adds the "active" class to the current step:
    steps.eq(n).addClass('active')
  }

  $("#prevBtn").click(function(){
    nextPrev(-1)
  });

  $("#nextBtn").click(function(){
    $("form.auction").submit();
    nextPrev(1)
  });


</script>