

<div id="auction_items">

  <div class="nested-fields add-margin-bottom">
    <%= hidden_field_tag :item_id, nil, :name => 'auction_item[id]' %>
    <%= hidden_field_tag :auction_id, nil, :name => 'auction_item[auction_id]' %>
    <%= hidden_field_tag :code, nil, :name => 'auction_item[code]' %>
    <%= hidden_field_tag :quantity, nil, :name => 'auction_item[quantity]' %>
    <%= hidden_field_tag :auction_id, nil, :name => 'auction_item[auction_id]' %>


    <div class="yui3-g">
      <div class="yui3-u-1-2">
        <%= f.input :purchase_solicitation, :as => :modal, 'data-hidden-field-class' => 'unique', :fake => true %>
      </div>
      <div class="yui3-u-1-2">
        <label class="fake" for="benefit_type">Tipo da Solicitação de Compra</label>
        <%= select_tag :kind, options_for_select(PurchaseSolicitationKind.to_a),
                       include_blank: true, as: :fake, disabled: true,
                       class: ' kind select', id:'purchase_solicitation_kind'%>
      </div>
    </div>

    <div class="yui3-g">
      <div class="yui3-u-1">
        <%= f.input :material, as: :auto_complete, 'data-hidden-field-class' => 'unique', :fake => true, :required => true %>
      </div>
    </div>

    <div class="yui3-g mt-4">
      <div class="yui3-u-1-3">
        <%= f.input :lot, as: :fake, :required => true %>
      </div>
      <div class="yui3-u-1-3">
        <%= f.input :quantity, as: :fake, required: true %>
      </div>
      <div class="yui3-u-1-3">
        <%= f.input :reference_unit, as: :fake, disabled: true %>
      </div>
    </div>

    <%= f.input :material_class, as: :fake, disabled: true%>

    <%= f.input :detailed_description, as: :fake, disabled: true%>

    <div class="row">
      <div class="col-2">
        <%= f.input :estimated_value, as: :fake, :required => true,
                    :input_html => {'data-decimal' => true, :value => '0,00', 'data-precision' => 2, :maxlength => 15, :class => 'numeric'}%>
      </div>
      <div class="col-3">
        <%= f.input :max_value, as: :fake, :required => true,
                    :input_html => {'data-decimal' => true, :value => '0,00', 'data-precision' => 2, :maxlength => 15, :class => 'numeric'}%>
      </div>
      <div class="col-5" >

          <%= f.input :benefit_type, as: :fake_select, collection: BenefitType.to_a, required: true,
                       include_blank: true, input_html:{class:'select society_kind',  name: "auction[benefit_type]"} %>

      </div>
      <div class="col-2 text-center pt-2">
        <%= button_tag 'Adicionar', type: :button,
                       :class => 'button add-nested-record field-without-label',
                       'data-template' => 'auction_items_template',
                       'data-records' => 'items-records',
                       'data-disabled' => not_updateable_message %>
      </div>
    </div>


  </div>

  <%= f.error :items %>

  <table id="items-records" class="records">
    <thead>
    <tr>
      <th><%= "Número" %></th>
      <th><%= "Item" %></th>
      <th><%= "Unidade" %></th>
      <th><%= "Quantidade" %></th>
      <th><%= "Valor" %></th>
      <th><%= "Valor Máximo" %></th>
      <th><%= "Grupo" %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= f.association :items, :collection => localized(f.object.items) do |p| %>
      <%= render 'auction/auction_items/form',
                 id: p.object.id,
                 code: p.object.material.code,
                 material: p.object.material,
                 material_id: p.object.material_id,
                 detailed_description: p.object.material.detailed_description,
                 material_class: p.object&.material_class,
                 material_class_id: p.object&.material_class&.id,
                 reference_unit: p.object&.reference_unit&.acronym,
                 quantity: p.object.quantity,
                 estimated_value: p.object.estimated_value,
                 max_value: p.object.max_value,
                 benefit_type: p.object.benefit_type,
                 lot: p.object.lot,
                 auction_id: p.object.auction_id,
                 f: p %>
    <% end %>
    </tbody>
  </table>

  <%= mustache "auction_items_template" do %>
    <%= f.association :items_attributes, :collection => f.object.items.build, :index => '{{uuid}}' do |p| %>
      <%= render 'auction/auction_items/form',
                 id: "{{id}}",
                 code: "{{code}}",
                 material: "{{material}}",
                 material_id: "{{material_id}}",
                 detailed_description: "{{detailed_description}}",
                 material_class: "{{material_class}}",
                 material_class_id: "{{material_class_id}}",
                 reference_unit: "{{reference_unit}}",
                 quantity: "{{quantity}}",
                 estimated_value: "{{estimated_value}}",
                 max_value: "{{max_value}}",
                 benefit_type: "{{benefit_type}}",
                 lot: '{{lot}}',
                 auction_id: "{{auction_id}}",
                 f: p %>
    <% end %>
  <% end %>
</div>
