<table class="table table-borderless  ">
  <tbody>
  <% collection.each do |resource| %>
    <tr clas="tr-white" id="<%= dom_id resource %>">
      <td>
        <div class="border-round">
          <div class="yui3-g section-gray">
            <div class="yui3-u-1">
              <div class="ellipsis">
                <%= link_to resource_path(resource), class:'float-right pt-1' do  %>
                  <i class="material-icons">print</i>
                <% end %>

                <span class="mr-2 float-right text-dark" style="font-size: 18px; font-weight: bolder"><%=  resource.status_humanize %></span>


                <h5>Pregão:<%= "#{resource.to_s}" %> - Objeto: <%= resource.description %></h5>
              </div>
            </div>
          </div>
          <div class="border-round">
            <div class="yui3-g section-gray">
              <div class="yui3-u-1-3">
                <div class="ellipsis-sub">
                  <h5>Edital disponível a partir de: </h5>
                </div>
              </div>
              <div class="yui3-u-1-3">
                <div class="ellipsis-sub">
                  <h5>Data da Entrega da proposta:</h5>
                </div>
              </div>
              <div class="yui3-u-1-3">
                <div class="ellipsis-sub">
                  <h5>Data da Abertura da Licitação:</h5>
                </div>
              </div>
            </div>

            <div class="yui3-g section-gray">
              <div class="yui3-u-1-3">
                <div>
                  <p><%= resource.decorator.notice_availability %> </p>
                </div>
              </div>
              <div class="yui3-u-1-3">
                <div>
                  <p> <%= resource.decorator.proposal_delivery %> </p>
                </div>
              </div>
              <div class="yui3-u-1-3">
                <div>
                  <p> <%= resource.decorator.bid_opening %> às <%= resource.decorator.bid_opening_time %> <p>
                </div>
              </div>
            </div>

          </div>

          <div class="yui3-g section-gray">
            <div class="yui3-u-1">

              <p><b style="font-size:125%;">Endereço:</b> <%= address(resource) %> </p>

            </div>
            <div class="yui3-g section-gray">
              <div class="yui3-u-1">
                <div>

                </div>
              </div>
            </div>
          </div>
          <div class="yui3-g section-gray">

            <div class="yui3-u-1 actions">
              <div class="yui3-g">
                <div class="yui3-u-1">
                  <% if resource.user == current_user %>
                    <%= link_to "Editar", edit_resource_path(resource), class: 'btn btn-primary' %>
                  <% end %>
                  <%= link_to "Gestão do Pregão", dashboard_auction_auction_path(resource), class: 'btn btn-primary' %>
                  <%= link_to "Visualizar", resource_path(resource), class: 'btn btn-primary' %>
                  <%= link_to "Proposta", edit_auction_proposal_path(resource.licitation_process_id, auction_id: resource) , class: 'btn btn-primary' %>
                  <%= link_to 'Disputa', new_auction_dispute_item_path(resource), class: 'btn btn-primary' %>
                </div>
              </div>

            </div>
          </div>

        </div>
      </td>
  <% end %>
  </tbody>
</table>

<style>
  .button-cad{
    width:100%;
    float:right;
    text-align:right;
    margin-top: -30px;
    padding-right:15px;
  }
  .section-blue{
    height: 43px;
    background-color: #7e99b5;
    font-size: 22px;
    padding: 10px;
  }

  .table td, .table th {
    padding: .75rem 0 .75rem 0;
  }
  html{
    font-size: 85%;
  }

  .section-gray{
    padding: 10px;
  }

  .section-gray p{
    font-size: 100%;
  }

  .section-gray a, button{
    font-size: 18px !important;
  }
  .white{
    color:white;
  }
  .actions{
    text-align: end;
    padding-top: 7px;
  }
  .ellipsis{
    white-space: word;
    overflow:hidden;
    height: 49px;
    background-color: #b3cce6;
    padding: 10px;
    color: #53464d;
  }
  .ellipsis-sub{
    white-space: word;
    overflow:hidden;
    height: 49px;
    background-color: #ecf2f9;
    padding: 10px;
    color: #53464d;
  }

  .ellipsis:after{
    content:'...';
  }

</style>
