<table class="table table-borderless">
  <tbody>
  <% collection.each do |resource| %>
    <tr id="<%= dom_id resource %>">
      <td>

        <div class="yui3-g section-blue">
          <div class="yui3-u-1">
            <div class="ellipsis">

              <p><b>Pregão:</b> <spam class="white"><%= "#{resource.licitation_number}/#{resource.year}" %> - <%= resource.object %></spam></p>

            </div>
          </div>
        </div>

        <div class="yui3-g section-gray">
          <div class="yui3-u-1-2 ">
            <p>Objeto: <%= resource.object %></p>
            <p>Edital disponível a partir de: <%= l(resource.notice_availability) if resource.notice_availability %></p>
            <p>Endereço: <%= address(resource) %> </p>
            <p>Telefone: <%= contact(resource) %> </p>
            <p>Entrega da proposta: <%= l(resource.proposal_delivery) if resource.proposal_delivery%></p>
            <p>Abertura da proposta: <%= l(resource.bid_opening) if resource.bid_opening %></p>
          </div>

          <div class="yui3-u-1-2 actions">
            <div class="yui3-g">
              <div class="yui3-u-1">
                <%= link_to "Visualizar", edit_resource_path(resource), class: 'btn btn-primary' %>
                <%= proposal_link(resource)%>
              </div>
            </div>
            <div class="yui3-g">
              <div class="yui3-u-1">
                <button type="button" class="btn btn-primary">Entrar Disputa</button>
              </div>
            </div>


          </div>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<style>
  .section-blue{
    height: 43px;
    background-color: #7e99b5;
    font-size: 22px;
    padding: 10px;
  }

  .table td, .table th {
    padding: .75rem 0 .75rem 0;
  }

  .section-gray{
    background-color: #e6e5e5bf;
    padding: 10px;
  }

  .section-gray p{
    font-size: 22px;
  }

  .section-gray a, button{
    font-size: 18px !important;
    border-radius: 11px !important;
  }
  .white{
    color:white;
  }
  .actions{
    text-align: end;
    padding-top: 7px;
  }
  .ellipsis{
    white-space: word;
    overflow:hidden;
    height: 49px;
  }

  .ellipsis:after{
    content:'...';
  }
</style>
