<table class="table table-borderless  ">
  <tbody>
    <% collection.each do |resource| %>
      <tr clas="tr-white" id="<%= dom_id resource %>">
        <td>
        <div class="border-round">
          <div class="yui3-g section-gray">
            <div class="yui3-u-1">
              <div class="ellipsis">
              <span style="float:right;">
                <%= link_to edit_resource_path(resource) do  %>
                   <i class="material-icons">print</i>
               <% end %>
                </span>
                <h5>Pregão:<%= "#{resource.licitation_number}/#{resource.year}" %> - <%= resource.object %></h5>
                
              </div>
            </div>
          </div>
<<<<<<< HEAD
        </div>

        <div class="yui3-g section-gray">
          <div class="yui3-u-1-2 ">
            <p>Objeto: <%= resource.object %></p>
            <p>Edital disponível a partir de: <%= l(resource.notice_availability, format: "%A, %d de %B de %Y") if resource.notice_availability %></p>
            <p>Endereço: <%= address(resource) %> </p>
            <p>Telefone: <%= contact(resource) %> </p>
            <p>Entrega da proposta: <%= l(resource.proposal_delivery, format: :long) if resource.proposal_delivery%></p>
            <p>Abertura da proposta: <%= l(resource.bid_opening, format: :long) if resource.bid_opening %></p>
=======
          <div class="border-round">
            <div class="yui3-g section-gray">
              <div class="yui3-u-1-3">
                <div class="ellipsis-sub">
                  <h5>Edital disponível a partir de: </h5>
                </div>
              </div>
              <div class="yui3-u-1-3">
                <div class="ellipsis-sub">
                  <h5>Entrega da proposta: </h5>
                </div>
              </div>
              <div class="yui3-u-1-3">
                <div class="ellipsis-sub">
                  <h5>Abertura da proposta: </h5>
                </div>
              </div>
            </div>
            <div class="yui3-g section-gray">
              <div class="yui3-u-1-3">
                <div>
                  <p><%= l(resource.notice_availability) if resource.notice_availability %> </p>
                </div>
              </div>
              <div class="yui3-u-1-3">
                <div>
                  <h5> <%= l(resource.proposal_delivery) if resource.proposal_delivery%> </h5>
                </div>
              </div>
              <div class="yui3-u-1-3">
                <div  >
                  <h5> <%= l(resource.bid_opening) if resource.bid_opening %> </h5>
                </div>
              </div>
            </div>
>>>>>>> mudanças tela pregao
          </div>
          <div class="border-round">
            <div class="yui3-g section-gray">
              <div class="yui3-u-1">
                <div class="ellipsis-sub">
                  <h5>Endereço: </h5>
                </div>
              </div>
              <div class="yui3-g section-gray">
                <div class="yui3-u-1">
                  <div>
                    <p> <%= address(resource) %> </p>
                  </div>
                </div>
              </div>
            </div>
            <table class="records">
              <thead>
                <tr>
                  <th><%= "Código" %></th>
                  <th><%= "Descrição" %></th>
                  <th><%= "Unidade de Compra" %></th>
                  <th><%= "Quantidade" %></th>
                </tr>
              </thead>
              <tbody>
                <% resource.items.each do |item| %>
                  <tr>
                    <td><%= item.material.code%> </td>
                    <td><%= item.material.description%> </td>
                    <td><%= item&.reference_unit&.acronym%> </td>
                    <td><%= item.quantity%> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="yui3-g section-gray">
            
              <div class="yui3-u-1 actions">
                <div class="yui3-g">
                  <div class="yui3-u-1">
                    <%= link_to "Visualizar", edit_resource_path(resource), class: 'btn btn-primary' %>
                    <%= proposal_link(resource)%>
                  </div>
                </div>
               
              </div>
            </div>
            </div>
          </td>
        <% end %>
      </tbody>
    </table>
    <style>
      .section-blue{
        height: 43px;
        background-color: #7e99b5;
        font-size: 22px;
        padding: 10px;
      }
      
      .table td, .table th {
        padding: .75rem 0 .75rem 0;
      }
      html{
        font-size: 85%;
      }
      
      .section-gray{
        padding: 10px;
      }
      
      .section-gray p{
        font-size: 22px;
      }
      
      .section-gray a, button{
        font-size: 18px !important;
        border-radius: 11px !important;
      }
      .white{
        color:white;
      }
      .actions{
        text-align: end;
        padding-top: 7px;
      }
      .ellipsis{
        white-space: word;
        overflow:hidden;
        height: 49px;
        background-color: #b3cce6;
        padding: 10px;
        color: #53464d;
      }
      .ellipsis-sub{
        white-space: word;
        overflow:hidden;
        height: 49px;
        background-color: #ecf2f9;
        padding: 10px;
        color: #53464d;
      }
      
      .ellipsis:after{
        content:'...';
      }
      .border-round{
        margin: 10px;
        border: 1px solid #ccc;
      }
    </style>
