<%= simple_form_for resource, :url => auction_auctions_path, :remote => true, :method => 'get' do |f| %>
  <h4 style="text-align: center"><b>Sessão encerrada em <%= resource.decorator.end_dispute_date %> às <%= resource.decorator.end_dispute_time %>h </b></h4>

  <%= f.input :end_dispute_date, as: :hidden, input_html:{value: resource.decorator.end_dispute_date} %>
  <%= f.input :end_dispute_time, as: :hidden, input_html:{value: resource.decorator.end_dispute_time} %>

  <div class="row" style="display: none;">
    <div class="col">
      <%= f.input :restart_dispute_date %>
    </div>
    <div class="col">
      <%= f.input :restart_dispute_time %>
    </div>
  </div>
<% end %>