<div class="yui3-g">
  <div class="yui3-u-1">
    <%= f.input :licitation_number %>
  </div>
  
  <div class="yui3-u-1">
    <%= f.input :process_number%>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :proposal_delivery%>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :bid_opening %>
  </div>

  <div class="yui3-u-1">
    <%= f.input :object %>
  </div>
</div>
