<fieldset>
  <h5>Configurações</h5>
  <div class="yui3-g">
    <div class="yui3-g">
      <div class="yui3-u-1-2">
        <%= f.input :disclosure_date, as: :date %>
      </div>
      <div class="yui3-u-1-2">
        <%= f.input :responsible_dissemination, as: :auto_complete, source_path: employees_path %>
      </div>
    </div>
    
    <div class="yui3-g">
      <div class="yui3-u-1-2">
        <%= f.input :notice_availability, as: :date %>
      </div>
      <div class="yui3-u-1-2">
        <%= f.input :internet_address %>
      </div>
    </div>
    <div class="yui3-g">
      <div class="yui3-u-1-2">
        <%= f.input :proposal_delivery %>
      </div>
      <div class="yui3-u-1-2">
        <%= f.input :bid_opening, as: :date %>
      </div>
    </div>
    <div class="yui3-u-1-3">
      <%= f.input :sensitive_value, as: :select %>
    </div>
    <div class="yui3-u-1-3">
      <%= f.input :variation_type %>
    </div>
    <div class="yui3-u-1-3">
      <%= f.input :document_edict %>
      <%= link_to f.object.document_edict_identifier, f.object.document_edict_url, :target => '_blank', class: 'ml-1' if f.object.document_edict? %>
    </div>
  </div>
  <div class="yui3-g">
    <div class="yui3-u-2-3">
      <%= f.input :minimum_interval %>
    </div>
    <div class="yui3-u-1-3">
      <%= f.input :decree_treatment, as: :select %>
    </div>
  </div>
</fieldset>

<fieldset>
  <h5>Endereço e Contato Processo</h5>
  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <%= f.input :street %>
    </div>
    <div class="yui3-u-1-2">
      <%= f.input :neighborhood %>
    </div>
  </div>
  <div class="yui3-g">
    <div class="yui3-u-4-5">
      <%= f.input :city %>
    </div>
    <div class="yui3-u-1-5">
      <%= f.input :zip_code %>
    </div>
  </div>
  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <%= f.input :telephone %>
    </div>
    <div class="yui3-u-1-2">
      <%= f.input :cell_phone %>
    </div>
  </div>
</fieldset>