<div id="alerts-appeals">
  <% AuctionAppeal.where{ viewed.eq(nil) | viewed.eq(false) }.each do |appeal| %>
    <div class="alert alert-warning">
      <span style="color: #ff7f68; font-weight: bolder">Alerta: </span>
      <span style="color: #3f48cc; font-weight: bolder">Pregão: <%= appeal.auction %> possui Interposição de Recurso</span>
    </div>
  <% end %>
</div>
<div style="padding-left: 15px;" >
  <h2 id="title">
    <%= plural %>
  </h2>
</div>
<%= render 'actions' %>

<%= render index_list_partial %>

<%= paginate %>

<style>
  #alerts-appeals{
    width: 94%;
    margin-top: -52px;
  }
</style>