<div class="border-round">
  <div id="record">
    <table class="records">
      <tbody>
      <tr>
        <td>
          <b>PROCESSO:</b > <%= "#{resource.to_s}" %> - <%= resource.description %>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <b>Endereço:</b>  <%= address(resource) %>
            </br>
            <b>Telefone: </b><%= resource.telephone %>
          </p>
        </td>
      </tr>
      </tbody>
    </table>
    <table class="records">
      <tbody>
      <tr>
        <td colspan="2">
          <b>Edital disponível a partir de: </b> <%= date_mask(resource.notice_availability) %>
        </td>
        <td>
          <b>Tipo de Processo: </b> <%= resource.auction_type_humanize%>
        </td>
      </tr>
      <tr>
        <td>
          <b>Entrega da Proposta: </b> <%= date_mask(resource.proposal_delivery) %>
        </td>
        <td>
          <b>Data da Abertura da Proposta: </b> <%= date_mask(resource.bid_opening) %>
        </td>
        <td>
          <b>Hora da Abertura da Proposta: </b> <%= time_mask(resource.bid_opening_time) %>h
        </td>
      </tr>
      </tbody>
    </table>

    <table class="records">
      <thead>
      <tr>
        <th>
          Código
        </th>
        <th>
          Descrição
        </th>
        <th>
          Quantidade
        </th>
        <th style="text-align:center;">
          Unidade de Compra
        </th>
        <th style="text-align:center;">
          Valor Estimado
        </th>
        <th style="text-align:center;">
          Valor Maximo
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <% resource.items.each do |item| %>
          <td style="text-align:center;">
            <%= item.material.code %>
          </td>
          <td>
            <%= item.material.description %>
          </td>
          <td style="text-align:center;">
            <%= item.quantity.to_i %>
          </td>
          <td style="text-align:center;">
            <%= item.material.reference_unit.acronym %>
          </td>
          <td style="text-align:center;">
            <%= number_to_currency item.estimated_value %>
          </td>
          <td style="text-align:center;">
            <%= number_to_currency item.max_value %>
          </td>
          </tr>
        <% end %>
        </tbody>
    </table>
  </div>
</div>
