<div class="border-round">
<div id="record">
  <table class="records">
    <tbody>
      <tr>
        <td>
          <b>PROCESSO:</b > <%= "#{resource.licitation_number}/#{resource.year}" %> - <%= resource.object %>
        </td>
      </tr>    
      <tr>
        <td>
        <p>
          <b>Endereço:</b>  <%= address(resource) %> 
         </br>
            <b>Telefone: </b><%= resource.telephone %>
          </p>
        </td>
      </tr>
  </tbody>
  </table>
  <table class="records">
   <tbody>
        <tr>
        <td>
         <b>Edital disponível a partir de: </b> <%= l(resource.notice_availability) if resource.notice_availability %>
        </td>
         <td>
         <b>Tipo de Processo: </b> <%= resource.auction_type_humanize%>
        </td>
      </tr>
      <tr>
        <td>
         <b>Entrega da Proposta: </b> <%= l(resource.proposal_delivery) if resource.proposal_delivery %>
        </td>
         <td>
         <b>Abertura da Proposta: </b> <%= resource.bid_opening%>
        </td>
      </tr>

   
    
    </tbody>
  </table>

  <table class="records">
    <thead>
      <tr>
        <th>
          Código
        </th>
        <th>
         Descrição
        </th>
        <th>
        Unidade de Compra
        </th>
         <th>
       Quantidade
        </th>
      </tr>
    </thead>
    <tbody>
    <tr>
    <% resource.items.each do |item| %>
      
        <td style="text-align:center;">
          <%= item.material.code %>
        </td>
        <td>
          <%= item.material.description %>
        </td>
        <td style="text-align:center;"> 
          <%= item.material.reference_unit.acronym %>
        </td>
         <td style="text-align:center;">
          <%= number_with_precision item.quantity %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

 
</div>
<div>