<div id="creditor-tabs" >
  <ul class="nav nav-tabs" role="tablist">
    <li id="tab-creditor-main" class="nav-item">
      <a class="nav-link active show" id="creditor-main-tab" data-toggle="tab" href="#creditor-main" role="tab" aria-controls="creditor-main"
         aria-selected="true">Principal</a>
    </li>

    <li id="tab-creditor-cnaes" class="nav-item company-field">
      <a class="nav-link" id="creditor-cnaes-tab" data-toggle="tab" href="#creditor-cnaes" role="tab" aria-controls="creditor-cnaes"
         aria-selected="true">CNAEs</a>
    </li>

    <li id="tab-creditor-documents" class="nav-item company-field">
      <a class="nav-link" id="creditor-documents-tab" data-toggle="tab" href="#creditor-documents" role="tab" aria-controls="creditor-documents"
         aria-selected="true">Documentos</a>
    </li>

    <li id="tab-creditor-materials" class="nav-item">
      <a class="nav-link" id="creditor-materials-tab" data-toggle="tab" href="#creditor-materials" role="tab" aria-controls="creditor-materials"
         aria-selected="true">Materiais</a>
    </li>

    <li id="tab-creditor-representatives" class="nav-item company-field">
      <a class="nav-link" id="creditor-representatives-tab" data-toggle="tab" href="#creditor-representatives" role="tab" aria-controls="creditor-representatives"
         aria-selected="true">Representantes</a>
    </li>

    <li id="tab-creditor-accounts" class="nav-item">
      <a class="nav-link" id="creditor-accounts-tab" data-toggle="tab" href="#creditor-accounts" role="tab" aria-controls="creditor-accounts"
         aria-selected="true">Representantes</a>
    </li>

    <li id="tab-creditor-balance" class="nav-item">
      <a class="nav-link" id="creditor-balance-tab" data-toggle="tab" href="#creditor-balance" role="tab" aria-controls="creditor-balance"
         aria-selected="true">Balanço</a>
    </li>

    <li id="tab-creditor-regularization-or-administrative-sanctions" class="nav-item">
      <a class="nav-link" id="creditor-regularization-or-administrative-sanction-tab" data-toggle="tab"
         href="#creditor-regularization-or-administrative-sanctions" role="tab" aria-controls="creditor-regularization-or-administrative-sanctions"
         aria-selected="true">Balanço</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade active show" id="creditor-main" role="tabpanel" aria-labelledby="creditor-main-tab">
    <%= render 'creditors/main', :f => f %>
  </div>

  <div class="tab-pane fade" id="reditor-cnaes" role="tabpanel" aria-labelledby="reditor-cnaes-tab">
    <%= render 'creditors/cnaes', :f => f %>
  </div>

  <div class="tab-pane fade" id="creditor-documents" role="tabpanel" aria-labelledby="creditor-documents-tab">
    <%= render 'creditors/documents', :f => f %>
  </div>

  <div  class="tab-pane fade" id="creditor-materials" role="tabpanel" aria-labelledby="creditor-materials-tab">
    <%= render 'creditors/materials', :f => f %>
  </div>

  <div class="tab-pane fade" id="creditor-representatives" role="tabpanel" aria-labelledby="creditor-representatives-tab">
    <%= render 'creditors/representatives', :f => f %>
  </div>

  <div class="tab-pane fade" id="creditor-accounts" role="tabpanel" aria-labelledby="creditor-accounts-tab">
    <%= render 'creditors/accounts', :f => f %>
  </div>

  <div class="tab-pane fade" id="creditor-balance" role="tabpanel" aria-labelledby="creditor-balance-tab">
    <%= render 'creditors/balance', :f => f %>
  </div>

  <div class="tab-pane fade" id="creditor-regularization-or-administrative-sanctions" role="tabpanel" aria-labelledby="creditor-regularization-or-administrative-sanctions-tab">
    <%= render 'creditors/regularization_or_administrative_sanctions', :f => f %>
  </div>
    </div>
</div>

<script>
  function showCommonTabs() {
    $('.individual-field, .company-field').hide();
  };

  function showOnlyIndividualFields(){
    $('.company-field').hide();
    $('.individual-field').show();
  };

  function showOnlyCompanyFields(){
    $('.individual-field').hide();
    $('.company-field').show();
  };

  function hideFields(){
    switch ($('#creditor_personable_type').val()){
      case 'Individual':
        showOnlyIndividualFields();
        break;
      case 'Company':
        showOnlyCompanyFields();
        break;
      default:
        showCommonTabs();
    }
  };

  $("#creditor_person_id").change( function(event, person) {
    if (person) {
      $(this).parent().parent().find('.modal_info a').attr('href', person.modal_info_url);

      $('#creditor_personable_type').val(person.personable_type);

      if (person.isCompany) {
        $('#creditor_company_size').val(person.companySize);
        $('#creditor_choose_simple').attr('checked', person.chooseSimple);
        $('#creditor_legal_nature').val(person.legalNature);
        $('#creditor_commercial_registration_number').val(person.commercialRegistrationNumber);
        $('#creditor_commercial_registration_date').val(person.commercialRegistrationDate);
      }
    } else {
      $('#creditor_personable_type').val('');
    }

    hideFields();
  });

  $('form.creditor').on('change', '.wrapper-creditor-account-bank input:hidden', function() {
    var url = "<%= modal_agencies_path %>?",
        params = {
          locked_fields: ["bank"],
          bank_id: $(this).val()
        };

    url += jQuery.param(params);

    $(this).closest('.nested-bank-account').find('.creditor-account-agency').data('modal-url', url);
  });

  function setModalUrlToCnae(){
    var mainCnaeId = $('#creditor_main_cnae_id').val();
    var urlModal = $('#creditor_cnaes').data('modal-url');
    urlModal += '&cnaes_remainder[]=' + mainCnaeId;

    $('#creditor_cnaes').data('modal-url', urlModal);
  };

  $('#creditor_main_cnae_id').change(setModalUrlToCnae);

  $('form.creditor').on('change', '.regularization-or-administrative-sanction-reason', function (event, sanctionReason) {
    if (sanctionReason) {
      $(this).closest('.regularization-or-administrative-sanction').find('.sanction-reason-description').val(sanctionReason.description);
      $(this).closest('.regularization-or-administrative-sanction').find('.sanction-reason-type-humanize').val(sanctionReason.reason_type_humanize);
    } else {
      $(this).closest('.regularization-or-administrative-sanction').find('.sanction-reason-description').val('');
      $(this).closest('.regularization-or-administrative-sanction').find('.sanction-reason-type-humanize').val('');
    }
  });

  $('form.creditor').on('change', '.wrapper-regularization-or-administrative-sanction-reason input:hidden', function() {
    if ( $(this).closest('.regularization-or-administrative-sanction').find('.sanction-reason-type-humanize').val() == 'Sanção administrativa' ) {
      $(this).closest('.regularization-or-administrative-sanction').find('.sanction-suspended-until').requiredField(true);
    } else {
      $(this).closest('.regularization-or-administrative-sanction').find('.sanction-suspended-until').requiredField(false);
    }
  });

  showCommonTabs();
  hideFields();
</script>
