<div id='materials'>
  <div id="batch-materials" data-nested-form="bath-materials">
    <p>
      <input type="button" class="button affirmative add-bath-materials" value="Adicionar Logradouro">
    </p>

    <%= f.association :batch_materials, collection: localized(f.object.batch_materials) do |a| %>
      <%= render 'batch_materials/form', f: a %>
    <% end %>

    <%= mustache 'bath-materials-template' do %>
      <%= f.association :bath_materials_attributes, collection: f.object.bath_materials.build.localized, index: "{{uuid-bath-materials}}" do |bath_street| %>
        <%= render 'batch_materials/form', f: bath_street %>
      <% end %>
    <% end %>
  </div>
</div>
