<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :provider %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :protocol  %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :protocol_date %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :receipt_date %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :auto_convocation %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :status, :disabled => true %>
  </div>
</div>

<%= f.association :licitation_process_invited_bidder_documents, :collection => localized(f.object.licitation_process_invited_bidder_documents) do |p| %>
  <%= render 'licitation_process_invited_bidder_documents/form', :f => p %>
<% end %>

<script>
  function toggleBidderDates() {
    if($('#licitation_process_invited_bidder_auto_convocation').is(':checked')) {
       $('#licitation_process_invited_bidder_protocol_date, #licitation_process_invited_bidder_receipt_date').attr('disabled', true);
     } else {
       $('#licitation_process_invited_bidder_protocol_date, #licitation_process_invited_bidder_receipt_date').attr('disabled', false);
     }
   }

  $('#licitation_process_invited_bidder_auto_convocation').click(function() {
    toggleBidderDates();
  });

  toggleBidderDates();
</script>
