<fieldset class="licitation-process-invited-bidder" id="<%= f.nested_identifier %>">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <div class="yui3-g">
    <div class="yui3-u-1-4">
      <%= f.input :provider %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :protocol  %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :protocol_date, :input_html => { :class => 'protocol-date' } %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :receipt_date, :input_html => { :class => 'receipt-date' } %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <%= f.input :auto_convocation, :input_html => { :class => 'auto-convocation' } %>
    </div>
    <div class="yui3-u-1-2">
      <%= f.input :status, :disabled => true %>
    </div>
  </div>

  <div id="licitation-process-invited-bidder-documents-<%= f.nested_identifier %>" class="document-fields">
    <%= f.association :licitation_process_invited_bidder_documents, :collection => localized(f.object.licitation_process_invited_bidder_documents) do |p| %>
      <%= render 'licitation_process_invited_bidder_documents/form', :f => p %>
    <% end %>
  </div>

  <%= mustache "licitation-process-invited-bidder-documents-template-#{f.nested_identifier}" do %>
    <%= f.association :licitation_process_invited_bidder_documents_attributes, :collection => f.object.licitation_process_invited_bidder_documents.build, :index => '{{uuid_licitation_process_invited_bidder_document}}' do |document| %>
      <%= render 'licitation_process_invited_bidder_documents/form', :f => document %>
    <% end %>
  <% end %>

  <div class="nested-remove">
    <input type="button" class="button negative remove-licitation-process-invited-bidder" value="Remover Licitante">
  </div>
</fieldset>

<script>
  $("#licitation-process-invited-bidder-documents-template-<%= f.nested_identifier %>").nestedForm({
    add: ".add-licitation-process-invited-bidder-documents-<%= f.nested_identifier %>",
    target: "#licitation-process-invited-bidder-documents-<%= f.nested_identifier %>",
    uuid: "uuid_licitation_process_invited_bidder_document"
  });
</script>
