<%
  def date_mask(d)
    return d.strftime("%d/%m/%Y") unless d.nil?
  end
%>

<div>
  <table class="records">
    <thead>
    <tr style="text-align: center;">
      <td>EXTRATO DE CONSUMO DE MATERIAIS POR PROCESSO</td>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div style="text-align: justify">

</div>

<br>
<% total_bid_per_licitation_process = 0 %>
<% total_provided_per_contract = 0 %>
<% total_balance_per_material = 0 %>
<% material_ids = [] %>
<% @licitation_processes.uniq.each do |licitation_process| %>
  <div style="text-align: justify; margin-left: 10px">
  <span>
    <p>
      <b> PROCESSO: </b> <%= licitation_process.to_s %>
    </p>
  </span>
  </div>
  <% Report::ExtractConsumptionPerProcessHelper.get_contracts(licitation_process, @contract).each do |contract| %>
    <div style="text-align: justify; margin-left: 20px">
      <span>
        <p>
          <b> CONTRATO: </b> <%= contract.to_s %>
        </p>
      </span>
    </div>

    <% Report::ExtractConsumptionPerProcessHelper.get_purchase_solicitation(contract, @purchase_solicitation)&.each do |purchase_solicitation| %>
      <div style="text-align: justify; margin-left: 20px">
      <span>
        <p>
          <b> Solicitação de Compra: </b> <%= purchase_solicitation.to_s %> - <%= purchase_solicitation&.department&.description %>
        </p>
      </span>
      </div>
      <% contract.supply_orders.by_purchase_solicitation(purchase_solicitation.id).each do |supply_order| %>
        <div style="text-align: justify; margin-left: 30px">
          <span>
            <p>
              <b> ORDEM DE FORNECIMENTO: </b> <%= supply_order.to_s %>
            </p>
          </span>
        </div>
        <p>
        <div>
          <table class="records" style="margin-left: 30px; width: 97%">
            <thead>
            <tr>
              <th width="50%" class="text-center">ITEM</th>
              <th width="20%">Valor Unitário</th>
              <th width="20%">Quantidade</th>
              <th width="10%">Total</th>
            </tr>
            </thead>
            <tbody>
            <% total_supply_order = 0 %>
            <% supply_order.items.joins(:material).each do |item| %>
              <% total_balance_per_material += Report::BalanceHelper.get_balance(contract, item) %>
              <% total_provided_per_contract += item.quantity %>
              <% material_ids.push(item.material_id) %>
              <tr>
                <td><%= item.material %></td>
                <td><%= number_to_currency vl_unitary = LicitationProcessRatificationItem.by_licitation_process_and_material(licitation_process.id, item.material_id)&.last&.price || 0  %></td>
                <td><%= item.quantity %></td>
                <td><%= number_to_currency total = vl_unitary.to_f * (item.quantity || 0)%></td>
              </tr>
            <% total_supply_order +=  total.to_f %>
            <% end %>
            <tr class="text-bold total-description">
              <td colspan="2"></td>
              <td>TOTAL</td>
              <td><%= total_supply_order %></td>
            </tr>
            </tbody>
          </table>
        </div>
        </p>
      <% end %>

      <div style="text-align: justify; margin-left: 30px">
        <span>
          <p>
            <b> RESUMO DO CONTRATO POR SOLICITANTE </b>
          </p>
        </span>
      </div>
      <p>
      <div>
        <table class="records" style="margin-left: 30px; width: 97%">
          <thead>
          <tr>
            <th width="50%" class="text-center">ITEM</th>
            <th width="10%">Valor Unitário</th>
            <th width="10%">Qtd. Licitada</th>
            <th width="10%">Valor Contrato</th>
            <th width="10%">Qtd. Atendida</th>
            <th width="10%">Saldo </th>
          </tr>
          </thead>
          <tbody>
          <% vl_total_attended = 0 %>
          <% vl_saldo = 0 %>
          <% vl_total_contract = 0 %>
          <% licitation_process.items.each do |item| %>
            <tr>
              <td><%= item.material %></td>
              <td><%= number_to_currency vl_unitary = LicitationProcessRatificationItem.by_licitation_process_and_material(licitation_process.id, item.material_id)&.last&.price || 0 %></td>
              <td><%= qtd_lic = Report::BalanceHelper.get_quantity_item_licitation(contract.licitation_process, item.material) %></td>
              <td><%= number_to_currency vl_contract = vl_unitary.to_f * qtd_lic.to_f %></td>
              <td><%= qtd_attended = Report::BalanceHelper.get_quantity_item_supply_order(contract, item.material, purchase_solicitation) || 0 %></td>
              <td><%= qtd_saldo = Report::BalanceHelper.get_balance(contract, item) || 0 %></td>
            </tr>
            <% vl_total_attended += vl_unitary.to_f * qtd_attended.to_f %>
            <% vl_saldo += vl_unitary.to_f * qtd_saldo.to_f %>
            <% vl_total_contract += vl_contract.to_f %>
          <% end %>
          <tr class="text-bold total-description">
            <td colspan="2"></td>
            <td>TOTAL</td>
            <td><%= number_to_currency vl_total_contract %></td>
            <td><%= number_to_currency vl_total_attended %></td>
            <td><%= number_to_currency vl_saldo %></td>
          </tr>
          </tbody>
        </table>
      </div>
      </p>

    <% end %>

    <br>

    <div style="text-align: justify; margin-left: 10px">
    <span>
      <p>
        <b> RESUMO DO CONTRATO GERAL </b>
      </p>
    </span>
    </div>
    <p>
    <div>
      <table class="records" style="margin-left: 10px; width: 99%">
        <thead>
        <tr>
          <th width="50%" class="text-center">ITEM</th>
          <th width="10%">Valor Unitário</th>
          <th width="10%">Qtd. Licitada</th>
          <th width="10%">Valor Contrato</th>
          <th width="10%">Qtd. Atendida</th>
          <th width="10%">Saldo </th>
        </tr>
        </thead>
        <tbody>
        <% vl_total_attended = 0 %>
        <% vl_saldo = 0 %>
        <% vl_total_contract = 0 %>
        <% contract&.winning_items&.each do |winning_item| %>
          <tr>
            <td><%= winning_item.item.material %></td>
            <td><%= number_to_currency vl_unitary = LicitationProcessRatificationItem.by_licitation_process_and_material(licitation_process.id, winning_item.item.material_id)&.last&.price || 0 %></td>
            <td><%= qtd_lic = Report::BalanceHelper.get_quantity_item_licitation(contract.licitation_process, winning_item.item.material) %></td>
            <td><%= number_to_currency vl_contract = vl_unitary.to_f * qtd_lic.to_f %></td>
            <td><%= qtd_attended = Report::BalanceHelper.get_quantity_item_supply_order(contract, winning_item.item.material) || 0 %></td>
            <td><%= qtd_saldo = Report::BalanceHelper.get_balance(contract, winning_item.item) || 0 %></td>
          </tr>
          <% vl_total_attended += vl_unitary.to_f * qtd_attended.to_f %>
          <% vl_saldo += vl_unitary.to_f * qtd_saldo.to_f %>
          <% vl_total_contract += vl_contract.to_f %>
        <% end %>
        <tr class="text-bold total-description">
          <td colspan="2"></td>
          <td>TOTAL</td>
          <td><%= number_to_currency vl_total_contract %></td>
          <td><%= number_to_currency vl_total_attended %></td>
          <td><%= number_to_currency vl_saldo %></td>
        </tr>
        </tbody>
      </table>
    </div>
    </p>
  <% end %>
  <% total_bid_per_licitation_process += Report::BalanceHelper.get_quantity_bid(licitation_process, material_ids) %>
<% end %>


<style>
  tr.text-bold td{
    font-weight: bolder;
  }


  table.records th {
    background: #EEEEEE;
    border-bottom: solid 1px #E8EAEE;
    color: #555452;
    text-align: left;
  }

  tr.total-description td{
    background-color: #c5dcf9 !important;
  }
</style>