<%
  def date_mask(d)
    return d.strftime("%d/%m/%Y") unless d.nil?
  end
%>

<div>
  <table class="records">
    <thead>
    <tr style="text-align: center;">
      <td>EXTRATO DE CONSUMO DE MATERIAIS POR PROCESSO</td>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div style="text-align: justify">

</div>

<br>
<% total_balance_per_material = 0 %>
<% @licitation_processes.uniq.each do |licitation_process| %>
  <div style="text-align: justify; margin-left: 10px">
  <span>
    <p>
      <b> PROCESSO: </b> <%= licitation_process.to_s %>
    </p>
    <p>
      <%= licitation_process.description %>
    </p>
  </span>
  </div>
  <% Report::ExtractConsumptionPerProcessHelper.get_contracts(licitation_process, @contract).each do |contract| %>
    <div style="text-align: justify; margin-left: 20px">
      <span>
        <p>
          <b> CONTRATO: </b> <%= contract.to_s %>
        </p>
        <p>
          <b> FORNECEDOR: </b> <%= contract.creditor %>
        </p>
      </span>
    </div>

    <% Report::ExtractConsumptionPerProcessHelper.get_purchase_solicitation(contract, @purchase_solicitation)&.each do |purchase_solicitation| %>
      <div style="text-align: justify; margin-left: 20px">
      <span>
        <p>
          <b> SOLICITAÇÃO DE COMPRA \ CONTROLE DE SALDO: </b> <%= purchase_solicitation.to_s %> - <%= purchase_solicitation&.department&.description %>
        </p>
      </span>
      </div>
      <% contract.supply_orders.by_purchase_solicitation(purchase_solicitation.id).each do |supply_order| %>
        <div style="text-align: justify; margin-left: 30px">
          <span>
            <p>
              <b> ORDEM DE FORNECIMENTO: </b> <%= supply_order.to_s %>
            </p>
          </span>
        </div>
        <p>
        <div>
          <table class="records" style="margin-left: 30px; width: 97%">
            <thead>
            <tr>
              <th width="50%" class="text-center">ITEM</th>
              <th width="20%">Valor Unitário</th>
              <th class="text-center" width="20%">Quantidade</th>
              <th width="10%">Total</th>
            </tr>
            </thead>
            <tbody>
            <% total_supply_order = 0 %>
            <% supply_order.items.joins(:material).each do |item| %>
              <% total_balance_per_material += Report::BalanceHelper.get_balance(contract, item) %>
              <% vl_unitary =  Report::BalanceHelper.material_vl_unitary(licitation_process, item.material) %>

              <tr>
                <td><%= item.material %></td>
                <td><%= number_to_currency vl_unitary %></td>
                <td class="text-center"><%= item.quantity %></td>
                <td><%= number_to_currency total = vl_unitary.to_f * (item.quantity  || 0)%></td>
              </tr>
            <% total_supply_order +=  total.to_f %>
            <% end %>
            <tr class="text-bold total-description">
              <td colspan="2"></td>
              <td class="text-center">TOTAL</td>
              <td><%= number_to_currency total_supply_order %></td>
            </tr>
            </tbody>
          </table>
        </div>

        <div style="text-align: justify; margin-left: 30px; margin-top:-16px">
          <span>
            <p>
              <b> NOTAS FISCAIS: </b>
            </p>
          </span>
        </div>
        <p>
        <div>
          <table class="records" style="margin-left: 30px; width: 97%">
            <thead>
            <tr>
              <th  width="50%" class="text-center">NÚMERO DA NOTA</th>
              <th>DATA DA NOTA</th>
              <th>VALOR</th>
            </tr>
            </thead>
            <tbody>
            <% if supply_order.invoices.blank? %>
              <tr><td class="text-center" colspan="3"><b>Não foram encontradas notas cadastradas para o pedido de fornecimento: <%= supply_order.to_s %></b></td></tr>
            <% end %>
            <% supply_order&.invoices&.each do |invoice| %>
              <tr>
                <td class="text-center"><%= invoice.number %></td>
                <td><%= date_mask(invoice.date) %></td>
                <td><%= number_to_currency invoice.value %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>

        </p>
      <% end %>

      <div style="text-align: justify; margin-left: 30px">
        <span>
          <p>
            <b> RESUMO DO CONTRATO POR SOLICITANTE </b>
          </p>
        </span>
      </div>
      <p>
      <div>
        <table class="records" style="margin-left: 30px; width: 97%">
          <thead>
          <tr>
            <th width="50%" class="text-center">ITEM</th>
            <th width="10%">Valor Unitário</th>
            <th class="text-center" width="10%">Qtd. Licitada</th>
            <th width="10%">Valor Contrato</th>
            <th class="text-center" width="10%">Qtd. Atendida</th>
            <th width="10%">Saldo </th>
          </tr>
          </thead>
          <tbody>
          <% vl_total_attended = 0 %>
          <% vl_saldo = 0 %>
          <% vl_total_contract = 0 %>
          <% contract&.winning_items&.each do |item| %>
            <% qtd_licited = Report::BalanceHelper.qtd_requested(purchase_solicitation.id, item.material, licitation_process)%>
            <% vl_unitary =  Report::BalanceHelper.material_vl_unitary(licitation_process, item.material) %>
            <% qtd_attended = Report::BalanceHelper.get_quantity_item_supply_order(contract, item.material, purchase_solicitation) %>
            <tr>
              <td><%= item.material %></td>
              <td><%= number_to_currency vl_unitary %></td>
              <td class="text-center"><%= qtd_licited %></td>
              <td><%= number_to_currency vl_contract = vl_unitary.to_f * qtd_licited.to_f %></td>
              <td class="text-center"><%= qtd_attended  %></td>
              <td><%= qtd_saldo = (qtd_licited - qtd_attended).to_i %></td>
            </tr>
            <% vl_total_attended += vl_unitary.to_f * qtd_attended.to_f %>
            <% vl_saldo += vl_unitary.to_f * qtd_saldo.to_f %>
            <% vl_total_contract += vl_contract.to_f %>
          <% end %>
          <tr class="text-bold total-description">
            <td colspan="2"></td>
            <td class="text-center">TOTAL</td>
            <td><%= number_to_currency vl_total_contract %></td>
            <td><%= number_to_currency vl_total_attended %></td>
            <td><%= number_to_currency vl_saldo.to_i %></td>
          </tr>
          </tbody>
        </table>
      </div>
      </p>

    <% end %>

    <br>

    <div style="text-align: justify; margin-left: 10px">
    <span>
      <p>
        <b> RESUMO DO CONTRATO GERAL </b>
      </p>
    </span>
    </div>
    <p>
    <div>
      <table class="records" style="margin-left: 10px; width: 99%">
        <thead>
        <tr>
          <th width="50%" class="text-center">ITEM</th>
          <th width="10%">Valor Unitário</th>
          <th class="text-center" width="10%">Qtd. Licitada</th>
          <th width="10%">Valor Contrato</th>
          <th class="text-center" width="10%">Qtd. Atendida</th>
          <th width="10%">Saldo </th>
        </tr>
        </thead>
        <tbody>
        <% vl_total_attended = 0 %>
        <% vl_saldo = 0 %>
        <% vl_total_contract = 0 %>
        <% contract&.winning_items&.each do |winning_item| %>
          <% vl_unitary =  Report::BalanceHelper.material_vl_unitary(licitation_process, winning_item.material) %>
          <tr>
            <td><%= winning_item.item.material %></td>
            <td><%= number_to_currency vl_unitary %></td>
            <td class="text-center"><%= qtd_lic = Report::BalanceHelper.get_quantity_item_licitation(contract.licitation_process, winning_item.item.material) %></td>
            <td><%= number_to_currency vl_contract = vl_unitary.to_f * qtd_lic.to_f %></td>
            <td class="text-center"><%= qtd_attended = Report::BalanceHelper.get_quantity_item_supply_order(contract, winning_item.item.material) || 0 %></td>
            <td><%= qtd_saldo = Report::BalanceHelper.get_balance(contract, winning_item.item) || 0 %></td>
          </tr>
          <% vl_total_attended += vl_unitary.to_f * qtd_attended.to_f %>
          <% vl_saldo += vl_unitary.to_f * qtd_saldo.to_f %>
          <% vl_total_contract += vl_contract.to_f %>
        <% end %>
        <tr class="text-bold total-description">
          <td colspan="2"></td>
          <td class="text-center">TOTAL</td>
          <td><%= number_to_currency vl_total_contract %></td>
          <td><%= number_to_currency vl_total_attended %></td>
          <td><%= number_to_currency vl_saldo %></td>
        </tr>
        </tbody>
      </table>
    </div>
    </p>
  <% end %>
<% end %>


<style>
  tr.text-bold td{
    font-weight: bolder;
  }


  table.records th {
    background: #c5dcf9;
    border-bottom: solid 1px #E8EAEE;
    color: #555452;
    text-align: left;
  }
  tr.total-description td{
    background-color: #c5dcf9 !important;
  }
</style>