<%= f.input :descriptor %>
<%= f.input :status, :disabled => true %>

<div class="yui3-g">
  <div class="yui3-u-5-6">
    <%= f.input :reserve_allocation_type %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :date, :disabled => f.object.persisted? %>
  </div>
</div>

<%= f.input :budget_allocation, :modal_info => true %>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :budget_allocation_amount, :disabled => true, :input_html => { :value => number_with_precision(f.object.budget_allocation_amount) } %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :budget_allocation_reserved_value, :disabled => true, :input_html => { :value => number_with_precision(f.object.budget_allocation_reserved_value) } %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :value %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :licitation_modality, :disabled => !f.object.licitation? %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :licitation_process, :disabled => !f.object.licitation? %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :administrative_process, :disabled => true %>
  </div>
</div>

<%= f.input :creditor %>
<%= f.input :reason %>

<script>
  <% if f.object.persisted? %>
    $('form.reserve_fund :input').attr('disabled', true);
  <% end %>

  $("#reserve_fund_licitation_process_id").change(function (event, licitation_process) {
    if (licitation_process) {
      $('#reserve_fund_administrative_process').val(licitation_process.administrative_process);
    } else {
      $('#reserve_fund_administrative_process').val('');
    }
  });

  $("#reserve_fund_budget_allocation_id").change(function (event, budget_allocation) {
    if (budget_allocation) {
      $('#reserve_fund_budget_allocation_amount').val(budget_allocation.amount);
      $('#reserve_fund_budget_allocation_reserved_value').val(budget_allocation.reserved_value);
    } else {
      $('#reserve_fund_budget_allocation_amount').val('');
      $('#reserve_fund_budget_allocation_reserved_value').val('');
    }
  });

  $("#reserve_fund_reserve_allocation_type_id").change(function (event, reserve_allocation_type) {
    if (reserve_allocation_type && reserve_allocation_type.value == "Licitação") {
      $("#reserve_fund_licitation_modality").attr("disabled", false);
      $("#reserve_fund_licitation_process").attr("disabled", false);
    } else {
      $("#reserve_fund_licitation_modality").attr("disabled", true).val('');
      $("#reserve_fund_licitation_process").attr("disabled", true).val('');
      $("#reserve_fund_licitation_process_id").attr("disabled", true).val('');
    }
  });
</script>
