<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :entity %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :year %>
  </div>
</div>

<%= f.input :status, :disabled => true %>
<%= f.input :reserve_allocation_type %>
<%= f.input :date, :disabled => f.object.persisted? %>
<p>
  <%= f.input :budget_allocation %>
  <%= link_to_modal_info 'reserve_fund_budget_allocation', f.object.budget_allocation %>
</p>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :budget_allocation_amount, :disabled => true, :input_html => { :value => number_with_precision(f.object.budget_allocation_amount) } %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :budget_allocation_reserved_value, :disabled => true, :input_html => { :value => number_with_precision(f.object.budget_allocation_reserved_value) } %>
  </div>
</div>

<%= f.input :value %>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :licitation_modality, :disabled => !f.object.licitation? %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :licitation, :disabled => !f.object.licitation? %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :process %>
  </div>
</div>

<%= f.input :provider %>

<%= f.input :reason %>

<script>
  <% if f.object.persisted? %>
    $('form.reserve_fund :input').attr('disabled', true);
  <% end %>

  $("#reserve_fund_budget_allocation_id").change(function (event, budget_allocation) {
    if (budget_allocation) {
      $('#reserve_fund_budget_allocation_amount').val(budget_allocation.amount);
      $('#reserve_fund_budget_allocation_reserved_value').val(budget_allocation.reserved_value);
    } else {
      $('#reserve_fund_budget_allocation_amount').val('');
      $('#reserve_fund_budget_allocation_reserved_value').val('');
    }
  });

  $("#reserve_fund_reserve_allocation_type_id").change(function (event, reserve_allocation_type) {
    if (reserve_allocation_type && reserve_allocation_type.value == "Licitação") {
      $("#reserve_fund_licitation_modality").attr("disabled", false);
      $("#reserve_fund_licitation").attr("disabled", false);
    } else {
      $("#reserve_fund_licitation_modality").attr("disabled", true).val('');
      $("#reserve_fund_licitation").attr("disabled", true).val('');
    }
  });
</script>
