<tr data-value="<%= record.id %>" data-label="<%= record %>" data-id="<%= record.id %>" data-name="<%= record %>" data-reserve-fund-value="<%= record.value %>" data-budget-allocation="<%= record.budget_allocation %>" data-budget-allocation-id="<%= record.budget_allocation_id %>" data-type="<%= record.class.to_s %>" data-amount="<%= record.budget_allocation.amount %>" data-function="<%= record.budget_allocation.function %>" data-subfunction="<%= record.budget_allocation.subfunction %>" data-government_program="<%= record.budget_allocation.government_program %>" data-government_action="<%= record.budget_allocation.government_action %>" data-budget-unit="<%= record.budget_allocation.budget_unit %>" data-expense_element="<%= record.budget_allocation.expense_element %>">
  <% attributes.each do |attribute| %>
    <td>
      <%= record.send attribute %>
    </td>
  <% end %>
</tr>
