<tr class="record nested-record item-record" id="purchase_form-id-<%= purchase_form_id %>">
  <td><%= purchase_form %></td>
  <td>
    <%= link_to 'Editar', '#', class: 'edit-nested-record' %>
  </td>

  <td>
    <%= f.input :purchase_form_id, as: :hidden, input_html: { value: purchase_form_id, class: 'purchase_form-id' } %>
    <%= f.input :purchase_form, as: :hidden, input_html: { value: purchase_form } %>
    <%= f.input :id, as: :hidden, input_html: { value: id } %>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'destroy' } %>

    <%= link_to 'Remover', '#', class: 'remove-nested-record' %>
  </td>
</tr>