<div id="bidders-content">
  <p>
    <input type="button" class="button affirmative add-bidder" value="Adicionar Licitante">
  </p>

  <div id="bidders">
    <%= f.association :bidders, :collection => localized(f.object.bidders) do |p| %>
      <%= render 'bidders/form', :f => p %>
    <% end %>
  </div>
</div>

<%= mustache 'bidders-template' do %>
  <%= f.association :bidders_attributes, :collection => f.object.bidders.build, :index => '{{uuid_bidder}}' do |p| %>
    <%= render 'bidders/form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#bidders-template").nestedForm({
    add: '.add-bidder',
    remove: '.remove-bidder',
    target: '#bidders',
    uuid: 'uuid_bidder',
    appendItem: false
  });
</script>
