<div class="buttons">
  <% if f.object.persisted? %>
    <p>
      <%= link_to('Laudo de Análise Jurídica', legal_analysis_appraisals_path(:licitation_process_id => resource.id), :class => "button primary") %>

      <% if f.object.trading? %>
        <%= link_to('Credenciamento', accreditation_path_helper, :class => "button primary") %>
      <% end %>

      <%= link_to('Habilitação', bidders_path(:licitation_process_id => resource.id), :class => "button primary",
                  'data-disabled' => f.object.decorator.must_have_published_edital) %>

      <%= link_to('Propostas', proposals_path, :class => "button primary",
                  'data-disabled' => f.object.decorator.must_have_creditors_and_items) if f.object.licitation? %>

      <%= link_to('Publicações', licitation_process_publications_path(:licitation_process_id => resource.id), :class => "button primary") %>
      <%= link_to('Adjudicação/Homologação', licitation_process_ratifications_path(:licitation_process_id => resource.id), :class => "button primary") %>

      <%= classification_link %>
      <%= calculation_link %>
    <p>
    </p>
      <%= link_to('Lotes de itens', licitation_process_lots_path(:licitation_process_id => resource.id), :class => "button primary") %>

      <%= link_to('Pareceres da comissão julgadora', judgment_commission_advices_path(:licitation_process_id => resource.id), :class => "button primary") %>
    </p>
  <% end %>

  <% if can?(:modify, main_controller_name) %>
    <%= f.button :submit, 'data-disabled' => f.object.decorator.not_updatable_message %>
  <% end %>

  <%= f.button :back %>
</div>
