<div class="tabs">
  <ul>
    <li><a href="#tab-main">Principal</a></li>
    <li><a href="#tab-requestor">Solicitantes</a></li>
    <li><a href="#tab-periods">Prazos</a></li>
    <li><a href="#tab-budget_allocations">Orçamento</a></li>
    <li><a href="#tab-items">Itens / Justificativa</a></li>
    <li><a href="#tab-income">Receita</a></li>
    <li><a href="#tab-documents">Documentos</a></li>
    <li><a href="#tab-calculation_configuration">Configuração da apuração</a></li>
  </ul>

  <div id="tab-main"><%= render 'main', :f => f %></div>
  <div id="tab-requestor"><%= render 'requestor', :f => f %></div>
  <div id="tab-periods"><%= render 'periods', :f => f %></div>
  <div id="tab-budget_allocations"><%= render 'budget_allocations', :f => f %></div>
  <div id="tab-items"><%= render 'items', :f => f %></div>
  <div id="tab-income"><%= render 'income', :f => f %></div>
  <div id="tab-documents"><%= render 'documents', :f => f %></div>
  <div id="tab-calculation_configuration"><%= render 'calculation_configuration', :f => f %></div>
</div>

<script>
  $(function () {
    var objectType = $(".object-type-select").val();

    if (objectType) {
      filterModalities(objectType);
    } else {
      disableModalities();
    }

    $('form.licitation_process').on('change', '.object-type-select', function() {
      $('#licitation_process_modality').html('');

      var objectType = $(this).val();
      if (objectType) {
        filterModalities(objectType);
        enableModalities();
      } else {
        disableModalities();
      }
    });

    $('#licitation_process_modality').on('change', function() {
      filterJudgmentForm();
    });

    function filterModalities(objectType) {
      var modalitiesByObjectType = <%= Modality.by_object_type.to_json.html_safe %>,
          validGroup = _(modalitiesByObjectType[objectType]),
          currentModality = "<%= f.object.modality %>";

      $("#licitation_process_modality").append(function() {
        return $("<option>").text('').val('');
      });

      if (!validGroup.isUndefined() && !validGroup.isEmpty()){
        validGroup.each(function(modality) {
          $("#licitation_process_modality").append(function() {
            if (modality[1] == "<%= f.object.modality %>") {
              return $("<option>").text(modality[0]).val(modality[1]).attr('selected', 'selected');
            } else {
              return $("<option>").text(modality[0]).val(modality[1]);
            }
          });
        });
      }
    }

    function filterJudgmentForm() {
      var licitationKindGroups = <%= JudgmentFormLicitationKindByObjectType.new.licitation_kind_groups.to_json.html_safe %>,
          options = _(<%= f.object.decorator.judgment_forms_available.to_json.html_safe %>),
          value = $("#licitation_process_object_type").val(),
          validGroups = _(licitationKindGroups[value]);

      if (!validGroups.isUndefined()) {
        $("#licitation_process_judgment_form_id").html("");

        $("#licitation_process_judgment_form_id").append(function () {
          return $("<option>").text('').val('');
        });

        options.each(function(judgmentForm) {
          validGroups.each(function(validLicitationKind) {
            if (judgmentForm.licitation_kind == validLicitationKind) {
              $("#licitation_process_judgment_form_id").append(function() {
                return $("<option>").text(judgmentForm.description).
                                     val(judgmentForm.id).
                                     data('kind', judgmentForm.kind);
              });
            }
          });
        });

        <% if f.object.judgment_form %>
          $("#licitation_process_judgment_form_id option").filter('[value="<%= f.object.judgment_form_id %>"]').attr("selected", "selected");
        <% end %>
      }
    }

    function disableModalities() {
      $('#licitation_process_modality').attr("disabled", "disabled");
    }

    function enableModalities() {
      $('#licitation_process_modality').removeAttr("disabled");
    }

    filterJudgmentForm();
  });

  (function () {
    var purchaseSolicitationItemGroupId = $("#licitation_process_purchase_solicitation_item_group_id").val(),
        purchaseSolicitationId = $("#licitation_process_purchase_solicitation_id").val();

    if (purchaseSolicitationItemGroupId) {
      disablePurchaseSolicitation();
      disableBudgetAllocations();
      toggleItems(false);
    } else if (purchaseSolicitationId) {
      disablePurchaseSolicitationItemGroup();
      disableBudgetAllocations();
      toggleItems(false);
    }
  })();

  function disableBudgetAllocations() {
    $("#budget_allocations :input").attr("readonly", "readonly");
    $("#budget_allocations .modal").attr("disabled", "disabled");
    $("#budget_allocations .auto_complete").attr("disabled", "disabled")
                                           .addClass("disabled_auto_complete")
                                           .removeClass("auto_complete");
    $("#budget_allocations .remove-administrative-process-budget-allocation").hide();
    $("#budget_allocations .add-administrative-process-budget-allocation").hide();
  }

  function enableBudgetAllocations() {
    $("#budget_allocations .add-administrative-process-budget-allocation").attr("disabled", false);
    $("#budget_allocations .add-administrative-process-budget-allocation").show();
    $("#budget_allocations .disabled_auto_complete").attr("disabled", false)
                                                    .addClass("auto_complete")
                                                    .removeClass("disabled_auto_complete");
  }

  function toggleItems(enable) {
    var $inputs = $("#items .nested-licitation-process-item :input"),
        $modals = $("#items .nested-licitation-process-item .modal");

    if (enable) {
      $inputs.attr("readonly", false);
      $inputs.attr("disabled", false);
      $modals.attr("disabled", false);
    } else {
      $inputs.attr("readonly", "readonly");
      $inputs.attr("disabled", "disabled");
      $modals.attr("disabled", "disabled");
    }
  }

  function disablePurchaseSolicitation() {
    $("#licitation_process_purchase_solicitation").attr("disabled", "disabled");
  }

  function disablePurchaseSolicitationItemGroup() {
    $("#licitation_process_purchase_solicitation_item_group").attr("disabled", "disabled");
  }

  function enablePurchaseSolicitation() {
    $("#licitation_process_purchase_solicitation").removeAttr("disabled");
  }

  function enablePurchaseSolicitationItemGroup() {
    $("#licitation_process_purchase_solicitation_item_group").removeAttr("disabled");
  }

  function fillResponsible(responsible) {
    var oldResponsible = $('#licitation_process_responsible_id').val();

    if (responsible && oldResponsible == "") {
      $('#licitation_process_responsible').val(responsible.to_s);
      $('#licitation_process_responsible_id').val(responsible.id);
    }
  }

  function fillItem(uuid, item) {
    var prefixNameUuid = "#licitation_process_items_attributes_fresh-" + uuid;

    $(prefixNameUuid + "_material").val(item.material_description);
    $(prefixNameUuid + "_material_id").val(item.material_id);
    $(prefixNameUuid + "_reference_unit").val(item.reference_unit);
    $(prefixNameUuid + "_quantity").val(numberWithDelimiter(item.quantity));
    $(prefixNameUuid + "_unit_price").val(numberWithDelimiter(item.unit_price));
    $(prefixNameUuid + "_estimated_total_price").val(numberWithDelimiter(item.estimated_total_price));
  }

  function fillBudgetAllocation(uuid, budget_allocation) {
    var prefixNameUuid = "#licitation_process_administrative_process_budget_allocations_attributes_fresh-" + uuid;

    $(prefixNameUuid + "_budget_allocation").val(budget_allocation.description);
    $(prefixNameUuid + "_budget_allocation_id").val(budget_allocation.budget_allocation_id);
    $(prefixNameUuid + "_budget_allocation_expense_nature").val(budget_allocation.expense_nature);
    $(prefixNameUuid + "_budget_allocation_amount").val(numberWithDelimiter(budget_allocation.amount));
    $(prefixNameUuid + "_value").val(numberWithDelimiter(budget_allocation.total_items_value));
  }

  function renderBudgetAllocation(budget_allocation) {
    var budgetAllocationBinds = [];
    var budgetAllocationUUID = _.uniqueId();

    budgetAllocationBinds["uuid-administrative-process-budget-allocation"] = "fresh-" + budgetAllocationUUID;

    $("#administrative-process-budget-allocation").append(
      $("#administrative-process-budget-allocation-template").mustache(budgetAllocationBinds)
    ).trigger("nestedForm:afterAdd");

    fillBudgetAllocation(budgetAllocationUUID, budget_allocation);
  }

  function renderItem(item) {
    var itemBinds = [];
    var itemUUID  = _.uniqueId();

    itemBinds["uuid-licitation-process-item"] = "fresh-" + itemUUID;

    $("#items").append(
      $("#licitation-process-item-template").mustache(itemBinds)
    ).trigger("nestedForm:afterAdd");

    fillItem(itemUUID, item);
  }

  $("#licitation_process_purchase_solicitation_item_group_id").on("change", function (event, purchase_solicitation_item_group) {
    $("#administrative-process-budget-allocation").empty();
    $(".nested-licitation-process-item").empty()

    if (purchase_solicitation_item_group) {
      $.each(purchase_solicitation_item_group.purchase_solicitations, function (i, purchase_solicitation) {
        $.each(purchase_solicitation.budget_allocations, function (i, budget_allocation) {
          renderBudgetAllocation(budget_allocation);

          $.each(budget_allocation.items, function (i, item) {
            renderItem(item);
          });
        });
      });

      disableBudgetAllocations();
      disablePurchaseSolicitation();
      toggleItems(false);
    } else {
      enableBudgetAllocations();
      enablePurchaseSolicitation();
      toggleItems(true);
    }

    calcItemOrder();
  });

  $("#licitation_process_purchase_solicitation_id").on("change", function (event, purchase_solicitation) {
    $("#administrative-process-budget-allocation").empty();
    $(".nested-licitation-process-item").empty()

    if (purchase_solicitation) {
      $.each(purchase_solicitation.budget_allocations, function (i, budget_allocation) {
        renderBudgetAllocation(budget_allocation);

        $.each(budget_allocation.items, function (i, item) {
          renderItem(item);
        });
      });

      disableBudgetAllocations();
      disablePurchaseSolicitationItemGroup();
      toggleItems(false);
      fillResponsible(purchase_solicitation.responsible);
    } else {
      enableBudgetAllocations();
      enablePurchaseSolicitationItemGroup();
      toggleItems(true);
    }
  });

  $('form.licitation_process').on('change', '.material', function (event, material) {
    if (material){
      $(this).closest('.nested-licitation-process-item').find('.reference-unit').val(material.reference_unit);
    }
  });

  function calcItemOrder() {
    $('.nested-licitation-process-item .hidden .destroy[value=false]').each(function (index, item) {
      $(this).closest('.nested-licitation-process-item').find('.order').val(index + 1);
    });
  }

  function calculateTotalOfItems(administrativeProcessBudgetAllocation) {
    var itemPrices = administrativeProcessBudgetAllocation.find('.item-price:visible'),
        totalValue = 0;

    itemPrices.each(function () {
      totalValue += parsePtBrFloat(this.value);
    });

    administrativeProcessBudgetAllocation.find('.total-value').val(numberWithDelimiter(totalValue));
  }

  $('form.licitation_process').on('click', '.remove-licitation-process-item', function () {
    calcItemOrder();
    calculateTotalOfItems($(this).closest('.nested-administrative-process-budget-allocation'));
  });

  $('form.licitation_process').on('nestedForm:afterAdd', function (){
    calcItemOrder();
  });

  $('form.licitation_process').on('keyup', '.item-quantity, .item-unit-price', function() {
    var itemDiv = $(this).closest('.nested-licitation-process-item'),
        itemQuantity = new BigNumber(parsePtBrFloat(itemDiv.find('.item-quantity').val() || '0')),
        itemUnitPrice = new BigNumber(parsePtBrFloat(itemDiv.find('.item-unit-price').val() || '0')),
        total = numberWithDelimiter(parseFloat(itemQuantity.multiply(itemUnitPrice)));

    itemDiv.find('.item-price').val(total);
  });

  $('form.licitation_process').on('keyup', '.item-price', function () {
    var itemDiv = $(this).closest('.nested-licitation-process-item'),
        itemQuantity = new BigNumber(parsePtBrFloat(itemDiv.find('.item-quantity').val() || '0')),
        itemPrice = new BigNumber(parsePtBrFloat(itemDiv.find('.item-price').val() || '0')),
        unitPrice = numberWithDelimiter(0);

    if (itemQuantity != '0') {
      unitPrice = itemPrice.divide(itemQuantity);
      unitPrice = numberWithDelimiter(parseFloat(unitPrice));
    }

    itemDiv.find('.item-unit-price').val(unitPrice);
  });

  function filterTypesOfCalculation (judgmentKind) {
    var modality = $("#licitation_process_modality").val(),
        objectType = $("#licitation_process_object_type").val(),
        typesOfCalculationGroupsForJudgmentFormKind = <%= LicitationProcessTypesOfCalculationByJudgmentFormKind.new.types_of_calculation_groups.to_json.html_safe %>,
        typesOfCalculationGroupsForObjectType   = <%= LicitationProcessTypesOfCalculationByObjectType.new.types_of_calculation_groups.to_json.html_safe %>,
        typesOfCalculationGroupsForModality     = <%= LicitationProcessTypesOfCalculationByModality.new.types_of_calculation_groups.to_json.html_safe %>,
        typesOfCalculationOptions               = _(<%= LicitationProcessTypeOfCalculation.to_a.to_json.html_safe %>),
        options                                 = typesOfCalculationGroupsForJudgmentFormKind[judgmentKind] || [],
        optionsForObjectType                    = _(typesOfCalculationGroupsForObjectType[objectType] || []),
        optionsForModality                      = _(typesOfCalculationGroupsForModality[modality] || []);

    if (!optionsForObjectType.include(options[1])) {
      delete options[1];
    }

    if (!optionsForModality.include(options[2])) {
      delete options[2];
    }

    if (_.size(options) == 0) {
      $("#licitation_process_type_of_calculation").empty().closest("div.input").hide();
      return;
    }

    $("#licitation_process_type_of_calculation").html("<option></option>").closest("div.input").show();

    typesOfCalculationOptions.each(function (option) {
      if (modality == 'auction') {
        if (optionsForModality.include(option[1])) {
          $("#licitation_process_type_of_calculation").append(function () {
            return $("<option>").text(option[0]).val(option[1]);
          });
        }
      } else {
        if (_(options).include(option[1])) {
          $("#licitation_process_type_of_calculation").append(function () {
            return $("<option>").text(option[0]).val(option[1]);
          });
        }
      }
    });
  }

  $("#licitation_process_judgment_form_id").on('change', function(event, judgmentForm) {
    var option = $('#licitation_process_judgment_form_id option[value="'+ $(this).val() + '"]');

    if (option) {
      filterTypesOfCalculation(option.data('kind'));
    }
  });

  $("#licitation_process_type_of_calculation").val("<%= f.object.type_of_calculation %>");

  calcItemOrder();

  <% unless resource.updatable? %>
    $(function(){
      $('form.licitation_process [data-disabled]').on('click', function(event){
        event.stopImmediatePropagation();
        return false;
      });
      $('form.licitation_process :input').not('[data-disabled]').attr('disabled', true);
    });
  <% end %>

  <% if resource.decorator.disable_budget_allocations? %>
    $("#budget_allocations :input").attr("disabled", "disabled");
    $("#budget_allocations :input").removeClass("auto_complete");
    $("#budget_allocations :input[type='button']").hide();
  <% end %>

</script>
