<div class="buttons">
  <%= f.button :submit if f.object.updatable? %>

  <% if f.object.persisted? %>
    <%= link_to('Licitantes', licitation_process_bidders_path(:licitation_process_id => resource.id), :class => "button primary") %>
    <%= link_to('Publicações', licitation_process_publications_path(:licitation_process_id => resource.id), :class => "button primary") %>
    <%= link_to('Apurar', licitation_process_path(resource), :class => "button primary") if resource.envelope_opening? %>
    <%= link_to('Lotes de itens', licitation_process_lots_path(:licitation_process_id => resource.id), :class => "button primary") %>
  <% end %>

  <%= link_to('Pareceres da comissão julgadora', judgment_commission_advices_path(:licitation_process_id => resource.id), :class => "button primary") %>
  <%= link_to('Cancelar', resource.decorator.parent_url(@parent), :class => 'button secondary') %>
</div>
