<div class="buttons">
  <p>
    <% if f.object.persisted? %>
      <%= link_to('Licitantes', bidders_path(:licitation_process_id => resource.id), :class => "button primary",
                  'data-disabled' => f.object.decorator.must_have_published_edital) %>
      <%= link_to('Publicações', licitation_process_publications_path(:licitation_process_id => resource.id), :class => "button primary") %>

      <%= classification_link %>
      <%= calculation_link %>

      <%= link_to('Lotes de itens', licitation_process_lots_path(:licitation_process_id => resource.id), :class => "button primary") %>
    <% end %>
    <%= link_to('Pareceres da comissão julgadora', judgment_commission_advices_path(:licitation_process_id => resource.id), :class => "button primary") %>
  </p>

  <%= f.button :submit, 'data-disabled' => f.object.decorator.not_updatable_message %>
  <%= link_to('Processo Administrativo', edit_administrative_process_path(resource.administrative_process), :class => 'button primary') %>
  <%= link_to('Voltar à listagem', licitation_processes_path, :class => 'button primary') %>
</div>
