<div class="buttons">
  <p>
    <% if f.object.persisted? %>
      <%= link_to('Licitantes', bidders_path(:licitation_process_id => resource.id), :class => "button primary",
                  'data-disabled' => f.object.decorator.must_have_published_edital) %>
      <%= link_to('Publicações', licitation_process_publications_path(:licitation_process_id => resource.id), :class => "button primary") %>

      <%= classification_link %>
      <%= calculation_link %>

      <%= link_to('Lotes de itens', licitation_process_lots_path(:licitation_process_id => resource.id), :class => "button primary") %>

      <%= link_to('Pareceres da comissão julgadora', judgment_commission_advices_path(:licitation_process_id => resource.id), :class => "button primary") %>
    <% end %>
  </p>

  <% if can?(:modify, main_controller_name) %>
    <%= f.button :submit, 'data-disabled' => f.object.decorator.not_updatable_message %>
  <% end %>

  <%= f.button :back %>
</div>
