<%= render 'alert_realignment_prices', f: f %>

<div class="d-flex justify-content-end">
  <button type="button" id="tooltip"  data-message="Para cadastrar o processo totalmente é necessário preencher as abas
                                     Solicitantes; itens; credenciamentos; habilitação; propostas; lances; adjudicação / homologação" >Ajuda ?</button>
</div>
<div class="tabs" id="licitation_process">
  <ul id="main-ul">
    <li><a href="#tab-main">Dados do Processo</a></li>
    <li><a href="#tab-requestor">Solicitantes</a></li>
    <li><a href="#tab-items" id="items_tab_header">Itens / Justificativa</a></li>
    <li><a href="#tab-periods">Prazos</a></li>
    <li class='income'><a href="#tab-income">Receita</a></li>
    <li><a href="#tab-documents">Documentos</a></li>
    <li id="legal_reasons_tab" ><a href="#tab-leagal-reasons">Fundamentação Legal Dispensa/Inexigibilidade</a></li>
    <li><a href="#tab-legal-analysis-appraisals" id="legal_analysis_appraisals_tab">Laudo de Análise Jurídica</a></li>
    <li><a href="#tab-licitation-process-publications" id="licitation_process_publications_tab">Publicações</a></li>

    <%= content_tag :li, class:('tabs-to-trading' unless resource.trading?  ) do%>
      <a href="#tab-licitation-purchase-process-accreditations" id="purchase_process_accreditations">Credenciamentos</a>
    <% end %>

    <li><a href="#tab-bidders" id="bidder">Habilitação</a></li>


    <li><a href="#tab-proposals" id="proposals">Propostas</a></li>


    <%= content_tag :li, class:('tabs-to-trading' unless resource.trading? ) do%>
      <a href="#tab-tradings" id="tradings">Lances</a>
    <% end %>

    <%= content_tag :li, class:('tabs-to-trading' unless resource.trading? ) do%>
      <a href="#tab-realignment-prices" id="realignment_prices">Realinhamento de Preços</a>
    <% end %>

    <%= content_tag :li, class:('tabs-to-trading' unless resource.trading? ) do%>
      <a href="#tab-trading-negotiation" id="trading_negotiation">Negociação</a>
    <% end %>

    <li><a href="#tab-judgment-commission" id="judgment_commission">Parecer da Comissão Julgadora</a></li>

    <li><a href="#tab-ratifications" id="ratifications">Adjudicação/Homologação</a></li>
  </ul>

  <div id="tab-main"><%= render 'main', :f => f %></div>
  <div id="tab-requestor"><%= render 'requestor', :f => f %></div>
  <div id="tab-periods"><%= render 'periods', :f => f %></div>
  <div id="tab-items"><%= render 'items', :f => f %></div>
  <div id="tab-income"><%= render 'income', :f => f %></div>
  <div id="tab-documents"><%= render 'documents', :f => f %></div>
  <div id="tab-leagal-reasons"><%= render 'legal_reasons', :f => f %></div>
  <div id="tab-legal-analysis-appraisals"><%= render 'legal_analisys_appraisals', :f => f %></div>

  <div id="tab-licitation-process-publications"><%= render 'licitation_process_publications', :f => f %></div>
  <div id="tab-licitation-purchase-process-accreditations"><%= render 'purchase_process_accreditations', :f => f %></div>
  <div id="tab-bidders"><%= render 'bidders', :f => f %></div>
  <div id="tab-proposals"><%= render 'purchase_process_proposals', :f => f %></div>
  <div id="tab-tradings"><%= render 'purchase_process_tradings', :f => f %></div>
  <div id="tab-realignment-prices"><%= render 'realignment_prices', :f => f %></div>
  <div id="tab-trading-negotiation"><%= render 'purchase_process_trading_negotiation', :f => f %></div>
  <div id="tab-judgment-commission"><%= render 'judgment_commission_advices', :f => f %></div>
  <div id="tab-ratifications"><%= render 'licitation_process_ratifications', :f => f %></div>
</div>

<style>
  .hided{
    display: none;
  }
  #tooltip {
    background-color: #333 !important;
    color: white;
    font-size: 13px;
    opacity: 1 !important;
    padding: 0.5rem 1rem;
    border-radius: 999rem;
    bottom: 0;
  }
  #tooltip:focus {outline:0;}

  .ui-tooltip, .arrow:after {
    background: #3d6c9c;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 140px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
</style>


<script>
  <% if params[:source].present? and params[:tab].present? %>
    window.addEventListener("load", () => {
      var tab = '<%= params[:tab] %>'
      $('#'+tab).click();
    });
  <%end%>

  <% if resource.approved? %>
    $(function(){
      $('form.licitation_process [data-disabled]').on('click', function(event){
        event.stopImmediatePropagation();
        return false;
      });
      $('form.licitation_process :input').not('[data-disabled]').attr('disabled', true);
      $('#licitation_process_budget_allocation').removeAttr('disabled');
      $('#licitation_process_purchase_process_budget_allocation_value').removeAttr('disabled');
      $('#licitation_process_budget_allocation_year').removeAttr('disabled');
      $('#purchase_process_budget_allocations_button').removeAttr('disabled');
      $('#licitation_process_submit').removeAttr('disabled');
      $('form input[type="hidden"]').removeAttr('disabled');
      $('form input[name="authenticity_token"]').removeAttr('disabled');
      $('form input[name="_method"]').removeAttr('disabled');
      $('form input[name="licitation_process_nested_grid_[id]"]').removeAttr('disabled');
      $('#licitation_process_expense_nature').removeAttr('disabled');
      $('#licitation_process_expense_nature_id').removeAttr('disabled');
    });
  <% end %>

</script>
