<div class="buttons">
  <% if f.object.persisted? %>
    <p>
      <%= classification_link %>

      <%= minute_purchase_process_link %>
    </p>

    <% if f.object.trading? %>
      <% if f.object.trading %>
        <% if f.object.accreditation_creditors.pluck(:id).uniq.length == 1 && f.object.trading.items.all? { |item| item.status == PurchaseProcessTradingItemStatus::CLOSED }%>
          <%= link_to('Mapa de lances', report_map_of_bids_path(resource.id), class: "button primary",
                      'data-disabled' => "Desabilitado") %>
        <% else %>
          <%= link_to('Mapa de lances', report_map_of_bids_path(resource.id), class: "button primary",
                      'data-disabled' => f.object.decorator.must_have_trading) %>
        <% end %>
      <% end %>

    <% end %>

<% end %>

  <% if can?(:modify, main_controller_name) %>
    <%= f.button :submit, 'data-disabled' => not_updateable_message %>
  <% end %>

  <%= f.button :back %>
</div>
