<div class="tabs" id="licitation_process">
  <ul>
    <li><a href="#tab-main">Principal</a></li>
    <li><a href="#tab-requestor">Solicitantes</a></li>
    <li><a href="#tab-periods">Prazos</a></li>
    <li><a href="#tab-items" id="items_tab_header">Itens / Justificativa</a></li>
    <li><a href="#tab-budget_allocations" id="budget_allocation_tab_header">Orçamento</a></li>
    <li class='income'><a href="#tab-income">Receita</a></li>
    <li><a href="#tab-documents">Documentos</a></li>
    <li><a href="#tab-leagal-reasons" id="legal_reasons_tab">Fundamentação Legal Dispensa/Inexigibilidade</a></li>
  </ul>

  <div id="tab-main"><%= render 'main', :f => f %></div>
  <div id="tab-requestor"><%= render 'requestor', :f => f %></div>
  <div id="tab-periods"><%= render 'periods', :f => f %></div>
  <div id="tab-items"><%= render 'items', :f => f %></div>
  <div id="tab-budget_allocations"><%= render 'budget_allocations', :f => f %></div>
  <div id="tab-income"><%= render 'income', :f => f %></div>
  <div id="tab-documents"><%= render 'documents', :f => f %></div>
  <div id="tab-leagal-reasons"><%= render 'legal_reasons', :f => f %></div>
</div>

<script>
  function filterJudgmentForm() {
    var judgmentFormGroups    = <%= JudgmentFormFilter.new.by_modality.to_json.html_safe %>,
        modality              = $('#licitation_process_modality').val(),
        priceRegistration     = $('#licitation_process_price_registration').is(':checked'),
        currentJudgmentFormId = $('#current_judgment_form_id').val(),
        judgmentForms;

    $("#licitation_process_judgment_form_id").empty();
    $("#licitation_process_judgment_form_id").val('');

    $("#licitation_process_judgment_form_id").append(function() {
      return $("<option>").text('').val('');
    });

    if (modality) {
      if (priceRegistration) {
        judgmentForms = judgmentFormGroups.with_price_registration[modality];
      } else {
        judgmentForms = judgmentFormGroups.without_price_registration[modality];
      }

      _(judgmentForms).each(function(judgmentForm) {
        $("#licitation_process_judgment_form_id").append(function() {
          return $("<option>").text(judgmentForm.description)
                              .val(judgmentForm.id)
                              .data('kind', judgmentForm.kind);
        });
      });
    }

    if (currentJudgmentFormId) {
      $("#licitation_process_judgment_form_id option").each(function() {
        if ( $(this).val() == currentJudgmentFormId ){
          $("#licitation_process_judgment_form_id").val(currentJudgmentFormId);
        }
      });
    }
  }

  function filterModalities(objectType) {
    var modalitiesByObjectType = <%= Modality.by_object_type.to_json.html_safe %>,
        validGroup             = _(modalitiesByObjectType[objectType]),
        currentModality        = $("#current_modality_id").val();

    $("#licitation_process_modality").empty();

    $("#licitation_process_modality").append(function() {
      return $("<option>").text('').val('');
    });

    if (!validGroup.isUndefined() && !validGroup.isEmpty()){
      validGroup.each(function(modality) {
        $("#licitation_process_modality").append(function() {
          if (modality[1] == currentModality) {
            return $("<option>").text(modality[0]).val(modality[1]).attr('selected', 'selected');
          } else {
            return $("<option>").text(modality[0]).val(modality[1]);
          }
        });
      });
    }
  }

  function disableModalities() {
    $('#licitation_process_modality').attr("disabled", "disabled");
  }

  function enableModalities() {
    $('#licitation_process_modality').removeAttr("disabled");
  }

  function disableBudgetAllocation(){
    $('#licitation_process_budget_allocation').attr('disabled', 'disabled');
  }

  function enableBudgetAllocation(){
    $('#licitation_process_budget_allocation').removeAttr('disabled');
  }

  $('#licitation_process_modality, #licitation_process_price_registration').on('change', function() {
    filterJudgmentForm();
  });

  $('form.licitation_process').on('change', '.object-type-select', function() {
    $('#licitation_process_modality').html('');

    var objectType = $(this).val();
    if (objectType) {
      filterModalities(objectType);
      enableModalities();
    } else {
      disableModalities();
    }
  });

  if ( $(".object-type-select").val() ) {
    filterModalities( $(".object-type-select").val() );
  } else {
    disableModalities();
  }

  filterJudgmentForm();
  if ($('#licitation_process_budget_allocation_year').val() == ''){
    disableBudgetAllocation();
  }

  $('form.licitation_process').on('change', '#licitation_process_budget_allocation_year', function(){
    if ($('#licitation_process_budget_allocation_year').val() == ''){
      disableBudgetAllocation();
    }else{
      enableBudgetAllocation();
    }
  });

  <% unless resource.updateable? && resource.licitation_process_ratifications.empty? %>
    $(function(){
      $('form.licitation_process [data-disabled]').on('click', function(event){
        event.stopImmediatePropagation();
        return false;
      });
      $('form.licitation_process :input').not('[data-disabled]').attr('disabled', true);
      $('#licitation_process_budget_allocation').removeAttr('disabled');
      $('#licitation_process_purchase_process_budget_allocation_value').removeAttr('disabled');
      $('#licitation_process_budget_allocation_year').removeAttr('disabled');
      $('#purchase_process_budget_allocations_button').removeAttr('disabled');
      $('#licitation_process_submit').removeAttr('disabled');
      $('form input[type="hidden"]').removeAttr('disabled');
      $('form input[name="authenticity_token"]').removeAttr('disabled');
      $('form input[name="_method"]').removeAttr('disabled');
      $('form input[name="licitation_process_nested_grid_[id]"]').removeAttr('disabled');
      $('#licitation_process_expense_nature').removeAttr('disabled');
      $('#licitation_process_expense_nature_id').removeAttr('disabled');
    });
  <% end %>
</script>
