<div class="buttons">
  <%= f.button :submit %>
  <%= f.object.presenter.build_accreditation_link %>
  <%= f.object.presenter.invited_bidders_link if f.object.persisted? && f.object.can_have_invited_bidders? %>
  <%= f.object.presenter.count_link %>
  <%= f.button :cancel %>
  <%= f.button :destroy if f.object.persisted? %>
</div>
