

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :process, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :year, :disabled => f.object.persisted? %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :process_date %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :administrative_process %>
  </div>
</div>


<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :administrative_process_budget_unit, :disabled => true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :administrative_process_modality_humanize, :disabled => true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :administrative_process_object_type_humanize, :disabled => true %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :administrative_process_judgment_form, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :administrative_process_description, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :administrative_process_responsible, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :administrative_process_item, :disabled => true %>
  </div>
</div>

<%= f.input :object_description %>
<%= f.input :capability %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :expiration %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :readjustment_index %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :licitation_number, :disabled => true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :year, :disabled => true, :input_html => { :id => nil } %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :modality, :disabled => true, :as => :string, :input_html => { :value => f.object.modality_humanize } %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :envelope_delivery_date %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :envelope_delivery_time %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :envelope_opening_date %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :envelope_opening_time %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :period %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :payment_method %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-5">
    <%= f.input :caution_value %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :legal_advice %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :legal_advice_date %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :contract_date %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :contract_expiration %>
  </div>
</div>

<%= f.input :observations %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :ratification_date, :disabled => true, :input_html => { :class => 'important' } %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :adjudication_date, :disabled => true, :input_html => { :class => 'important' } %>
  </div>
</div>
