<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :year %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :process_date %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :administrative_process %>
  </div>
</div>

<%= f.input :object_description %>
<%= f.input :capability %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :expiration %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :readjustment_index %>
  </div>
</div>

<%= f.input :period %>
<%= f.input :payment_method %>

<div class="yui3-g">
  <div class="yui3-u-1-5">
    <%= f.input :caution_value %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :legal_advice %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :legal_advice_date %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :contract_date %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :contract_expiration %>
  </div>
</div>

<%= f.input :observations %>
