<div id="items">
  <span class="text-center"><h2 id="title-items">Tomada de Preço / Valor Itens</h2></span>
  <div class="nested-fields add-margin-bottom">
    <div class="hidden-fields">
      <%= hidden_field_tag :item_id, nil, :name => 'licitation_process_item[id]' %>
      <div class="row">
        <div class="col justification">
          <%= f.input :justification, as: :string %>
        </div>
        <div class="col">
          <%= f.input :creditor, as: :auto_complete, source_path: qualified_creditor(f.object),fake: true, hint: f.object.licitation? ? '' : 'Somente fornecedores habilitados'  %>
        </div>
      </div>

      <div class="yui3-g">
        <div class="yui3-u-3-8">
          <%= f.input :material, :as => :auto_complete, :fake => true, :required => true, 'data-hidden-field-class' => 'unique' %>
        </div>

        <div class="yui3-u-1-8">
          <%= f.input :lot, :as => :fake, :required => true %>
        </div>

        <div class="yui3-u-1-8">
          <%= f.input :reference_unit, :as => :fake, :disabled => true %>
        </div>

        <div class="yui3-u-1-8">
          <%= f.input :quantity, :as => :fake, :required => true,
                      :input_html => {'data-numeric' => true, :maxlength => 15, :class => 'numeric integer'} %>
        </div>

        <div class="yui3-u-1-8">
          <%= f.input :unit_price, :as => :fake,
                      :input_html => {'data-decimal' => true, :value => '0,000', 'data-precision' => 3, :maxlength => 15, :class => 'numeric'} %>
        </div>

        <div class="yui3-u-1-8">
          <%= f.input :estimated_total_price, :as => :fake,
                      :input_html => {'data-decimal' => true, :value => '0,000', 'data-precision' => 3, :maxlength => 15, :class => 'numeric'} %>
        </div>
      </div>
    </div>
    <div class="row  items-actions">
      <div class="col d-flex creditor_for_all_input">
        <%= f.input :creditor_for_all_items, as: :auto_complete, fake: true,
                    wrapper_class: 'w-75',
                    source_path: creditors_path %>

        <%= button_tag 'OK', type: :button,
                       :id => 'btn_set_creditor_for_all_items',
                       :class => 'button field-without-label' %>
        <%= button_tag 'X', type: :button,
                       :id => 'btn_cancel_creditor_for_all',
                       :class => 'button negative field-without-label' %>
      </div>

      <div class="col d-flex justify-content-end">
        <% if f.object.simplified_processes? %>
          <%= button_tag 'Atribuir Fornecedor para Todos  os Itens', type: :button,
                         :class => 'button field-without-label btn_creditor_for_all_items' %>
        <% end %>

        <%= button_tag 'Adicionar Itens', type: :button,
                       :id => 'btn_new_role_unique',
                       :class => 'add-nested-record  button field-without-label',
                       'data-template' => 'licitation_process_items_template',
                       'data-records' => 'items-records',
                       'data-clear-after-add' => false,
                       'data-disabled' => not_updateable_message %>

        <%= button_tag 'Adicionar Itens', type: :button, class:'button primary field-without-label show-fields' %>
      </div>
    </div>
  </div>

  <style>
  .display-grid {
    display:inline-grid
  }
  </style>
  
  <% klass =  f.object.items.first.class.to_s.constantize %>  
  <div>
    <ul style="background:white" class="display-grid" >
      <% f.errors('items').each do |key,value| %>
        <li class="display-grid simple_form error">
          <%= klass.human_attribute_name key.to_s.sub('items.','') %> <%= value.first %>
        </li>
      <% end %>
    </ul>
  </div>
   
  <table id="items-records" class="records">
    <thead>
    <tr>
      <th width="8%"><%= PurchaseProcessItem.human_attribute_name :lot %></th>
      <th><%= PurchaseProcessItem.human_attribute_name :material %></th>
      <th class="item-creditor hidden" width="25%"><%= PurchaseProcessItem.human_attribute_name :creditor %></th>
      <th><%= PurchaseProcessItem.human_attribute_name :reference_unit %></th>
      <th width="11%"><%= PurchaseProcessItem.human_attribute_name :quantity %></th>
      <th>Valor unitário</th>
      <th><%= PurchaseProcessItem.human_attribute_name :estimated_total_price %></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= f.association :items, :collection => localized(f.object.items.orderize_by_material_description) do |p| %>
        <%= render 'purchase_process_items/licitation_process_list_form',
                 id: p.object.id,
                 lot: p.object.lot,
                 material: p.object.material,
                 material_id: p.object.material_id,
                 creditor: p.object.creditor,
                 creditor_id: p.object.creditor_id,
                 reference_unit: p.object.reference_unit,
                 quantity: number_with_precision(p.object.quantity),
                 unit_price: p.object.unit_price_round,
                 estimated_total_price: number_with_precision(p.object.estimated_total_price, precision:3),
                 additional_information: p.object.additional_information,
                 data_disabled: not_updateable_message,
                 f: p %>
    <% end %>
    </tbody>
  </table>

  <%= render 'total_items', f: f %>

  <%= mustache "licitation_process_items_template" do %>
    <%= f.association :items_attributes, :collection => f.object.items.build, :index => '{{uuid}}' do |p| %>
      <%= render 'purchase_process_items/licitation_process_list_form',
                 id: '{{id}}',
                 lot: '{{lot}}',
                 material: '{{material}}',
                 material_id: '{{material_id}}',
                 creditor: '{{creditor}}',
                 creditor_id: '{{creditor_id}}',
                 reference_unit: '{{reference_unit}}',
                 quantity: '{{quantity}}',
                 unit_price: '{{unit_price}}',
                 estimated_total_price: '{{estimated_total_price}}',
                 additional_information: '{{additional_information}}',
                 data_disabled: nil,
                 f: p %>
    <% end %>
  <% end %>
</div>

<style>
  .items-actions .input{
    margin-bottom: 0;
  }
  .creditor_for_all_input{
    display: none;
  }

  .items-actions input,button{
    margin-left:5px;
  }
  .items-actions input,button:first-child{
    margin-left:0;
  }
  #title-items{
   min-height: unset !important;
   margin-top: unset !important;
   margin-bottom: 0;
  }
</style>
