 <div id="items">
  <div class="nested-fields add-margin-bottom">
    <%= hidden_field_tag :item_id, nil, :name => 'licitation_process_item[id]' %>
    <div class="row">
      <div class="col justification">
        <%= f.input :justification, as: :string %>
      </div>
      <div class="col">
        <%= f.input :creditor, as: :auto_complete, fake: true %>
      </div>
    </div>

    <div class="yui3-g">
      <div class="yui3-u-3-8">
        <%= f.input :material, :as => :auto_complete, :fake => true, :required => true, 'data-hidden-field-class' => 'unique' %>
      </div>

      <div class="yui3-u-1-8">
        <%= f.input :lot, :as => :fake, :required => true %>
      </div>

      <div class="yui3-u-1-8">
        <%= f.input :reference_unit, :as => :fake, :disabled => true %>
      </div>

      <div class="yui3-u-1-8">
        <%= f.input :quantity, :as => :fake, :required => true,
                    :input_html => {'data-numeric' => true, :maxlength => 15, :class => 'numeric integer'} %>
      </div>

      <div class="yui3-u-1-8">
        <%= f.input :unit_price, :as => :fake,
                    :input_html => {'data-decimal' => true, :value => '0,00', 'data-precision' => 2, :maxlength => 15, :class => 'numeric'} %>
      </div>

      <div class="yui3-u-1-8">
        <%= f.input :estimated_total_price, :as => :fake,
                    :input_html => {'data-decimal' => true, :value => '0,00', 'data-precision' => 2, :maxlength => 15, :class => 'numeric'} %>
      </div>
    </div>


    <div class="text-right">
        <%= button_tag 'Adicionar Itens', type: :button,
                       :id => 'btn_new_role_unique',
                       :class => 'add-nested-record  button field-without-label',
                       'data-template' => 'licitation_process_items_template',
                       'data-records' => 'items-records',
                       'data-clear-after-add' => false,
                       'data-disabled' => not_updateable_message %>
    </div>
  </div>

  <div class="text-right">
    <%= button_tag 'Adicionar Itens', type: :button, class:'button primary', :id => 'show-items-fields' %>
  </div>

  <%= f.error :items %>

  <table id="items-records" class="records">
    <thead>
    <tr>
      <th><%= PurchaseProcessItem.human_attribute_name :lot %></th>
      <th><%= PurchaseProcessItem.human_attribute_name :material %></th>
      <th class="item-creditor hidden"><%= PurchaseProcessItem.human_attribute_name :creditor %></th>
      <th><%= PurchaseProcessItem.human_attribute_name :reference_unit %></th>
      <th width="11%"><%= PurchaseProcessItem.human_attribute_name :quantity %></th>
      <th>Valor unitário</th>
      <th><%= PurchaseProcessItem.human_attribute_name :estimated_total_price %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= f.association :items, :collection => localized(f.object.items) do |p| %>
      <%= render 'purchase_process_items/licitation_process_list_form',
                 id: p.object.id,
                 lot: p.object.lot,
                 material: p.object.material,
                 material_id: p.object.material_id,
                 creditor: p.object.creditor,
                 creditor_id: p.object.creditor_id,
                 reference_unit: p.object.reference_unit,
                 quantity: number_with_precision(p.object.quantity),
                 unit_price: number_with_precision(p.object.unit_price),
                 estimated_total_price: number_with_precision(p.object.estimated_total_price),
                 additional_information: p.object.additional_information,
                 data_disabled: not_updateable_message,
                 f: p %>
    <% end %>
    </tbody>
  </table>

  <%= mustache "licitation_process_items_template" do %>
    <%= f.association :items_attributes, :collection => f.object.items.build, :index => '{{uuid}}' do |p| %>
      <%= render 'purchase_process_items/licitation_process_list_form',
                 id: '{{id}}',
                 lot: '{{lot}}',
                 material: '{{material}}',
                 material_id: '{{material_id}}',
                 creditor: '{{creditor}}',
                 creditor_id: '{{creditor_id}}',
                 reference_unit: '{{reference_unit}}',
                 quantity: '{{quantity}}',
                 unit_price: '{{unit_price}}',
                 estimated_total_price: '{{estimated_total_price}}',
                 additional_information: '{{additional_information}}',
                 data_disabled: nil,
                 f: p %>
    <% end %>
  <% end %>
</div>

<script>
  <% if f.object.persisted? %>
    $(function(){
      $("#items .nested-fields").hide();
    });

    $("#show-items-fields").click(function () {
      $("#items .nested-fields").show();
      $(".justification").hide();
      $(this).hide();
    });
  <% end %>
</script>