<div id='publications' class="nested-grid">
  <div class="nested-fields nested-additives">
    <div class="hidden-fields">
      <%= f.simple_fields_for :publications, LicitationProcessPublication.new do |p|%>
        <% p.object_name = 'publications'
            p.object.licitation_process_id = f.object.id
        %>
        <%= p.input :id, as: :hidden %>
        <%= render "licitation_process_publications/form", f: p %>
      <% end %>
    </div>

    <div class="text-right">
      <%= button_tag 'Adicionar', type: :button,
                     class: 'button add-nested-record field-without-label add-margin-bottom',
                     'data-template' => "publications_template",
                     'data-records' => "publications_records",
                     id: "publications_button" %>

      <%= button_tag 'Adicionar', type: :button, class:'button primary field-without-label show-fields' %>
    </div>
  </div>

  <%column_names = LicitationProcessPublicationDecorator.header_attributes.to_a
    extra_data   = LicitationProcessPublication.attribute_names.map(&:to_sym) - column_names %>

  <table id="<%= "publications_records" %>" class="records">
    <thead>
    <tr>
      <% column_names.each do |column_name| %>
        <th class="<%= column_name %>"><%= LicitationProcessPublication.human_attribute_name column_name %></th>
      <% end %>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= f.association :publications, collection: localized(f.object.publications) do |a| %>
      <% (column_names + extra_data).each do |column_name| %>
        <%= a.full_error column_name %>
      <% end %>

      <%= render "licitation_process_publications/nested_grid_row",
                 column_names: column_names,
                 all_hidden_fields: column_names + extra_data,
                 f: a %>
    <% end %>
    </tbody>
  </table>

  <%= mustache "publications_template" do %>
    <%= f.association "publications_attributes".to_sym, collection: f.object.publications.build.localized, :index => '{{uuid}}' do |a| %>
      <%= render "licitation_process_publications/nested_grid_row",
                 column_names: column_names,
                 is_mustache: true,
                 all_hidden_fields: column_names + extra_data,
                 f: a %>
    <% end %>
  <% end %>

</div>