<% if !f.object.decorator.disabled_negotiation_message && f.object.trading? %>
  <div class="yui3-g button-tabs">
    <div class="yui3-u-1">
      <%= link_to 'Adicionar Adjudicação/Homologação', "#", class: "button", id: "add-process-ratification" %>

      <%= link_to 'Cancelar', "#", class: "button cancel", id: "cancel-process_ratification" %>
    </div>
  </div>
  <div id="process-ratification-fields"></div>

  <% column_names = LicitationProcessRatificationDecorator.header_attributes.to_a %>

  <table id='process_ratifications-records' class="records">
    <thead>
    <tr>
      <% column_names.each do |column_name| %>
        <th class="<%= column_name %>"><%= LicitationProcessRatification.human_attribute_name column_name %></th>
      <% end %>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody class="<%= f.sanitized_object_name %>_document_types_records">
    <% f.object.licitation_process_ratifications.reject(&:new_record?).each do |process_ratification| %>
      <tr>
        <% column_names.each do |column_name| %>
          <td>
            <%=  process_ratification.decorator.send(column_name) %>
          </td>
        <% end %>
        <td>
          <%= link_to 'Editar', '#', 'data-id': process_ratification.id,  class: 'edit-process_ratification' %>
        </td>
        <td>
          <%= link_to 'Deletar', licitation_process_ratification_path(process_ratification.id), method: :delete, class: 'remove-process_ratification' %>
        </td>
      </tr>
    <% end %>

    </tbody>
  </table>

  <%= mustache 'process_ratifications-template' do %>
    <%= f.association :licitation_process_ratifications_attributes, :collection => f.object.licitation_process_ratifications.build, :index => '{{uuid_process_ratification}}' do |p| %>
      <%= render 'licitation_process_ratifications/form', :f => p %>
    <% end %>
  <% end %>

  <style>
    .button-tabs{
      text-align: right;
    }
    .button-tabs .cancel{
      display: none;
    }
  </style>

<% else %>
  <div class="alert alert-warning">
    <strong>É necessário preencher as abas Habilitação; <%= f.object.licitation? ? 'Itens' : 'itens / Justificativa' %></strong>
  </div>
<% end %>