<% classification.administrative_process_budget_allocation_items.each_with_index do |item, i| %>
  <tr class="<%= "classification-#{classification.bidder_id}-#{index}-#{i}" %>">
    <td><%= item.description %></td>
    <td><%= item.reference_unit %></td>
    <td align="right"><%= item.quantity %></td>
    <td align="right"><%= item.decorator.unit_price_by_bidder(classification.bidder) %></td>
    <td align="right"><%= item.decorator.total_value_by_bidder(classification.bidder) %></td>
    <td><%= classification.situation_humanize %></td>
  </tr>
<% end %>
