<tr class="<%= "classification-#{classification.classification}-#{index}" %>">
  <td><%= classification.description %></td>
  <td><%= classification.reference_unit %></td>
  <td align="right"><%= classification.quantity %></td>
  <td align="right"><%= classification.decorator.unit_value %></td>
  <td align="right"><%= classification.decorator.total_value %></td>
  <td><%= classification.decorator.situation_humanize %></td>
</tr>

