<% classification.items.each_with_index do |item, index| %>
  <tr class="<%= "classification-#{classification.classification}-#{index}" %>">
    <td><%= item.description %></td>
    <td><%= item.reference_unit %></td>
    <td align="right"><%= item.quantity %></td>
    <td align="right"><%= item.decorator.unit_price_by_bidder(classification.bidder) %></td>
    <td align="right"><%= item.decorator.total_value_by_bidder(classification.bidder) %></td>

    <td><%= classification.situation_humanize %></td>
  </tr>
<% end %>
