<%= f.input :type_of_purchase, :as => :radio_buttons, :label => '', :label_html => {:class => 'inline' }, :item_wrapper_class => 'inline', :collection => LicitationProcessTypeOfPurchase.to_a %>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :process, :disabled => true %>
  </div>

  <div class="yui3-u-1-8">
    <%= f.input :year, :disabled => f.object.persisted? %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :protocol %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :object_type, :input_html => { :class => 'object-type-select' } %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :execution_type %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :payment_method %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :contract_guarantees %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :index_update_rate %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :readjustment_index %>
  </div>

  <div class="yui3-u-2-3">
    <%= f.input :extension_clause %>
  </div>
</div>

<%= f.input :description %>

<%= f.input :process_date %>
<%= f.input :status, :disabled => true %>


<%= f.input :modality, :collection => [] %>

<%= f.input :purchase_solicitation, :modal_url => modal_purchase_solicitations_path(:can_be_grouped => true) %>
<%= f.input :purchase_solicitation_item_group, :modal_url => modal_purchase_solicitation_item_groups_path(:not_annulled => true, :pending => true) %>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :judgment_form_id, :as => :select, :collection => [] %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :responsible %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :item %>
  </div>
</div>

<%= f.input :summarized_object %>
<%= f.input :price_registration %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :type_of_calculation %>
  </div>

</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :capability %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :pledge_type %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-5">
    <%= f.input :expiration %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :expiration_unit %>
  </div>

  <div class="yui3-u-1-3">
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :licitation_number, :disabled => true %>
  </div>

  <div class="yui3-u-1-8">
    <%= f.input :year, :disabled => true, :input_html => { :id => nil } %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :envelope_delivery_date %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :envelope_delivery_time %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :envelope_opening_date, :disabled => f.object.new_record? %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :envelope_opening_time, :disabled => f.object.new_record? %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :delivery_location %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :period %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :period_unit %>
  </div>
</div>

<div class="yui3-g">

  <div class="yui3-u-1-5">
    <%= f.input :caution_value %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-5">
    <%= f.input :legal_advice %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :legal_advice_date %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :contract_date %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :contract_expiration %>
  </div>
</div>

<%= f.input :observations %>

<div class="yui3-g">
  <div class="yui3-u-1-5">
    <%= f.input :ratification_date, :disabled => true, :input_html => { :class => 'important', :value => f.object.decorator.ratification_date } %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :adjudication_date, :disabled => true, :input_html => { :class => 'important', :value => f.object.decorator.adjudication_date } %>
  </div>
</div>
