<%= f.input :type_of_purchase, :as => :radio_buttons, :label => '', :label_html => {:class => 'inline' }, :item_wrapper_class => 'inline', :collection => LicitationProcessTypeOfPurchase.to_a %>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :process, :disabled => true %>
  </div>

  <div class="yui3-u-1-8">
    <%= f.input :year, :disabled => f.object.persisted? %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :protocol %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :object_type, :input_html => { :class => 'object-type-select' } %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :execution_type %>
  </div>

    <div class="yui3-u-1-6">
      <%= f.input :modality_number, :disabled => true %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :modality, :collection => [], :wrapper_class => 'modality' %>
      <%= f.input :type_of_removal, :wrapper_class => 'type-of-removal' %>
    </div>
</div>

<div class="yui3-g fields-to-trading-and-concurrence">
  <div class="yui3-u-1-3">
    <%= f.input :price_registration %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :is_trading %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :payment_method %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :contract_guarantees %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :index_update_rate %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :readjustment_index %>
  </div>

  <div class="yui3-u-2-3">
    <%= f.input :extension_clause %>
  </div>
</div>

<%= f.input :description %>

<%= f.input :purchase_solicitation, :modal_url => modal_purchase_solicitations_path(:can_be_grouped => true) %>
<%= f.input :purchase_solicitation_item_group, :modal_url => modal_purchase_solicitation_item_groups_path(:not_annulled => true, :pending => true) %>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :judgment_form_id, :as => :select, :collection => [] %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :responsible %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :item %>
  </div>
</div>

<%= f.input :summarized_object %>

<%= f.input :status, :disabled => true %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :capability %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :pledge_type %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :licitation_number, :disabled => true %>
  </div>

  <div class="yui3-u-1-8">
    <%= f.input :year, :disabled => true, :input_html => { :id => nil } %>
  </div>
</div>

<div class="yui3-g">

  <div class="yui3-u-1-5">
    <%= f.input :caution_value %>
  </div>
</div>

<script>
  function organizesModalities() {
    if ($('#licitation_process_type_of_purchase_licitation').is(':checked')){
      $('div.modality').removeClass('hidden');
      $('div.type-of-removal').addClass('hidden');
      $('label[for="licitation_process_modality_number"]').html('Nº da modalidade');
      $('a[href="#tab-items"]').html("Itens");
    } else {
      $('div.modality').addClass('hidden');
      $('div.type-of-removal').removeClass('hidden');
      $('label[for="licitation_process_modality_number"]').html('Nº do afastamento');
      $('a[href="#tab-items"]').html("Itens / Justificativa");
    }
  };

  $('input[name="licitation_process[type_of_purchase]"]').change(function(){
    organizesModalities();
    toogleVisibilityFieldsToTrading();
    toogleVisibilityFieldsToTradingAndConcurrence();
  });

  organizesModalities();

  function toogleVisibilityFieldsToTradingAndConcurrence() {
    if (($('#licitation_process_modality').val() == 'trading') || ($('#licitation_process_modality').val() == 'concurrence')) {
      $('.fields-to-trading-and-concurrence').removeClass('hidden');
    } else {
      $('.fields-to-trading-and-concurrence').addClass('hidden');
      $('#licitation_process_price_registration, #licitation_process_is_trading').attr('checked', false)
    }
  };

  function toogleVisibilityFieldsToTrading() {
    if (($('#licitation_process_modality').val() == 'trading')) {
      $('.fields-to-trading').removeClass('hidden');
      $('.not-fields-to-trading').addClass('hidden');
    } else {
      $('.fields-to-trading').addClass('hidden');
      $('.not-fields-to-trading').removeClass('hidden');
    }
  };

  $('#licitation_process_modality').on('change', function() {
    toogleVisibilityFieldsToTrading();
    toogleVisibilityFieldsToTradingAndConcurrence();
  });

  toogleVisibilityFieldsToTrading();
  toogleVisibilityFieldsToTradingAndConcurrence();
</script>
