<div class="yui3-g">
  <div class="yui3-u-1">
    <%= f.input :process %>
  </div>
  
  <div class="yui3-u-1">
    <%= f.input :purchase_solicitation,hidden_field: :purchase_solicitation_id, as: :modal %>
  </div>

  <div class="yui3-u-1">
    <%= f.input :year, required: false %>
  </div>

  <div class="yui3-u-1">
    <%= f.input :process_date, required: false %>
  </div>

  <div class="yui3-u-1">
    <%= f.input :status, required: false %>
  </div>
</div>
