<tr data-value="<%= record.id %>" data-label="<%= record %>" data-licitation-number="<%= record.licitation_number %>" data-object-description="<%= record.object_description %>" data-envelope-delivery-date="<%= record.envelope_delivery_date %>" data-envelope-delivery-time="<%= record.presenter.envelope_delivery_time %>"  data-envelope-opening-date="<%= record.envelope_opening_date %>" data-envelope-opening-time="<%= record.presenter.envelope_opening_time %>"  data-modality-humanize="<%= record.presenter.modality_humanize %>" data-advice-number="<%= record.presenter.advice_number %>" data-process-date="<%= record.process_date %>" data-administrative-process-modality-humanize="<%= record.administrative_process_modality_humanize %>">
  <% attributes.each do |attribute| %>
    <td>
      <%= record.send attribute %>
    </td>
  <% end %>
</tr>
