<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :process_date %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :notice_availability_date %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :period %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :period_unit %>
  </div>

</div>

<div class="row envelope_delivery_date ">
  <div class="col-4 envelop_delivery">
    <%= f.input :envelope_delivery_date %>
  </div>

  <div class="col envelop_delivery">
    <%= f.input :envelope_delivery_time %>
  </div>

  <div class="col">
    <%= f.input :proposal_envelope_opening_date %>
  </div>

  <div class="col">
    <%= f.input :proposal_envelope_opening_time%>
  </div>
</div>


<div class="yui3-g authorization_envelope_opening_date">

  <div class="yui3-u-1-4">
    <%= f.input :authorization_envelope_opening_date%>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :authorization_envelope_opening_time%>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :closing_of_accreditation_date%>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :closing_of_accreditation_time%>
  </div>

</div>


<div class="row bids_dates">
  <div class="col-2">
    <%= f.input :expiration %>
  </div>

  <div class="col-3">
    <%= f.input :expiration_unit %>
  </div>

  <div class="col">
    <%= f.input :stage_of_bids_date%>
  </div>

  <div class="col">
    <%= f.input :stage_of_bids_time%>
  </div>
</div>

<div class="row fields-to-trading stage_of_bids_date">

  <div class="col">
    <%= f.input :contact %>
  </div>

  <div class="col-5">
    <%= f.input :phone_email %>
  </div>
</div>
