<%if  f.object.new_record? || f.object.decorator.must_have_creditors_and_items.blank? %>
  <% if resource.creditors_enabled.empty? %>
    <div class="alert alert-warning">
      <strong><%= f.object.decorator.must_have_creditors_enabled %></strong>
    </div>
  <% else %>
    <span class="text-center">
      <h2 class="page"> Critério de Classificação</h2>
    </span>
    <div class="yui3-g">
      <div class="yui3-u-1-3">
        <%= f.input :disqualify_proposal_below %>
      </div>
      <div class="yui3-u-1-3">
        <%= f.input :disqualify_proposal_above %>
      </div>
    </div>
  <% end %>

  <table class="records" id="administrative-process-budget-allocation-records">
    <thead>
    <th><%= LicitationProcess.human_attribute_name :creditor %></th>
    <th>Propostas</th>
    <th>Valor da Proposta</th>
    <th>Desclassificar</th>
    <th>Desclassificada?</th>
    <th></th>
    </thead>

    <tbody>
    <% if resource.creditors_enabled.empty? %>
      <tr>
        <td>Não foram encontrados fornecedores habilitados.</td>
      </tr>
    <% else %>
      <%= render partial: 'purchase_process_proposals/creditors_rows', collection: resource.creditors_enabled.includes(:purchase_process_creditor_proposals), as: :creditor %>
    <% end %>
    </tbody>
  </table>

  <span class="text-center">
    <h2 class="page"> Tomada de Preço/ Valor Total dos Lotes</h2>
  </span>
  <%= render 'total_items', f: f %>

  <script>

    $(".delete-proposal").click(function(){
      var url = Routes.purchase_process_creditor_proposal,
        params = {
          licitation_process_id: $("#licitation_process_id").val(), creditor_id: $(this).data('creditor')
        };

      url += "?" + $.param(params);

      $.ajax({
        url: url,
        type: 'DELETE',
        dataType: 'JSON',
        success: function(result) {
          window.location.reload();
        }
      });
    })
  </script>

<% else %>
  <div class="alert alert-warning">
    <strong><%= f.object.decorator.must_have_creditors_and_items %></strong>
  </div>
<% end %>