<%unless f.object.trading? &&  f.object.decorator.enabled_realignment_price? %>
  <div class="alert alert-warning">
    <strong><%= f.object.decorator.must_have_creditors_and_items_and_tradings%></strong>
  </div>
<% end %>
<table class="records">
  <thead>
  <tr>
    <th><%= LicitationProcess.human_attribute_name :creditor %></th>
    <th><%= LicitationProcess.human_attribute_name :creditor_email %></th>

    <% if f.object.judgment_form_lot? %>
      <th>Item/Grupo</th>
    <% else %>
      <th>Item</th>
    <%end %>

    <th></th>
  </tr>
  </thead>

  <tbody>
  <%if Creditor.winners(f.object).empty? %>
    <tr>
      <td colspan="2">
          <strong>Não foram encontrados fornecedores vencedores para os lances.</strong>
      </td>
    </tr>
  <% else %>
    <% if f.object.trading? %>
      <%= render partial: 'realignment_prices/creditors_row_trading', collection: Creditor.winners(f.object), as: :creditor,
                 locals:{licitation_process: f.object} if f.object.persisted? %>
    <% else %>
      <%= render partial: "realignment_prices/creditors_row_#{f.object.judgment_form_kind}", collection: Creditor.winners(f.object), as: :creditor,
                 locals:{licitation_process: f.object} if f.object.persisted? %>
    <% end %>
  <% end %>
  </tbody>
</table>
