<%if f.object.trading? &&  f.object.decorator.enabled_realignment_price? %>
<table class="records">
  <thead>
  <tr>
    <th><%= LicitationProcess.human_attribute_name :creditor %></th>
    <th><%= LicitationProcess.human_attribute_name :creditor_email %></th>

    <% if f.object.judgment_form_lot? %>
      <th>Item/Grupo</th>
    <% end %>

    <th></th>
  </tr>
  </thead>

  <tbody>
  <% if f.object.trading? %>
    <%= render partial: 'realignment_prices/creditors_row_trading', collection: Creditor.winners(f.object), as: :creditor,
               locals:{licitation_process: f.object} %>
  <% else %>
    <%= render partial: "realignment_prices/creditors_row_#{f.object.judgment_form_kind}", collection: Creditor.winners(f.object), as: :creditor,
               locals:{licitation_process: f.object}%>
  <% end %>
  </tbody>
</table>
<% else %>
  <div class="alert alert-warning">
    <strong><%= f.object.decorator.must_have_creditors_and_items%></strong>
  </div>
<% end %>