<div class="yui3-g autocomplete-finder">
  <div class="yui3-u-2-3">
    <%= f.input :purchase_solicitations, :as => :auto_complete, :hidden_field => :autocomplete_purchase_solicitation, :min_length => 1,
                :input_html => { :value => nil, :name => :foobar, :class => "autocomplete-form-input" }  %>
  </div>
</div>

<input type="hidden" name="<%= f.sanitized_object_name %>[purchase_solicitation_ids][]" />

<table class="records">
  <thead>
    <tr>
      <th><%= PurchaseSolicitation.human_attribute_name :code %></th>
      <th><%= PurchaseSolicitation.human_attribute_name :budget_structure %></th>
      <th><%= PurchaseSolicitation.human_attribute_name :responsible %></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="<%= f.sanitized_object_name %>_purchase_solicitations_records">
    <% f.object.purchase_solicitations.each do |purchase_solicitation| %>
      <%= render 'purchase_solicitations/licitation_processes_list_form',
                 :id => purchase_solicitation.id,
                 :code_and_year => purchase_solicitation.code_and_year,
                 :budget_structure => purchase_solicitation.budget_structure,
                 :responsible => purchase_solicitation.responsible,
                 :description => purchase_solicitation.to_s,
                 :f => f %>
    <% end %>
  </tbody>
</table>

<%= mustache "#{f.sanitized_object_name}_purchase_solicitations_template" do %>
  <%= f.association :purchase_solicitations, :collection => f.object.purchase_solicitations.build do |p| %>
    <%= render 'purchase_solicitations/licitation_processes_list_form',
               :id => '{{id}}',
               :code_and_year => '{{code_and_year}}',
               :budget_structure => '{{budget_structure}}',
               :responsible => '{{responsible}}',
               :f => f, :data_disabled => nil %>
  <% end %>
<% end %>
