<div class="buttons">

  <% if @hidden_field %>
    <% if can_destroy?(f.object) %>
      <%= f.button :destroy, style: 'float:none;' %>
    <% else %>
      <%= f.button :destroy, style: 'float:none;', 'data-disabled' => "Desabilitado" %>
    <% end %>

    <% if f.object.updatabled %>
      <%= f.button :submit, class: 'supply_request_submit_reopen' if can?(:modify, main_controller_name)  %>
      <%= f.button :submit, 'data-disabled' => "Desabilitado", class: 'supply_request_submit_close' if can?(:modify, main_controller_name) %>
      <%= link_to I18n.t("enumerations.supply_request_service_status.order_in_analysis"), supply_request_attendances_path(''), :class => 'button primary', 'data-disabled' => "Desabilitado"%>
      <%= link_to I18n.t("enumerations.supply_request_service_status.order_in_financial_analysis"), supply_request_attendances_path(''), :class => 'button primary', 'data-disabled' => "Desabilitado"%>
      <%= link_to 'Liberado p/ Atendimento', supply_request_attendances_path(''), :class => "button primary", 'data-disabled' => "Desabilitado"%>
    <% else %>
      <%= f.button :submit, class: 'supply_request_submit_close', style: 'margin-top: 0%; margin-left: 0%;' if can?(:modify, main_controller_name) %>
      <%= link_to I18n.t("enumerations.supply_request_service_status.order_in_analysis"), supply_request_attendances_path(supply_request_attendance:{responsible_id:f.object.user_id, date:Date.today.to_s ,supply_request_id:f.object.id,service_status: 'order_in_analysis',justification:'Por favor analisar',responsible_id:current_user.authenticable.id}),:method=>:post, :class => 'button primary' if resource.id %>
      <%= link_to I18n.t("enumerations.supply_request_service_status.order_in_financial_analysis"), supply_request_attendances_path(supply_request_attendance:{responsible_id:f.object.user_id, date:Date.today.to_s ,supply_request_id:f.object.id,service_status: 'order_in_financial_analysis',justification:'Por favor analisar',responsible_id:current_user.authenticable.id}),:method=>:post, :class => 'button primary' if resource.id %>
      <%= link_to 'Liberado p/ Atendimento', supply_request_attendances_path(supply_request_attendance:{responsible_id:f.object.user_id, date:Date.today.to_s ,supply_request_id:f.object.id,service_status: 'new',justification:'Por favor analisar',responsible_id:current_user.authenticable.id}),:method=>:post, :class => "button primary" if resource.id %>
    <% end %>
  <% end %>

  <%= link_to('Imprimir', report_supply_requests_path(resource.id), class: "button primary") unless resource.id.nil? %>

  <% if f.object.updatabled %>
    <%= link_to 'Atendimento', supply_request_attendances_path(''),  'data-disabled' => "Desabilitado",  :class => 'button primary', style: 'margin-top: 1%;' %>

    <%= f.button :submit, 'data-disabled' => "Desabilitado" if can?(:modify, main_controller_name) %>
  <% else %>
    <%= link_to 'Atendimento', supply_request_attendances_path(:supply_request_id => resource.id), 'data-disabled' => f.object.decorator.not_persisted_message,  :class => 'button primary', style: 'margin-top: 1%;' %>

    <%= f.button :submit if can?(:modify, main_controller_name) %>
  <% end %>

  <%= f.button :back %>

</div>

<script>
    $(function () {
        $(".supply_request_submit_close").val("Finalizar Atendimento");
        $(".supply_request_submit_reopen").val("Reabrir Atendimento");
    });
</script>