<div class="buttons">
  <%= link_to('Imprimir', report_supply_requests_path(resource.id), class: "button primary") unless resource.id.nil? %>
  <% if f.object.updatabled %>
    <%= f.button :submit, 'data-disabled' => "Desabilitado" if can?(:modify, main_controller_name) %>
    <%= f.button :submit, 'data-disabled' => "Desabilitado", class: 'supply_request_submit_close' if can?(:modify, main_controller_name) %>
  <% else %>
    <%= f.button :submit if can?(:modify, main_controller_name) %>
    <%= f.button :submit, class: 'supply_request_submit_close' if can?(:modify, main_controller_name) %>
  <% end %>

  <%= link_to 'Liberações', supply_request_deferrings_path(:supply_request_id => resource.id), 'data-disabled' => f.object.decorator.not_persisted_message,  :class => 'button primary' %>
  <%= f.button :back %>

  <% if f.object.persisted? && can?(:destroy, main_controller_name) %>
    <%= f.button :destroy %>
  <% end %>
</div>

<script>
    $(function () {
        $(".supply_request_submit_close").val("Fechar");
    });
</script>