<table class="records">
  <thead>
    <tr>
      <% resource_class.decorator.header_attributes.each do |field| %>
        <th><%= resource_class.human_attribute_name field %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% collection.each do |resource| %>
      <tr id="<%= dom_id resource %>">
        <% resource_class.decorator.header_attributes.each do |field| %>
          <td>
            <% if resource_class.decorator.link?(field) %>
              <%= link_to(formatted_attribute(resource.decorator, field), edit_resource_path(resource)) %>
              <p><span style="color: #519AE4"><%= resource.order_name %></span></p>
            <% else %>
              <%= formatted_attribute(resource.decorator, field) %>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= link_to 'imprimir', report_supply_requests_path(resource.id, supply_request_per_secretary_report:{secretary_id: resource&.department&.secretary_id, secretary: resource&.department&.secretary&.to_s,  contract_id: resource&.contract_id, contract: resource&.contract&.to_s}), title: 'Imprimir Pedido de Fornecimento' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
