<div class="yui3-g">

  <input class id="current_user" value="<%=current_user.id %>" hidden >
  <div class="yui3-u-1-4">
    <%= f.input :licitation_process, :required => true, :disabled => f.object.updatabled %>
  </div>
  <div class="yui3-u-3-4  ">
    <div class="input text">
      <label class="text ">Objeto</label>
      <textarea class="string text" cols="20" rows="50" type="text" id="licitation_process_object" value="<%= f.object.purchase_solicitation.department if f.object.purchase_solicitation %>" disabled> </textarea>
    </div>
  </div>
</div>
<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :number, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :year, :disabled => f.object.year.present? %>
  </div>
  <div class="yui3-u-1-4">
    <%= f.input :modality_or_type_of_removal, as: :fake, disabled: true,
                input_html: {value: f.object.decorator.modality_or_type_of_removal} %>
  </div>
  <div class="yui3-u-1-4">
    <%= f.input :user, :disabled => f.object.id.nil? %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :contract %>
  </div>
  <div class="yui3-u-1-5">
    <div>
      <label> Fornecedor </label>
      <input class="string" disabled id="supply_request_creditor"
             value="<%= f.object.decorator.creditor %>" size="30" type="text">
      <input class="string" hidden id="supply_request_creditor_id"
             value="<%= f.object.decorator.creditor_id unless f.object.decorator.creditor.nil? %>"
             size="30" type="text">
    </div>
  </div>
  <div class="yui3-u-1-5">
    <div>
      <%= link_to 'Imprimir lista de materiais', report_creditor_materials_path(f.object.id),:style => 'margin-left:2%;margin-top:4%;position:absolute;' if f.object.id %>
    </div>
  </div>
  <div class="yui3-u-1-5">
    <%= f.input :supply_request_status %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4 hidden">
    <%= f.input :updatabled %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :authorization_date, :disabled => f.object.updatabled %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :purchase_solicitation, :disabled => f.object.licitation_process.nil? || f.object.updatabled %>
  </div>

  <div class="yui3-u-1-2  ">
    <div class="input integer">
      <label class="numeric integer ">Departamento</label>
      <input class="string integer" type="text" id="purchase_solicitation_department" value="<%= f.object.purchase_solicitation.department if f.object.purchase_solicitation %>" disabled>
    </div>
  </div>

</div>

<%= f.input :department %>

<div class="yui3-g">
  <div class="yui3-u-1-7">
    <%= f.input :supply_request_file %>
  </div>

  <div class="yui3-u-1-7">
    <%= link_to f.object.supply_request_file_identifier, f.object.supply_request_file_url, :target => '_blank' if f.object.supply_request_file? %>
  </div>
</div>

<%= f.input :justification %>

<script>
  $(function () {
    $("#supply_request_user").prop('readonly', <%= !f.object.id.nil? %>);
    $("#supply_request_user_id").prop('readonly', <%= !f.object.id.nil? %>);
  });
  $("#supply_request_authorization_date").prop('readonly', false);

</script>