<h1>
  Autorização de Fornecimento
</h1>

<table class="records">
  <thead>
    <tr>
      <th>
        Número da autorização
      </th>

      <th>
        <%= resource_class.human_attribute_name :direct_purchase %>
      </th>

      <th>
        <%= resource_class.human_attribute_name :date %>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= resource %>
      </td>

      <td>
        <%= resource.decorator.direct_purchase %>
      </td>

      <td>
        <%= resource.decorator.date %>
      </td>
    </tr>
  </tbody>
</table>

<h2>Dados do Fornecedor</h2>

<h3>Endereço</h3>

<table class="records">
  <thead>
    <tr>
      <th>
        <%= resource_class.human_attribute_name :provider %>
      </th>

      <th>
        <%= resource_class.human_attribute_name :address %>
      </th>

      <th>
        <%= resource_class.human_attribute_name :city %>
      </th>

      <th>
        <%= resource_class.human_attribute_name :zip_code %>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= resource.provider %>
      </td>

      <td>
        <%= resource.address %>
      </td>

      <td>
        <%= resource.city %>
      </td>

      <td>
        <%= resource.zip_code %>
      </td>
    </tr>
  </tbody>
</table>

<h3>Contato</h3>

<table class="records">
  <thead>
    <tr>
      <th>
        <%= resource_class.human_attribute_name :phone %>
      </th>

      <th>
        <%= resource_class.human_attribute_name :fax %>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= resource.phone %>
      </td>

      <td>
        <%= resource.fax %>
      </td>
    </tr>
  </tbody>
</table>

<h3>Dados Bancários<h3>

<table class="records">
  <thead>
    <tr>
      <th>
        <%= resource_class.human_attribute_name :bank_account %>
      </th>

      <th>
        <%= resource_class.human_attribute_name :agency %>
      </th>

      <th>
        <%= resource_class.human_attribute_name :bank %>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= resource.bank_account %>
      </td>

      <td>
        <%= resource.agency %>
      </td>

      <td>
        <%= resource.bank %>
      </td>
    </tr>
  </tbody>
</table>

<p>Prezados Senhores,<br> <%= resource.decorator.message %></p>

<h2>Identificação da Despesa</h2>

<table class="records">
  <thead>
    <tr>
      <th>
        <%= resource.class.human_attribute_name :budget_unit %>
      </th>

      <th>
        <%= resource.class.human_attribute_name :payment_method %>
      </th>

      <th>
        <%= resource.class.human_attribute_name :period %>
      </th>

      <th>
        <%= resource.class.human_attribute_name :delivery_location %>
      </th>

      <th>
        <%= resource.class.human_attribute_name :licitation_object %>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= resource.budget_unit %>
      </td>

      <td>
        <%= resource.payment_method %>
      </td>

      <td>
        <%= "#{resource.period} #{resource.decorator.pluralized_period_unit}" %> 
      </td>

      <td>
        <%= resource.delivery_location %>
      </td>

      <td>
        <%= resource.licitation_object %>
      </td>
    </tr>
  </tbody>
</table>

<table class="records">
  <thead>
    <tr>
      <th>
        <%= resource_class.human_attribute_name :observation %>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= resource.observation %>
      </td>
    </tr>
  </tbody>
</table>

<h2>Dotações Orçamentárias</h2>

<% resource.direct_purchase.direct_purchase_budget_allocations.each_with_index do |dpba, idx| %>
  <h3><%= idx + 1 %> - <%= dpba.budget_allocation.description %></h3>

  <h4>Itens da Dotação</h4>

  <table class="records">
    <thead>
      <tr>
        <th>
          Item
        </th>

        <th>
          Quantidade
        </th>

        <th>
          Unidade
        </th>

        <th>
          Especificação
        </th>

        <th>
          Marca
        </th>

        <th>
          Preço unitário
        </th>

        <th>
          Preço total
        </th>
      </tr>
    </thead>

    <tbody>
      <% localized(dpba.items).each_with_index do |item, idx| %>
        <tr id="<%= dom_id item %>">
          <td>
            <%= idx + 1 %>
          </td>

          <td>
            <%= item.quantity %>
          </td>

          <td>
            <%= item.material.reference_unit %>
          </td>

          <td>
            <%= item.material.description %>
          </td>

          <td>
            <%= item.brand %>
          </td>

          <td>
            <%= item.unit_price %>
          </td>

          <td>
            <%= number_with_precision item.estimated_total_price %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% end %>

<table class="records">
  <thead>
    <tr>
      <th>
        Total bruto
      </th>

      <th>
        Descontos
      </th>

      <th>
        Total líquido
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
          <%= resource.direct_purchase.decorator.total_allocations_items_value %>
      </td>

      <td></td>

      <td>
          <%= resource.direct_purchase.decorator.total_allocations_items_value %>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <%= current_prefecture %>,  <%= l(Date.current, :format => :long) %>
</div>

<%= render 'reports/signatures' %>
