<h1>Autorização de Fornecimento</h1>
<p>Número da autorização: <%= resource %></p>
<p>Compra direta: <%= resource.presenter.direct_purchase %></p>
<p>Data da compra: <%= resource.presenter.date %></p>
<p>Fornecedor: <%= resource.provider %></p>
<p>Endereço: <%= resource.address %></p>
<p>Cidade: <%= resource.city %></p>
<p>CEP: <%= resource.zip_code %></p>
<p>Telefone: <%= resource.phone %></p>
<p>Fax: <%= resource.fax %></p>
<p>Conta: <%= resource.bank_account %></p>
<p>Agência: <%= resource.agency %></p>
<p>Banco: <%= resource.bank %></p>
<p>Prezados Senhores,<br> <%= resource.presenter.message %></p>
<p>Unidade orçamentária: <%= resource.organogram %></p>
<p>Condições de Pagamento: <%= resource.payment_method %></p>
<p>Prazo de entrega: <%= resource.period %></p>
<p>Local de entrega: <%= resource.delivery_location %></p>
<p>Objeto da compra: <%= resource.licitation_object %></p>
<p>Observações: <%= resource.observation %></p>

<h1>Dotações orçamentárias</h1>

<% resource.direct_purchase.direct_purchase_budget_allocations.each_with_index do |dpba, idx| %>
  <h2><%= idx + 1 %> - <%= dpba.budget_allocation.description %></h2>
  <table class="records">
    <thead>
      <tr>
        <th>
          Item
        </th>
        <th>
          Quantidade
        </th>
        <th>
          Unidade
        </th>
        <th>
          Especificação
        </th>
        <th>
          Marca
        </th>
        <th>
          Preço unitário
        </th>
        <th>
          Preço total
        </th>
      </tr>
    </thead>

    <tbody>
      <% localized(dpba.items).each_with_index do |item, idx| %>
        <tr id="<%= dom_id item %>">
          <td>
            <%= idx + 1 %>
          </td>
          <td>
            <%= item.quantity %>
          </td>
          <td>
            <%= item.material.reference_unit %>
          </td>
          <td>
            <%= item.material.description %>
          </td>
          <td>
            <%= item.brand %>
          </td>
          <td>
            <%= item.unit_price %>
          </td>
          <td>
            <%= number_with_precision item.estimated_total_price %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% end %>

<div>
  <%= current_prefecture %>,  <%= l(Date.current, :format => :long) %>
</div>

<div>
  Responsável pelo setor de compras
</div>
