<fieldset>
  <%= f.input :bank %>
  <%= f.input :name %>

  <div class='yui3-g'>
    <div class='yui3-u-1-6'>
      <%= f.input :number, :input_html => { :class => :number_values } %>
    </div>

    <div class='yui3-u-1-12'>
      <%= f.input :digit, :input_html => { :class => :number_values }  %>
    </div>
  </div>

  <%= f.input :city %>

  <div class='yui3-g'>
    <div class='yui3-u-1-6'>
      <%= f.input :phone %>
    </div>

    <div class='yui3-u-1-6'>
      <%= f.input :fax %>
    </div>
  </div>

  <%= f.input :email %>
</fieldset>
