<%= f.error :trading_items %>

<div id="items" class="nested-form" data-nested-form="trading-items" data-append-item="false">
  <%= f.association :trading_items, :collection => localized(f.object.trading_items) do |p| %>
    <%= render 'trading_items/form', :f => p %>
  <% end %>
</div>

<%= mustache 'trading-items-template' do %>
  <%= f.association :trading_items_attributes, :collection => f.object.trading_items.build, :index => '{{uuid_trading_items}}' do |p| %>
    <%= render 'trading_items/form', :f => p %>
  <% end %>
<% end %>
