<div class="yui3-g">
  <div class="yui3-u-1-6">
    <%= f.input :code, :disabled => true %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :year, :disabled => f.object.persisted? %>
  </div>
</div>


<%= f.input :licitation_process,
  :modal_url => modal_licitation_processes_path(:by_modality_type => AbreviatedProcessModality::PRESENCE_TRADING,
                                                :without_trading => f.object.licitation_process_id || -1),
  :input_html => { :class => 'licitation-process' }%>

<%= f.input :entity %>

<%= f.input :licitating_unit %>

<%= f.input :administrative_process_summarized_object, :disabled => true, :input_html => { :class => 'summarized-object' } %>
