<h2 class="center">ATA DA SESSÃO PÚBLICA</h2>

<p>Pregão Número: <%= resource.code_and_year %></p>
<p>Processo: <%= resource.licitation_process %></p>
<p>Objeto: <%= resource.administrative_process_summarized_object %></p>
<hr>

<h3 class="center">PREÂMBULO</h3>
<p><%= resource.preamble %></p>

<h3 class="center">CREDENCIAMENTO</h3>
<table class="records">
  <thead>
    <tr>
      <th>Representantes</th>
      <th>Empresas</th>
    </tr>
  </thead>

  <tbody>
    <% resource.bidders.each do |bidder| %>
      <tr>
        <td><%= bidder.creditor.representatives.first %></td>
        <td><%= bidder.creditor %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= resource.closing_of_accreditation %></p>

<h3 class="center">REGISTO DO PREGÃO</h3>
<p><%= resource.trading_registry %></p>

<% resource.trading_items.each do |item| %>
  <%= render 'trading_items/offers', :resource => item %>
<% end %>

<h3 class="center">CLASSIFICAÇÃO</h3>
<p><%= classification_message %></p>

<% resource.trading_items.each do |item| %>
  <%= render 'trading_items/minutes_classification', :resource => item %>
<% end %>

<h3 class="center">NEGOCIAÇÃO</h3>
<p><%= accept_negotiation_message %></p>

<% resource.trading_items.each do |item| %>
  <%= render 'trading_items/minutes_negotiation', :resource => item %>
<% end %>
