<tr class="record">
  <td>
    <%= group_number %>
  </td>
  <td>
    <%= description %>
  </td>
  <td>
    <input id="provider_materials_groups_record_<%= id %>_id" type="hidden" name="<%= f.sanitized_object_name %>[materials_group_ids][]" value="<%= id %>" />
    <button class="button negative modal-finder-remove">Remover grupo</button>
  </td>
</tr>
