<%= paginate %>

<table class="records">
  <thead>
    <% attributes.each do |attribute| %>
      <th>
        <%= resource_class.human_attribute_name attribute %>
      </th>
    <% end %>
  </thead>
  <tbody>
    <%= render :partial => 'modal_record', :collection => localized(collection), :as => 'record' %>
  </tbody>
</table>

<%= paginate %>

<% if create? && can?(:modify, main_controller_name) %>
  <p class="actions buttons">
    <%= link_to "Novo", new_resource_path(resource), :class => 'clear button primary', :target => '_blank' %>
  </p>
<% end %>
