<div class="yui3-g signature">
  <% resource.signatures.each do |signature| %>
    <div class="yui3-u-1-<%= resource.signatures.count %>">
      <%= '_' * [signature.person.to_s.length, signature.position.to_s.length].max %><br>
    </div>
  <% end %>
</div>

<div class="yui3-g">
  <% resource.signatures.each do |signature| %>
    <div class="yui3-u-1-<%= resource.signatures.count %>">
      <%= signature.person %>.<br>
      <%= signature.position %>.
    </div>
  <% end %>
</div>
