<div class="tabs">
  <ul>
    <li><a href="#main">Principal</a></li>
    <li><a href="#moviments">Movimentos</a></li>
  </ul>

  <div id="main">
    <%= render 'general', :f => f %>
  </div>

  <div id="moviments">
    <%= render 'additional_credit_opening_moviment_types', :f => f %>
  </div>
</div>

<script type="text/javascript">
  $('.tabs').tabs({
    create: function () {
      var tabWithError = $('.ui-tabs-panel:has(.error)', this).attr('id');

      if (tabWithError) {
        $(this).tabs('select', tabWithError);
      }
    }
  });

  function calcTotal() {
    var supplement_total = 0.0,
        reduced_total = 0.0,
        supplement_element = $('#additional_credit_opening_supplement'),
        reduced_element = $('#additional_credit_opening_reduced'),
        difference_element = $('#additional_credit_opening_difference');

    $('#additional-credit-opening-moviment-types').find('fieldset').each(function(){
      if($(this).find('.destroy').val() == 'false') {
        var operation = $(this).find('.operation').val(),
            value = parsePtBrFloat($(this).find('.value').val());

        if(operation == '<%= MovimentTypeOperation::SUM %>') {
          supplement_total += value;
        } else if(operation == '<%= MovimentTypeOperation::SUBTRATION %>') {
          reduced_total += value;
        }
      }
    });

    supplement_element.val(floatToPtBrString(supplement_total));
    reduced_element.val(floatToPtBrString(reduced_total));
    difference_element.val(floatToPtBrString(supplement_total - reduced_total));
  }

  $('form.additional_credit_opening').delegate('#additional_credit_opening_regulatory_act_id', 'change', function (event, data) {
    if (data) {
      var record = data.record;
      $('#additional_credit_opening_regulatory_act_type').val(record.data('administractive-act-type'));
      $('#additional_credit_opening_publication_date').val(record.data('publication-date'));
    }
  });

  $('form.additional_credit_opening').delegate('#additional_credit_opening_additional_credit_opening_nature_id', 'change', function (event, data) {
    if (data) {
      var record = data.record;
      $('#additional_credit_opening_kind').val(record.data('kind'));
    }
  });

  $('form.additional_credit_opening').delegate('.budget-allocation', 'change', function (event, data) {
    if(data) {
      var record = data.record;

      $(this).closest('fieldset').find('.budget-allocation').attr('data-info-url', "/budget_allocations/"+record.data('id'));
    }
  });

  $('form.additional_credit_opening').delegate('.capability', 'change', function (event, data) {
    if(data) {
      var record = data.record;

      $(this).closest('fieldset').find('.capability').attr('data-info-url', "/capabilities/"+record.data('value'));
    }
  });

  $('form.additional_credit_opening').delegate('.moviment-type', 'change', function (event, data) {
    if (data){
      var record = data.record;
      $(this).closest('fieldset').find('.operation').val(record.data('operation'));

      if(record.data('character') == '<%= MovimentTypeCharacter::BUDGET_ALLOCATION %>') {
        $(this).closest('fieldset').find('.budget-allocation').attr('disabled', false);
        $(this).closest('fieldset').find('.capability').attr('disabled', true);
        $(this).closest('fieldset').find('[id$=capability]').val('');
        $(this).closest('fieldset').find('[id$=capability_id]').val('');
      } else if(record.data('character') == '<%= MovimentTypeCharacter::CAPABILITY %>') {
        $(this).closest('fieldset').find('.capability').attr('disabled', false);
        $(this).closest('fieldset').find('.budget-allocation').attr('disabled', true);
        $(this).closest('fieldset').find('[id$=budget_allocation]').val('');
        $(this).closest('fieldset').find('[id$=budget_allocation_id]').val('');
      }

      calcTotal();
    }
  });

  $('form.additional_credit_opening').delegate('.remove-additional-credit-opening-moviment-type', 'click', function() {
    calcTotal();
  });

  $('form.additional_credit_opening').delegate('.value', 'keyup', function() {
    calcTotal();
  });

  calcTotal();
</script>
