<%
  def date_mask(d)
    return d.strftime("%d/%m/%Y") unless d.nil?
  end
%>

<div>
  <table class="records">
    <thead>
    <tr style="text-align: center;">
      <td>EXTRATO DE CONSUMO DE MATERIAIS POR PROCESSO</td>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div style="text-align: justify">

</div>

<br>
<% total_bid_per_licitation_process = 0 %>
<% total_provided_per_contract = 0 %>
<% total_balance_per_material = 0 %>
<% @licitation_processes.uniq.each do |licitation_process| %>
  <div style="text-align: justify; margin-left: 10px">
  <span>
    <p>
      <b> PROCESSO: </b> <%= licitation_process.to_s %>
    </p>
  </span>
  </div>
  <% Report::ExtractConsumptionPerProcessHelper.get_contracts(licitation_process, @contract).each do |contract| %>
    <div style="text-align: justify; margin-left: 20px">
  <span>
    <p>
      <b> CONTRATO: </b> <%= contract.to_s %>
    </p>
  </span>
    </div>
    <% contract.supply_orders.each do |supply_order| %>
      <div style="text-align: justify; margin-left: 30px">
        <span>
          <p>
            <b> ORDEM DE FORNECIMENTO: </b> <%= supply_order.to_s %>
          </p>
        </span>
      </div>
      <p>
      <div>
        <table class="records" style="margin-left: 30px">
          <thead>
          <tr>
            <th width="50%">MATERIAL</th>
            <th width="20%">QUANTIDADE LICITADA</th>
            <th width="20%">QUANTIDADE FORNECIDA</th>
            <th width="10%">SALDO ATUAL</th>
          </tr>
          </thead>
          <tbody>
          <% supply_order.items.each do |item| %>
            <% total_balance_per_material += Report::BalanceHelper.get_balance(contract, item) %>
            <% total_provided_per_contract += item.quantity %>
            <tr>
              <td><%= item.material %></td>
              <td><%= Report::BalanceHelper.get_quantity_item_licitation(contract.licitation_process, item.material) %></td>
              <td><%= item.quantity %></td>
              <td><%= Report::BalanceHelper.get_balance(contract, item) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      </p>
    <% end %>
    <% total_bid_per_licitation_process += Report::BalanceHelper.get_quantity_bid(licitation_process, contract) %>
  <% end %>
<% end %>
<br>
<br>
<span>
  <p>
    <b> TOTAL LICITADO: </b> <%= total_bid_per_licitation_process %>
    <b> TOTAL FORNECIDO: </b> <%= total_provided_per_contract %>
    <b> TOTAL SALDO: </b> <%= total_balance_per_material %>
  </p>
</span>