<div class="licitation-commission-responsibles responsible nested">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <div class="yui3-g ">
    <div class="yui3-u-1-2">
      <%= f.input :individual, :input_html => { :class => 'individual' } %>
    </div>

    <div class="yui3-u-1-2">
      <%= f.input :individual_cpf, :disabled => true, :input_html => { :class => 'cpf' } %>
    </div>

    <div class="yui3-u-1-2">
      <%= f.input :role, :input_html => { :class => 'role' } %>
    </div>

    <div class="yui3-u-1-2">
      <%= f.input :class_register, :disabled => !f.object.lawyer?, :input_html => { :class => 'class_register' } %>
    </div>
  </div>

  <p class="yui3-u">
    <input type="button" class="button negative remove-responsible" value="Remover Responsável">
  </p>
</div>
