<fieldset>
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <%= f.input :moviment_type, :input_html => { :class => 'moviment-type' } %>

  <div class="yui3-g">
    <div class="yui3-u-1-3">
      <%= f.input :budget_allocation, :disabled => f.object.moviment_type_as_capability?, :input_html => { :class => 'budget-allocation' } %>
    </div>

    <div class="yui3-u-1-3">
      <%= f.input :capability, :disabled => f.object.moviment_type_as_budget_allocation?, :input_html => { :class => 'capability' } %>
    </div>

    <div class="yui3-u-1-3">
      <%= f.input :value %>
    </div>
  </div>

  <p>
    <input type="button" class="button negative remove-additional-credit-opening-moviment-type" value="Remover Movimento">
  </p>
</fieldset>
