<fieldset>
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <%= f.input :moviment_type, :input_html => { :class => 'moviment-type' } %>
  <%= f.input :operation, :as => :hidden, :disabled => true, :input_html => { :class => :operation } %>

  <div class="yui3-g">
    <div class="yui3-u-1-3">
      <%= f.input :budget_allocation, :disabled => f.object.moviment_type_as_capability?, :input_html => { :class => 'budget-allocation' } %>
      <%= link_to_modal_info "#{'extra_credit_additional_credit_opening_moviment_types_attributes_' unless f.object.persisted?}#{f.nested_identifier}_budget_allocation", f.object.budget_allocation %>
    </div>

    <div class="yui3-u-1-3 capability-field">
      <%= f.input :capability, :disabled => f.object.moviment_type_as_budget_allocation?, :input_html => { :class => 'capability' } %>
      <%= link_to_modal_info "#{'extra_credit_additional_credit_opening_moviment_types_attributes_' unless f.object.persisted?}#{f.nested_identifier}_capability", f.object.capability %>
    </div>

    <div class="yui3-u-1-3">
      <%= f.input :value, :input_html => { :class => :value } %>
    </div>
  </div>

  <p>
    <input type="button" class="button negative remove-additional-credit-opening-moviment-type" value="Remover Movimento">
  </p>
</fieldset>
