<%= f.input :licitation_process_id, as: :hidden, fake: true,
  input_html: { value: params[:licitation_process_id], name: 'licitation_process_id' } %>

<%= f.input :creditor_id, as: :hidden, fake: true, input_html: { value: params[:creditor_id], name: 'creditor_id' } %>

<div class="yui3-g">
  <div class="yui3-u-1-4" id="total_value">
    <%= f.input :creditor_proposal_total_value, fake: true, required: false, disabled: true,
      input_html: { value: '0,00', 'data-decimal' => true, class: :numeric } %>
  </div>
</div>

<div id="purchase_process_creditor_proposals">
  <%= f.association :items, collection: localized(f.object.items) do |i| %>
    <%= i.association :creditor_proposals, collection: collection_for_association(i.object.creditor_proposals) do |c| %>
      <%= render 'main', :f => c %>
    <% end %>
  <% end %>
</div>
