<div class="row hidden-fields">
  <div class="col">
    <%= f.input :demand, :as => :auto_complete, :fake => true%>
  </div>
  <div class="col">
    <%= f.input :purchase_solicitation, :as => :auto_complete, :fake => true,
                'data-hidden-field-class' => 'unique',:input_html => {} %>
  </div>
  <%= f.input :department, as: :fake, input_html:{style:'display: none', name:'solicitation[department]'}, label: false %>
</div>


<div class="d-flex justify-content-between" style="align-items: baseline;">


  <h4 class="hint-text" style="margin-left: 10px">
    * Os itens da solicitação adicionada serão incluídos no processo ( aba itens)
  </h4>

  <%= button_tag 'Adicionar', type: :button,
                 class: 'button add-nested-record field-without-label add-margin-bottom',
                 'data-template' => "list_purchase_solicitations_template",
                 'data-records' => "list_purchase_solicitations_records",
                 id: "list_purchase_solicitations_button" %>

  <%= button_tag 'Adicionar Itens', type: :button, class:'button primary field-without-label show-fields' %>
</div>

<script>

    // esse js ta resolvendo um bug que deu na aplicação,
    //     a mascara com pra numbem (ex.:1.200,00) não estava funcionando
    // como deveria, como tambem o update pois estava acrescentando
    // uma casa decimal a mais (salvava 1 e para o banco aumentava
    // um 0 em todo update), esse correção é feita no model
    // list_purchase_solicitation,linha 11
    function convert(number){
        return (Number(number)).toLocaleString("pt-BR", {
            minimumFractionDigits: 2,maximumFractionDigits: 2
        });
    }

    $(function() {
        $("#tab-requestor .add-nested-record").last().remove();

        $("#list_purchase_solicitations_records tbody tr td").each(function() {
            if ( $(this).attr('class') == "consumed_value" || $(this).attr('class') == "expected_value"){
                $(this).text((convert($(this).text())));
            }
        });

        $('#list_purchase_solicitations_records .edit-nested-record').click(function(){
            setTimeout(function(){
                consumed_value = $('#licitation_process_consumed_value').val();
                expected_value = $('#licitation_process_expected_value').val();
                $('#licitation_process_consumed_value').val(convert(consumed_value));
                $('#licitation_process_expected_value').val(convert(expected_value));
            }, 100);
        });


        $("#licitation_process_purchase_solicitation_id").change(function(event, data){
          if(data)
            $("#licitation_process_department").val(data.department);
        });
    });

</script>