<%= f.input :trading_item, :as => :hidden %>

<%= f.input :trading_item, :disabled => true %>

<%= f.input :bidder, :disabled => true %>

<%= f.input :status, :as => :radio_buttons %>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :amount %>
  </div>
</div>
