<div class="yui3-g">
  <%= f.input :trading_item, :as => :hidden %>

  <div class="yui3-u-3-8">
    <%= f.input :round, :disabled => true %>
  </div>

  <div class="yui3-u-5-8">
    <%= f.input :trading_item, :disabled => true %>
  </div>
</div>

<%= f.input :bidder, :disabled => true %>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :amount %>
  </div>
</div>
