<fieldset>
  <%= f.input :name %>

  <div class="yui3-g">
    <div class="yui3-u-1-8">
      <%= f.input :acronym %>
    </div>

    <div class="yui3-u-1-12">
      <%= f.input :number %>
    </div>
  </div>

  <div id="extended_company_size">
    <%= f.association :extended_company_size, :collection => f.object.extended_company_size ? f.object.extended_company_size.localized : f.object.build_extended_company_size do |c| %>
      <%= render "extended_company_sizes/form", :f => c %>
    <% end %>
  </div>
</fieldset>
