<fieldset>
  <%= f.input :name %>
  <%= f.input :acronym, :input_html => { :size => 3 } %>
  <%= f.input :number, :input_html => { :size => 1 } %>

  <div id="extended_company_size">
    <%= f.association :extended_company_size, :collection => f.object.extended_company_size ? f.object.extended_company_size.localized : f.object.build_extended_company_size do |c| %>
      <%= render "extended_company_sizes/form", :f => c %>
    <% end %>
  </div>
</fieldset>
