<div id="<%= f.sanitized_object_name%>_indexer_values">
  <p>
    <input type="button" class="button affirmative add-indexer_values" value="Adicionar Valor de Indexador">
  </p>

  <%= f.association :indexer_values, :collection => localized(f.object.indexer_values) do |p| %>
    <%= render 'indexer_values/form', :f => p %>
  <% end %>
</div>

<%= mustache "#{f.sanitized_object_name}_indexer_values_template" do %>
  <%= f.association :indexer_values_attributes, :collection => f.object.indexer_values.build, :index => '{{uuid_indexer_value}}' do |p| %>
    <%= render 'indexer_values/form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#<%= f.sanitized_object_name %>_indexer_values_template").nestedForm({
    add: '.add-indexer_values',
    remove: '.remove-indexer-value',
    target: '#<%= f.sanitized_object_name %>_indexer_values',
    fieldToRemove: '.indexer-value',
    uuid: 'uuid_indexer_value',
    right: true,
    append: true
  });
</script>
