<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :user, as: :auto_complete, hidden_field: :user_id %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :material, as: :modal, data_url: modal_materials_url, hidden_field: :material_id %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-5">
    <%= f.input :start_date, as: :date %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :end_date, as: :date %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :kind, include_blank: true %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :status, include_blank: true %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :report_type %>
  </div>
</div>