<table class="records">
  <thead>
    <tr>
      <th>Número</th>
      <th>Solicitante</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% report.records.each do |record| %>
      <tr>
        <td><%= report.record_code_year(record) %></td>
        <td><%= record.purchase_solicitation.user %></td>
        <td><%= record.material %></td>
        <td><%= number_with_precision record.quantity %></td>
        <td><%= record.decorator.estimated_total_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>