<h2>
  Gerar <%= t "#{@report.class.to_s.tableize}.#{@report}.one" %>
</h2>

<%= render 'form_wrapper' %>

<div class="field-without-label">
  <%= render 'actions' %>

  <% if @report.analytical? || @report.type_report.nil? %>
    <%= render 'report_analytical', report: @report %>
  <% else %>
    <%= render 'records', report: @report %>
  <% end %>
</div>
