<div id="balance_adjustment_items">

  <div class="nested-fields add-margin-bottom">
    <%= hidden_field_tag :item_id, nil, :name => 'balance_adjustment_item[id]' %>

    <div class="yui3-g">
      <div class="yui3-u-1-3">
        <%= f.input :material, :as => :auto_complete, :fake => true,
                    :source_path => materials_path(:by_licitation_process => f.object.licitation_process),
                    :required => true %>
      </div>
      <div class="yui3-u-1-3">
        <%= f.input :quantity, :as => :fake, :disabled => true %>
      </div>
      <div class="yui3-u-1-3">
        <%= f.input :quantity_new, :as => :fake, :required => true %>
      </div>
    </div>

    <div class="yui3-u-1-6">
      <%= button_tag 'Adicionar', type: :button,
                     :class => 'button add-nested-record field-without-label',
                     'data-template' => 'balance_adjustment_items_template',
                     'data-records' => 'items-records',
                     'data-disabled' => not_updateable_message %>
    </div>
  </div>

  <%= f.error :items %>

  <table id="items-records" class="records">
    <thead>
    <tr>
      <th><%= BalanceAdjustment.human_attribute_name :material %></th>
      <th><%= BalanceAdjustment.human_attribute_name :quantity %></th>
      <th><%= BalanceAdjustment.human_attribute_name :quantity_new %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= f.association :items, :collection => localized(f.object.items) do |p| %>
      <%= render 'balance_adjustment_items/form',
                 id: p.object.id,
                 material: p.object.material,
                 material_id: p.object.material_id,
                 quantity: p.object.quantity,
                 quantity_new: p.object.quantity_new,
                 f: p %>
    <% end %>
    </tbody>
  </table>

  <%= mustache "balance_adjustment_items_template" do %>
    <%= f.association :items_attributes, :collection => f.object.items.build, :index => '{{uuid}}' do |p| %>
      <%= render 'balance_adjustment_items/form',
                 id: '{{id}}',
                 material: '{{material}}',
                 material_id: '{{material_id}}',
                 quantity: '{{quantity}}',
                 quantity_new: '{{quantity_new}}',
                 f: p %>
    <% end %>
  <% end %>
</div>