<%= f.association :personable, :collection => f.object.personable.is_a?(Company) ? f.object.personable.localized : Company.new do |c| %>
  <div class="tabs">
    <ul>
      <li><a href="#company">Contribuinte</a></li>
      <li><a href="#company_contact">Contato</a></li>
      <li><a href="#company_address">Endereço</a></li>
      <li><a href="#company-partners">Sócios</a></li>
    </ul>

    <div id="company">
      <%= f.input :name %>

      <div class="yui3-g">
        <div class="yui3-u-1-5">
          <%= c.input :cnpj %>
        </div>

        <div class="yui3-u-1-5">
          <%= c.input :state_registration %>
        </div>
      </div>

      <div class="yui3-g">
        <div class="yui3-u-1-3">
          <%= c.input :commercial_registration_number %>
        </div>

        <div class="yui3-u-1-3">
          <%= c.input :commercial_registration_date %>
        </div>
      </div>

      <%= c.input :legal_nature %>
      <%= c.input :responsible %>
      <%= c.input :responsible_role %>
      <%= c.input :company_size %>
      <%= c.input :choose_simple %>
    </div>

    <div id="company_contact">
      <div class="yui3-g">
        <div class="yui3-u-1-6">
          <%= f.input :phone, :as => :string %>
        </div>

        <div class="yui3-u-1-6">
          <%= f.input :mobile, :as => :string %>
        </div>

        <div class="yui3-u-1-6">
          <%= f.input :fax, :as => :string %>
        </div>
      </div>

      <%= f.input :email %>
    </div>

    <div id="company_address">
      <%= f.association :address, :collection => f.object.address || Address.new do |a| %>
        <%= render "addresses/address", :a => a %>
      <% end %>

      <%= render "addresses/correspondence", :f => f %>
    </div>

    <div id="company-partners">
      <%= render 'partners', :f => c %>
    </div>
  </div>
<% end %>
