<%= f.input :purchase_solicitation, :as => :hidden %>

<div class="yui3-g">
  <div class="yui3-u-1-8">
    <%= f.input :sequence, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :responsible, :disabled => f.object.persisted? %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-6">
    <%= f.input :date, :disabled => f.object.persisted? %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :service_status, :collection => PurchaseSolicitationServiceStatus.liberation_availables,
          :disabled => f.object.persisted? %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :justification, :disabled => f.object.persisted? %>
  </div>
</div>
