<div id="record">
  <table class="records">
    <thead>
      <tr>
        <th>
          <%= resource_class.human_attribute_name :number %>
        </th>
        <th>
          <%= resource_class.human_attribute_name :expiration_date %>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <%= resource.number %>
        </td>
        <td>
          <%= resource.expiration_date %>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="records">
    <thead>
      <tr>
        <th>
          <%= resource_class.human_attribute_name :value %>
        </th>
        <th>
          <%= resource_class.human_attribute_name :canceled_value %>
        </th>
        <th>
          <%= resource_class.human_attribute_name :liquidations_value %>
        </th>
        <th>
          <%= resource_class.human_attribute_name :canceled_liquidations_value %>
        </th>
        <th>
          <%= resource_class.human_attribute_name :balance %>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <%= resource.presenter.value_as_currency %>
        </td>
        <td>
          <%= resource.presenter.canceled_value_as_currency %>
        </td>
        <td>
          <%= resource.presenter.liquidations_value_as_currency %>
        </td>
        <td>
          <%= resource.presenter.canceled_liquidations_value_as_currency %>
        </td>
        <td>
          <%= resource.presenter.balance_as_currency %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
