<fieldset>
  <%= f.input :name %>

  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <%= f.input :street_type %>
    </div>

    <div class="yui3-u-1-2">
      <%= f.input :tax_zone, :input_html => { :size => 3 } %>
    </div>
  </div>

  <div class="modal-finder" >
    <%= f.input :neighborhood, :as => :modal , :input_html => { 'data-modal-url' => modal_neighborhoods_path }, :hidden_field => false  %>
  </div>

  <table class="records">
    <thead>
      <tr>
        <th>
          <%= Neighborhood.human_attribute_name :name %>
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody class="street_neighborhood_records">
      <% f.object.neighborhoods.each do |neighborhood| %>
        <%= render 'neighborhood', :id => neighborhood.id, :name => neighborhood.name %>
      <% end %>
    </tbody>
  </table>

  <%= mustache "street_neighborhood_template" do %>
    <%= render 'neighborhood', :id => '{{id}}', :name => '{{value}}' %>
  <% end %>
</fieldset>
