<fieldset>
  <%= f.input :name %>

  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <%= f.input :street_type %>
    </div>

    <div class="yui3-u-1-8">
      <%= f.input :tax_zone %>
    </div>
  </div>

  <%= f.input :city %>

  <div class="modal-finder" >
    <%= f.input :neighborhood, :as => :modal , :url => modal_neighborhoods_path(:city_id => f.object.city_id), :hidden_field => false, :disabled => f.object.new_record? %>
  </div>

  <table class="records">
    <thead>
      <tr>
        <th>
          <%= Neighborhood.human_attribute_name :name %>
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody class="street_neighborhood_records">
      <% f.object.neighborhoods.each do |neighborhood| %>
        <%= render 'neighborhood', :id => neighborhood.id, :name => neighborhood.name %>
      <% end %>
    </tbody>
  </table>

  <%= mustache "street_neighborhood_template" do %>
    <%= render 'neighborhood', :id => '{{id}}', :name => '{{value}}' %>
  <% end %>
</fieldset>

<script>
  $('#street_city_id').change(function (e, city) {
    var neighborhood = $('#street_neighborhood'),
        neighborhood_id = $('#street_neighborhood_id');

    if (city) {
      neighborhood.attr('disabled', false).val("").data('modal-url', '<%= modal_neighborhoods_path %>?city_id=' + city.id);
      neighborhood_id.attr('disabled', false).val("");
    } else {
      neighborhood.attr('disabled', true).val("").data('modal-url', '<%= modal_neighborhoods_path %>');
      neighborhood_id.attr('disabled', true).val("");
    }
  });
</script>
