<div class="yui3-g budget-unit-level nested">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <div class="yui3-u-1-4">
    <%= f.input :level, :input_html => { :class => 'level', :size => 2 } %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :description %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :digits, :input_html => { :class => 'digits', :size => 4 } %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :separator, :input_html => { :class => 'separator' } %>
  </div>

  <p class="yui3-u">
    <input type="button" class="button negative remove-budget-unit-level" value="Remover Estrutura">
  </p>
</div>
