<div>
  <table style="border: none;" class="records">
    <thead>
    <tr style="text-align: center;border: none;">
      <td><h1><b> PEDIDO DE FORNECIMENTO - NÚMERO <%= resource.number %> </b></h1></td>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div style="text-align: justify">
  <span>
    <p>
      <b> DEPARTAMENTO: </b> <%= resource.department %>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> LOCAL SOLICITANTE: </b> <%= resource.requesting_department %>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> SOLICITANTE: </b> <%= resource.department_person %>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> CERTAME: </b>  <%= resource.licitation_process %>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> PROCESSO: </b>  <%= "#{resource.licitation_process.process}/#{resource.licitation_process.year}" unless resource.licitation_process.nil? %>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> OBJETO: </b> <%= resource.licitation_process.description unless resource.licitation_process.nil? %>
    </p>
  </span>
</div>

<br>
<br>
<br>
<p>
<h2><b> ITENS DO PEDIDO DE FORNECIMENTO </b></h2>
<div>
  <table class="records">
    <thead>
    <tr>
      <th class="text-center">ITEM(NS)</th>
      <th class="text-center">QUANTIDADE SOLICITADA</th>
      <th class="text-center">QUANTIDADE ATENDIDA</th>
    </tr>
    </thead>
    <tbody>
    <% resource.supply_request.items.each do |item| %>
      <tr>
        <td><%= item.material %></td>
        <td class="text-center"><%= item.requested_quantity %></td>
        <td class="text-center"><%= item.quantity %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</p>


<div >
  <span>
    <p>
      <b> <h2> <%= resource.prefecture.titleize() %>, <%= l(Date.today, format: :long) %> </h2> </b>
    </p>
  </span>
</div>
<br><br><br><br><br><br>
<div class="signature d-flex justify-content-center">

  <span class="text-center w-50">
    <hr>
    <%= resource.department_person.mb_chars.upcase %> <br><br><br><br><br><br>
  </span>
  <span class="text-center w-50">
    <hr>
    SECRETÁRIO(A) <br><br><br><br><br><br>
  </span>
</div>

<%if @report.approv === 'true' %>
  <p class="right">
    <% if Report::SupplyRequests.secretary_settings?(@report.secretary) == '' %>
      <%= link_to "Aprovar", supply_request_attendances_path(supply_request_attendance:{responsible_id:@report.current_user_id, date:Date.today.to_s ,supply_request_id:@report.supply_request_id,service_status: 'new',justification:'Por favor analisar',responsible_id:current_user.authenticable.id},secretary: @report.secretary.id),:method=>:post, :class => "button primary" %>
      <%= link_to I18n.t("enumerations.supply_request_service_status.order_in_financial_analysis"), supply_request_attendances_path(supply_request_attendance:{responsible_id:@report.current_user_id , date:Date.today.to_s ,supply_request_id:@report.supply_request_id, service_status: 'order_in_financial_analysis',justification:'Por favor analisar',responsible_id:current_user.authenticable.id},secretary: @report.secretary.id),:method=>:post, :class => 'button primary' %>
    <% else %>
      <span style="font-size: 15px; font-weight: bolder; color: red;"><%= Report::SupplyRequests.secretary_settings?(@report.secretary) %></span>
    <%end %>
  </p>
<% end %>

<script>
  console.log("Running");
  var css = '@page { size: portrait; }',
      head = document.head,
      style = document.createElement('style');

  style.type = 'text/css';
  style.media = 'print';
  style.appendChild(document.createTextNode(css));

  head.appendChild(style);

  <% if @report.approv === 'true' %>
  window.onload = function(){
    var footer = document.getElementById('footer');
    footer.style.display = "none";
  };
  <% end %>
</script>
<style>
  .signature hr {
    max-width: 300px !important;
  }
</style>

