<div class="yui3-g">
  <div class="yui3-u-3-4">
    <%= f.input :budget_allocation, as: :auto_complete, fake: true, required: true %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :budget_allocation_expense_nature, as: :fake, disabled: true %>
    <%= hidden_field_tag :budget_allocation_expense_nature_id %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-2-5">
    <%= f.input :expense_nature, as: :auto_complete, fake: true,
      source_path: expense_natures_path(year: (f.object.year || Date.current.year)) %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :budget_allocation_balance, as: :fake, disabled: true  %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :purchase_process_budget_allocation_value, as: :fake, required: true,
                input_html: { class: 'decimal', 'data-decimal' => true, name: 'licitation_process[value]' } %>
  </div>
</div>
