<h2 id="title">
  Fornecedores
</h2>
<div class="actions">
  <ul>
    <% if create? %>
      <li>
        <%= create_link people_type %>
      </li>
    <% end %>

    <% if filter? %>
      <li>
         <%= create_link people_type %>
      </li>
       <li>
        <%= filter_link %>
      </li>
    <% end %>
  </ul>
</div>

<%= render index_list_partial %>

<%= paginate %>
