<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :value %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :parceled_value, :input_html => { :value => number_to_currency(f.object.parceled_value, :format => "%n"), :size => 12 }, :disabled => true %>
  </div>
</div>

<%= f.error :precatory_parcels %>

<p>
  <input type="button" class="button affirmative add-parcel" value="Adicionar Parcela" />
</p>

<div id="precatory-parcels">
  <%= f.association :precatory_parcels, :collection => localized(f.object.precatory_parcels) do |p| %>
    <%= render 'precatory_parcels/form', :f => p %>
  <% end %>
</div>

<%= mustache 'parcel-template' do %>
  <%= f.association :precatory_parcels_attributes, :collection => f.object.precatory_parcels.build, :index => '{{uuid_parcel}}' do |p| %>
    <%= render 'precatory_parcels/form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#parcel-template").nestedForm({
    add: '.add-parcel',
    remove: '.remove-parcel',
    target: '#precatory-parcels',
    uuid: 'uuid_parcel',
    fieldToRemove: '.parcel'
  });

  $('form.precatory').delegate('.parcel-value', 'keyup', function() {
    calculateParceledValue();
  });

  $('form.precatory').delegate('.remove-parcel', 'click',  function() {
    calculateParceledValue();
  });

  function calculateParceledValue() {
    var parceledValue = 0;

    $('.parcel-value:visible').each(function(i, value) {
      parceledValue += parsePtBrFloat($(value).val());
    });

    $('#precatory_parceled_value').attr('value', numberWithDelimiter(parceledValue, '.', ','));
  }
</script>
