<div id="accreditation_creditors">
  <div class="yui3-g">
    <div class="yui3-u-1-3">
      <%= f.input :creditor, :as => :auto_complete, :required => true, :fake => true,
                  'data-hidden-field-class' => 'unique' %>
    </div>

    <div class="yui3-u-1-8">
      <%= f.input :personable_type, :as => :fake, :disabled => true %>
    </div>

    <div class="yui3-u-1-4">
      <label for="company_size_id">
        <%= PurchaseProcessAccreditationCreditor.human_attribute_name :company_size_id %>
      </label>

      <%= select_tag :company_size_id, options_from_collection_for_select(f.object.decorator.company_sizes, 'id', 'name'),
                     :include_blank => true, :name => 'purchase_process_accreditation[company_size_id]', class:'select' %>

      <%= hidden_field_tag :company_size, nil, name: 'purchase_process_accreditation[company_size]' %>
    </div>

    <div class="yui3-u-1-6">
      <label for="kind">
        <%= PurchaseProcessAccreditationCreditor.human_attribute_name :kind %>
      </label>

      <%= select_tag :kind, options_for_select(PurchaseProcessAccreditationCreditorKind.to_a),
                     :include_blank => true, :name => 'purchase_process_accreditation[kind]', :class => 'required select' %>
    </div>

    <div class="yui3-u-1-8 field-without-label">
      <label class="boolean checkbox optional" for="has_power_of_attorney">
        <%= check_box_tag :has_power_of_attorney, "1", true, :name => 'purchase_process_accreditation[has_power_of_attorney]',
                          :id => 'purchase_process_accreditation_has_power_of_attorney' %>
        <%= PurchaseProcessAccreditationCreditor.human_attribute_name :has_power_of_attorney %>
      </label>
    </div>
  </div>

  <div style="display: none">
    <%= f.input :creditor_representative, as: :fake, label: false %>
  </div>

</div>
