<div class="yui3-g">
  <div class="yui3-u-1-6">
    <%= f.input :auction, as: :auto_complete, source_path: auction_auctions_path, hidden_field: :auction_id %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :appeal_date %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :related %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :situation %>
  </div>

</div>

<%if current_user.employee? %>
  <div class="yui3-g">
    <div class="yui3-u-1-4">
      <%= f.input :opening_date %>
    </div>
    <div class="yui3-u-1-4">
      <%= f.input :opening_time %>
    </div>
    <div class="yui3-u-1-4">
      <%= f.input :closure_date %>
    </div>
    <div class="yui3-u-1-4">
      <%= f.input :closure_time %>
    </div>
  </div>
<%elsif has_opening_and_closure?%>
  <div class="alert alert-warning">
    <h4>Abertura da Intenção de Recurso: <%= resource.decorator.opening_date %> às <%= resource.decorator.opening_time %></h4>
    <h4>Fechamento da Intenção de Recurso: <%= resource.decorator.closure_date %> às <%= resource.decorator.closure_time %> </h4>
  </div>
<%end%>

<div class="yui3-g">
  <div class="yui3-u-5-12">
    <%= f.input :person %>
  </div>
  <div class="yui3-u-7-24">
    <%= f.input :new_envelope_opening_date %>
  </div>

  <div class="yui3-u-7-24">
    <%= f.input :new_envelope_opening_time %>
  </div>
</div>

<%= f.input :auction_description,  as: :fake, :disabled => true, input_html:{value: f.object.auction.try(:object)}%>


<%= f.input :valid_reason %>
<%= f.input :auction_committee_opinion %>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :appeal_file, input_html:{style:'margin-bottom: 0;'} %>
  </div>
  <div class="yui3-u-1-4 pt-4" style="font-size: 18px">
    <%if f.object.appeal_file?  %>
      Recurso: <%= link_to f.object.appeal_file_identifier, f.object.appeal_file_url, :target => '_blank', class: 'ml-1' %>
    <% end %>
  </div>
</div>



<script>
  $('#auction_appeal_auction_id').change(function (event, Auction) {
    if (Auction) {
      $('#auction_appeal_auction_description').val(Auction.object);
    } else {
      $('#auction_appeal_auction_description').val('');
    }
  });
</script>
