<tr class="record nested-record item-record" id="purchase-solicitation-object-id-<%= id %>">
  <td><%= purchase_solicitation %></td>
  <td><%= department %></td>
  <td>
    <%= link_to 'Editar', '#', class: 'edit-nested-record' %>
  </td>

  <td>
    <%= f.input :department, as: :hidden, input_html: { value: department, class: 'department' } %>
    <%= f.input :purchase_solicitation, as: :hidden, input_html: { value: purchase_solicitation, class: 'purchase_solicitation' } %>
    <%= f.input :purchase_solicitation_id, as: :hidden, input_html: { value: purchase_solicitation_id, class: 'purchase_solicitation_id' } %>
    <%= f.input :management_object_id, as: :hidden, input_html: { value: object_id } %>

    <%= link_to 'Remover', '#', class: 'remove-nested-record' %>
  </td>
</tr>