<div class="nested-agreement-additives">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <div class="yui3-g">
    <div class="yui3-u-1-6">
      <%= f.input :number, :disabled => true, :input_html => { :value => f.object.decorator.number_and_year } %>
    </div>

    <div class="yui3-u-1-2">
      <%= f.input :regulatory_act %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-6">
      <%= f.input :kind %>
    </div>

    <div class="yui3-u-1-2">
      <%= f.input :description %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :value %>
    </div>
  </div>

  <p class="yui3-u">
    <input type="button" class="button negative remove-agreement-additives" value="Remover Aditivo">
  </p>
</div>
