<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :object_type, :include_blank => true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :modality, :include_blank => true, wrapper_class: 'modality' %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :licitation_commission, as: :modal,
      data_url: modal_licitation_commissions_url, hidden_field: :licitation_commission_id %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :start_date, as: :date %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :end_date, as: :date %>
  </div>
</div>

<script type="text/javascript">
  $('#bidding_schedule_report_object_type').on('change', function(){
    filterModalities($(this).val());
  });

  function filterModalities(objectType) {
    var modalitiesByObjectType = <%= Modality.by_object_type.to_json.html_safe %>,
        validGroup             = _(modalitiesByObjectType[objectType]),
        currentModality        = $("#current_modality_id").val();

    $("#bidding_schedule_report_modality").empty();

    $("#bidding_schedule_report_modality").append(function() {
      return $("<option>").text('').val('');
    });

    if (!validGroup.isUndefined() && !validGroup.isEmpty()){
      validGroup.each(function(modality) {
        $("#bidding_schedule_report_modality").append(function() {
          if (modality[1] == currentModality) {
            return $("<option>").text(modality[0]).val(modality[1]).attr('selected', 'selected');
          } else {
            return $("<option>").text(modality[0]).val(modality[1]);
          }
        });
      });
    }
  }
</script>
