<table class="records">
  <thead>
    <tr>
      <th>
        <%= resource_class.human_attribute_name :id %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :name %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :cnpj %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :phone %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :fax %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :email %>
      </th>
      <th>
        <%= resource_class.human_attribute_name :mayor_name %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% localized(collection) do |resource| %>
      <tr id="<%= dom_id resource %>">
        <th>
          <%= resource_class.human_attribute_name :id %>
        </th>
        <td>
          <%= link_to resource.name, edit_resource_path(resource) %>
        </td>
        <td>
          <%= resource.cnpj %>
        </td>
        <td>
          <%= resource.phone %>
        </td>
        <td>
          <%= resource.fax %>
        </td>
        <td>
          <%= resource.email %>
        </td>
        <td>
          <%= resource.mayor_name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
