<div class="nested-fields">
  <div class="yui3-g">
    <div class="yui3-u-1-5">
      <%= f.input :round %>
    </div>
    <div class="yui3-u-1-5">
      <%= f.input :number, readonly: true %>
    </div>
    <div class="yui3-u-1-5">
      <%= f.input :amount %>
    </div>
    <div class="yui3-u-1-5">
      <%= f.input :status %>
    </div>
    <div class="yui3-u-1-5 text-center" style="margin-top: 27px">
      <%= link_to_remove_association f, class: 'button danger',
                                     title: 'Remover Lance' do %>
        <i class="mi">delete</i>
      <% end %>
    </div>
  </div>
  <%= f.input :benefited, as: :hidden %>
  <%= f.input :item_id, as: :hidden %>
  <%= f.input :purchase_process_accreditation_creditor_id, as: :hidden, input_html:{value:accreditation_creditor.try(:id)} %>
</div>
