<div class="yui3-g">
  <div class="yui3-u-1">
    <%= f.input :secretary, as: :string, input_html:{ value: f.object&.secretary&.name } %>
  </div>

  <div class="yui3-u-1">
    <%= f.input :employee, as: :string, input_html:{ value: f.object&.employee&.name } %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :digital_signature %>
  </div>
  <div class="yui3-u-1-3">
    <%= f.input :digital_signature_confirmation, as: :fake %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :signature %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :authorization_value %>
  </div>
</div>