<%= f.input :secretary_id, as: :hidden, input_html:{value: secretary.id} %>

<%if secretary.id.present? %>
<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :employee %>
  </div>
  <div class="yui3-u-1-4">
    <%= f.input :start_date %>
  </div>
  <div class="yui3-u-1-4">
    <%= f.input :end_date %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-3-4">
    <%= f.input :concierge %>
  </div>
  <div class="yui3-u-1-4">
    <%= f.input :active, input_html:{class:'act_field'}%>
  </div>
</div>
<% else %>
  <div class="yui3-g">
    <div class="yui3-u-1">
      <%= f.input :employee %>
    </div>
  </div>
<% end %>