<tr>
  <td><%= creditor.to_s %></td>
  <td><%= view_or_edit_creditor_proposal creditor %></td>
  <td><%= number_to_currency resource.proposals_of_creditor(creditor).sum(:unit_price) %></td>
  <td><%= link_to_disqualify_creditor_proposal creditor %></td>
  <td><%= disqualification_status_message creditor %></td>
</tr>
