<tr>
  <td><%= creditor.to_s %></td>
  <td><%= view_or_edit_creditor_proposal creditor %></td>
  <td>
      <%if resource.judgment_form.try(:lot?) %>
        <%= number_to_currency resource.proposals_of_creditor(creditor).sum(:unit_price) %>
      <% else %>
        <%= number_to_currency resource.proposals_of_creditor(creditor).sum("compras_purchase_process_creditor_proposals.unit_price * quantity") %>
      <% end %>
  </td>
  <td><%= link_to_disqualify_creditor_proposal creditor %></td>
  <td><%= disqualification_status_message creditor %></td>
  <td><%= link_to 'Imprimir', purchase_process_proposal_path(licitation_process_id: resource.id, creditor_id: creditor.id) %></td>
</tr>
