<div class="add-margin-bottom">
  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <%= f.input :material_fake, fake: true, disabled: true, input_html: { value: f.object.material.to_s } %>
    </div>

    <div class="yui3-u-1-2">
      <%= f.input :brand, required: true %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1-7">
      <%= f.input :item_lot, fake: true, disabled: true, input_html: { value: f.object.item_lot } %>
    </div>

    <div class="yui3-u-1-7">
      <%= f.input :item, disabled: true, required: false, input_html: { value: '1', class: 'item_counter' } %>
    </div>
    <div class="yui3-u-1-7">
      <%= f.input :reference_unit, fake: true, disabled: true, input_html: { value: f.object.material_reference_unit } %>
    </div>

    <div class="yui3-u-1-7 quantity">
      <%= f.input :quantity, fake: true, disabled: true, input_html: { value: f.object.item_quantity } %>
    </div>

    <div class="yui3-u-1-7 unit_price">
      <%= f.input :unit_price, required: true, input_html: { value: f.object.decorator.unit_price, 'data-decimal' => true } %>
    </div>

    <div class="yui3-u-1-7 total_price">
      <%= f.input :total_price, fake: true, required: false, disabled: true, input_html: { value: f.object.decorator.total_price, 'data-decimal' => true, class: :numeric } %>
    </div>

    <div class="yui3-u-1-7">
      <%= f.input :delivery_date, input_html: { value: f.object.localized.delivery_date  } %>
    </div>
  </div>
</div>

<style>
  .yui3-u-1-7:first-child{
    padding-left: 0;
  }

  .yui3-u-1-7:last-child{
    padding-right: 0;
  }
  .yui3-u-1-7{
    box-sizing: border-box;
    padding: 0 5px;
  }
</style>