
<div class="subtitle">
  * O Sistema permite cadastrar Proposta item por item ou por valor do lote
</div>

<%= f.input :creditor_id, as: :hidden, fake: true,
  input_html: { name: :creditor_id, value: @creditor.id } %>

<div id="purchase_process_creditor_proposals">
  <%= f.association :creditor_proposals, collection: creditor_proposals_collection do |c| %>
    <%= c.input :creditor_id, as: :hidden %>

    <%= render form_partial, :f => c %>
  <% end %>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4" id="total_value">
    <%= f.input :creditor_proposal_total_value, fake: true, required: false, disabled: true,
      input_html: { value: '0,00', 'data-decimal' => true, class: :numeric } %>
  </div>
  <div class="yui3-u-1-4" id="price_taken">
    <%= f.input :taken_price, fake: true, required: false, disabled: true,
                input_html: {
                    value: number_with_delimiter(f.object.items_total_price),
                    'data-decimal' => true,
                    class: :numeric,
                    'data-disqualify-above': resource.disqualify_proposal_above,
                    'data-disqualify-below': resource.disqualify_proposal_below} %>
  </div>
</div>

<style>
  .subtitle{
    color: #448DD6;
    font-size: 16px;
    margin-bottom: 10px;
  }
</style>