<h2 id="title">
  <%= title %>
</h2>

<div class="actions">
  <ul>
    <li>
      <%= link_to 'Mapa de Propostas',
        new_report_map_of_proposal_path(licitation_process_id: resource) unless @creditors.empty? %>
    </li>
    <% if resource.tied_creditor_proposals.any? %>
      <li>
        <%= link_to 'Desempatar propostas',
          edit_purchase_process_proposal_tiebreak_path(resource) %>
      </li>
    <% end %>
    <li>
      <%= link_to 'Voltar ao processo de compra', edit_licitation_process_path(resource) %>
    </li>
  </ul>
</div>

<table class="records" id="administrative-process-budget-allocation-records">
  <thead>
    <th><%= LicitationProcess.human_attribute_name :creditor %></th>
    <th><%= LicitationProcess.human_attribute_name :creditor_email %></th>
    <th>Propostas</th>
    <th>Desclassificar</th>
    <th>Deletar?</th>
    <th>Desclassificada?</th>
  </thead>

  <tbody>
    <%= render partial: 'creditors_rows', collection: @creditors, as: :creditor %>
  </tbody>
</table>
