<h1><b>Proposta Comercial</b></h1>

<h2>Processo de Compra: <%= resource.to_s %></h2>
<h2>Fornecedor: <%= @creditor %></h2>


<table class="records text-center">
  <thead>
  <th><%= resource.judgment_form.try(:lot?) ? 'Lote' : 'Item' %></th>
  <%= '<th>Quantidade</th>'.html_safe if resource.judgment_form.try(:item?) %>
  <th><%= LicitationProcessClassification.human_attribute_name :unit_price %></th>
  </thead>

  <tbody>
  <% resource.proposals_of_creditor(@creditor).each do |proposal|  %>
    <tr>
      <td>
        <%= resource.judgment_form.try(:lot?) ? proposal.lot : proposal.item %>
      </td>
      <%= "<td>#{proposal.item.quantity}</td>".html_safe if resource.judgment_form.try(:item?) %>
      <td>
        <%= number_with_delimiter proposal.unit_price %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan="<%= resource.judgment_form.try(:lot?) ? '1' : '2' %>"></td>
    <td>
      <b>
      <%if resource.judgment_form.try(:lot?) %>
        <%= number_to_currency resource.proposals_of_creditor(@creditor).sum(:unit_price) %>
      <% else %>
        <%= number_to_currency resource.proposals_of_creditor(@creditor).sum("compras_purchase_process_creditor_proposals.unit_price * quantity") %>
      <% end %>
      </b>
    </td>
  </tr>
  </tbody>
</table>

<style>
  th{
    text-align: center !important;
  }
</style>