<div id="licitation-process-fields">
  <%= f.input :licitation_process_id, as: :hidden %>

  <div class="yui3-g">
    <% if f.object.licitation_process&.trading %>
      <%= f.input :trading_id, as: :hidden, fake: true,
                  input_html: { value: f.object.licitation_process.trading.id} %>
    <% end %>

    <div class="yui3-u-1-8">
      <%= f.input :sequence, :disabled => true %>
    </div>

    <div class="yui3-u-3-8">
      <%= f.input :creditor, as: :auto_complete, input_html:{value: (creditor_name rescue f.object.creditor)},
                  hidden_field_value: (creditor_id rescue f.object.creditor_id), readonly: true  %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :ratification_date, input_html:{value: (l f.object.ratification_date rescue nil)} %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :adjudication_date, input_html:{value: (l f.object.adjudication_date rescue nil)} %>
    </div>
  </div>

  <table id="ratification-items-records" class="records">
    <thead>
    <tr>
      <th class="center"><input type="checkbox" id="checkAll"/></th>
      <th class="right"><%= Material.human_attribute_name :code %></th>
      <th><%= Material.human_attribute_name :description %></th>
      <th class="right"><%= Material.human_attribute_name :reference_unit %></th>
      <th class="right"><%= BidderProposal.human_attribute_name :quantity %></th>
      <th class="right"><%= BidderProposal.human_attribute_name :unit_price %></th>
      <th class="right"><%= BidderProposal.human_attribute_name :total_price %></th>
    </tr>
    </thead>

    <tbody id="ratification_items">
    <% total = 0 %>
    <%= f.association :licitation_process_ratification_items, :collection => localized(f.object.licitation_process_ratification_items) do |i| %>
      <%= render 'licitation_process_ratification_items/licitation_process_ratification_item', :f => i, resource: f.object %>
      <% total += i.object.total_price || 0 %>
    <% end %>
    <tr><td colspan="100" style="text-align: end; font-weight: bolder"><%= number_to_currency total %></td></tr>
    </tbody>
  </table>

  <%= mustache 'ratification-item-template' do %>
    <%= f.association :licitation_process_ratification_items_attributes, :collection => f.object.licitation_process_ratification_items.build, :index => '{{uuid_item}}' do |i| %>
      <%= render 'licitation_process_ratification_items/licitation_process_ratification_item', :f => i, resource: f.object %>
    <% end %>
  <% end %>
</div>

<script>
  $("#ratification-item-template").nestedForm({
    target: '#ratification_items',
    append_item: false,
    uuid: 'uuid_item'
  });

  $('#licitation-process-fields #checkAll').change( function() {
    $('table#ratification-items-records input:checkbox').attr('checked', this.checked);
  });

  function clearExistingItems() {
    $('.ratification_item').each(function() {
      $(this).find('input.destroy').attr('value', 'true');
      $(this).hide();
      $(this).find('.description').remove();
    });
  }

  function getProposals(creditorId, purchaseProcessId) {
    var proposalsUrl = "<%= creditor_proposals_helper_path(f.object) %>",
      params = {
        creditor_id: creditorId,
        licitation_process_id: purchaseProcessId,
        trading_id: $("#licitation-process-fields [name$='[trading_id]']").val()
      }, item;

    $.getIndex(proposalsUrl, params, function (proposals) {
      var sum = 0;
      $('#ratification_items').html('');
      $.each(proposals, function() {
        item = $('#ratification-item-template').mustache({
          uuid_item: _.uniqueId('fresh-'),
          purchase_process_item_id:               this.purchase_process_item_id,
          purchase_process_trading_item_id:       this.trading_item_id,
          code:                                   this.code,
          description:                            this.description,
          quantity:                               this.quantity,
          unit_price:                             this.unit_price,
          reference_unit:                         this.reference_unit,
          total_price:                            this.total_price,

          <% if f.object.has_realignment_price? %>
          realignment_price_item_id: this.id,
          <% else %>
          purchase_process_creditor_proposal_id:  this.id
          <% end %>
        });

        sum += this.quantity * parseFloat(this.unit_price);

        $('#ratification_items').prepend(item);
      });

      $('#ratification_items').append("<tr><td colspan='100' style='text-align: end; font-weight: bolder'>R$ "+numberWithDelimiter(sum)+"</td></tr>");
    });
  }

  $("#licitation-process-fields [name$='[creditor_id]']").change(function (event, creditor) {
    var licitationProcessId = $("#licitation_process_id").val();

    clearExistingItems();

    if (creditor) {
      getProposals(creditor.id, licitationProcessId);
    }else if(this.value){
      getProposals(this.value, licitationProcessId);
    }
  });

  $(function() {
    var urlModal = "<%= modal_creditors_path %>?",
      licitationProcessId = $("#licitation_process_id").val(),
      params = {
        enabled_by_licitation: licitationProcessId,
        <% if f.object.licitation_process_licitation? %>
          <% if f.object.licitation_process_trading? %>
          won_calculation_for_trading: licitationProcessId,
          <% else %>
          won_calculation: licitationProcessId,
          <% end %>
        without_licitation_ratification: licitationProcessId,
        <% else %>
        without_direct_purchase_ratification: licitationProcessId
        <% end %>
      };


    urlModal += jQuery.param(params);
    $("#licitation-process-fields [name$='[creditor_id]']").trigger('change');
    $("#licitation-process-fields [name$='[licitation_process]']").attr('readonly', true);
  });
</script>
