<div class="yui3-g">
  <div class="yui3-u-1-8">
    <%= f.input :sequence, :disabled => true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :licitation_process, :disabled => f.object.persisted? %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :bidder, :disabled => true %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-5">
    <%= f.input :ratification_date %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :adjudication_date %>
  </div>
</div>

<table class="records">
  <thead>
    <tr>
      <th><input type="checkbox" id="checkAll"/></th>
      <th><%= Material.human_attribute_name :code %></th>
      <th><%= Material.human_attribute_name :description %></th>
      <th><%= Material.human_attribute_name :reference_unit %></th>
      <th><%= BidderProposal.human_attribute_name :quantity %></th>
      <th><%= BidderProposal.human_attribute_name :unit_price %></th>
      <th><%= BidderProposal.human_attribute_name :total_price %></th>
    </tr>
  </thead>

  <tbody id="ratification_items">
    <%= f.association :licitation_process_ratification_items, :collection => localized(f.object.licitation_process_ratification_items) do |i| %>
      <%= render 'licitation_process_ratification_items/licitation_process_ratification_item', :f => i %>
    <% end %>
  </tbody>
</table>

<%= mustache 'item-template' do %>
  <%= f.association :licitation_process_ratification_items_attributes, :collection => f.object.licitation_process_ratification_items.build, :index => '{{uuid_item}}' do |i| %>
    <%= render 'licitation_process_ratification_items/licitation_process_ratification_item', :f => i %>
  <% end %>
<% end %>


<script>
  $("#item-template").nestedForm({
    target: '#ratification_items',
    append_item: false,
    uuid: 'uuid_item'
  });

  $('#checkAll').change( function() {
    $('table.records input:checkbox').attr('checked', this.checked);
  });

  $("#licitation_process_ratification_licitation_process_id").change(function (event, licitationProcess) {
    if (licitationProcess) {
      var urlModal = "<%= modal_bidders_path %>?",
      params = {
        locked_fields: ['licitation_process'],
        licitation_process_id: licitationProcess.id,
        won_calculation: true,
        without_ratification: true
      };

      urlModal += jQuery.param(params);

      $("#licitation_process_ratification_bidder").data("modal-url", urlModal).
                                                   attr("disabled", false); 
    } else {
      $('#licitation_process_ratification_bidder_id').val('');
      $('#licitation_process_ratification_bidder').val('').attr('disabled', true);
    }
  });

  function clearExistingItems() {
    $('.ratification_item').each(function() {
      $(this).find('input.destroy').attr('value', 'true');
      $(this).hide();
      $(this).find('.description').remove();
    });
  }

  $('#licitation_process_ratification_bidder_id').change(function (event, bidder) {
    clearExistingItems();

    if (bidder) {
      var template = $('#item-template'),
          target = $('#ratification_items'),
          item;

      $.each(bidder.proposals, function() {
        item = $('#item-template').mustache({ uuid_item: _.uniqueId('fresh-'),
                                              id: this.id,
                                              code: this.code,
                                              description: this.description,
                                              quantity: this.quantity,
                                              unit_price: this.unit_price,
                                              reference_unit: this.reference_unit,
                                              total_price: this.total_price });

        target.prepend(item);
      });
    } else {
      clearExistingItems();
    }
  })
</script>
