<div class="buttons">
  <% if can?(:modify, main_controller_name) %>
    <%= f.button :submit, 'data-disabled' => f.object.decorator.save_disabled_message %>
  <% end %>

  <% if f.object.process_responsibles.empty? %>
    <%= link_to 'Criar Responsáveis do processo', edit_process_responsible_path(f.object.licitation_process),
      class: 'button primary', :target => "_blank", id: 'process_responsible_link' %>
  <% end %>

  <%= link_to 'Imprimir termo', resource_path(resource), class: 'button neutral' if f.object.persisted? %>

  <%= f.button :back, href: licitation_process_ratifications_path(licitation_process_id: f.object.licitation_process_id) %>

  <% if f.object.persisted? && can?(:destroy, main_controller_name) %>
    <%= f.button :destroy %>
  <% end %>
</div>
