<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :year %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :entity %>
  </div>
</div>

<%= f.input :function %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :code %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :description %>
  </div>
</div>
