<%= a.input :addressable_id, :as => :hidden %>
<%= a.input :addressable_type, :as => :hidden %>

<div class="yui3-g">
<div class="yui3-u-1-6">
    <%= a.input :zip_code %>
  </div>
  <div class="yui3-u-1-2">
    <%= a.input :street, as: :auto_complete %>
  </div>
  <div class="yui3-u-1-8">
    <%= a.input :number %>
  </div>
  <div class="yui3-u-1-5">
    <%= a.input :complement %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= a.input :neighborhood, as: :auto_complete %>
  </div>
  <div class="yui3-u-1-3">
    <%= a.input :city, :disabled => true %>
  </div>

  <div class="yui3-u-1-6">
    <%= a.input :state, :disabled => true %>
  </div>
</div>


<script>


    $("#<%= a.sanitized_object_name %>_street_id").on('change', function (event, data) {
       fillAdress(data);
    });

    // $("#<%#= a.sanitized_object_name %>_zip_code").on('change', function (event) {
    //  var zip_code = $(this).val(),
    //      url = '<%#= streets_path %>' + '?',
    //      params = {by_zip_code: zip_code};

    //   $.getIndex(url, params, function (streets) {
    //     debugger
    //     if(streets.length === 1)
    //       fillAdress(streets[0])
    //   });
    // });

    function fillAdress(data){
      var city         = data.city,
          state        = data.state,
          neighborhoods = data.neighborhoods;

      $("#<%= a.sanitized_object_name %>_zip_code").val(data.zip_code);
      if(city){
        $("#<%= a.sanitized_object_name %>_city").val(city.name);
        $("#<%= a.sanitized_object_name %>_city_id").val(city.id);
      }
      if(state){
        $("#<%= a.sanitized_object_name %>_state_id").val(state.id);
        $("#<%= a.sanitized_object_name %>_state").val(state.acronym);
      }
      if(neighborhoods.length === 1){
        $("#<%= a.sanitized_object_name %>_neighborhood_id").val(neighborhoods[0].id);
        $("#<%= a.sanitized_object_name %>_neighborhood").val(neighborhoods[0].name);
      }else{
        var url = '<%= neighborhoods_path %>' + '?',
          params = {street_id: data.id};

        url += $.param(params);
        $("#<%= a.sanitized_object_name %>_neighborhood").data('source', url);
      }
    }
</script>
