<%= a.input :addressable_id, :as => :hidden %>
<%= a.input :addressable_type, :as => :hidden %>

<div class="yui3-g">
<div class="yui3-u-1-6">
    <%= a.input :zip_code %>
  </div>
  <div class="yui3-u-1-2">
    
    <%= a.input :street, as: :auto_complete %>
  </div>
  <div class="yui3-u-1-8">
    <%= a.input :number %>
  </div>
   <div class="yui3-u-1-5">
    <%= a.input :complement %>
  </div>
</div>

<div class="yui3-g">

  
  <div class="yui3-u-1-2">
    <%= a.input :neighborhood, as: :auto_complete %>
  </div>
  <div class="yui3-u-1-3">
    <%= a.input :city, :disabled => true %>
  </div>

  <div class="yui3-u-1-6">
    <%= a.input :state, :disabled => true %>
  </div>
  
</div>


<script>
    $("#<%= a.sanitized_object_name %>_street").on('change', function (event) {
       var street_id = $("#<%= a.sanitized_object_name %>_street_id").val();
        var street_url = "<%= streets_path%>"

        $.get(street_url+'/'+street_id+'.json', function(event){
          var street = event;
            if (street) {
                var modal_url = "<%= modal_neighborhoods_path %>?",
                    params = $.param({
                        street_id: street.id,
                        neighborhood: {
                            city: street.city,
                            city_id: street.city_id
                        },
                        locked_fields: ["city"]
                    });

                 var city_url = "<%= cities_path%>",
                      city_id = street.city_id;
                      $.get(city_url+'/'+city_id+'.json', function(event){
                        var city = event["city"],
                        state_acronym = event["state_acronym"];
                          $("#<%= a.sanitized_object_name %>_city").val(city.name);
                          $("#<%= a.sanitized_object_name %>_city_id").val(city.id);
                          $("#<%= a.sanitized_object_name %>_state_id").val(city.state_id);
                          $("#<%= a.sanitized_object_name %>_state").val(state_acronym);

                  });



            }

            });


          });

</script>
