<%= a.input :addressable_id, :as => :hidden %>
<%= a.input :addressable_type, :as => :hidden %>
<%= a.input :street, :hint => false %>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= a.input :number %>
  </div>

  <div class="yui3-u-1-2">
    <%= a.input :block %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= a.input :room %>
  </div>

  <div class="yui3-u-1-2">
    <%= a.input :complement %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= a.input :neighborhood, :url => modal_neighborhoods_path(:street_id => a.object.street_id), :disabled => a.object.street.nil? %>
  </div>

  <div class="yui3-u-1-2">
    <%= a.input :condominium %>
  </div>
</div>

<%= a.input :land_subdivision %>

<%= a.input :district, :disabled => true %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= a.input :city, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= a.input :state, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= a.input :zip_code %>
  </div>
</div>

<script>
  $("#<%= a.sanitized_object_name %>_street_id").change(function (event, street) {
    if (street) {
      $("#<%= a.sanitized_object_name %>_neighborhood").attr("data-modal-url", "<%= modal_neighborhoods_path %>?street_id=" + street.id).val("");
      $("#<%= a.sanitized_object_name %>_neighborhood_id").val("");
    }

    if ($(this).val()) {
      $("#<%= a.sanitized_object_name %>_neighborhood").attr("disabled", false);
    } else {
      $("#<%= a.sanitized_object_name %>_neighborhood").attr("disabled", true);
    }
  }).change();

  $("#<%= a.sanitized_object_name %>_neighborhood_id").change(function (event, neighborhood) {
    if (neighborhood) {
      $("#<%= a.sanitized_object_name %>_city").val(neighborhood.city);
      $("#<%= a.sanitized_object_name %>_state").val(neighborhood.state);
    }
  });
</script>
