<%= f.input :entity %>
<%= f.input :regulatory_act %>
<%= f.input :expense_category %>
<%= f.input :expense_group %>
<%= f.input :expense_modality %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :expense_element %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :kind %>
  </div>
</div>

<%= f.input :description %>
<%= f.input :docket %>
