<%= f.input :entity %>
<%= f.input :regulatory_act %>
<%= f.input :expense_category %>
<%= f.input :expense_group %>
<%= f.input :expense_modality %>
<%= f.input :expense_element %>
<%= f.input :expense_split %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :full_code, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :kind %>
  </div>
</div>

<%= f.input :description %>
<%= f.input :docket %>

<script>
  function generateFullCode() {
    category = valueOrDefaultMask($('#expense_nature_expense_category').val(), 1);
    group = valueOrDefaultMask($('#expense_nature_expense_group').val(), 1);
    modality = valueOrDefaultMask($('#expense_nature_expense_modality').val(), 2);
    element = valueOrDefaultMask($('#expense_nature_expense_element').val(), 2);
    split = valueOrDefaultMask($('#expense_nature_expense_split').val(), 2);

    $('#expense_nature_full_code').val([category, group, modality, element, split].join('.'));
  }

  function valueOrDefaultMask(value, count){
    if(!value) {
      value = '__' + value;
      return value.substr(value.length - count);
    } else {
      value = '00' + value;
      return value.substr(value.length - count);
    }
  }

  $('#expense_nature_expense_category').on('change', generateFullCode);
  $('#expense_nature_expense_group').on('change', generateFullCode);
  $('#expense_nature_expense_modality').on('change', generateFullCode);
  $('#expense_nature_expense_element').on('change', generateFullCode);
  $('#expense_nature_expense_split').on('keyup', generateFullCode);

  generateFullCode();
</script>
