<%= f.input :entity %>
<%= f.input :regulatory_act %>
<%= f.input :expense_category %>
<%= f.input :expense_group %>
<%= f.input :expense_modality %>
<%= f.input :expense_element %>
<%= f.input :expense_split %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :full_code, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :kind %>
  </div>
</div>

<%= f.input :description %>
<%= f.input :docket %>

<script>
  (function() {
    var categoryCode = '<%= f.object.expense_category_code %>',
        groupCode = '<%= f.object.expense_group_code %>',
        modalityCode = '<%= f.object.expense_modality_code %>',
        elementCode = '<%= f.object.expense_element_code %>';

    function generateFullCode() {
      category = valueOrDefaultMask(categoryCode, 1);
      group = valueOrDefaultMask(groupCode, 1);
      modality = valueOrDefaultMask(modalityCode, 2);
      element = valueOrDefaultMask(elementCode, 2);
      split = valueOrDefaultMask($('#expense_nature_expense_split').val(), 2);

      $('#expense_nature_full_code').val([category, group, modality, element, split].join('.'));
    }

    function valueOrDefaultMask(value, count){
      value = '00' + value;
      return value.substr(value.length - count);
    }

    $('#expense_nature_expense_category').on('change', function(event, expense_category) {
      categoryCode = expense_category.code;
      generateFullCode();
    });

    $('#expense_nature_expense_group').on('change', function(event, expense_group) {
      groupCode = expense_group.code;
      generateFullCode();
    });

    $('#expense_nature_expense_modality').on('change', function(event, expense_modality) {
      modalityCode = expense_modality.code;
      generateFullCode();
    });

    $('#expense_nature_expense_element').on('change', function(event, expense_element) {
      elementCode = expense_element.code;
      generateFullCode();
    });

    $('#expense_nature_expense_split').on('keyup', generateFullCode);
  })();
</script>
