<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :licitation_process %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :appeal_date %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :related %>
  </div>
</div>

<%= f.input :person %>
<%= f.input :licitation_process_description, :disabled => true, :as => 'text' %>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :new_proposal_envelope_opening_date %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :new_proposal_envelope_opening_time %>
  </div>
</div>

<%= f.input :valid_reason %>
<%= f.input :licitation_committee_opinion %>
<%= f.input :situation %>

<script>
  $('#licitation_process_appeal_licitation_process_id').change(function (event, licitation_process) {
    if (licitation_process) {
      $('#licitation_process_appeal_licitation_process_description').val(licitation_process.description);
    } else {
      $('#licitation_process_appeal_licitation_process_description').val('');
    }
  });
</script>
