<%= f.input :contract_id, as: 'hidden' %>

<%= f.input :additive_kind, :as => :radio_buttons, :label => '',
  :label_html => {:class => 'inline' }, :item_wrapper_class => 'inline',
  :collection => AdditiveKind.to_a %>

<div class="yui3-g">
  <div class="yui3-u-1-8">
    <%= f.input :number %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :additive_type, input_html: { class: 'additive_type' } %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-5">
    <%= f.input :signature_date %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :publication_date %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :dissemination_source %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2" style="padding-left: 0;">
    <%= f.input :observation %>
  </div>

  <div class="yui3-u-1-8 value">
    <%= f.input :value %>
  </div>

  <div class="yui3-u-1-6 end_date" style="display: none;">
    <%= f.input :end_date %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1">
    <%= f.input :description %>
  </div>
</div>

<script>
  (function hideFieldsWhenTypeIsChanged() {
    var optionsToHideFieldValue = ['<%= ContractAdditiveType::OTHERS %>',
                                   '<%= ContractAdditiveType::EXTENSION_TERM %>'];
    var optionsToShowFieldEndDate = ['<%= ContractAdditiveType::EXTENSION_TERM %>'];

    $('.nested-additives').on('change', '.additive_type', function() {
      var option = $(this).val();
      if(jQuery.inArray(option, optionsToHideFieldValue) != -1) {
        $(this).closest('.nested-additives').find('.value').hide();
      } else {
        $(this).closest('.nested-additives').find('.value').show();
      }

      if(jQuery.inArray(option, optionsToShowFieldEndDate) != -1) {
        $(this).closest('.nested-additives').find('.end_date').show();
      } else {
        $(this).closest('.nested-additives').find('.end_date').hide();
      }
    });
  })();
</script>
