<%= f.fields_for :contract_additive,ContractAdditive.new do |r|  %>
  <%= r.input :contract_id, as: 'hidden', input_html:{name:'contract_additive[contract_id]'} %>
  <%= r.input :id, as: 'hidden', input_html:{name:'contract_additive[id]'} %>


  <div class="row">
    <div class="col">
      <%= r.input :additive_kind,  input_html:{name:'contract_additive[additive_kind]'}%>
    </div>
    
    <div class="col">
      <%= r.input :additive_type, input_html: { class: 'additive_type', name:'contract_additive[additive_type]' } %>
    </div>

    <div class="col">
      <%= r.input :number, input_html:{name:'contract_additive[number]'} %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= r.input :dissemination_source, input_html:{name:'contract_additive[dissemination_source]'} %>
    </div>
    <div class="col">
      <%= r.input :signature_date, input_html:{name:'contract_additive[signature_date]'} %>
    </div>
    <div class="col">
      <%= r.input :publication_date, input_html:{name:'contract_additive[publication_date]'} %>
    </div>
  </div>

  <div class="row">
    <div class="col end_date" style="display: none;">
      <%= r.input :end_date, input_html:{name:'contract_additive[end_date]'}  %>
    </div>

    <div class="col">
      <%= r.input :start_validity, input_html:{name:'contract_additive[start_validity]'} %>
    </div>
    
    <div class="col">
      <%= r.input :end_validity, input_html:{name:'contract_additive[end_validity]'} %>
    </div>

    <div class="col">
      <%= r.input :value, input_html:{name:'contract_additive[value]'}  %>
    </div>
  </div>

  <div class="row">        
    <div class="col">
      <%= r.input :addition_validity_percent, input_html:{name:'contract_additive[addition_validity_percent]'} %>
    </div>

    <div class="col">
      <%= r.input :addition, input_html:{name:'contract_additive[addition]'} %>
    </div>
                
    <div class="col">
      <%= r.input :suppression_validity_percent, input_html:{name:'2contract_additive[suppression_validity_percent]'} %>
    </div>
    
    <div class="col">
      <%= r.input :suppression, input_html:{name:'contract_additive[suppression]'} %>
    </div>   

    <div class="col-3 value">
      <%= r.input :additive_kind_value,  input_html:{name:'contract_additive[additive_kind_value]'}%>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-1">
      <%= r.input :observation, input_html:{name:'contract_additive[observation]'}  %>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-7-8">
      <%= r.input :description, input_html:{name:'contract_additive[description]'}  %>
    </div>

    <div class="yui3-u-1-8">
      <%= button_tag 'Adicionar', type: :button, style: 'margin-top: 38px',
                     class: 'button add-nested-record table-xxx field-without-label add-margin-bottom',
                     'data-template' => "contract_additives_template",
                     'data-records' => "contract_additives_records",
                     id: "contract_additives_button" %>
    </div>
  </div>

<% end %>

<script>
  $("#contract_contract_additive_suppression_validity_percent").parent().parent().hide();
  $("#contract_contract_additive_suppression").parent().parent().hide();
</script>