<div class="subpledge-expiration">
  <div class="yui3-g nested">
    <%= f.input :id, :as => 'hidden' %>
    <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

    <div class="yui3-u-1-4">
      <%= f.input :number, :disabled => true, :input_html => { :class => 'order' } %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :expiration_date %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :value, :input_html => { :class => 'parcel-value' } %>
    </div>

    <div class="yui3-u-1-4 nested-remove">
      <input type="button" class="button negative remove-subpledge-expiration" value="Remover Parcela">
    </div>
  </div>
</div>
