<tr data-value="<%= record.id %>" data-label="<%= record %>" data-type="<%= record.class.to_s %>" data-id="<%= record.id %>" data-balance="<%= record.decorator.balance %>">
  <% attributes.each do |attribute| %>
    <td>
      <%= record.send attribute %>
    </td>
  <% end %>
</tr>
