<tr data-value="<%= record.id %>" data-label="<%= record %>" data-id="<%= record.id %>" data-name="<%= record %>" data-type="<%= record.class.to_s %>">
  <td>
    <%= record.description %>
  </td>
  <td>
    <%= record.kind_humanize %>
  </td>
  <td>
    <%= record.licitation_kind_humanize %>
  </td>
</tr>
