<div class="budget-structure-level">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <div class="yui3-g nested">
    <div class="yui3-u-1-8">
      <%= f.input :level, :input_html => { :class => 'level' } %>
    </div>

    <div class="yui3-u-3-8">
      <%= f.input :description %>
    </div>

    <div class="yui3-u-1-8">
      <%= f.input :digits, :input_html => { :class => 'digits' } %>
    </div>

    <div class="yui3-u-1-8">
      <%= f.input :separator, :input_html => { :class => 'separator' } %>
    </div>

    <div class="yui3-u-1-8 nested-remove">
      <input type="button" class="button negative remove-budget-structure-level" value="Remover">
    </div>
  </div>
</div>
