<%= f.input :budget_unit_configuration %>
<%= f.input :budget_unit, :input_html => { :size => 50 } %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :kind %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :tce_code %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :description %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :acronym %>
  </div>
</div>

<%= f.input :administration_type %>
<%= f.input :performance_field %>

<script>
  $('#budget_unit_budget_unit_configuration_id').change(function (event, budget_unit_configuration) {
    if (budget_unit_configuration) {
      $('#budget_unit_budget_unit').attr("data-mask", budget_unit_configuration.mask);
    }
  });
</script>
