<%= f.input :organogram_configuration %>
<%= f.input :organogram, :input_html => { :size => 50 } %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :kind %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :tce_code %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :description %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :acronym %>
  </div>
</div>

<%= f.input :administration_type %>
<%= f.input :performance_field %>

<script>
  $('#budget_unit_organogram_configuration_id').change(function(event, data) {
    if (data) {
      var record = data.record;

      $('#budget_unit_organogram').attr("data-mask", record.data("mask"));
    }
  });
</script>
