<tr class="record nested-record item-record" id="material-id-<%= material_id %>">
  <td><%= material %></td>
  <td class="quantity"><%= quantity %></td>
  <td class="quantity_new"><%= quantity_new %></td>
  <td>
    <%= link_to 'Editar', '#', class: 'edit-nested-record' %>
  </td>

  <td>
    <%= f.input :material_id, as: :hidden, input_html: { value: material_id, class: 'material-id' } %>
    <%= f.input :material, as: :hidden, input_html: { value: material } %>
    <%= f.input :quantity, as: :hidden, input_html: { value: quantity, class: 'quantity' } %>
    <%= f.input :quantity_new, as: :hidden, input_html: {value: quantity_new, class: 'quantity_new' } %>
    <%= f.input :id, as: :hidden, input_html: { value: id } %>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'destroy' } %>

    <%= link_to 'Remover', '#', class: 'remove-nested-record' %>
  </td>
</tr>