<div>
  <table style="border: none;" class="records">
    <thead>
    <tr style="text-align: center;border: none;">
      <td><h1><b> ORDEM DE FORNECIMENTO - NÚMERO <%= resource.number %> </b></h1></td>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div style="text-align: justify">
  <span>
    <p>
      <b> CONTRATANTE: </b> <%= resource.prefecture %>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> CONTRATADA: </b> <%= resource.creditor %>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> CONTRATO: </b>  <%= "#{resource.licitation_process.process}/#{resource.licitation_process.year}" unless resource.licitation_process.nil? %>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> OBJETO: </b> <%= resource.licitation_process.description unless resource.licitation_process.nil? %>
    </p>
  </span>
</div>

<br>
<br>
<br>
<p>
<h2><b> ITENS DA ORDEM DE FORNECIMENTO </b></h2>
<div>
  <table class="records">
    <thead>
    <tr>
      <th width="20%">ITEM</th>
      <th>DESCRIÇÃO</th>
      <th>VALOR UNITÁRIO</th>
      <th>QUANTIDADE</th>
      <th>TOTAL</th>
    </tr>
    </thead>
    <tbody>
    <% @total = 0 %>
    <% winning_items = resource.contract&.winning_items&.includes(:purchase_process_item) %>
    <% resource.items.each do |item| %>
      <tr>
        <td><%= item.material %></td>
        <td><%= item.material.detailed_description %></td>
        <td><%= number_with_precision @unit_price = winning_items.where{ purchase_process_item.material_id.eq item.material_id }.first.try(:unit_price) if winning_items.present? %></td>
        <td><%= item.quantity %></td>
        <td><%= number_with_precision @unit_price * item.quantity %></td>
        <% @total += @unit_price * item.quantity %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</p>
<div >
  <span>
    <p style="text-align: right">
      <b> <%= number_with_precision @total %> &nbsp; </b>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> PRAZO: </b> <%= resource.licitation_process.period unless resource.licitation_process.nil? %> <%= resource.licitation_process.period_unit_humanize unless resource.licitation_process.nil? %>
    </p>
  </span>
</div>

<div style="text-align: justify">
  <span>
    <p>
      <b> LOCAL DE ENTREGA: </b> <%= resource.get_delivery_location unless resource.licitation_process.nil? %>
    </p>
  </span>
</div>

<div style="text-align: justify">
  <span>
    <p>
      <b> OBSERVAÇÃO: </b> <%= resource.supply_order.observation %>
    </p>
  </span>
</div>

<br>
<br>
<br>
<p>
<h2><b> DADOS ORÇAMENTÁRIOS </b></h2>
<div>
  <table class="records">
    <thead>
    <tr>
      <th><%= Contract.human_attribute_name :secretary %></th>
      <th><%= Contract.human_attribute_name :project_activity %></th>
      <th><%= Contract.human_attribute_name :nature_expense %></th>
      <th><%= Contract.human_attribute_name :resource_source %></th>
      <th><%= Contract.human_attribute_name :value %></th>
    </tr>
    </thead>
    <tbody>
    <% @total_budgetary = 0 %>
    <% resource.supply_budgetaries.each do |orcamentario| %>
      <tr>
        <td><%= orcamentario.secretary %></td>
        <td><%="#{orcamentario.expense.project_activity.name} (#{orcamentario.expense.project_activity})" %></td>
        <td><%= orcamentario.expense.nature_expense %></td>
        <td><%= orcamentario.expense.resource_source %></td>
        <td><%= orcamentario.value %></td>
      </tr>
      <% @total_budgetary += orcamentario.value  %>
    <% end %>
    </tbody>
  </table>
</div>
</p>
<div >
  <span>
    <p style="text-align: right">
      <b> <%= number_with_precision @total_budgetary %> </b>
    </p>
  </span>
</div>

<div style="text-align: justify">
  <span>
    <p>
      <b> DADOS DE FATURAMENTO: </b> <%= resource.billing %>
    </p>
  </span>
</div>

<br><br><br><br><br><br>
<div style="text-align: justify">
  <span>
    <p>
      <b> <h2> <%= resource.prefecture.titleize() %>, <%= l(Date.today, format: :long) %> </h2></b>
    </p>
  </span>
</div>
<br><br><br>
<div class="row">
  <div class="col">
    <div class="signature" style="text-align: center">
      <p>
      <hr>
      Compras
    </div>
  </div>

  <div class="col">
    <div class="signature" style="text-align: center">
      <p>
      <hr>
      Funcionário(a)
    </div>
  </div>

  <div class="col">
    <div class="signature" style="text-align: center">
      <p>
      <hr>
      Secretário(a)
    </div>
  </div>
</div>

<style>
  .signature hr {
    max-width: 83% !important;
  }
</style>