<div>
  <table style="border: none;" class="records">
    <thead>
    <tr style="text-align: center;border: none;">
      <td><h1><b> ORDEM DE FORNECIMENTO - NÚMERO <%= resource.number %> </b></h1></td>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div style="text-align: justify">
  <span>
    <p>
      <b> CONTRATANTE: </b> <%= resource.prefecture %>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> CONTRATADA: </b> <%= resource.creditor %>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> CERTAME: </b>  <%= resource.licitation_process %>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> PROCESSO: </b>  <%= "#{resource.licitation_process.process}/#{resource.licitation_process.year}" unless resource.licitation_process.nil? %>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> OBJETO: </b> <%= resource.licitation_process.description unless resource.licitation_process.nil? %>
    </p>
  </span>
</div>

<br>
<br>
<br>
<p>
<h2><b> ITENS DA ORDEM DE FORNECIMENTO </b></h2>
<div>
  <table class="records">
    <thead>
    <tr>
      <th>ITEM</th>
      <th>QUANTIDADE</th>
    </tr>
    </thead>
    <tbody>
    <% resource.supply_order.items.each do |item| %>
      <tr>
        <td><%= item.material %></td>
        <td><%= item.quantity %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</p>

<div style="text-align: justify">
  <span>
    <p>
      <b> PRAZO: </b> <%= resource.licitation_process.period unless resource.licitation_process.nil? %> <%= resource.licitation_process.period_unit_humanize unless resource.licitation_process.nil? %>
    </p>
  </span>
</div>

<div style="text-align: justify">
  <span>
    <p>
      <b> LOCAL DE ENTREGA: </b> <%= resource.get_delivery_location unless resource.licitation_process.nil? %>
    </p>
  </span>
</div>

<div style="text-align: justify">
  <span>
    <p>
      <b> OBSERVAÇÃO: </b> <%= resource.supply_order.observation %>
    </p>
  </span>
</div>
<br><br><br><br><br><br>
<div style="text-align: justify">
  <span>
    <p>
      <b> <h2> <%= resource.prefecture.titleize() %>, <%= l(Date.today, format: :long) %> </h2></b>
    </p>
  </span>
</div>
<br><br><br><br><br><br>
<div class="signature" style="text-align: center">
  <p>
  <hr>
  FUNCIONÁRIO <br><br><br><br><br><br>
</div>