<h1>ORDEM DE FORNECIMENTO</h1>

<div style="text-align: justify">
  <span>
    <p>
      <b> CONTRATANTE: </b> <%= resource.prefecture %>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> CONTRATADA: </b> <%= resource.creditor %>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> CERTAME: </b>  <%= resource.licitation_process %>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> PROCESSO: </b>  <%= "#{resource.licitation_process.process}/#{resource.licitation_process.year}" %>
    </p>
  </span>
</div>
<div style="text-align: justify">
  <span>
    <p>
      <b> OBJETO: </b> <%= resource.licitation_process.description %>
    </p>
  </span>
</div>

<br>
<br>
<br>
<p>
<h2> <b> ITENS DA ORDEM DE FORNECIMENTO </b> </h2>
<div>
  <table class="records">
    <thead>
    <tr>
      <th>ITEM</th>
      <th>QUANTIDADE</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>01.00.00.000.000.01323</td>
      <td>6,00</td>
    </tr>
    <tr>
      <td>01.00.00.000.000.01531</td>
      <td>25,00</td>
    </tr>
    </tbody>
  </table>
</div>
</p>

<div style="text-align: justify">
  <span>
    <p>
      <b> PRAZO: </b> <%= resource.licitation_process.period %> <%= resource.licitation_process.period_unit_humanize %>
    </p>
  </span>
</div>

<div style="text-align: justify">
  <span>
    <p>
      <b> LOCAL DE ENTREGA: </b> <%= resource.get_delivery_location %>
    </p>
  </span>
</div>

<div style="text-align: justify">
  <span>
    <p>
      <b> <h2> <%= resource.prefecture.titleize() %> </b>
    </p>
  </span>
</div>
<br><br><br><br><br><br>
<div class="signature" style="text-align: center">
  <p>
  <hr>
  FUNCIONÁRIO <br><br><br><br><br><br>
</div>