<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :login %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :email %>
  </div>

  <div class="yui3-u-1-2">
    <div class="yui3-g">
      <div class="yui3-u-1-2">
        <%= f.input :password %>
      </div>

      <div class="yui3-u-1-2">
        <%= f.input :password_confirmation  %>
      </div>
    </div>
  </div>

  <%= f.input :authenticable_type, as: :hidden %>
  <%= f.input :authenticable_id, as: :hidden %>
</div>
