<tr data-value="<%= record.id %>" data-label="<%= record %>" data-type="<%= record.class.to_s %>" data-operation="<%= record.operation %>" data-character="<%= record.character %>" data-id="<%= record.id %>">
  <td>
    <%= record.name %>
  </td>
  <td>
    <%= record.operation_humanize %>
  </td>
  <td>
    <%= record.character_humanize %>
  </td>
</tr>
