<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :licitation_process, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :licitation_process_modality_humanize, :disabled => true%>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :licitation_commission %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :licitation_commission_president_name, :disabled => true %>
  </div>
</div>

<%= f.input :licitation_process_object_description, :disabled => true %>
