<%= f.error :accredited_representatives %>

<div id="accredited-representatives">
  <%= f.association :accredited_representatives, :collection => localized(f.object.accredited_representatives) do |p| %>
    <%= render 'accredited_representatives/form', :f => p %>
  <% end %>
</div>

<p>
  <input type="button" class="button affirmative add-representative" value="Adicionar Representante" />
</p>

<%= mustache 'representative-template' do %>
  <%= f.association :accredited_representatives_attributes, :collection => f.object.accredited_representatives.build, :index => '{{uuid_representative}}' do |p| %>
    <%= render 'accredited_representatives/form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#representative-template").nestedForm({
    add: '.add-representative',
    remove: '.remove-representative',
    target: '#accredited-representatives',
    uuid: 'uuid_representative',
    fieldToRemove: '.representative'
  });
</script>
