<div class="yui3-g modal-finder">
  <div class="yui3-u-1-2">
    <%= f.input :dissemination_source, :as => :modal, :input_html => { 'data-modal-url' => modal_dissemination_sources_path(:roots => true) }, :hidden_field => false %>
  </div>
</div>

<input type="hidden" name="<%= f.sanitized_object_name %>[dissemination_source_ids][]" />

<table class="records">
  <thead>
    <tr>
      <th>
        <%= DisseminationSource.human_attribute_name :description %>
      </th>
      <th>
      </th>
    </tr>
  </thead>

  <tbody class="<%= f.sanitized_object_name %>_dissemination_source_records">
    <% f.object.dissemination_sources.each do |dissemination_source| %>
      <%= render 'dissemination_sources/list_form', :description => dissemination_source.description, :id => dissemination_source.id, :f => f %>
    <% end %>
  </tbody>
</table>

<%= mustache "#{f.sanitized_object_name}_dissemination_source_template" do %>
  <%= f.association :dissemination_sources, :collection => f.object.dissemination_sources.build do |p| %>
    <%= render 'dissemination_sources/list_form', :description => '{{description}}', :id => '{{id}}', :f => f %>
  <% end %>
<% end %>
