<p>
  <input type="button" class="button affirmative add-budget-structure-level" value="Adicionar Estrutura">
</p>

<div>
  <div id="budget_structure_levels">
    <%= f.association :budget_structure_levels, :collection => localized(f.object.budget_structure_levels) do |p| %>
      <%= render 'budget_structure_levels/form', :f => p %>
    <% end %>
  </div>
</div>

<%= mustache 'budget-structure-levels-template' do %>
  <%= f.association :budget_structure_levels_attributes, :collection => f.object.budget_structure_levels.build, :index => '{{uuid_budget_structure_level}}' do |p| %>
    <%= render 'budget_structure_levels/form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#budget-structure-levels-template").nestedForm({
    add: '.add-budget-structure-level',
    remove: '.remove-budget-structure-level',
    target: '#budget_structure_levels',
    uuid: 'uuid_budget_structure_level',
    fieldToRemove: '.budget-structure-level',
    appendItem: false
  });
</script>
