<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :entity %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :regulatory_act %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :description %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :mask, :disabled => true %>
  </div>
</div>

<%= render 'budget_structure_levels', :f => f %>

<script>
  function calculeMask() {
    var levels = [];
    var mask = '';

    $('#budget-structure-level').children('.nested-budget-structure-level:visible').each(function() {
      var level     = $(this).find('input.level').val(),
          digits    = $(this).find('input.digits').val(),
          separator = $(this).find('select.separator').val();

      levels.push([level, digits, separator]);
    });

    var ordered_levels = levels.sort(function(a, b) {
      return (a[0] < b[0]) ? -1 : (a[0] > b[0]) ? 1 : 0;
    })

    $.each(ordered_levels, function(index) {
      for (var i = 1; i <= this[1]; i++) {
        mask += '9';
      }
      if ((index+1) < levels.length) {
        mask += this[2];
      }
    });

    $('#budget_structure_configuration_mask').attr('value', mask);
  }

  $('form.budget_structure_configuration').on('nestedForm:afterRemove', calculeMask);
  $('#budget-structure-level').on('keyup', 'input:visible.numeric', calculeMask);
  $('#budget-structure-level').on('change', 'select', calculeMask);
</script>
