<p>
  <input type="button" class="button affirmative add-agreement-bank-account" value="Adicionar Conta">
</p>

<div id="agreement-bank-account"  data-nested-form="agreement-bank-account">
  <%= f.association :agreement_bank_accounts, :collection => localized(f.object.agreement_bank_accounts) do |b| %>
    <%= render 'agreement_bank_accounts/form', :f => b %>
  <% end %>
</div>

<%= mustache 'agreement-bank-account-template' do %>
  <%= f.association :agreement_bank_accounts_attributes, :collection => f.object.agreement_bank_accounts.build, :index => '{{uuid-agreement-bank-account}}' do |b| %>
    <%= render 'agreement_bank_accounts/form', :f => b %>
  <% end %>
<% end %>
