<div class="tabs">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>

    <li>
      <a href="#bank_accounts">Conta Bancária</a>
    </li>

    <li>
      <a href="#participants">Participantes</a>
    </li>

    <li>
      <a href="#additives">Aditivos</a>
    </li>

    <li>
      <a href="#occurrences">Ocorrências</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="bank_accounts">
    <%= render 'bank_accounts', :f => f %>
  </div>

  <div id="participants">
    <%= render 'participants', :f => f %>
  </div>

  <div id="additives">
    <%= render 'additives', :f => f %>
  </div>

  <div id="occurrences">
    <%= render 'occurrences', :f => f %>
  </div>
</div>
