<p>
  <input type="button" class="button affirmative add-agreement-participant" value="Adicionar Participante">
</p>

<%= f.error :agreement_participants %>

<div id="agreement-participant" data-nested-form="agreement-participant">
  <%= f.association :agreement_participants, :collection => localized(f.object.agreement_participants) do |o| %>
    <%= render 'agreement_participants/form', :f => o %>
  <% end %>
</div>

<%= mustache 'agreement-participant-template' do %>
  <%= f.association :agreement_participants_attributes, :collection => f.object.agreement_participants.build, :index => '{{uuid-agreement-participant}}' do |o| %>
    <%= render 'agreement_participants/form', :f => o %>
  <% end %>
<% end %>
