<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :year, :include_blank => true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :process, :include_blank => true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :creditor, as: :modal, data_url: modal_creditors_url,
                hidden_field: :creditor_id, :include_blank => true  %>
  </div>
</div>

<div class="yui3-g">

  <div class="yui3-u-1-3">
    <%= f.input :modality, :include_blank => true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :process_date_start, :include_blank => true,as: :date %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :process_date_end,as: :date %>
  </div>

</div>



<script>
    $(function () {
    
        $('#new_licitation_process_report')[0].reset();

        $("#licitation_process_report_year").attr('maxlength','4');
        $('#licitation_process_report_year').on('input', function (event) {
            this.value = this.value.replace(/[^0-9]/g, '');
        });

    });
</script>