<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :licitation_process %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :number, :disabled => true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :date %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :licitation_process_administrative_process_modality_humanize, :disabled => true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :licitation_process_licitation_number, :disabled => true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :licitation_process_process_date, :disabled => true, :input_html => { :value => f.object.decorator.licitation_process_process_date }  %>
  </div>
</div>

<%= f.input :licitation_process_object_description, :disabled => true %>
<%= f.input :observations %>

<script>
  $('#licitation_notice_licitation_process_id').change(function (event, licitation_process) {
    if (licitation_process) {
      $('#licitation_notice_licitation_process_administrative_process_modality_humanize').val(licitation_process.administrative_process_modality_humanize);
      $('#licitation_notice_licitation_process_licitation_number').val(licitation_process.licitation_number);
      $('#licitation_notice_licitation_process_process_date').val(licitation_process.process_date);
      $('#licitation_notice_licitation_process_object_description').val(licitation_process.object_description);
    } else {
      $('#licitation_notice_licitation_process_administrative_process_modality_humanize').val('');
      $('#licitation_notice_licitation_process_licitation_number').val('');
      $('#licitation_notice_licitation_process_process_date').val('');
      $('#licitation_notice_licitation_process_object_description').val('');
    }
  });
</script>
