<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :licitation_process %>
  </div>
  <div class="yui3-u-1-3">
    <%= f.input :number, :disabled => true %>
  </div>
  <div class="yui3-u-1-3">
    <%= f.input :date %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :licitation_process_administrative_process_modality_humanize, :disabled => true %>
  </div>
  <div class="yui3-u-1-3">
    <%= f.input :licitation_process_licitation_number, :disabled => true %>
  </div>
  <div class="yui3-u-1-3">
    <%= f.input :licitation_process_process_date, :disabled => true, :input_html => { :value => f.object.presenter.licitation_process_process_date }  %>
  </div>
</div>

<%= f.input :licitation_process_object_description, :disabled => true %>
<%= f.input :observations %>
