<div class="yui3-g">
  <div class="yui3-u-1-6">
    <%= f.input :ordinance_number %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-6">
    <%= f.input :validity_beginning %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :published_date %>
  </div>
</div>

<fieldset>
  <legend>Compras e serviços</legend>

  <div class="yui3-g">
    <div class="yui3-u-1-4">
      <%= f.input :without_bidding %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :invitation_letter %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :taken_price %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :public_competition %>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Obras e serviços de engenharia</legend>

  <div class="yui3-g">
    <div class="yui3-u-1-4">
      <%= f.input :work_without_bidding %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :work_invitation_letter %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :work_taken_price %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :work_public_competition %>
    </div>
  </div>
</fieldset>
