<%= f.error :direct_purchase_budget_allocations %>

<div class="yui3-g">
  <div class="yui3-u-2-5">
    <%= f.input :total_allocations_items_value, :disabled => true, :input_html => { :value => f.object.decorator.total_allocations_items_value } %>
  </div>
</div>

<p>
  <input type="button" class="button affirmative add-direct-purchase-budget-allocation" value="Adicionar Dotação">
</p>

<div id="budget-allocations">
  <%= f.association :direct_purchase_budget_allocations, :collection => localized(f.object.direct_purchase_budget_allocations) do |p| %>
    <%= render 'direct_purchase_budget_allocations/form', :f => p %>
  <% end %>
</div>

<%= mustache 'direct-purchase-budget-allocations-template' do %>
  <%= f.association :direct_purchase_budget_allocations_attributes, :collection => f.object.direct_purchase_budget_allocations.build, :index => '{{uuid_direct_purchase_budget_allocation}}' do |p| %>
    <%= render 'direct_purchase_budget_allocations/form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#direct-purchase-budget-allocations-template").nestedForm({
    add: '.add-direct-purchase-budget-allocation',
    remove: '.remove-direct-purchase-budget-allocation',
    target: '#budget-allocations',
    fieldToRemove: '.direct-purchase-budget-allocation',
    uuid: 'uuid_direct_purchase_budget_allocation',
    appendItem: false
  });
</script>
