<div class="buttons">
  <%= f.button :submit unless f.object.annulled? %>
  <%= annul_link %>

  <% if f.object.persisted? %>
    <% if resource.authorized? %>
      <%= link_to "Imprimir autorização de fornecimento", supply_authorization_path(resource.supply_authorization), :class => 'clear button neutral' %>
      <%= f.button :submit, 'Enviar autorização de fornecimento por e-mail' unless f.object.annulled? %>
    <% else %>
      <%= f.button :submit, 'Gerar autorização de fornecimento', :id => 'print' unless f.object.annulled? %>
    <% end %>
  <% end %>

  <%= f.button :cancel %>
</div>
