<tr data-value="<%= record.id %>" data-label="<%= record %>" data-id="<%= record.id %>" data-name="<%= record %>" "data-type="<%= record.class.to_s %>">
  <td>
    <%= record.year %>
  </td>
  <td>
    <%= record.date %>
  </td>
  <td>
    <%= record.modality_humanize %>
  </td>
</tr>
