<div class="yui3-g">
  <div class="yui3-u-1-8">
    <%= f.input :number, :disabled => true %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :year %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-8">
    <%= f.input :date %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :validaty_date %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :situation %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :licitation_process, :modal_url => modal_licitation_processes_path(:with_price_registrations => true) %>
  </div>
</div>

<%= f.input :description %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :delivery_location %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :management_unit %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :responsible %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :payment_method %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-8">
    <%= f.input :delivery %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :delivery_unit %>
  </div>

  <div class="yui3-u-1-8">
    <%= f.input :validity %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :validaty_unit %>
  </div>
</div>

<%= f.input :observations %>
