<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :pledge %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :emission_date, :disabled => true, :input_html => { :value => f.object.decorator.emission_date } %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :value %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :date %>
  </div>
</div>

<%= f.input :reason %>

<script>
  <% if f.object.persisted? %>
    $('form.pledge_liquidation_cancellation :input').attr('disabled', true);
  <% else %>
    (function() {
      var pledgeValue;

      $('#pledge_liquidation_cancellation_pledge_id').change(function(event, pledge) {
        if (pledge) {
          $('#pledge_liquidation_cancellation_emission_date').val(pledge.emission_date);

          pledgeValue = pledge.liquidation_value;

          $('#pledge_value').html(pledge.pledge_value_as_currency);
          $('#pledge_liquidation_cancellations_sum').html(pledge.pledge_liquidation_cancellations_sum);
          $('#pledge_liquidations_sum').html(pledge.pledge_liquidations_sum);
          $('#pledge_balance').html(pledge.balance_as_currency);
        } else {
          $('#pledge_liquidation_cancellation_emission_date').val('');
          $('#pledge_value').html('');
          $('#pledge_liquidation_cancellations_sum').html('');
          $('#pledge_liquidations_sum').html('');
          $('#pledge_balance').html('');

          pledgeValue = null;
        }
      });
    })();
  <% end %>
</script>
