<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :entity %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :year %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :pledge %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :emission_date, :disabled => true, :input_html => { :value => f.object.decorator.emission_date } %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :pledge_value, :disabled => true, :input_html => { :value => f.object.decorator.pledge_value } %>
  </div>
</div>

<table id="pledge_parcels" class="records">
  <thead>
    <tr>
      <th>
        Parcela
      </th>
      <th>
        Vencimento
      </th>
      <th>
        Valor inicial
      </th>
      <th>
        Liquidado
      </th>
      <th>
        Liquidado anulado
      </th>
      <th>
        Valor atual
      </th>
    </tr>
  </thead>
  <tbody>
    <% if f.object.pledge %>
      <% localized(f.object.pledge.pledge_parcels).each do |parcel| %>
        <tr id="parcel_<%= parcel.number %>">
          <td>
            <%= parcel.number %>
          </td>
          <td>
            <%= parcel.localized.expiration_date %>
          </td>
          <td class="value">
            <%= parcel.decorator.value %>
          </td>
          <td class="liquidations_value">
            <%= parcel.decorator.liquidations_value %>
          </td>
          <td class="canceled_liquidations_value">
            <%= parcel.decorator.canceled_liquidations_value %>
          </td>
          <td class="balance">
            <%= parcel.decorator.balance_as_currency %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :kind %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :value, :disabled => f.object.total? %>
  </div>
</div>

<%= f.input :date %>
<%= f.input :reason %>

<%= mustache 'pledge-parcels-template' do %>
  <tr id="parcel_{{number}}">
    <td>
      {{number}}
    </td>
    <td>
      {{expiration_date}}
    </td>
    <td class="value">
      {{value}}
    </td>
    <td class="liquidations_value">
      {{liquidations_value}}
    </td>
    <td class="canceled_liquidations_value">
      {{canceled_liquidations_value}}
    </td>
    <td class="balance">
      {{balance}}
    </td>
  </tr>
<% end %>

<script>
  <% if f.object.persisted? %>
    $('form.pledge_liquidation_cancellation :input').attr('disabled', true);
  <% else %>
    (function() {
      var pledgeValue;

      function forceValueWhenTotalIsKind(){
        if($('#pledge_liquidation_cancellation_kind').val() == '<%= PledgeCancellationKind::TOTAL %>') {
          $('#pledge_liquidation_cancellation_value').attr('disabled', true);
          $('#pledge_liquidation_cancellation_value').val(pledgeValue);
        } else {
          $('#pledge_liquidation_cancellation_value').attr('disabled', false);
        }
      }

      function clearExistingPledgeParcels() {
        $('#pledge_parcels tbody').html('');
      }

      function createPledgeParcelsFromPledge(pledgeParcels) {
        var template = $('#pledge-parcels-template'),
            rendered = '';

        $(pledgeParcels).each(function() {
          rendered += template.mustache({
            expiration_date: this.expiration_date,
            value: this.value,
            number: this.number,
            liquidations_value: this.liquidations_value,
            canceled_liquidations_value: this.canceled_liquidations_value,
            balance: this.balance
          });
        });

        $('#pledge_parcels tbody').html(rendered);
      }

      $('#pledge_liquidation_cancellation_pledge_id').change(function(event, pledge) {
        if (pledge) {
          $('#pledge_liquidation_cancellation_emission_date').val(pledge.emission_date);
          $('#pledge_liquidation_cancellation_pledge_value').val(pledge.pledge_value);

          createPledgeParcelsFromPledge(pledge.parcels);
          pledgeValue = pledge.liquidation_value;
        } else {
          $('#pledge_liquidation_cancellation_emission_date').val('');
          $('#pledge_liquidation_cancellation_pledge_value').val('');

          clearExistingPledgeParcels();
          pledgeValue = null;
        }

        forceValueWhenTotalIsKind();
      });

      $('#pledge_liquidation_cancellation_kind').change(forceValueWhenTotalIsKind);
    })();
  <% end %>
</script>
