<%= f.input :materials_group %>
<%= f.input :materials_class, :disabled => true %>
<% if f.object.persisted? %>
  <%= f.input :code, :disabled => true %>
<% end %>
<%= f.input :description %>
<%= f.input :detailed_description %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :unit_price, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :minimum_stock_balance %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :stock_balance, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :cash_balance, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :reference_unit %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :manufacturer %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :perishable %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :storable %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :material_characteristic, :as => :select, :collection => MaterialCharacteristic %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :service_or_contract_type %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :material_type, :as => :select, :collection => MaterialType %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :combustible %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :stn_ordinance %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :expense_element %>
  </div>
</div>

<script>
  (function toggleTypes(){
    if ($("#material_material_characteristic").attr('value') == 'material'){
      $("#material_service_or_contract_type").attr('disabled', true);
      $("#material_material_type").attr('disabled', false);
    } else if ($("#material_material_characteristic").attr('value') == 'service') {
      $("#material_material_type").attr('disabled', true);
      $("#material_service_or_contract_type").attr('disabled', false);
    }
    $("#material_material_characteristic").change(toggleTypes);
  })();

  (function enableClass() {
    if ($('#material_materials_group').attr('value') != '') {
      $('#material_materials_class').attr('disabled', false);
    } else {
      $('#material_materials_class').attr('disabled', true);
    }
    $('#material_materials_group').change(enableClass);
  })();

  $('#material_materials_group').change(function(){
    $('#material_materials_class').val('');
    $('#material_materials_class_id').val('');
  });
</script>
