<%= f.input :materials_group %>
<%= f.input :materials_class, :disabled => f.object.materials_group.blank? %>
<% if f.object.persisted? %>
  <%= f.input :code, :disabled => true %>
<% end %>
<%= f.input :description %>
<%= f.input :detailed_description %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :unit_price, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :minimum_stock_balance %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :stock_balance, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :cash_balance, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :reference_unit %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :manufacturer %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :perishable %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :storable %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :material_characteristic %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :service_or_contract_type, :disabled => !f.object.service? %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :material_type, :disabled => !f.object.material? %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :combustible %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :stn_ordinance %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :economic_classification_of_expenditure, :disabled => f.object.stn_ordinance.blank? %>
  </div>
</div>

<script>
  $("#material_material_characteristic").change(function() {
    if (this.value == 'material') {
      $("#material_service_or_contract_type").attr('disabled', true);
      $("#material_material_type").attr('disabled', false);
    } else if (this.value == 'service') {
      $("#material_material_type").attr('disabled', true);
      $("#material_service_or_contract_type").attr('disabled', false);
    }
  });

  $('#material_materials_group_id').change(function() {
    if (this.value) {
      $('#material_materials_class').attr('disabled', false);
    } else {
      $('#material_materials_class').attr('disabled', true);
    }

    $('#material_materials_class').val('');
    $('#material_materials_class_id').val('');
  });

  $('#material_stn_ordinance_id').change(function() {
    if (this.value) {
      $('#material_economic_classification_of_expenditure').attr('disabled', false);
    } else {
      $('#material_economic_classification_of_expenditure').attr('disabled', true);
    }

    $('#material_economic_classification_of_expenditure').val('');
    $('#material_economic_classification_of_expenditure_id').val('');
  });
</script>
