<%= f.input :autocomplete_materials_class, :as => :auto_complete,
            :source_path => materials_classes_path(:without_children => true),
            :hidden_field => :materials_class_id, :max_results => 20, :min_length => 1 %>

<% if f.object.persisted? %>
  <div class="yui3-g">
    <div class="yui3-u-1-3">
      <%= f.input :code, :disabled => true %>
    </div>
  </div>
<% end %>

<%= f.input :description %>
<%= f.input :detailed_description %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :unit_price, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :minimum_stock_balance %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :stock_balance, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :cash_balance, :disabled => true %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :reference_unit %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :manufacturer %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :perishable %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :storable %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :material_characteristic %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :contract_type, :disabled => !f.object.service? %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :material_type, :disabled => !f.object.material? %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :combustible %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :expense_nature %>
  </div>
</div>

<script>
  $("#material_material_characteristic").change(changeFieldsByCharacteristic);

  function changeFieldsByCharacteristic() {
    characteristicValue = $("#material_material_characteristic").val();

    if (characteristicValue == 'material') {
      $("#material_service_or_contract_type").attr('disabled', true)
                                             .requiredField(false);
      $("#material_material_type").attr('disabled', false)
                                  .requiredField(true);
    } else if (characteristicValue == 'service') {
      $("#material_material_type").attr('disabled', true)
                                  .requiredField(false);
      $("#material_contract_type").attr('disabled', false)
                                             .requiredField(true);
    }
  };

  (function(){
    changeFieldsByCharacteristic();
  })();
</script>
