<div class="yui3-g">
  <div class="yui3-u-1-6">
    <%= f.input :code , :disabled => true %>
  </div>
  <div class="yui3-u-1-3">
    <%= f.input :active, wrapper_html: { class:'mt-checkbox pdl-3' } %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :medicine, wrapper_html: { class:'mt-checkbox' } %>
  </div>
</div>

<%= f.input :autocomplete_material_class, :as => :auto_complete,
            :source_path => material_classes_path(:without_children => true),
            :hidden_field => :material_class_id, :max_results => 20 %>


<%= f.input :description %>

<%= f.input :detailed_description %>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :quantity_unit %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :output_reference_unit %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :reference_unit %>
  </div>
</div>

<div class="describe-m text-center">
  <span class="describe"></span>
</div>

<div class="yui3-g">
  <div class="yui3-u-2-5">
    <%= f.input :manufacturer %>
  </div>
  <div class="yui3-u-2-5">
    <%= f.input :material_classification %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :combustible, wrapper_html:{ class:'mt-checkbox pdl-3' } %>
  </div>
</div>

<%= f.input :split_expense %>

<div class="yui3-g control-amount">
  <div class="yui3-u-1-2">
    <%= f.input :control_amount %>
  </div>
</div>
