<div class="yui3-g">
  <div class="yui3-u-1-6">
    <%= f.input :code , :disabled => true %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :active %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :medicine %>
  </div>
</div>

<%= f.input :autocomplete_material_class, :as => :auto_complete,
            :source_path => material_classes_path(:without_children => true),
            :hidden_field => :material_class_id, :max_results => 20 %>


<%= f.input :description %>

<%= f.input :detailed_description %>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :reference_unit %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :quantity_unit %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :manufacturer %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :material_classification %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :combustible %>
  </div>

</div>

<div class="yui3-g control-amount">
  <div class="yui3-u-1-2">
    <%= f.input :control_amount %>
  </div>
</div>
