<%= f.input :active %>

<%= f.input :autocomplete_materials_class, :as => :auto_complete,
            :source_path => materials_classes_path(:without_children => true),
            :hidden_field => :materials_class_id, :max_results => 20, :min_length => 1 %>


<%= f.input :description %>

<%= f.input :detailed_description %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :reference_unit %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :manufacturer %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :material_type %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :combustible %>
  </div>
</div>

<div class="yui3-g control-amount">
  <div class="yui3-u-1-2">
    <%= f.input :control_amount %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :expense_nature %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :contract_type, :disabled => !f.object.service? %>
  </div>
</div>
