<tr data-value="<%= record.id %>" data-label="<%= record %>" data-type="<%= record.class.to_s %>" data-name="<%= record.name %>" data-id="<%= record.id %>" data-reference-unit="<%= record.reference_unit %>">
  <% attributes.each do |attribute| %>
    <td><%= record.send attribute %></td>
  <% end %>
</tr>
