<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :entity %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :year %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :code %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :date, :disabled => true, :input_html => { :value => f.object.presenter.date } %>
  </div>
</div>

<%= f.input :revenue_nature %>
<%= f.input :revenue_nature_docket, :disabled => true %>
<%= f.input :capability %>

<script>
  $('#revenue_accounting_revenue_nature').on('change', function(event, data){
    if (data) {
      var record = data.record;
      $('#revenue_accounting_revenue_nature_docket').val(record.data('docket'));
    } else {
      $('#revenue_accounting_revenue_nature_docket').val('');
    }
  });
</script>
