<div class="form-row">
  <div class="col-2">
    <%= f.label "Proposta" %>
    <%= f.select(:proposal, options_for_select([["Cadastrar", 'save'], ["Excluir", 'remove']]),{include_blank: ""}, {class: "form-control"}) %>
  </div>
</div>

<div class="form-row">
  <div class="col-2">
    <%= f.label "Numero do Pregão" %>
    <%= f.text_field :process_number, class: 'form-control' %>
  </div>
  <div class="col-2">
    <%= f.label "Numero do Processo" %>
    <%= f.text_field :process_number, class: 'form-control' %>
  </div>
</div>


<div class="mh-400">
  <% @auction.items.each do |item| %>
    <div class="card my-3">
      <div class="card-body">
        <div class="form-row">
          <div class="col-4">
            <%= f.label "Material" %>
            <%= f.text_field :material_id, placeholder: item.material.to_s, class: 'form-control', value: item.material.id, disabled: true %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-3">
            <%= f.label "Preço Unitário" %>
            <%= f.text_field :unit_price, class: 'form-control' %>
          </div>
          <div class="col-3">
            <%= f.label "Preço Global" %>
            <%= f.text_field :global_price, class: 'form-control'%>
          </div>
          <div class="col-3">
            <%= f.label "Fabricante" %>
            <%= f.text_field :manufacturer, class: 'form-control'%>
          </div>
          <div class="col-3">
            <%= f.label "Modelo/Versão" %>
            <%= f.text_field :model_version, class: 'form-control'%>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <%= f.label "Descrição do Objeto" %>
            <%= f.text_area :description_object, class: 'form-control', rows: 2%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div class="form-group">
  <%= f.label "Incluir Documentos Anexos da Proposta" %>
  <%= f.file_field :proposal_file, class:'form-control-file' %>
</div>



<div class="form-group">
  <%= f.label "Incluir Documentos Anexos da Habilitação" %>
  <%= f.file_field :proposal_qualification, class:'form-control-file' %>
</div>


<div id="terms">
  <div class="form-row">
    <div class="col-11">
      <div class="form-check">
        <%= f.check_box(:terms, { class:'form-check-input'}) %>
        <%= f.label " Declaro que estou ciente e concordo
                  com as condições contidas no edital
                  e seus anexos, bem como de que cumpro
                  plenamente os requisitos de habilitação
                  definidos no edital.", class:"form-check-label" %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-11">
      <div class="form-check">
        <%= f.check_box(:impediments, { class:'form-check-input'}) %>
        <%= f.label " Declaro sob as penas da lei, que até a
                    presente data inexistem fatos impeditivos
                    para a minha habilitação no presente processo
                    licitatório, ciente da obrigatoriedade de declarar
                    ocorrências posteriores.", class:"form-check-label" %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-11">
      <div class="form-check">
        <%= f.check_box(:proposal_independent, { class:'form-check-input'}) %>
        <%= f.label " Declaro que a proposta apresentada para essa licitação
                    foi elaborada de maneira independente, de acordo com o
                    que é estabelecido na Instrução Normativa Nº 2 de 16 de
                    setembro de 2009 da SLTI/MP.", class:"form-check-label" %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-11">
      <div class="form-check">
        <%= f.check_box(:slavery, { class:'form-check-input'}) %>
        <%= f.label " Declaro que não possuo, em minha cadeia produtiva, empregados
                    executando trabalho degradante ou forçado, observando o disposto
                    nos incisos III e IV do art.1º e no inciso III do art.5º da
                    Constituição Federal.", class:"form-check-label" %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-11">
      <div class="form-check">
        <%= f.check_box(:pcd, { class:'form-check-input'}) %>
        <%= f.label " Declaro que, conforme disposto no art. 93 da Lei nº 8.213,
                    de 24 de julho de 1991, estou ciente do cumprimento da reserva
                    de cargos prevista em lei para pessoa com deficiência ou para
                    reabilitado da Previdência Social e que, se aplicado ao número
                    de funcionários da minha empresa, atendo às regras de acessibilidade
                    previstas na legislação.", class:"form-check-label" %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-11">
      <div class="form-check">
        <%= f.check_box(:learning_quota, { class:'form-check-input'}) %>
        <%= f.label " Declaro sob as penas da Lei, que cumpro a cota de aprendizagem
                    nos termos estabelecidos no art. 429 da CLT.", class:"form-check-label" %>
      </div>
    </div>
  </div>
</div>


<style>
  .mh-400{
    max-height: 650px;
    overflow:auto
  }
  #terms .form-row{
    margin: 1rem 0 1rem 0;
  }
  #terms{
    text-align: justify;
  }
  input[type=text],input[type=password],textarea{width:100%;}
</style>