<fieldset>
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <%= f.input :moviment_type, :input_html => { :class => 'moviment-type' } %>
  <%= f.input :operation, :as => :hidden, :disabled => true, :input_html => { :class => :operation } %>

  <div class="yui3-g">
    <div class="yui3-u-2-5">
      <%= f.input :budget_allocation, :disabled => f.object.moviment_type_as_capability?, :input_html => { :class => 'budget-allocation' }, :modal_info => true %>
    </div>

    <div class="yui3-u-2-5 capability-field">
      <%= f.input :capability, :disabled => f.object.moviment_type_as_budget_allocation?, :input_html => { :class => 'capability' }, :modal_info => true %>
    </div>

    <div class="yui3-u-1-5">
      <%= f.input :value, :input_html => { :class => :value } %>
    </div>
  </div>

  <p>
    <input type="button" class="button negative remove-extra-credit-moviment-type" value="Remover Movimento">
  </p>
</fieldset>
