<%= f.input :descriptor %>
<%= f.input :description %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :capability_destination %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :tce_specification_capability %>
  </div>
</div>

<%= f.input :goal %>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :kind %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :status, :disabled => f.object.new_record? %>
  </div>
</div>
