<div id="record">
  <table class="records">
    <thead>
      <tr>
        <th>
          <%= resource_class.human_attribute_name :entity %>
        </th>
        <th>
          <%= resource_class.human_attribute_name :year %>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= resource.entity %>
        </td>
        <td>
          <%= resource.year %>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="records">
    <thead>
      <tr>
        <th>
          <%= resource_class.human_attribute_name :description %>
        </th>
        <th>
          <%= resource_class.human_attribute_name :goal %>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= resource.description %>
        </td>
        <td>
          <%= resource.goal %>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="records">
    <thead>
      <tr>
        <th>
          <%= resource_class.human_attribute_name :kind %>
        </th>
        <th>
          <%= resource_class.human_attribute_name :status %>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= resource.kind_humanize %>
        </td>
        <td>
          <%= resource.status_humanize %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
