<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :emission_date, as: :date %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :contract, modal_url: modal_contracts_path(purchase_process_id: f.object.purchase_process_id) %>
  </div>
  <div class="yui3-u-1-2">
    <div>
      <label>Credor</label>
      <input id="pledge_request_creditor_show" class="string" disabled="disabled" type="text">
    </div>
  </div>
  <div class="yui3-u-1-8">
    <div>
      <label>Valor</label>
      <input id="pledge_request_value_show" class="string" disabled="disabled" type="text">
    </div>
  </div>
  <div class="yui3-u-1-8">
    <div>
      <label>Saldo</label>
      <input id="pledge_request_balance_show" class="string" disabled="disabled" type="text">
    </div>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :budget_allocation %>
  </div>
  <div class="yui3-u-1-2">
    <%= f.input :reserve_fund_amount, disabled: true,
                input_html: {value: number_with_precision(f.object.reserve_fund_amount), class: "numeric"} %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :amount, input_html: {value: number_with_precision(f.object.amount)} %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :purchase_process %>
  </div>
  <div class="yui3-u-1-3">
    <%= f.input :purchase_solicitation %>
  </div>
  <div class="yui3-u-1-3">
    <%= f.input :purchase_form %>
  </div>
</div>