<%
  def date_mask(d)
    return d.strftime("%d/%m/%Y") unless d.nil?
  end
%>

<div>
  <table class="records">
    <thead>
    <tr style="text-align: center;">
      <td> GESTÂO FINANCEIRA DE CONTRATO POR FONTE DE RECURSO</td>
    </tr>
    <tr>
      <td> CONTRATO: <%= @contract.to_s %> FORNECEDOR: <%= @contract.creditor %>  VALOR: <%= @contract.contract_value %></td>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div style="text-align: justify">

</div>

<br>



<% @resource_sources.each do |resource_source| %>

  <div style="text-align: justify">
    <span>
      <b> FONTE DE RECURSO: </b> <%= resource_source.to_s %>
    </span>
    <span>
      <b> VALOR FONTE DE RECURSO: </b> <%=  %>
    </span>
  </div>


  <p>
  <% # Peguei os financials de que estão na resource source atraves de expenses %>
  <% @contract.financials.joins(:expense).where(compras_expenses:{resource_source_id: resource_source.id}).each do |financial| %>
    <table class="records">
      <tbody>
        <tr>
          <td><b>SECRETARIA: </b> <%= financial.secretary.to_s %> </td>
        </tr>
        <tr>
          <td><b>ORDEM DE FONECIMENTOS:</b></td>
        </tr>
      <% @contract.supply_orders.joins(purchase_solicitation:[:department]).where(compras_departments:{secretary_id: financial.secretary_id}).each do |supply_order| %>
        <tr>
          <td>SOLICITANTE: <%= supply_order.purchase_solicitation.department.to_s %></td>
          <td>DATA <%= supply_order.authorization_date %></td>
          <td><%= Report::ContractPerResourceSourceHelper.sum_value_items_supply_order(supply_order) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>

  </p>

  <br>
  <br>
  <br>
<% end %>