<%
  def date_mask(d)
    return d.strftime("%d/%m/%Y") unless d.nil?
  end
%>
<table class="records">
  <thead>
    <tr>
      <td colspan="2" class="text-center"> GESTÂO FINANCEIRA DE CONTRATO POR FONTE DE RECURSO</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<% total_contracts = 0 %>
<% @report&.contracts&.each do |contract| %>
  <div style="margin-top: 5px">
    <table class="records">
      <thead>
        <tr>
          <td class="back-blue"> <b>CONTRATO:</b> <%= contract.to_s %> &nbsp;&nbsp; <b>FORNECEDOR:</b> <%= contract.creditor %></td>
          <td class="text-right back-blue"><b>VALOR TOTAL: <%= number_to_currency contract&.financials&.sum(:value) || 0 %> </b></td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <br>

  <% resource_sources = @report.resource_sources(contract) %>

  <% if resource_sources.blank? %>
    <span><b>Não foram encontrados fontes de recurso para esse contrato</b></span>
    <br>
    <br>
    <%  next %>
  <% end %>

  <% total_resource_sources = 0 %>
  <% resource_sources&.each do |resource_source| %>
    <% financials = contract.financials.joins(:expense).where(compras_expenses:{resource_source_id: resource_source.id}) %>
    <div class="box">
      <div class="box-header justify-between">
        <span>
          <b> FONTE DE RECURSO: </b> <%= resource_source.to_s %>
        </span>
          <span>
          <b> VALOR FONTE DE RECURSO: </b> <%= financials&.sum(&:value) %>
        </span>
      </div>
      <% total_resource_source = 0 %>
      <div class="box-body">
        <% financials&.each do |financial| %>
          <table class="records" style="margin-bottom: 10px !important;">
            <thead>
              <tr>
                <th width="40%"><b>SECRETARIA: <%= financial.secretary.to_s %> </b></th>
                <td width="20%"></td>
                <th width="20%" class="text-right"><b>VALOR DO CONTRATO: </b></th>
                <th width="10%"><%= number_to_currency financial.value %></th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td><b>ORDEM DE FONECIMENTOS:</b></td>
            </tr>
            <% sub_total = 0 %>
            <% Report::ContractPerResourceSourceHelper.get_supply_orders(contract, financial).each do |supply_order| %>
              <tr>
                <td>11/11/2011 SOLICITANTE: <%= supply_order.purchase_solicitation.department.to_s %></td>
                <td>DATA <%= date_mask supply_order.authorization_date %></td>
                <td></td>
                <td><%= number_to_currency total_item = Report::ContractPerResourceSourceHelper.sum_value_items_supply_order(supply_order) %></td>
              </tr>
              <% sub_total += total_item %>
            <% end %>
            <tr>
              <td colspan="2"></td>
              <td class="text-right">SUBTOTAL</td>
              <td><%= number_to_currency sub_total %></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="text-right"><b>SALDO</b></td>
              <td><%= number_to_currency financial.value - sub_total %></td>
            </tr>
            <% total_resource_source += financial.value - sub_total %> <%# Provavelmente é uma soma com os valoraes acima %>
            </tbody>
          </table>

        <% end %>
      </div>

      <div class="box-footer ">
        <table class="records">
          <thead>
            <tr>
              <th width="40%"><b>FONTE DE RECURSO: </b> <%= resource_source.to_s %> </td>
              <td width="10%"></td>
              <th width="30%" class="text-right"><b>VALOR TOTAL GASTO POR FONTE DE RECURSO:</b></td>
              <th width="10%"><b><%= number_to_currency total_resource_source %></b></td>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <% total_resource_sources += total_resource_source  %>
  <% end %>
  <br>
  <div class="total text-right">
    <b>TOTAL DE GASTOS DO CONTRATO: <%= number_to_currency total_resource_sources %></b>
  </div>
  <br>
  <br>
  <% total_contracts += total_resource_sources %>
<% end %>

<div class="text-center">
    <b>TOTAL DE GASTOS DOS CONTRATOS: <%= number_to_currency total_contracts %></b>
</div>

<style>
  .total{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
  }
  .text-right{
    text-align: right !important;
  }
  .box{
    border: 1px solid black;

  }
  .box-header{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.08);
    border-bottom: 1px solid
  }

  .box-body{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
  }

  .box-footer{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.08);
    border-top: 1px solid
  }

  table, tbody, tfoot, thead, tr, th, td  {
    border-collapse: collapse !important;
    background: transparent !important;
    border: 0 !important;
  }

 .justify-between{
   display: flex;
   justify-content: space-between;
 }
  table.records{
    margin-bottom: 0 !important;
  }
  .back-blue{
    background-color: #d9e2f3 !important;
  }
</style>