<%= f.input :description %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :capability_source %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :capability_source_specification, :disabled => true %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :application_code %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :application_code_specification, :disabled => true %>
  </div>
</div>
