<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :id, :disabled => true %>
  </div>
</div>

<%= f.input :description %>
<%= f.input :capability_source %>
<%= f.input :capability_source_specification, :disabled => true %>
<%= f.input :application_code %>
<%= f.input :application_code_specification, :disabled => true %>
