<div class="buttons">
  <%= f.object.decorator.proposals_link %>
  <%= f.object.decorator.count_link %>
  <%= price_collection_annul_link %>
  <% unless f.object.annulled? %>
    <%= f.button :submit %>
  <% end %>
  <%= f.button :cancel %>
</div>
