<div class="buttons">
  <%= count_link %>
  <%= proposals_link %>

  <% if can?(:modify, main_controller_name) %>
    <%= f.button :submit, 'Apurar' if f.object.persisted? %>
    <%= f.button :submit, 'data-disabled' => f.object.decorator.is_annulled_message %>
  <% end %>

  <%= annul_link(:param_name => 'price_collection_id') %>
  <%= f.button :back %>
</div>
