<div class="buttons">
  <%= f.object.decorator.proposals_link %>
  <%= f.object.decorator.count_link %>
  <%= annul_link(:param_name => 'price_collection_id') %>
  <%= f.button :submit unless f.object.annulled? %>
  <%= f.button :cancel %>
</div>
