<table class="records">
  <thead>
    <tr>
      <th><%= "Número da #{I18n.t('activerecord.models.price_collection.one')}" %></th>
      <th><%= "Número da #{I18n.t('activerecord.models.purchase_solicitation.one')}" %></th>
      <th><%= "#{I18n.t('activerecord.models.department.one')} da #{I18n.t('activerecord.models.purchase_solicitation.one')}" %></th>
      <th><%= resource_class.human_attribute_name :status %></th>
    </tr>
  </thead>

  <tbody>
    <% collection.each do |resource| %>
      <tr id="<%= dom_id resource %>">
        <% resource_class.decorator.header_attributes.each do |field| %>
          <td>
            <% if resource_class.decorator.link?(field) %>
              <%= link_to(formatted_attribute(resource.decorator, field), edit_resource_path(resource)) %>
            <% else %>
              <%= formatted_attribute(resource.decorator, field) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
