<%= f.error :price_collection_lots %>

<div id="price-collection-lots">
  <%= f.association :price_collection_lots, :collection => localized(f.object.price_collection_lots) do |p| %>
    <%= render 'price_collection_lots/form', :f => p %>
  <% end %>

  <%= mustache 'price-collection-lots-template' do %>
    <%= f.association :price_collection_lots_attributes, :collection => f.object.price_collection_lots.build, :index => '{{uuid_price_collection_lot}}' do |p| %>
      <%= render 'price_collection_lots/form', :f => p %>
    <% end %>
  <% end %>
</div>

<input type="button" class="button affirmative add-price-collection-lot" value="Adicionar Lote">

<script>
  $("#price-collection-lots-template").nestedForm({
    add: '.add-price-collection-lot',
    remove: '.remove-price-collection-lot',
    target: '#price-collection-lots',
    fieldToRemove: '.price-collection-lot',
    uuid: 'uuid_price_collection_lot',
    appendItem: true
  });
</script>
