<% classification.items.each do |item| %>
  <tr class="<%= "classification-#{classification.classification}-#{index}" %>">
    <td><%= item.description %></td>
    <td><%= item.reference_unit %></td>
    <td><%= item.brand %></td>
    <td align="right"><%= item.quantity %></td>
    <td align="right"><%= item.decorator.unit_price_by_proposal(classification.price_collection_proposal) %></td>
    <td align="right"><%= item.decorator.total_value_by_proposal(classification.price_collection_proposal) %></td>
    <td><%= classification.decorator.classification %></td>
  </tr>
<% end %>
