<% classification.items.each do |item| %>
  <tr class="<%= "classification-#{classification.classification}-#{index}" %>">
    <td><%= item.description %></td>
    <td><%= item.reference_unit %></td>
    <td><%= item.brand %></td>
    <td align="right"><%= item.quantity %></td>
    <td align="right"><%= item.decorator.unit_price_by_price_collection_and_creditor(resource, classification.creditor) %></td>
    <td align="right"><%= item.decorator.total_value_by_price_collection_and_creditor(resource, classification.creditor) %></td>
    <td><%= classification.decorator.winner %></td>
  </tr>
<% end %>
