<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :code, :disabled => true %>
  </div>

  <div class="yui3-u-1-8">
    <%= f.input :year, :disabled => f.object.annulled? %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :date, :disabled => f.object.annulled? %>
  </div>
</div>

<%= f.input :status, :disabled => f.object.new_record? || f.object.annulled? %>
<%= f.input :type_of_calculation, :disabled => f.object.annulled? %>
<%= f.input :delivery_location, :disabled => f.object.annulled? %>
<%= f.input :employee, :disabled => f.object.annulled? %>

<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :payment_method, :disabled => f.object.annulled? %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :expiration, :disabled => f.object.annulled? %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-5">
    <%= f.input :period, :disabled => f.object.annulled? %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :period_unit, :disabled => f.object.annulled? %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-5">
    <%= f.input :proposal_validity, :disabled => f.object.annulled? %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :proposal_validity_unit, :disabled => f.object.annulled? %>
  </div>
</div>

<%= f.input :object_description, :disabled => f.object.annulled? %>
<%= f.input :observations, :disabled => f.object.annulled? %>
