<div class="row">
  <div class="col">
    <%= button_tag 'Cadastrar Proposta', type: :button,
                   class: "button", id: "add-proposal" %>

    <%= button_tag 'Cancelar', type: :button,
                   class: "button", id: "cancel-proposal" %>
  </div>
</div>

<div id="proposal-fields">

<% if f.object.price_collection_proposals.any?{|x| x.errors.messages.present?}  %>
  <script>
    $(function(){
      showProprosal()
    })
  </script>
  <%= f.simple_fields_for :price_collection_proposals,  f.object.price_collection_proposals.select{|x| x.errors.messages.present?} do |r| %>
    <%= render 'price_collection_proposals/form', :f => r %>
  <% end %>
<% end %>
</div>


<table id="proposals-records" class="records">
  <thead>
  <tr>
    <% PriceCollectionProposal.decorator.header_attributes.each do |field| %>
      <th><%= PriceCollectionProposal.human_attribute_name field %></th>
    <% end %>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% f.object.price_collection_proposals.each do |resource| %>
    <tr id="<%= dom_id resource %>">
      <% PriceCollectionProposal.decorator.header_attributes.each do |field| %>
        <td>
          <%= formatted_attribute(resource.decorator, field) %>
        </td>
      <% end %>
      <td><%= resource.decorator.won_lots f.object, resource%></td>
      <td><%= link_to 'Visualizar', '#', class: 'button edit-proposal', 'data-url': edit_proposal_price_collection_path(f.object.id, price_collection_proposal_id: resource.id) %></td>
      <td><%= annul_link(:resource => resource, :annul_controller_name => 'price_collection_proposal_annuls') %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<%= mustache 'proposals-template' do %>
  <%= f.simple_fields_for :price_collection_proposals, generate_proposal_items(f.object) do |r| %>
    <%= render 'price_collection_proposals/form', :f => r %>
  <% end %>
<% end %>

<style>
  #cancel-proposal{
    display: none;
    float: right;
  }
</style>