<div class="yui3-g nested provider_collection_proposal">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>
  <%= f.input :status, :as => 'hidden' %>

  <div class="yui3-u-1-3 provider-modal">
    <%= f.input :provider, :input_html => { :class => 'provider' }, :disabled => f.object.persisted? %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :email, :disabled => f.object.persisted? %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :login, :disabled => f.object.persisted?, :input_html => { :class => 'login' } %>
  </div>

  <p class="yui3-u">
    <input type="button" class="button negative remove-provider" value="Remover Fornecedor">
  </p>
</div>
