<p>
  <input type="button" class="button affirmative add-provider" value="Adicionar Fornecedor">
</p>

<div id="providers-list">
  <%= f.association :price_collection_proposals, :collection => localized(f.object.price_collection_proposals) do |p| %>
    <%= render 'providers_form', :f => p %>
  <% end %>
</div>

<%= mustache "#{f.sanitized_object_name}_providers_template" do %>
  <%= f.association :price_collection_proposals_attributes, :collection => f.object.price_collection_proposals.build(:status => PriceCollectionStatus::ACTIVE), :index => '{{uuid_provider}}' do |p| %>
    <%= render 'providers_form', :f => p %>
  <% end %>
<% end %>

<script>
  $("#<%= f.sanitized_object_name %>_providers_template").nestedForm({
    add: '.add-provider',
    remove: '.remove-provider',
    target: '#providers-list',
    uuid: 'uuid_provider',
    fieldToRemove: '.provider_collection_proposal',
    appendItem: false
  });

  $('form.price_collection').on('change', '.provider', function (event, provider) {
    if(provider){
      var inputs = $(this).closest('.provider').find(':input');
      $(inputs[1]).val(provider.email);
      $(inputs[2]).val(provider.login);
    }
  });
</script>
