<fieldset class="licitation-process-budget-allocation contrasted">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <%= f.input :budget_allocation, :input_html => { :size => 40, :class => 'budget-allocation' } %>

  <div class="yui3-g">
    <div class="yui3-u-1-4">
      <%= f.input :expense_economic_classification, :disabled => true, :input_html => { :class => 'classification' } %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :amount, :disabled => true, :input_html => { :class => 'amount', :value => number_with_precision(f.object.amount) } %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :estimated_value %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :pledge_type %>
    </div>
  </div>

  <div id="items-<%= f.nested_identifier %>">
    <%= f.association :items, :collection => localized(f.object.items) do |p| %>
      <%= render 'licitation_process_budget_allocation_items/form', :f => p %>
    <% end %>
  </div>

  <%= mustache "items-template-#{f.nested_identifier}" do %>
    <%= f.association :items_attributes, :collection => f.object.items.build, :index => '{{uuid_item}}' do |item| %>
      <%= render 'licitation_process_budget_allocation_items/form', :f => item %>
    <% end %>
  <% end %>

  <div class="nested-remove">
    <input type="button" class="button affirmative add-item-<%= f.nested_identifier %>" value="Adicionar Item">
  </div>

  <div class="nested-remove">
    <input type="button" class="button negative remove-licitation-process-budget-allocation" value="Remover Dotação">
  </div>
</fieldset>

<script>
  $("#items-template-<%= f.nested_identifier %>").nestedForm({
    add: ".add-item-<%= f.nested_identifier %>",
    remove: ".remove-item",
    target: "#items-<%= f.nested_identifier %>",
    fieldToRemove: '.item',
    uuid: "uuid_item"
  });
</script>
