<fieldset class="licitation-process-budget-allocation contrasted">
  <%= f.input :id, :as => 'hidden', :input_html => { :value => f.object.decorator.id_or_mustache_variable } %>
  <%= f.input :budget_allocation_id, :as => 'hidden', :input_html => { :value => f.object.decorator.budget_allocation_id_or_mustache_variable } %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <%= f.input :budget_allocation_description, :disabled => true, :input_html => { :size => 40, :value =>  f.object.decorator.budget_allocation_or_mustache_variable} %>

  <div class="yui3-g">
    <div class="yui3-u-1-4">
      <%= f.input :budget_allocation_expense_nature, :disabled => true, :input_html => { :value => f.object.decorator.budget_allocation_expense_nature_or_mustache_variable } %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :budget_allocation_amount, :disabled => true, :input_html => { :value => f.object.decorator.budget_allocation_amount_or_mustache_variable } %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :value, :disabled => true, :required => false, :input_html => { :value => f.object.decorator.value_or_mustache_variable } %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :total_items_value, :disabled => true, :input_html => { :class => 'total-value', :value => f.object.decorator.total_items_value } %>
    </div>
  </div>

  <div class="nested-remove">
    <input type="button" class="button affirmative add-item-<%= f.nested_identifier %> add-licitation-process-budget-allocation" value="Adicionar Item">
  </div>

  <div id="items-<%= f.nested_identifier %>">
    <%= f.association :items, :collection => localized(f.object.items) do |p| %>
      <%= render 'licitation_process_budget_allocation_items/form', :f => p %>
    <% end %>
  </div>

  <%= mustache "items-template-#{f.nested_identifier}" do %>
    <%= f.association :items_attributes, :collection => f.object.items.build, :index => '{{uuid_item}}' do |item| %>
      <%= render 'licitation_process_budget_allocation_items/form', :f => item %>
    <% end %>
  <% end %>
</fieldset>

<script>
  $("#items-template-<%= f.nested_identifier %>").nestedForm({
    add: ".add-item-<%= f.nested_identifier %>",
    remove: ".remove-item",
    target: "#items-<%= f.nested_identifier %>",
    fieldToRemove: '.item',
    uuid: "uuid_item",
    appendItem: false
  });
</script>
