<%= f.input :contract_id, :as => :hidden %>

<div class="yui3-g">
  <div class="yui3-u-1-8">
    <%= f.input :sequence, :disabled => true %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :occurrence_contractual_historic_type %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :occurrence_contractual_historic_change %>
  </div>

  <div class="yui3-u-1-6">
    <%= f.input :occurrence_date %>
  </div>
</div>

<%= f.input :observations %>
