

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h5>CHAT DE CONVERSA</h5>
    </div>
  </div>
  <div class="row">
    <div class="message-wrap col mb-4">
      <div class="msg-wrap">
        <% @messages.each do |message| %>
          <%= render 'auction/messages/messages', message: message %>
        <% end.empty? and begin %>
          <div class="alert alert-info msg-date">
            <strong>Nenhuma Conversa Disponivel</strong>
          </div>
        <% end %>
      </div>

      <% if @auction.chat_activated == true %>
        <div class="send-wrap ">
          <%= form_for([@conversation, @message], url: auction_conversation_messages_path(@conversation, @message), :remote => true, format: :json, :html => {id: "conversation_form"}) do |f| %>
            <%= f.text_area :body,
                            class:"chatboxtextarea form-control send-message",
                            rows: 3,
                            placeholder: "Escreva uma mensagem", "
                          data-cid" => @conversation.id %>

            </div>
          <% end %>
          <div class="btn-panel">
            <button class="btn send-message-btn pull-right submit-message-btn" type="button">
              <i class="fa fa-plus"></i> Enviar Mensagem
            </button>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(".submit-message-btn").click(function(){
    $("#conversation_form").submit();
    $(".chatboxtextarea").val('')
  });

  var chatbox = $(".msg-wrap");

  var template = ("<%= j render( partial: 'auction/messages/messages', locals:{ message: nil } ) %>");


  var channel, pusher;

  pusher = new Pusher('<%=ENV['PUSHER_KEY'] || '71f4bfd7cbf022661e17' %>', {
    cluster: '<%=ENV['PUSHER_CLUSTER'] || 'us2'%>',
    encrypted: true
  });

  channel = pusher.subscribe('chat');

  channel.bind('new-chat', function(data) {
    chatbox.append(mustache(template, data));
    chatbox.scrollTop(chatbox.prop("scrollHeight"));
  });
</script>



