<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :judgment_start_date %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :judgment_start_time %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :judgment_end_date %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :judgment_end_time %>
  </div>
</div>

<%= f.input :companies_minutes %>
<%= f.input :companies_documentation_minutes %>
<%= f.input :justification_minutes %>
<%= f.input :judgment_minutes %>
