<%= f.input :name %>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :initial %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :beginning_interval %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :end_of_interval %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :final %>
  </div>
</div>
