<%= f.input :licitation_process_id, as: :hidden %>
<div class="yui3-g">
  <div class="yui3-u-1-4" id="total_value">
    <%= f.input :creditor_proposal_total_value, disabled: true,
      input_html: { value: "#{f.object.unit_price}", class: :numeric } %>
  </div>

  <div class="yui3-u-1-4" id="difference_value">
    <%= f.input :difference_price, disabled: true, input_html: { value: "#{f.object.unit_price}", class: :numeric } %>
  </div>
</div>

<%= f.association :realigment_prices do |r| %>
  <div class="nested nested-realignment_prices <%= r.object.item.description.parameterize %>">
    <div class="yui3-g">
      <div class="yui3-u-1-4">
        <%= r.input :item, disabled: true %>
      </div>

      <div class="yui3-u-1-4">
        <%= r.input :brand %>
      </div>

      <div class="yui3-u-1-4 quantity">
        <%= r.input :quantity, input_html: { class: 'quantity'} %>
      </div>

      <div class="yui3-u-1-4 price">
        <%= r.input :price, input_html: { value: r.object.decorator.price_with_precision } %>
      </div>
    </div>

    <div class="yui3-g">
      <div class="yui3-u-1-2">
        <%= r.input :delivery_date, input_html: { value: r.object.localized.delivery_date } %>
      </div>
    </div>
  </div>
<% end %>

<script>

calculated_difference_price();

function calculated_difference_price(){
  var totalValueInput      = $("div#total_value").find('input'),
      differenceValueInput = $("div#difference_value").find('input'),
      totalPriceInputs     = $("div.price"),
      totalDifferenceValue = 0;

  totalPriceInputs.each(function() {
    quantity = $(this).prev('.quantity').find('input').val();
    totalDifferenceValue += parsePtBrFloat($(this).find('input').val()) * quantity;
  });

  totalValue = parsePtBrFloat(totalValueInput.val());
  differenceValue = totalValue - totalDifferenceValue;
  differenceValueInput.val(numberWithDelimiter(differenceValue));
}

$("div.price").on('keyup', function(){
  calculated_difference_price();
});
</script>
