<div id="purchase_solicitation_objects">

  <div class="nested-fields add-margin-bottom">
    <%= hidden_field_tag :purchase_solicitation_object_id, nil, :name => 'purchase_solicitation_objects[id]' %>

    <div class="yui3-g">
      <div class="yui3-u-2-5">
        <%= f.input :purchase_soliciation, :as => :auto_complete, :fake => true,
                    'data-hidden-field-class' => 'unique',
                    :source_path => purchase_solicitations_path,
                    :required => true%>
      </div>
      <div class="yui3-u-2-5">
        <%= f.input :department, :as => :fake, :required => true, readonly: true %>
      </div>
      <div class="yui3-u-1-5">
        <%= button_tag 'Adicionar', type: :button,
                       :class => 'button add-nested-record field-without-label',
                       'data-template' => 'purchase_solicitation_objects_template',
                       'data-records' => 'items-records',
                       'data-disabled' => not_updateable_message %>
      </div>
    </div>


  </div>

  <%= f.error :purchase_solicitation_objects %>

  <table id="items-records" class="records">
    <thead>
    <tr>
      <th><%= PurchaseSolicitation.human_attribute_name :code %></th>
      <th><%= PurchaseSolicitation.human_attribute_name :department %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= f.association :purchase_solicitation_objects, :collection => localized(f.object.purchase_solicitation_objects) do |p| %>
      <%= render 'purchase_solicitation_objects/nested_grid_row',
                 id: p.object.id,
                 code: p.object.purchase_solicitation.code,
                 department: p.object.purchase_solicitation.department,
                 object_id: f.object.id,
                 purchase_solicitation_id: f.object.purchase_solicitation_id,
                 f: p %>
    <% end %>
    </tbody>
  </table>

  <%= mustache "purchase_solicitation_objects_template" do %>
    <%= f.association :purchase_solicitation_objects_attributes, :collection => f.object.purchase_solicitation_objects.build, :index => '{{uuid}}' do |p| %>
      <%= render 'purchase_solicitation_objects/nested_grid_row',
                 id: '{{id}}',
                 code: '{{code}}',
                 department: '{{department}}',
                 object_id: '{{object_id}}',
                 purchase_solicitation_id: "{{purchase_solicitation_id}}",
                 f: p %>
    <% end %>
  <% end %>
</div>