<%= f.fields_for :contract_validations, ContractValidation.new do |r|  %>
  <%= r.input :contract_id, as: 'hidden', input_html:{name:'contract_validation[contract_id]'} %>
  <%= r.input :id, as: 'hidden', input_html:{name:'contract_validation[id]'} %>

  <div class="row">
    <div class="col">

      <%= r.input :blocked, collection: [["Liberado", false], ["Bloqueado", true]], input_html:{name:'contract_validation[blocked]'} %>
    </div>

    <div class="col-2">
      <%= r.input :date, :disabled => r.object.persisted?, input_html:{name:'contract_validation[date]'} %>
    </div>

    <div class="col-7">
      <%= r.input :responsible, :disabled => r.object.persisted?, input_html:{name:'contract_validation[responsible]'},
                  hidden_field: 'responsible_id', fake: true%>
    </div>
  </div>

  <div class="yui3-g">
    <div class="yui3-u-7-8">
      <%= r.input :observation, :disabled => r.object.persisted?, input_html:{name:'contract_validation[observation]'} %>
    </div>

    <div class="yui3-u-1-8">
      <%= button_tag 'Adicionar', type: :button, style: 'margin-top: 38px',
                     class: 'button add-nested-record field-without-label add-margin-bottom',
                     'data-template' => "contract_validations_template",
                     'data-records' => "contract_validations_records",
                     id: "contract_validations_button" %>
    </div>
  </div>

<% end %>
