<%= hidden_field_tag :trading_item, trading_item.id %>

<%= f.simple_fields_for :trading do |tr| %>
  <% tr.object_name = 'explanation_form' %>
  <div class="yui3-g ">
    <div class="yui3-u-1-8">
      <%= tr.input :lowest_bid, as: :fake, input_html:{value: trading_item.decorator.lowest_bid_or_proposal_amount, disabled: true } %>
    </div>
    <div class="yui3-u-1-4" style="width: 30%">
      <%= tr.input :lowest_bid_creditor, as: :fake, input_html:{value: trading_item.lowest_bid_or_proposal_accreditation_creditor, disabled: true } %>
    </div>
    <div class="yui3-u-1-5">
      <%= tr.input :reduction_rate_value, as: :fake,input_html:{value: trading_item.decorator.reduction_rate_value, class: 'string decimal', 'data-decimal' => true } %>
    </div>
    <div class="yui3-u-1-5">
      <%= tr.input :reduction_rate_percent, as: :fake,input_html:{value: trading_item.decorator.reduction_rate_percent, class: 'string decimal', 'data-decimal' => true } %>
    </div>

    <div class="yui3-u-1-12 field-without-label">
      <%= button_tag 'Gravar Decréscimo', type: :button, class: 'button primary reduction_button small-button',
                     'data-item': trading_item.id %>
    </div>

    <div class="yui3-u-1-12 field-without-label">
      <%= link_to 'Desempate Fictício', new_purchase_process_trading_item_bid_benefited_path(item_id: trading_item.id),
                  'data-url' => new_purchase_process_trading_item_bid_benefited_path,
                  id: 'benefited_bid', class: 'button primary small-button', 'data-disabled' => trading_item.decorator.benefited_bid_message %>
    </div>
  </div>

  <hr>
  <div class="yui3-g" style="margin-top: 12px;">
    <div class="yui3-u-1">
      <%= tr.input :accreditation_creditor, as: :fake_select, collection: accreditation_creditors,
                  include_blank: false, input_html:{class:'select', 'data-trading-item': trading_item.id} %>
    </div>
  </div>
<% end %>

<%if accreditation_creditors.any? %>
  <div style="font-size: 15px; margin-bottom: 15px;">
    <b>*Para encerrar a fase de lances do Item/Lote é necessario que todos os outros fornecedores saim da disputa.</b>
  </div>

  <div class="trading-fields">
    <%= f.simple_fields_for :trading do |trading| %>
      <%= render 'purchase_process_trading_items/nested_fields', f: trading, trading_item: trading_item,
                 accreditation_creditor: accreditation_creditors.first,  accreditation_creditor_total: accreditation_creditors.count %>
    <% end %>
  </div>
<% end %>

<style>
  .nested-bids{
    background-color: #908f8f0f;
    padding: 10px;
    box-shadow: 6px 7px 9px -7px black;
    margin-bottom: 10px;
  }

  .nested-bids .input{
    margin-bottom: 0 !important;
  }
</style>
