<!--<h3 id="item_title"></h3>-->

<!--<div id="errors_dialog" title="O formulário contém erros" class="simple_form">-->
<!--  <p>Foram encontrados os seguintes erros no formulário:</p>-->

<!--  <ul id="errors_content"></ul>-->

  <%#= mustache 'error_template' do %>
<!--    <li class="error">{{error}}</li>-->
  <%# end %>

<!--  <div class="buttons">-->
    <%#= button_tag 'Ok', type: :button, id: 'close_error_dialog', class: 'button' %>
<!--  </div>-->
<!--</div>-->


<%= f.simple_fields_for :trading do |trading| %>
  <%= trading.simple_fields_for :items, trading.object.items.by_item_or_lot(item_or_lot) do |item| %> <%#PRESTAR TENÇÃO AQUI QUANDO FOR POR ITENS %>
    <div id="bids">

      <%= item.simple_fields_for :bids do |bid| %>
        <%= render 'purchase_process_trading_item_bids/form', f: bid%>
      <% end %>

      <div class="links">
        <%= link_to_add_association item, :bids, partial: 'purchase_process_trading_item_bids/form',
            class: 'button primary' do %>Adicionar<% end %>
      </div>
    </div>
  <% end %>
<% end %>


<style>
  .nested_form{
    background-color: #d3d3d373;
    padding: 10px;
    box-shadow: 6px 7px 9px -7px black;
    margin-bottom: 10px;
  }
</style>
