<!--<h3 id="item_title"></h3>-->

<!--<div id="errors_dialog" title="O formulário contém erros" class="simple_form">-->
<!--  <p>Foram encontrados os seguintes erros no formulário:</p>-->

<!--  <ul id="errors_content"></ul>-->

  <%#= mustache 'error_template' do %>
<!--    <li class="error">{{error}}</li>-->
  <%# end %>

<!--  <div class="buttons">-->
    <%#= button_tag 'Ok', type: :button, id: 'close_error_dialog', class: 'button' %>
<!--  </div>-->
<!--</div>-->
<!--<div class="yui3-u-1-8 field-without-label">-->
  <%#= button_tag 'Gravar lance', type: :button, class: 'button primary', id: 'make_bid', 'data-disabled' => make_bid_disabled_message(next_bid) %>
<!--</div>-->



<!--<div class="yui3-u-1-12 field-without-label">-->
  <%#= button_tag 'Desfazer', type: :button, class: 'button negative', id: 'undo_bid', 'data-disabled' => undo_bid_disabled_message(historic) %>
<!--</div>-->



<%= hidden_field_tag :trading_item, trading_item.id %>

<div class="yui3-g">
  <div class="yui3-u-1">
    <%= f.input :accreditation_creditor, as: :fake_select, collection: accreditation_creditors,
                include_blank: false, input_html:{class:'select', 'data-trading-item': trading_item} %>
  </div>
</div>

<div class="trading-fields">
  <%= f.simple_fields_for :trading do |trading| %>
    <%= render 'purchase_process_trading_items/nested_fields', f: trading, trading_item: trading_item, accreditation_creditor: accreditation_creditors.first %>
  <% end %>
</div>

<div class="text-center">
  <% if accreditation_creditors&.count == 1 %>
    <div class="yui3-u-1-7 field-without-label">
      <%= button_tag 'Encerrar', type: :button, class: 'button primary',
                     'data-item': trading_item.id,
                     id: 'finish_bid'%>
    </div>
  <% else %>
    <div class="yui3-u-1-7 field-without-label">
      <%= button_tag 'Sair da Disputa', type: :button, class: 'button primary ',
                     'data-item': trading_item.id,
                     id: 'finish_dispute'%>
    </div>
  <% end %>
</div>
<%= f.object.errors.full_messages %>

<style>
  .nested-fields{
    background-color: #908f8f0f;
    padding: 10px;
    box-shadow: 6px 7px 9px -7px black;
    margin-bottom: 10px;
  }

  .nested-fields .input{
    margin-bottom: 0 !important;
  }
</style>
