<div class="title-section">Empresas Credenciadas:</div>

<table id="accreditation_creditors" class="records">
  <thead>
    <th>Fornecedor</th>
    <th>Lote</th>
    <th>Valor do Lote</th>
    <th>% Proposta Vencedora</th>
    <th>Habilitado</th>
    <th>Status</th>
  </thead>

  <tbody>

  <% if creditors.blank? %>
    <tr>
      <td colspan="6">
        <%= t "purchase_process_trading.messages.no_creditor_registered_or_disqualifeid" %>
      </td>
    </tr>
  <% end %>

  <% order_creditor(creditors, item).each_with_index do |accreditation_creditor, index| %>
    <% resource.proposals_of_creditor(accreditation_creditor.creditor).each do |proposal| %>
      <%= render 'purchase_process_tradings/creditors_row',
          creditor: accreditation_creditor,
          lot_or_item: proposal.item || proposal.lot,
          unit_price: number_to_currency(proposal.unit_price),
          percent: '-',
          selected: accreditation_creditor.decorator.selected?(trading.purchase_process_id, item.item_or_lot),
          not_selected_class: accreditation_creditor.decorator.not_selected_class(trading.purchase_process_id, item.item_or_lot),
          status: get_creditor_status(item, accreditation_creditor, historic) %>
    <% end %>
    <tr>
      <td colspan="4"></td>
      <td>
        <b>Valor Total da Proposta: </b>
      </td>
      <td>
        <b>
          <%= number_to_currency resource.proposals_total_price(accreditation_creditor.creditor)%>
        </b>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= mustache 'accreditation_creditors_template' do %>
  <%= render 'purchase_process_tradings/creditors_row',
    order: '{{order}}',
    creditor: '{{creditor}}',
    lot_or_item: '{{lot_or_item}}',
    unit_price: '{{unit_price}}',
    amount: '{{amount}}',
    percent: '{{percent}}',
    selected: '{{selected}}',
    not_selected_class: '{{not_selected_class}}',
    status: '{{status}}'%>
<% end %>
