<tr class="<%= not_selected_class %> <%= status.eql?('Vencedor') ? 'winner' : '' %>">
  <td><%= creditor %></td>
  <td><%= lot_or_item %></td>
  <td><%= unit_price %></td>
  <td><%= percent %></td>
  <td><%= selected %></td>
  <td class="creditor-status"><%= status %></td>
</tr>
