<tr class="<%= not_selected_class %>">
  <td><%= order %></td>
  <td><%= creditor %></td>
  <td><%= lot_or_item %></td>
  <td><%= unit_price %></td>
  <td><%= amount %></td>
  <td><%= percent %></td>
  <td><%= selected %></td>
  <td class="creditor-status"><%= status %></td>
</tr>
