<tr class="<%= not_selected_class %>">
  <td><%= order %></td>
  <td><%= creditor %></td>
  <td><%= company_size %></td>
  <td><%= amount %></td>
  <td><%= percent %></td>
  <td><%= selected %></td>
  <td><%= status %></td>
</tr>
