<tr>
  <td><%= round %></td>
  <td><%= number %></td>
  <td><%= lot %></td>

  <% if trading.item? %>
    <td><%= item %></td>
  <% end %>

  <td><%= creditor %></td>
  <td><%= creditor_company_size %></td>
  <td><%= status %></td>
  <td><%= amount %></td>
  <td><%= percent %></td>
</tr>
