<tr>
  <td><%= round %></td>
  <td><%= number %></td>
  <td><%= lot %></td>
  <td><%= item %></td>
  <td><%= creditor %></td>
  <td><%= creditor_company_size %></td>
  <td><%= status %></td>
  <td><%= amount %></td>
  <td><%= percent %></td>
</tr>
