<table id="historic" class="records">
  <thead>
    <th><%= PurchaseProcessTradingItemBid.human_attribute_name :round %></th>
    <th><%= PurchaseProcessTradingItemBid.human_attribute_name :number %></th>
    <th><%= PurchaseProcessTradingItemBid.human_attribute_name :item_lot %></th>

    <% if trading.item? %>
        <th><%= PurchaseProcessTradingItemBid.human_attribute_name :item %></th>
    <% end %>

    <th><%= PurchaseProcessTradingItemBid.human_attribute_name :accreditation_creditor %></th>
    <th><%= PurchaseProcessTradingItemBid.human_attribute_name :accreditation_creditor_company_size %></th>
    <th><%= PurchaseProcessTradingItemBid.human_attribute_name :status %></th>
    <th><%= PurchaseProcessTradingItemBid.human_attribute_name :amount %></th>
    <th><%= PurchaseProcessTradingItemBid.human_attribute_name :percent %></th>
  </thead>

  <tbody>
    <% historic.each do |bid| %>
      <%= render 'purchase_process_tradings/historic_row',
        number:                 bid.number,
        round:                  bid.round,
        lot:                    bid.decorator.lot,
        item:                   bid.item,
        creditor:               bid.accreditation_creditor,
        creditor_company_size:  bid.accreditation_creditor.company_size,
        status:                 bid.status_humanize,
        amount:                 number_with_precision(bid.amount),
        percent:                bid.decorator.percent,
        trading:                trading%>
    <% end %>
  </tbody>
</table>

<%= mustache 'historic_template' do %>
  <%= render 'purchase_process_tradings/historic_row',
    number:                 '{{number}}',
    round:                  '{{round}}',
    lot:                    '{{lot}}',
    item:                   '{{item}}',
    creditor:               '{{accreditation_creditor}}',
    creditor_company_size:  '{{creditor_company_size}}',
    status:                 '{{status}}',
    amount:                 '{{amount}}',
    percent:                '{{percent}}',
    trading:                trading%>
<% end %>
