<tr id="item-<%= item.id %>">
  <td class="lot"><%= item.item_lot %></td>
  <td><%= item %></td>
  <td><%= item.decorator.lowest_proposal_amount %></td>
  <td><%= item.decorator.lowest_proposal_creditor %></td>
  <td class="bid_amount"><%= item.decorator.lowest_bid_amount %></td>
  <td class="bid_creditor"><%= item.decorator.lowest_bid_creditor %></td>
  <td class="status"><%= item.status_humanize %></td>
</tr>
