<div class="row">
  <div class="col-sm-4">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Propostas e Declarações</h5>
        <p class="card-text">Apresentar ou consultar proposta e declarações.</p>
      </div>
      <a href="<%= proposal_path(resource) %>" class="card-link">
        <div class="card-footer text-muted">
          Clique Aqui
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Lances</h5>
        <p class="card-text">Apresentar lance.</p>
      </div>
      <a href="<%=new_auction_bids_path(auction_id: resource) %>" class="card-link">
        <div class="card-footer text-muted">
          Clique Aqui
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Intenção de Recurso</h5>
        <p class="card-text">Registrar, decidir e acompanhar recurso.</p>
        <%= "<p style='color: darkorange; font-weight: bolder'>* Pregão com Intenção de Recurso</p>".html_safe if resource.appeal %>
      </div>
      <%= link_to_appeals  do%>
        <div class="card-footer text-muted">
          Clique Aqui
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Julgar Proposta / Juízo de Admissibilidade</h5>
        <p class="card-text">Julgar proposta ou juízo de admissibilidade.</p>
      </div>
      <a href="#" class="card-link">
        <div class="card-footer text-muted">
          Clique Aqui
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Encerrar Sessão / Reiniciar Sessão</h5>
        <br/>
        
        <p class="card-text">Encerrar seção / Reiniciar Sessão</p>
      </div>
      <a href="#" class="card-link" id="end-restart-dispute">
        <div class="card-footer text-muted">
          Clique Aqui
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Suspender Pregão</h5>
        <br/>
        <span style="color: red">
          <%= resource.decorator.auction_suspension_message %>
        </span>
      </div>
      <%= link_to_suspension  do%>
        <div class="card-footer text-muted">
          Clique Aqui
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
      
        <h5 class="card-title">Adjudicar</h5>
        <br/>
        <p class="card-text">Adjudicar.</p>
      </div>
      <a href="#" class="card-link">
        <div class="card-footer text-muted">
          Clique Aqui
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Impugnações / Esclarecimentos / Avisos</h5>
        <p class="card-text">Visualizar impugnações, esclarecimentos e avisos.</p>
      </div>
      <a href="#" class="card-link">
        <div class="card-footer text-muted">
          Clique Aqui
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Registro de Atas</h5>
        <br/>
        <p class="card-text">Registrar e visualizar atas.</p>
      </div>
      <a href="#" class="card-link">
        <div class="card-footer text-muted">
          Clique Aqui
        </div>
      </a>
    </div>
  </div>
</div>
</main>
</div>
</div>
<%unless current_user %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')
  </script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <script src="dashboard.js"></script>
<% end %>

<%if current_user %>
<script>
  function loadModal(){
    $('<div class="ui-modal"></div>')
      .html('<%= escape_javascript render('auction/auctions/modal_status_dispute') %>')
      .on('dialogclose', function () { $(this).remove(); })
      .dialog(
        {
          modal: true,
          width: 700,
          height: 450
        }
      )
  }
  $(document).on('click','#closeModal', function () {
    $("body .ui-modal").dialog('close')
  });

  $("#end-restart-dispute").click(loadModal);
</script>

<%end %>