<ul>
  <li>
    <%= link_to 'Cadastros Diversos', '#' %>
    <ul>
      <li>
        <%= link_to t('controllers.agencies') , agencies_path %>
      </li>
      <li>
        <%= link_to t('controllers.neighborhoods') , neighborhoods_path %>
      </li>
      <li>
        <%= link_to t('controllers.banks') , banks_path %>
      </li>
      <li>
        <%= link_to t('controllers.positions') , positions_path %>
      </li>
      <li>
        <%= link_to t('controllers.company_sizes') , company_sizes_path %>
      </li>
      <li>
        <%= link_to t('controllers.cities') , cities_path %>
      </li>
      <li>
        <%= link_to t('controllers.cnaes') , cnaes_path %>
      </li>
      <li>
        <%= link_to t('controllers.condominiums') , condominiums_path %>
      </li>
      <li>
        <%= link_to t('controllers.settings') , settings_path %>
      </li>
      <li>
        <%= link_to t('controllers.bank_accounts') , bank_accounts_path %>
      </li>
      <li>
        <%= link_to t('controllers.districts') , districts_path %>
      </li>
      <li>
        <%= link_to t('controllers.states') , states_path %>
      </li>
      <li>
        <%= link_to t('controllers.fiscal_years') , fiscal_years_path %>
      </li>
      <li>
        <%= link_to t('controllers.employees') , employees_path %>
      </li>
      <li>
        <%= link_to t('controllers.risk_degrees') , risk_degrees_path %>
      </li>
      <li>
        <%= link_to t('controllers.streets') , streets_path %>
      </li>
      <li>
        <%= link_to t('controllers.land_subdivisions') , land_subdivisions_path %>
      </li>
      <li>
        <%= link_to t('controllers.currencies') , currencies_path %>
      </li>
      <li>
        <%= link_to t('controllers.legal_natures') , legal_natures_path %>
      </li>
      <li>
        <%= link_to t('controllers.countries') , countries_path %>
      </li>
      <li>
        <%= link_to t('controllers.periods') , periods_path %>
      </li>
      <li>
        <%= link_to t('controllers.people') , people_path %>
      </li>
      <li>
        <%= link_to t('controllers.prefecture') , prefecture_path %>
      </li>
      <li>
        <%= link_to t('controllers.condominium_types') , condominium_types_path %>
      </li>
      <li>
        <%= link_to t('controllers.street_types') , street_types_path %>
      </li>
      <li>
        <%= link_to t('controllers.reference_units') , reference_units_path %>
      </li>
      <li>
      </li>
    </ul>
  </li>
  <li>
    <%= link_to 'Solicitações', '#' %>
    <ul>
      <li>
        <%= link_to t('controllers.purchase_solicitations') , purchase_solicitations_path %>
      </li>
      <li>
        <%= link_to t('controllers.direct_purchases') , direct_purchases_path %>
      </li>
      <li>
        <%= link_to t('controllers.supply_authorizations') , supply_authorizations_path %>
      </li>
      <li>
        <%= link_to t('controllers.materials_classes') , materials_classes_path %>
      </li>
      <li>
        <%= link_to t('controllers.entities') , entities_path %>
      </li>
      <li>
        <%= link_to t('controllers.communication_sources') , communication_sources_path %>
      </li>
      <li>
        <%= link_to t('controllers.dissemination_sources') , dissemination_sources_path %>
      </li>
      <li>
        <%= link_to t('controllers.materials_groups') , materials_groups_path %>
      </li>
      <li>
        <%= link_to t('controllers.delivery_locations') , delivery_locations_path %>
      </li>
      <li>
        <%= link_to t('controllers.materials') , materials_path %>
      </li>
      <li>
        <%= link_to t('controllers.service_or_contract_types') , service_or_contract_types_path %>
      </li>
    </ul>
  </li>
  <li>
    <%= link_to 'Contabilidade', '#' %>
    <ul>
      <li>
        <%= link_to t('controllers.regulatory_acts') , regulatory_acts_path %>
      </li>
      <li>
        <%= link_to t('controllers.pledge_cancellations') , pledge_cancellations_path %>
      </li>
      <li>
        <%= link_to t('controllers.regulatory_act_type_classifications') , regulatory_act_type_classifications_path %>
      </li>
      <li>
        <%= link_to t('controllers.expense_elements') , expense_elements_path %>
      </li>
      <li>
        <%= link_to t('controllers.licitation_commissions') , licitation_commissions_path %>
      </li>
      <li>
        <%= link_to t('controllers.budget_unit_configurations') , budget_unit_configurations_path %>
      </li>
      <li>
        <%= link_to t('controllers.founded_debt_contracts') , founded_debt_contracts_path %>
      </li>
      <li>
        <%= link_to t('controllers.extra_credit') , extra_credits_path %>
      </li>
      <li>
        <%= link_to t('controllers.creditors') , creditors_path %>
      </li>
      <li>
        <%= link_to t('controllers.budget_allocations') , budget_allocations_path %>
      </li>
      <li>
        <%= link_to t('controllers.payment_methods') , payment_methods_path %>
      </li>
      <li>
        <%= link_to t('controllers.functions') , functions_path %>
      </li>
      <li>
        <%= link_to t('controllers.modality_limits') , modality_limits_path %>
      </li>
      <li>
        <%= link_to t('controllers.extra_credit_natures') , extra_credit_natures_path %>
      </li>
      <li>
        <%= link_to t('controllers.revenue_natures') , revenue_natures_path %>
      </li>
      <li>
        <%= link_to t('controllers.legal_text_natures') , legal_text_natures_path %>
      </li>
      <li>
        <%= link_to t('controllers.legal_references') , legal_references_path %>
      </li>
      <li>
        <%= link_to t('controllers.budget_units') , budget_units_path %>
      </li>
      <li>
        <%= link_to t('controllers.licitation_objects') , licitation_objects_path %>
      </li>
      <li>
        <%= link_to t('controllers.government_programs') , government_programs_path %>
      </li>
      <li>
        <%= link_to t('controllers.government_actions') , government_actions_path %>
      </li>
      <li>
        <%= link_to t('controllers.capabilities') , capabilities_path %>
      </li>
      <li>
        <%= link_to t('controllers.reserve_funds') , reserve_funds_path %>
      </li>
      <li>
        <%= link_to t('controllers.subfunctions') , subfunctions_path %>
      </li>
      <li>
        <%= link_to t('controllers.regulatory_act_types') , regulatory_act_types_path %>
      </li>
      <li>
        <%= link_to t('controllers.administration_types') , administration_types_path %>
      </li>
      <li>
        <%= link_to t('controllers.document_types') , document_types_path %>
      </li>
      <li>
        <%= link_to t('controllers.budget_allocation_types') , budget_allocation_types_path %>
      </li>
      <li>
        <%= link_to t('controllers.reserve_allocation_types') , reserve_allocation_types_path %>
      </li>
      <li>
        <%= link_to t('controllers.management_contracts') , management_contracts_path %>
      </li>
      <li>
        <%= link_to t('controllers.management_units') , management_units_path %>
      </li>
      <li>
        <%= link_to t('controllers.government_actions') , government_actions_path %>
      </li>
      <li>
        <%= link_to t('controllers.pledge_categories') , pledge_categories_path %>
      </li>
      <li>
        <%= link_to t('controllers.pledge_historics') , pledge_historics_path %>
      </li>
      <li>
        <%= link_to t('controllers.pledges') , pledges_path %>
      </li>
      <li>
        <%= link_to t('controllers.providers') , providers_path %>
      </li>
      <li>
        <%= link_to t('controllers.licitation_modalities') , licitation_modalities_path %>
      </li>
      <li>
        <%= link_to t('controllers.expense_kinds') , expense_kinds_path %>
      </li>
    </ul>
  </li>
  <li>
    <%= link_to 'Processos', '#' %>
    <ul>
      <li>
        <%= link_to t('controllers.licitation_process_impugnment') , licitation_process_impugnments_path %>
      </li>
      <li>
        <%= link_to t('controllers.administrative_processes') , administrative_processes_path %>
      </li>
      <li>
        <%= link_to t('controllers.licitation_processes') , licitation_processes_path %>
      </li>
      <li>
        <%= link_to t('controllers.judgment_forms') , judgment_forms_path %>
      </li>
    </ul>
  </li>

  <li>
    <%= link_to 'Administração', '#' %>

    <ul>
      <li>
        <%= link_to t('controllers.profiles'), profiles_path %>
      </li>
      <li>
        <%= link_to t('controllers.users'), users_path %>
      </li>
    </ul>
  </li>
</ul>
<script>
  $("#menu li").click(function (event) {
    $(this).addClass("active");

    if ($(event.target).is("a[href=#]")) {
      return false;
    }
  });

  $("#menu li").mouseout(function () {
    $(this).removeClass("active");
  });
</script>
