<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex,nofollow">
    <meta charset="utf-8">
    <%= csrf_meta_tag %>

    <title>Sistema de Compras e Licitações</title>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>

    <script>
      var environment = "<%= Rails.env %>";

      if (environment === "test") {
        $.fx.off = true;
      }
    </script>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <h1><%= link_to 'Sistema de Compras e Licitações', root_path %></h1>
        <div id="account">
          <ul>
            <li>
              <%= link_to current_user, edit_account_path, :class => 'current_user' %>
            </li>

            <li>
              <%= link_to t('logout'), destroy_user_session_path, :method => :delete %>
            </li>
          </ul>
        </div>

        <div id="menu">
          <%= render 'layouts/menu' %>
        </div>

      </div>

        <div id="flash">
          <%= render 'layouts/flash' %>
        </div>

        <div id="content">
          <div class="banner">
            <%= prefecture_image %>
          </div>

          <%= yield %>
        </div>

      <div id="sidebar">
        <a href="#">Novo Conteúdo</a>
      </div>
    </div>
  </body>
</html>
