<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex,nofollow">
    <meta charset="utf-8">
    <%= csrf_meta_tag %>

    <title>icompras</title>

    <%= stylesheet_link_tag 'application', :media => "all" %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" type="image/png" href="<%= image_path 'favicon.png' %>" />

    <script>
      var environment = "<%= Rails.env %>";

      if (environment === "test") {
        $.fx.off = true;
      }
    </script>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <h1><%= link_to image_tag('logo.png'), root_path %></h1>
        <div id="account">
          <ul>
            <li>
              <%= link_to current_user, edit_account_path, :class => 'current_user' %>
            </li>

            <% if current_prefecture %>
              <li>
                <span><%= current_prefecture %></span>
              </li>
            <% end %>

            <li>
              <%= link_to t('logout'), destroy_user_session_path, :method => :delete %>
            </li>
          </ul>
        </div>

        <div id="menu">
          <%= render_menu %>
        </div>

      </div>

        <% if message_about_environment? %>
          <div id="environment">
            <h2>Você está acessando o ambiente de <span><%= t Rails.env %></span> do icompras.</h2>
            <p>As informações geradas nesse ambiente não terão validade.</p>
          </div>
        <% end %>

        <div id="flash">
          <%= render 'layouts/flash' %>
        </div>

        <div id="content">
          <div class="banner">
            <%= prefecture_image %>
          </div>

          <%= yield %>
        </div>

      <div id="sidebar">
        <a href="#">Novo Conteúdo</a>
      </div>
    </div>
  </body>
</html>
