<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex,nofollow">
    <meta charset="utf-8">
    <%= csrf_meta_tag %>

    <title>icompras</title>

    <%= render 'layouts/javascript_routes' %>

    <%= stylesheet_link_tag 'application', :media => "all" %>
    <%= javascript_include_tag 'application' %>
    <%= render 'layouts/zopim', name: current_user.name, email: current_user.email unless Rails.env.test? %>

    <% if content_for?(:sidebar) %>
      <style type="text/css">
        .application {
          width: auto !important;
        }
      </style>
    <% end %>

    <%= javascript_include_tag controller_name if controller_asset? %>

    <link rel="shortcut icon" type="image/png" href="<%= image_path 'favicon.png' %>" />

    <script>
      var environment = "<%= Rails.env %>";

      if (environment === "test") {
        $.fx.off = true;
      }
    </script>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <h1><%= link_to image_tag('logo.png'), root_path %></h1>
        <div id="account">
          <ul>
            <li>
              <%= link_to current_user, edit_account_path, :class => 'current_user' %>
              <input type="hidden" id="current_user_id" name="current_user_id" value="<%= current_user.id %>">
              <input id="current_user_department_ids" type="hidden" value="<%= current_user.department_people.pluck(:department_id) %>" >
            </li>

            <% if current_prefecture %>
              <li>
                <span><%= current_prefecture %></span>
              </li>
            <% end %>

            <li>
              <%= link_to 'Suporte', zendesk_path, target: "_blank", class: 'pull-left text-overflow border' %>
            </li>

            <li>
              <%= link_to t('logout'), destroy_user_session_path, :method => :delete %>
            </li>
          </ul>
        </div>

        <div id="menu">
          <ul>
            <% cache menu_key do %>
              <%= render_menu %>
            <% end %>
          </ul>
        </div>

      </div>

        <% if message_about_environment? %>
          <div id="environment">
            <h2>Você está acessando o ambiente de <span><%= t Rails.env %></span> do icompras.</h2>
            <p>As informações geradas nesse ambiente não terão validade.</p>
          </div>
        <% end %>

        <div id="flash">
          <%= render 'layouts/flash' %>
        </div>

        <div id="content">
          <div class="banner">
            <%= prefecture_image %>
          </div>

          <div id="content" class="application">
            <%= yield %>
          </div>

          <%= yield :sidebar %>
        </div>
    </div>
  </body>
</html>
