<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex,nofollow">
    <meta charset="utf-8">
    <%= csrf_meta_tag %>

    <title>Compras e Licitações</title>

    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <h1><%= link_to 'Sistema de Compras e Licitações', root_path %></h1>

        <div id="menu">
          &nbsp;
        </div>
      </div>

      <div id="flash">
        <%= render 'layouts/flash' %>
      </div>

      <h2>
        <%= current_prefecture %>
      </h2>

      <%= yield %>
    </div>
  </body>
</html>
