<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>IPregão Eletrônico</title>
    <%= render 'layouts/javascript_routes' %>
    <%= stylesheet_link_tag 'electronic_auction' %>
    <%= stylesheet_link_tag 'bootstrap' %>
    <%= javascript_include_tag 'electronic_auction' %>
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .navbar-dark .navbar-brand{
        padding-left: 600px!important;
      }
      #main-body{
        background-color:#f8f9fa;
      }
      .navbar-dark{
         background-image: linear-gradient( #d9d9d9, #336497);
      }
      .pregao-center{
        text-align: center;
      }
      .card{
        margin: 10px;
        font-size: 70%;
      }
      .card-title{
        font-size: 125%;
      }
      ul{
        margin-left:10px!important;
      }
      .nav-link{
        font-weight: bold;
        padding-left:0;
      }
      .text-muted{
        text-align: right;
      }
      .banner{
        float: right;
        padding: 10px;
      }
      #sidebarMenu{
        background-image: linear-gradient(-90deg,#336497, #d9d9d9);
      }
      #sidebarMenu a {
        color: #737373!important;
      }
      .row{
        width: 100%;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <h1><%= link_to image_tag('logo.png'), root_path %>(IPregão Eletrônico)</h1>
      <div id="account">
        <ul>
          <li>
            <% if user_signed_in? %>
              <%= link_to current_user, edit_account_path, :class => 'current_user' %>
            <% else %>
              <%= link_to "Entrar", new_user_session_path, :class => 'current_user' %>
            <% end %>
          </li>
          <li>
            <%= link_to t('logout'), destroy_user_session_path, :method => :delete %>
          </li>
        </ul>
      </div>
      <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand pregao-center col-md-3 col-lg-2 mr-0 px-3" href="#">Pregão Eletrônico</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
              <ul class="nav flex-column nav-pills">
                <%= render 'layouts/menu_auction' if user_signed_in? %>
              </ul>
            </div>
          </nav>
          <main role="main" id="main-body" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="row">
              <div class="col-sm-11">
              </div>
              <div class="col-sm-11">
                <div class="banner">
                  <%= prefecture_image %>
                </div>
              </div>
              <% unless controller_name.eql? "bookmarks" %>
                <%= yield %>
              <% else %>
                <%= render 'layouts/dashboard' %>
              <% end %>
            </div>
          </body>
  </html>
