<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
    <title>IPregão Eletrônico</title>
    <%= render 'layouts/javascript_routes' %>
    <%= stylesheet_link_tag 'electronic_auction' %>
    <%= stylesheet_link_tag 'compras/eletronic_auction/sidebar_menu' %>
    <%= javascript_include_tag 'electronic_auction' %>
  </head>
  <body>
    <div id="header">
      <h1><%= link_to image_tag('logo.png'), root_path %>(IPregão Eletrônico)</h1>
      <div id="account">
        <ul>
          <li>
            <% if user_signed_in? %>
              <%= link_to current_user, edit_account_path, :class => 'current_user' %>
            <% else %>
              <%= link_to "Entrar", new_user_session_path, :class => 'current_user' %>
            <% end %>
          </li>
          <li>
            <%= link_to t('logout'), destroy_user_session_path, :method => :delete %>
          </li>
        </ul>
      </div>
       <div class="nav-title">
          <h4 class="header_title">Pregão Eletrônico</h4>
        </div>
      <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
              <ul class="nav flex-column nav-pills">
              <% if user_signed_in? %>
                <%= render 'layouts/menu_auction'  %>
              <% else %>
                <%= render 'layouts/menu_auction_main'  %>
               <% end %>
              </ul>
            </div>
          </nav>
          <main role="main" id="main-body" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="h-100 mt-4">
              <div id="flash">
                <%= render 'layouts/flash' %>
              </div>

              <div class="text-sm-right">
                <%= prefecture_image %>
              </div>
              <div class="main-content h-100 w-100">
                <% unless controller_name.eql? "bookmarks" %>
                  <%= yield %>
                <% else %>
                  <%= render 'layouts/dashboard' %>
                <% end %>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
    <%= javascript_include_tag controller_name if controller_asset? %>
    <script>
      var environment = "<%= Rails.env %>";

      if (environment === "test") {
        $.fx.off = true;
      }
    </script>
  </body>
</html>
