<!DOCTYPE html>
<html>
<head>
  <meta name="robots" content="noindex,nofollow">
  <meta charset="utf-8">
  <%= csrf_meta_tag %>

  <title>icompras</title>

  <%= render 'layouts/javascript_routes' %>

  <%= stylesheet_link_tag 'electronic_auction' %>
  <%= javascript_include_tag 'electronic_auction' %>
  <link rel="shortcut icon" type="image/png" href="<%= image_path 'favicon.png' %>"/>
</head>

<body>
<div id="container">
  <div id="header">
    <h1><%= link_to image_tag('logo.png'), root_path %>(IPregão Eletrônico)</h1>
    <div id="account">
      <ul>
        <li>
          <% if user_signed_in? %>
            <%= link_to current_user, edit_account_path, :class => 'current_user' %>
          <% else %>
            <%= link_to "Entrar", new_user_session_path, :class => 'current_user' %>
          <% end %>
        </li>

        <li>
          <%= link_to t('logout'), destroy_user_session_path, :method => :delete %>
        </li>
      </ul>
    </div>

    <% unless action_name.include?("external") || controller_name.include?("providers") %>
      <div id="menu">
        <ul>
          <% cache menu_key do %>
            <%= render_menu_action %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div id="flash">
    <%= render 'layouts/flash' %>
  </div>

  <div id="content">
    <div class="banner">
      <%= prefecture_image %>
    </div>
    <% unless controller_name.eql? "bookmarks" %>
      <%= yield %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag controller_name if controller_asset? %>
</body>
</html>
