<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex,nofollow">
    <meta charset="utf-8">
    <%= csrf_meta_tag %>

    <title>Sistema Financeiro</title>

    <%= stylesheet_link_tag 'report', :media => :all %>
  </head>

  <body>
    <div id="container">
      <% if current_prefecture %>
        <div id="header">
          <p><%= prefecture_image %></p>

          <h2><%= current_prefecture.name %> | CNPJ: <%= current_prefecture.cnpj %></h2>
          <h3>E-mail: <%= current_prefecture.email %> | Telefone: <%= current_prefecture.phone %> | Fax: <%= current_prefecture.fax %></h3>
        </div>
      <% end %>

      <div id="content">
        <%= yield %>
      </div>

      <div id="footer">
        <p><a href="javascript:history.back()">cancelar</a> ou <a href="javascript:window.print()">imprimir</a></p>
      </div>
    </div>
  </body>
</html>
